//variables
$color: #937363;
$btn-color: #333;
$btn-color-darken: darken($btn-color, 20);

//btn 
.quiz-btn {
    padding: 10px 20px;
    background-color:$btn-color;
    font-weight: 500;
    border-radius: 8px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    &:hover {
        background-color: $btn-color-darken;
    }
}

//initialize
body.lp-quiz {
    margin: 0;
    font-size: 14px;
    * {
        box-sizing:border-box
    }
    .default-text {
        font-size: 15px;
    }
    a {
        text-decoration: none;
        color: #000;
    }
    main.slideshow-container {
        background-color: #937363;
        @extend .clearfix;
    }
    //auxiliar classes
    .show {
        display: block !important; //js
    }
    .hide {
        display: none !important; //js
    }
    .clearfix {
        &:before,
        &:after {
            content: ' ';
            display: table;
        }
        &:after {
            clear: both;
        }
    }
    .container {
        padding: 0 20px;
    }
    img {
        max-width: 100%;
        margin: auto;
    }
    .quiz-mobile {
        display: none;
    }
    .quiz-desktop {
        display: block;
    }
    .quiz-middle-none {
        display: block;
    }
    @media(max-width: 414px) {
        .quiz-mobile {
            display: block;
        }
        .quiz-desktop {
            display: none;
        }
        .default-text {
            font-size: 15px;
        }
    }
    @media(min-width: 415px) and (max-width: 992px) {
        .quiz-middle-none {
            display: none;
        }
        .default-text {
            font-size: 2vw;
        }
    }
}
//JS classes
body.lp-quiz {
    //slide
    .slideshow-container {
        max-width: 1920px;
        position: relative;
        margin: auto;
    }
    .slide-quiz {
        display: none;
    }
    .dot {
        height: 15px;
        width: 15px;
        margin: 0 7px;
        background-color: #fff;
        border-radius: 50%;
        display: inline-block;
        transition: all 0.6s ease;
        pointer-events: none;
    }
    .active, .dot:hover {
        background-color:#654a3c;
        width: 42px;
        border-radius: 7px;
    }
    // Fading animation 
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
    //modal
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto; 
        background-color: #000;
        background-color: #00000066;
    }
    .modal-content {
        border-top: 2px solid $color;
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        width: 400px;
    }
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    } 
}
//initial page
.initial-page {
    position: relative;
    .shell {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    article {
        position: absolute;
        display: flex;
        top: 0;
        bottom: 0;
        right: 0;
        max-width: 40vw;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        padding: 0 10px;
    }
    h1 {
        font-size: 18px;
        font-weight: 700;
        @extend .quiz-middle-none;
    }
    svg {
        position: absolute;
        bottom: 0;
        left: 0;
        display: none;
    }
    @media (min-width: 992px) {
        h1 {
            font-size: 2.5vw;
        }
        .quiz-btn {
            width: 215px;
        }
        svg {
            display: block;
        }
    }
    @media (max-width: 415px) {
        article {
            max-width: initial;
            bottom: initial;
            margin: 15px 0;
        }
    }
}
//quiz-container
body.lp-quiz {
    //first step
    [steps-control="1"] > .shell {
        max-width: initial;
        padding-left: initial;
        padding-right: initial;
        margin: initial;
    }
    //other steps
    [steps-control="2"],
    [steps-control="3"],
    [steps-control="4"] {
        .shell {
            position: relative;
        }
        .slide-quiz {
            width: 85%;
            float: right;
            & > * {
                display: flex;
                & > * {
                    flex: 1 1 0;
                }
            }
        }
    }
}
//quiz answer items
.slide-quiz {
    [data-main-option],
    [data-subtone-option],
    .result-item {
        position: relative;
        cursor: pointer;
        h4 {
            position: absolute;
            bottom: 20px;
            width: 100%;
            text-align: center;
            color:#fff;
            font-weight: 100;
            text-transform: uppercase;
        }
    }
    @media (max-width: 600px) {
        .shell {
            &:nth-child(3),
            &:nth-child(4)
            &:nth-child(5) {
                max-width: 600px;
                overflow: scroll;
                float: initial !important;
                width: 100%;
                position: relative;
            }
        }
        & > * {
            width: 1115px;
        }
    }
}

//aside
body.lp-quiz {
    [steps-control="1"] aside {
        display: none;
    }
    aside {
        width: 20%;
        float: left;
        color:#fff;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        bottom: 0;
        justify-content: center;
        z-index: 10;
        .quiz-title {
            color:#fff;
            text-align: left;   
            font-size: 1.6vw;
        }
        .quiz-text {
            width: 60%;
        }
        [class^="v-step-"] > * {
            margin-bottom: 15px;
        }
    }
    .v-step-2,
    .v-step-3,
    .v-step-4 {
        display: none;
    }
    [steps-control="2"] .v-step-2,
    [steps-control="3"] .v-step-3,
    [steps-control="4"] .v-step-4 {
        display: block;
    }
}

//footer 
body.lp-quiz .footer {
    padding: 0;
}


// coisas que mudaram:
// mobile
// - posicionamento do texto e botão na página inicial


// desktop