.__overlay-bkg {
    display: none;
}
.__overlay {
    background: #414141;
}
section.lp-vc {
    background: #B43C4F;
    position: relative;
    display: block;
    clear: both;
}
section._form-modal {
    display: none;
    background: #fff;
    height: auto;
    z-index: 200;
    border-top: 5px solid #B43C4F;
    z-index: 300;
    position: relative;
}
._form-modal span._after {
    position: absolute;
    top: 0;
    right: 0;
    background: #b43c4f;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    font-size: 20px;
}
span._after:before, span._after:after {
    width: 85%;
    height: 2px;
    content: ' ';
    background: #fff;
    position: absolute;
    top: 13px;
    left: 2px;
}
span._after:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
span._after:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
._form-container {
    display: block;
    width: 90%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 20px auto;
    background: #fff;
}
._form-container span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0px 0 20px 0;
}
._form-container input {
    border-bottom: 1px solid #b7b7b7;
    margin: 5px 0;
    padding: 3px;
}
footer {
    padding-top: 0 !important;
}
._container-vc p {
    font-family: "CentraleSans-Regular",  sans;
    font-size: 14px;
    line-height: 1.8em;
}
._container-vc p strong, ._cadastro-open {
    font-weight: bold;
}
._container-vc h1 {
    font-family: "CentraleSans-Bold",  sans;
    font-size: 21px;
}
._cadastro-open {
    background: #FFF;
    color: #B43C4F;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font-size: 16px;
    padding: 10px 40px;
    text-align: center;
    cursor: pointer;
}
._form-modal button {
    color: #fff;
    background: #B43C4F;
    padding: 10px 55px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
._form-modal .link-termos {
    text-decoration: underline;
    margin: 0 3px;
}
._form-container input[type="checkbox"] {
    margin: 0 5px 0 0;
}
._form-container input::-webkit-input-placeholder {
    color: #adadad;
}
._form-container input:-ms-input-placeholder {
    color: #adadad;
}
._form-container input::-moz-placeholder {
    color: #adadad;
}
._form-container input::-ms-input-placeholder {
    color: #adadad;
}
._form-container input::placeholder {
    color: #adadad;
}
._msg {
    position: absolute;
    top: 27px;
    font-size: 18px;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #1c9331;
    padding: 60px 10px;
}
._msgDone:after {
    content: '\f058';
    font-family: 'FontAwesome';
    font-size: 80px;
    display: block;
}
@media (min-width: 300px) {
    ._container-vc {
    width: 100%;
    padding: 30px 20px 40px 20px;
    color: #fff;
    background: url("https://qbbr.vteximg.com.br/arquivos/LP-vic-img-MOBILE.png") right 0 no-repeat;
}
._container-vc h1 {
    padding-right: 45%}
._container-vc p {
    padding-right: 25%}
section._form-modal {
    top: 0;
    right: 0;
    height: 100%;
    width: 100%}
}@media (min-width: 992px) {
    .lp-vc {
    background: url("https://qbbr.vteximg.com.br/arquivos/LP-vic-img.png") 130% 0 no-repeat #b43c4f !important;
}
._container-vc {
    width: 1150px;
    margin: 0 auto;
    padding: 50px 10px;
    color: #fff;
    background: none;
}
section._form-modal {
    position: fixed;
    width: 700px;
    margin: 0 auto 0 -350px;
    left: 50%;
    top: 80px;
    height: auto;
}
._container-vc h1 {
    font-size: 30px;
}
._container-vc p {
    padding-right: 40%;
    font-size: 16px;
}
._form-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 40px auto 20px;
}
._form-container span:nth-child(1), ._form-container span:nth-child(2) {
    width: 47%}
._form-container span:nth-child(3), ._form-container span:nth-child(4) {
    width: 100%}
._form-container span:nth-child(5) {
    width: 28%}
._form-container span:nth-child(6) {
    width: 48%}
._form-container span:nth-child(7) {
    width: 18%}
._form-container span:nth-child(8) {
    width: 78%}
._form-container span:nth-child(9) {
    width: 18%}
._form-container span:nth-child(10) {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
._form-container button {
    text-align: center;
    margin: 0 auto;
}
}

//FORM VALIDATION
form{
    text-align: initial;
    width: 90%;
    margin: 0 auto;
    display: block;
    // padding: 3em;
    @include d(m){
        width: 50%;
    }
    .step-1{
        width: 50%;
        margin: 0 auto;
        min-width: 200px;
        @include d(xs){
        width: 100%;
        }
    }
    .step-3{
        .confirm-subscription{
        font-size: 1.5em;
        color: #111;
        font-weight: bold;
        margin-top: 40px;
        b{
            display: block;
            color: $b-tertiary-1;
        }
        }
        .benefit-highlight{
        color: $b-tertiary-1;
        font-weight: bold;
        font-size: 1.25em;
        display: flex;
        align-items: flex-start;
        svg{
            margin: 0 2px 0 5px;
        }
        }
    }
    small{
        margin-top: 5px;
    }
    a{
        color: $g-primary;
        font-weight: bold;
        text-decoration: underline;
        font-size: 1em;
        &:hover{
            color: $b-tertiary-1;
        }
    }
    button.--next{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-60%);
        background: $b-tertiary-1;
        border: none;
        cursor: pointer;
        border-radius: 50%;
        padding: .5em .6em;
        &:hover{
            filter: brightness(110%);
        }
    }
    b{
        display: block;
    }
    fieldset {
        margin: 0 0 3em;
        padding: 0;
        border: none;
        }
        .form-radio,
        .form-group {
        position: relative;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        display: flex;
        flex-flow: column;
        &.inline{
            display: inline-flex;
            margin-top: 0;
            margin-right: 5px;
        }
        }
        
        .form-inline > .form-group,
        .form-inline > .btn {
        display: inline-block;
        margin-bottom: 0;
        }
        
        .form-help {
        margin-top: 0.125em;
        margin-left: 0.125em;
        color: #b3b3b3;
        font-size: 0.8em;
        }
        .checkbox .form-help, .form-radio .form-help, .form-group .form-help {
        position: absolute;
        width: 100%;
        }
        .checkbox .form-help {
        position: relative;
        margin-bottom: 1em;
        }
        .form-radio .form-help {
        padding-top: 0.25em;
        margin-top: -1em;
        }
        
        .form-group input {
        height: 1.9em;
        &::placeholder{
            color: $g-primary;
        }
        }
        .form-group textarea {
        resize: none;
        }
        .form-group select {
        width: 100%;
        font-size: 1em;
        height: 1.6em;
        padding: 0.125em 0.125em 0.0625em;
        background: none;
        border: none;
        line-height: 1.6;
        box-shadow: none;
        }
        .form-group .control-label {
        position: absolute;
        top: 0.25em;
        pointer-events: none;
        padding-left: 0.125em;
        z-index: 1;
        color: $g-primary;
        font-size: 1.2em;
        font-weight: normal;
        -webkit-transition: all 0.28s ease;
        transition: all 0.28s ease;
        }
        .form-group .input-bar {
        position: relative;
        border-bottom: 0.1em solid $g-primary;
        display: block;
        }
        .form-group .input-bar::before {
        content: '';
        height: 0.125em;
        width: 0;
        left: 50%;
        bottom: -0.1em;
        position: absolute;
        background: $b-tertiary-1;
        -webkit-transition: left 0.28s ease, width 0.28s ease;
        transition: left 0.28s ease, width 0.28s ease;
        z-index: 2;
        }
        .form-group input,
        .form-group textarea {
        display: block;
        background: none;
        padding: 0.125em 0.125em 0.0625em;
        font-size: 1.2em;
        border-width: 0;
        border-color: transparent;
        line-height: 1.9;
        width: 100%;
        color: transparent;
        -webkit-transition: all 0.28s ease;
        transition: all 0.28s ease;
        box-shadow: none;
        }
        .form-group input[type="file"] {
        line-height: 1;
        }
        .form-group input[type="file"] ~ .input-bar {
        display: none;
        }
        .form-group select,
        .form-group input:focus,
        .form-group input:valid,
        .form-group input.form-file,
        .form-group input.has-value,
        .form-group textarea:focus,
        .form-group textarea:valid,
        .form-group textarea.form-file,
        .form-group textarea.has-value {
        color: #333;
        }
        .form-group select ~ .control-label,
        .form-group input:focus ~ .control-label,
        .form-group input:valid ~ .control-label,
        .form-group input.form-file ~ .control-label,
        .form-group input.has-value ~ .control-label,
        .form-group textarea:focus ~ .control-label,
        .form-group textarea:valid ~ .control-label,
        .form-group textarea.form-file ~ .control-label,
        .form-group textarea.has-value ~ .control-label {
        font-size: 0.8em;
        color: $g-primary;
        top: -1em;
        left: 0;
        }
        .form-group select:focus,
        .form-group input:focus,
        .form-group textarea:focus {
        outline: none;
        }
        .form-group select:focus ~ .control-label,
        .form-group input:focus ~ .control-label,
        .form-group textarea:focus ~ .control-label {
        color: $b-tertiary-1;
        }
        .form-group select:focus ~ .input-bar::before,
        .form-group input:focus ~ .input-bar::before,
        .form-group textarea:focus ~ .input-bar::before {
        width: 100%;
        left: 0;
        }
        
        .checkbox label,
        .form-radio label {
        position: relative;
        cursor: pointer;
        padding-left: 2em;
        font-size: 1em;
        text-align: left;
        color: $g-primary;
        display: block;
        }
        .checkbox input,
        .form-radio input {
        width: auto;
        opacity: 0.00000001;
        position: absolute;
        left: 0;
        }
        
        .radio {
        margin-bottom: 1em;
        }
        .radio .helper {
        position: absolute;
        top: -0.25em;
        left: -0.25em;
        cursor: pointer;
        display: block;
        font-size: 1em;
        -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        color: #999;
        }
        .radio .helper::before, .radio .helper::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        margin: 0.25em;
        width: 1em;
        height: 1em;
        -webkit-transition: -webkit-transform 0.28s ease;
        transition: -webkit-transform 0.28s ease;
        transition: transform 0.28s ease;
        transition: transform 0.28s ease, -webkit-transform 0.28s ease;
        border-radius: 50%;
        border: 0.125em solid currentColor;
        }
        .radio .helper::after {
        -webkit-transform: scale(0);
                transform: scale(0);
        background-color: $b-tertiary-1;
        border-color: $b-tertiary-1;
        }
        .radio label:hover .helper {
        color: $b-tertiary-1;
        }
        .radio input:checked ~ .helper::after {
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
        }
        .radio input:checked ~ .helper::before {
        color: $b-tertiary-1;
        }
        
        .checkbox {
        // margin-top: 3rem;
        margin-bottom: 1em;
        }
        .checkbox .helper {
        color: #999;
        position: absolute;
        top: 0;
        left: 0;
        width: 1em;
        height: 1em;
        z-index: 0;
        border: 0.125em solid currentColor;
        border-radius: 0.0625em;
        -webkit-transition: border-color 0.28s ease;
        transition: border-color 0.28s ease;
        }
        .checkbox .helper::before, .checkbox .helper::after {
        position: absolute;
        height: 0;
        width: 0.2em;
        background-color: $b-tertiary-1;
        display: block;
        -webkit-transform-origin: left top;
                transform-origin: left top;
        border-radius: 0.25em;
        content: '';
        -webkit-transition: opacity 0.28s ease, height 0s linear 0.28s;
        transition: opacity 0.28s ease, height 0s linear 0.28s;
        opacity: 0;
        }
        .checkbox .helper::before {
        top: 0.65em;
        left: 0.38em;
        -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg);
        box-shadow: 0 0 0 0.0625em #fff;
        }
        .checkbox .helper::after {
        top: 0.3em;
        left: 0;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        }
        .checkbox label:hover .helper {
        color: $b-tertiary-1;
        }
        .checkbox input:checked ~ .helper {
        color: $b-tertiary-1;
        }
        .checkbox input:checked ~ .helper::after, .checkbox input:checked ~ .helper::before {
        opacity: 1;
        -webkit-transition: height 0.1s ease;
        transition: height 0.1s ease;
        }
        .checkbox input:checked ~ .helper::after {
        height: 0.5em;
        }
        .checkbox input:checked ~ .helper::before {
        height: 1.2em;
        -webkit-transition-delay: 0.1s;
                transition-delay: 0.1s;
        }
        
        .radio + .radio,
        .checkbox + .checkbox {
        margin-top: 1em;
        }
        
        .has-error .legend.legend, .has-error.form-group .control-label.control-label {
        color: #d9534f;
        }
        .has-error.form-group .form-help,
        .has-error.form-group .helper, .has-error.checkbox .form-help,
        .has-error.checkbox .helper, .has-error.radio .form-help,
        .has-error.radio .helper, .has-error.form-radio .form-help,
        .has-error.form-radio .helper {
        color: #d9534f;
        }
        .has-error .input-bar::before {
        background: #d9534f;
        left: 0;
        width: 100%;
        }
        .has-error small{
        color: #d9534f;
        }
        .success .legend.legend, .success.form-group .control-label.control-label {
        color: #00E13F;
        }
        .success.form-group .form-help,
        .success.form-group .helper, .success.checkbox .form-help,
        .success.checkbox .helper, .success.radio .form-help,
        .success.radio .helper, .success.form-radio .form-help,
        .success.form-radio .helper {
        color: #00E13F;
        }
        .success .input-bar::before {
        background: #00E13F;
        left: 0;
        width: 100%;
        }
        .success small{
        color: #00E13F;
        }

        .has-warning .legend.legend, .has-warning.form-group .control-label.control-label {
        color: #e1ac00;
        }
        .has-warning.form-group .form-help,
        .has-warning.form-group .helper, .has-warning.checkbox .form-help,
        .has-warning.checkbox .helper, .has-warning.radio .form-help,
        .has-warning.radio .helper, .has-warning.form-radio .form-help,
        .has-warning.form-radio .helper {
        color: #e1ac00;
        }
        .has-warning .input-bar::before {
        background: #e1ac00;
        left: 0;
        width: 100%;
        }
        .has-warning small{
        color: #e1ac00;
        }
}