$g-primary: #686162;
$w-secundary: #FDFDFD;

$qdb-grey: #686162;
$qdb-grey-l: #C7C5C4;
$qdb-grey-m: #ACA8A7;

$blackfriday-p: #050505;
$blackfriday-s: #FFCB08;

$safflower: #342E37;
$mulled: #54515B;
$dusty: #E48562;
$rose: #FCB79D;

$success: #5CA795;
$error: #B11C1F;