/* FONTES CENTRALE */
@font-face {
    font-family: 'CentraleSans-Regular', sans-serif;
    src: url("https://qbbr.vteximg.com.br/arquivos/CentraleSansRegular.eot.css");
    src: url("https://qbbr.vteximg.com.br/arquivos/CentraleSansRegular.eot.css?#iefix") format("embedded-opentype"), url("https://qbbr.vteximg.com.br/arquivos/CentraleSansRegular.woff.css") format("woff"), url("https://qbbr.vteximg.com.br/arquivos/CentraleSansRegular.ttf.css") format("truetype");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'CentraleSans-Bold', sans-serif;
    src: url("https://qbbr.vteximg.com.br/arquivos/CentraleSans-Bold.eot.css");
    src: url("https://qbbr.vteximg.com.br/arquivos/CentraleSans-Bold.eot.css?#iefix") format("embedded-opentype"), url("https://qbbr.vteximg.com.br/arquivos/CentraleSans-Bold.woff.css") format("woff"), url("https://qbbr.vteximg.com.br/arquivos/CentraleSans-Bold.ttf.css") format("truetype");
    font-weight: 900;
  }

  