// Breakpoints
$breakpoint-super-small: 320px;
$breakpoint-small: 767px;
$breakpoint-medium: 768px;
$breakpoint-large: 960px;

$l-device: 1199px;
$m-b-device: 991px;
$m-device: 767px;
$s-device: 575px;
$mobile: 400px;