.show {
    display: block;
}
.hide {
    display: none;
}
.clearfix {
    &:before,
    &:after {
        content: ' ';
        display: table;
    }
    &:after {
        clear: both;
    }
}
[data-main-group], [data-tone-group] {
    @extend .clearfix;
}
[data-main-option] {
    background-color: #1d94767a;
    height: 100px;
    width: 100px;
    margin: 10px;
    float: left;
}
[data-tone-option] {
    background-color: #1b666b;
    height: 80px;
    width: 80px;
    margin: 10px;
    float: left;
}