<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-BR" class="_d-top">
<head>
    <meta name="description" content="Faça sua maquiagem com a gente, o valor é 100% revertido em produtos. Aprenda automaquiagem, faça maquiagem de festa, para o dia a dia e muito mais! Confira aqui todos os nossos serviços!"/>
    <link rel="canonical" href="https://www.quemdisseberenice.com.br/servicos" />
    <meta property="og:url" content="https://www.quemdisseberenice.com.br/servicos " />
    <!-- <meta property="og:type" content="website" />
    <meta property="og:title" content="fazemos sua maquiagem| quem disse, berenice? " />
    <meta property="og:description" content="Faça sua maquiagem com a gente, o valor é 100% revertido em produtos. Aprenda automaquiagem, faça maquiagem de festa, para o dia a dia e muito mais! Confira aqui todos os nossos serviços!" /> -->
    <vtex:metaTags />
    <vtex:template id="00-0-QDB-Head" />

    <link rel="stylesheet" href="/arquivos/QDB-LP-Super-especial.css"/>
    <link rel="stylesheet" href="/arquivos/twentytwenty-custom-guina.css"/>
    <link rel="stylesheet" type="text/css" href="/arquivos/slick.css" />

     <title>SEO</title>
</head>
<body>
    <div class="container-group">
        <vtex:template id="00-0-QDB-Header" />
    </div>

    <main>
        <section class="section-media">
            <div class="item">
                <vtex:contentPlaceHolder id="secao1_video" />
            </div>
            <div class="heading over">
                <h2 class="title">
                    <vtex:contentPlaceHolder id="secao1_titulo" />
                </h2>
                <article>
                    <vtex:contentPlaceHolder id="secao1_texto" />      
                </article>
                <vtex:contentPlaceHolder id="secao1_link" />
            </div>
        </section>
        <div class="shell">
            <section class="slick-products-list">
                <div>
                    <div class="inner">
                        <img src="https://qbbr.vteximg.com.br/arquivos/thumb_carousel_batom-liquido-MATE.jpg?v=636673531019930000" alt="Título Imagem"/>
                        <div class="caption">
                            <h3 class="title">Batom líquido mate</h3>
                            <small class="installment">R$8x de 16,23 sem juros</small>
                            <del class="old-price">R$ 220,00</del>
                            <strong class="price">R$ 129,00</strong>
                            <a class="button button-primary resizable" href="#"><span class="icon">&#8594;</span><span class="text">Comprar</span></a>                        
                        </div>
                    </div>
                </div>
                <div>
                    <div class="inner">
                        <img src="https://qbbr.vteximg.com.br/arquivos/thumb_carousel_batom-liquido-MATE-METALICO.jpg?v=636673531029670000" alt="Título Imagem"/>
                        <div class="caption">
                            <h3 class="title">Batom líquido mate metálico</h3>
                            <small class="installment">R$8x de 16,23 sem juros</small>
                            <del class="old-price"></del>
                            <strong class="price">R$ 129,00</strong>
                            <a class="button button-primary resizable" href="#"><span class="icon">&#8594;</span><span class="text">Comprar</span></a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="inner">
                        <img src="https://qbbr.vteximg.com.br/arquivos/thumb_carousel_batom-liquido-VINIL.jpg?v=636673531010000000" alt="Título Imagem"/>
                        <div class="caption">
                            <h3 class="title">Batom líquido vinil</h3>
                            <small class="installment"></small>
                            <del class="old-price">R$ 220,00</del>
                            <strong class="price">R$ 129,00</strong>
                            <a class="button button-primary resizable" href="#"><span class="icon">&#8594;</span><span class="text">Comprar</span></a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="inner">
                        <img src="https://qbbr.vteximg.com.br/arquivos/thumb_carousel_batom-liquido-MATE.jpg?v=636673531019930000" alt="Título Imagem"/>
                        <div class="caption">
                            <h3 class="title">Batom líquido mate</h3>
                            <small class="installment">R$8x de 16,23 sem juros</small>
                            <del class="old-price">R$ 220,00</del>
                            <strong class="price">R$ 129,00</strong>
                            <a class="button button-primary resizable" href="#"><span class="icon">&#8594;</span><span class="text">Comprar</span></a>                        
                        </div>
                    </div>
                </div>
                <div>
                    <div class="inner">
                        <img src="https://qbbr.vteximg.com.br/arquivos/thumb_carousel_batom-liquido-MATE-METALICO.jpg?v=636673531029670000" alt="Título Imagem"/>
                        <div class="caption">
                            <h3 class="title">Batom líquido mate metálico</h3>
                            <small class="installment">R$8x de 16,23 sem juros</small>
                            <del class="old-price"></del>
                            <strong class="price">R$ 129,00</strong>
                            <a class="button button-primary resizable" href="#"><span class="icon">&#8594;</span><span class="text">Comprar</span></a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="inner">
                        <img src="https://qbbr.vteximg.com.br/arquivos/thumb_carousel_batom-liquido-VINIL.jpg?v=636673531010000000" alt="Título Imagem"/>
                        <div class="caption">
                            <h3 class="title">Batom líquido vinil</h3>
                            <small class="installment"></small>
                            <del class="old-price">R$ 220,00</del>
                            <strong class="price">R$ 129,00</strong>
                            <a class="button button-primary resizable" href="#"><span class="icon">&#8594;</span><span class="text">Comprar</span></a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="heading">
                <h2 class="title">
                    <vtex:contentPlaceHolder id="secao2_titulo " />
                </h2>
                <article>
                    <vtex:contentPlaceHolder id="secao2_texto" />      
                </article>
            </section>
            <section class="panel-rating">
                <div class="image">
                    <vtex:contentPlaceHolder id="avaliacaocliente_imagem" />                          
                </div>
                <div class="aside">
                    <div class="rating">
                        <img src="https://qbbr.vteximg.com.br/arquivos/favicon.ico?v=636832437549900000"/>
                        <img src="https://qbbr.vteximg.com.br/arquivos/favicon.ico?v=636832437549900000"/>
                        <img src="https://qbbr.vteximg.com.br/arquivos/favicon.ico?v=636832437549900000"/>
                        <img src="https://qbbr.vteximg.com.br/arquivos/favicon.ico?v=636832437549900000"/>
                        <img src="https://qbbr.vteximg.com.br/arquivos/favicon.ico?v=636832437549900000"/>
                    </div>
                    <div class="desc">
                            <h4 class="title">
                                <vtex:contentPlaceHolder id="avaliacaocliente_nome" />                          
                            </h4>
                            <div class="text">
                                <vtex:contentPlaceHolder id="avaliacaocliente_texto" />                          
                            </div>
                            <p class="author">
                                <vtex:contentPlaceHolder id="avaliacaocliente_autor" />                          
                            </p>
                    </div>
                    <vtex:contentPlaceHolder id="avaliacaocliente_linkproduto" />                          
                    <!-- <a href="#" class="button button-primary resizable">
                        <span class="icon">&#8594;</span>
                        <span class="text">Comprar</span>
                    </a> -->
                </div>
            </section>
            <section class="twentytwenty-container">
                <vtex:contentPlaceHolder id="imagemcomparacao_antes" />
                <vtex:contentPlaceHolder id="imagemcomparacao_depois" />                          
            </section>
            <section class="panel-product">
                <div class="aside">
                    <span class="discount">20%</span>
                    <h4 class="title">Jumps off balcony gives owner dead mouse</h4>
                    <div class="desc">
                        My left donut is missing, as is my right a 
                        nice warm laptop for me to sit on. Gimme attention 
                        gimme attention gimme attention gimme attention 
                        gimme attention gimme attention just kidding i don't 
                        want it anymore meow bye lick the other 
                        cats ???????? for run at 3am. 
                    </div>
                    <div class="installment">8x de R$16,23 sem juros</div>
                    <del>R$ 220,00</del>
                    <div class="price">R$ 129,00</div>
                    <a href="#" class="button button-primary resizable left">
                        <span class="icon">&#8594;</span>
                        <span class="text">Comprar</span>
                    </a>
                </div>
                <div class="image">
                    <vtex:contentPlaceHolder id="painelproduto_imagem1" />
                </div>
            </section>
            <section class="panel-product">
                <div class="image">
                    <vtex:contentPlaceHolder id="painelproduto_imagem2" />                    
                </div>
                <div class="aside">
                    <span class="discount">20%</span>
                    <h4 class="title">Jumps off balcony gives owner dead mouse</h4>
                    <div class="desc">
                        My left donut is missing, as is my right a 
                        nice warm laptop for me to sit on. Gimme attention 
                        gimme attention gimme attention gimme attention 
                        gimme attention gimme attention just kidding i don't 
                        want it anymore meow bye lick the other 
                        cats ???????? for run at 3am. 
                    </div>
                    <div class="installment">8x de R$16,23 sem juros</div>
                    <del>R$ 220,00</del>
                    <div class="price">R$ 129,00</div>
                    <a href="#" class="button button-primary resizable right">
                        <span class="icon">&#8594;</span>
                        <span class="text">Comprar</span>
                    </a>
                </div>
            </section>
            <section>
                <!-- Section Chaordic - Top -->
                <!-- <section class="section section-chaordic">
                    <div class="_vitrines _top" data-position='top'></div>
                </section> -->
                <!-- Section Chaordic - Top:end -->
            </section>
        </div>
    </main>
    
    <footer class="footer">
        <vtex:template id="00-0-QDB-Footer" />
        <script src="https://staticfiles.yviews.com.br/static/commom/jquery.min.js" type="text/javascript"></script>
        <script src="/arquivos/jquery.event.move.js" type="text/javascript"></script>
        <script src="/arquivos/jquery.twentytwenty-custom-guina.js"></script>   
        <!-- <script type="text/javascript" src="/arquivos/chaordic-showcase.js"></script> -->
        <script type="text/javascript" src="/arquivos/slick.js"></script>
        <script src="/arquivos/QDB-LP-Super-especial.js"></script>
    </footer>

</body>
</html>