<!--11-02-2019--> 
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
    lang="pt-BR">

<head>
    <title> quem disse, berenice? </title>
    <vtex:contentPlaceHolder id="metatags" />
    <vtex:metaTags />
    <vtex:template id="new-qdb-head" />
    <link rel="stylesheet" href="http://qbbr.vteximg.com.br/arquivos/new_qdb_style_home.css" />
    <script type="text/javascript" src="http://qbbr.vteximg.com.br/arquivos/new_qdb_functions.js"></script>
    <!-- Vendor Styles -->
    <link rel="stylesheet" href="http://qbbr.vteximg.com.br/arquivos/new_qdb_owl.carousel.min.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="http://qbbr.vteximg.com.br/arquivos/new_qdb_owl.theme.default.min.css" type="text/css" media="all"/>
    <script>
        window.chaordic_meta = {
            page: {
                name: "other"
            }
        };
    </script>

    <style>
        .section-banner-top{padding-top:0px !important;}

        .section-products-lp h2 a{
            top:-110px;
            position:relative;                        
            height:0 !important;
            border:0 !important;
            padding:0 !important;
            margin:0 !important;        
            background-color: transparent !important;
        }
        
        .what-batom ul li {
            margin: 0 15px !important;
        }
        
        .what-batom ul li a{    
            background-color:#9f3749;
        }
        
        
        @media (max-width: 475px){
            .what-batom ul li a {
                width: 160px;
                padding: 10px 0;
                margin-top:10px !important;
                font-size:18px !important;
            }
            .what-batom ul{
                margin-bottom:45px;
            }
        }
    </style>
    

    <!-- <script src="https://www.youtube.com/iframe_api"></script> -->
    <link rel="stylesheet" href="http://qbbr.vteximg.com.br/arquivos/super-special-page.css" />
    <link href="http://qbbr.vteximg.com.br/arquivos/super-special-app.css" rel="stylesheet" />

    <link href="http://qbbr.vteximg.com.br/arquivos/encontre-seu-batom-v2.css" rel="stylesheet" />
    <script src="http://qbbr.vteximg.com.br/arquivos/encontre-seu-batom.js?v=12"></script>

    <vtex:contentPlaceHolder id="HEAD Elementos da Head do HTML" />
</head>
 
<body>
    <div class="wrapper">
        <div class="wrapper-inner">
            <div class="container">
                <div class="container-group">
                    <vtex:template id="00-0-QDB-Header" />
                </div>
                <!-- /.container-group -->
                <section class="section-banner-top">
                    <img class="only-desktop" alt="Banner Topo Batom Volumão quem disse berenice" title="Banner Topo Batom Volumão quem disse berenice" src="/arquivos/banner_topo_volumao2.jpg" />
                    <img class="only-mobile" alt="Banner Topo Batom Volumão quem disse berenice" title="Banner Topo Batom Liquido quem disse berenice" src="/arquivos/mobile_banner_topo_volumao.png" />
                </section>

                <section class="what-batom">
                    <div class="container">
                        <h1>que batom eu escolho?</h1>
                        <p>Tem gente que só usa batom mate e tem gente que só usa batom cremoso. Mas quem disse que a gente precisa escolher só um?
                        Neste guia, você pode ver todos os efeitos e texturas, tirar todas as suas dúvidas e escolher o batom que falta no seu necessaire!</p>

                        <ul>
                            <li>
                                <h2>
                                    <a href="#beijo" data-name="beijo">batom do beijo</a>
                                </h2>
                            </li>

                            <li>
                                <h2>
                                    <a href="#liquido" data-name="liquido">líquido</a>
                                </h2>
                            </li>

                           <li>
                                <h2>
                                    <a href="#volumao" data-name="volumao">volumão</a>
                                </h2>
                            </li>
                            
                            <li>
                                <h2>
                                    <a href="#tradicional" data-name="tradicional">tradicional</a>
                                </h2>
                            </li>

                            <li>
                                <h2>
                                    <a href="#lapis" data-name="lapis">lápis batom</a>
                                </h2>
                            </li>
                        </ul>
                    </div>
                </section>

                <!-- batom volumão -->
                <section class="beijo section-products-lp" data-name="beijo">
                    <div class="container">
                        <h2>batom do volumão <a id="volumao"></a></h2>
                
                        <img src="http://qbbr.vteximg.com.br/arquivos/1216x500_thumb4_landing.jpg" alt="Batom quem disse berenice" title="Batom quem disse berenice"/>
                
                        <p>Já imaginou um batom que deixa a boca carnuda? Ele existe! Com ácido hialurônico e acabamento semimate, o batom Volumão preenche os vinquinhos da boca e deixa os lábios mais volumosos a cada passada. Quer mais? Ele ainda vem em 10 cores lindas!</p>
                
                        <a class="btn-go" data-value="batom volumao" href="/batom-volumao_820881-p/p?idsku=1879">eu quero!</a>

                        <div class="slides">
                            <div class="owl-carousel owl-theme">
                                <div class="item">
                                    <img src="/arquivos/BEGELE.png" alt="batom quem disse berenice" />
                                    <h2>Begelê</h2>
                                    <a data-value="batom Begele" href="https://www.quemdisseberenice.com.br/Batom-Volumao_820881-P/p?idsku=1879">eu quero!</a>
                                </div>
                                <div class="item">
                                    <img src="/arquivos/ROSEIRE.png" alt="batom quem disse berenice" />
                                    <h2>Roseirê</h2>
                                    <a data-value="batom Roseire" href="https://www.quemdisseberenice.com.br/Batom-Volumao_820881-P/p?idsku=1880">eu quero!</a>
                                </div>
                
                                <div class="item">
                                    <img src="/arquivos/GOIABALE.png" alt="batom quem disse berenice" />
                                    <h2>Goiabalê</h2>
                                    <a data-value="batom Goiabale" href="https://www.quemdisseberenice.com.br/Batom-Volumao_820881-P/p?idsku=1881">eu quero!</a>
                                </div>
                
                                <div class="item">
                                    <img src="/arquivos/VERMELHE.png" alt="batom quem disse berenice" />
                                    <h2>Vermelhê</h2>
                                    <a data-value="batom Vermelhe" href="https://www.quemdisseberenice.com.br/Batom-Volumao_820881-P/p?idsku=1882">eu quero!</a>
                                </div>
                                
                                <div class="item">
                                    <img src="/arquivos/VINHOLE.png" alt="batom quem disse berenice" />
                                    <h2>Vinholê</h2>
                                    <a data-value="batom Vinhole" href="https://www.quemdisseberenice.com.br/Batom-Volumao_820881-P/p?idsku=1883">eu quero!</a>
                                </div>
                                
                            
                                
                                <div class="item">
                                    <img src="/arquivos/MARSALE.png" alt="batom quem disse berenice" />
                                    <h2>Marselê</h2>
                                    <a data-value="batom Marsele" href="https://www.quemdisseberenice.com.br/Batom-Volumao_820881-P/p?idsku=1884">eu quero!</a>
                                </div>
                                
                                <div class="item">
                                    <img src="/arquivos/AMENDOLE.png" alt="batom quem disse berenice" />
                                    <h2>Amendolê</h2>
                                    <a data-value="batom Amendole" href="https://www.quemdisseberenice.com.br/Batom-Volumao_820881-P/p?idsku=1885">eu quero!</a>
                                </div>
                                
                                <div class="item">
                                    <img src="/arquivos/TERRACOTALE.png" alt="batom quem disse berenice" />
                                    <h2>Terracotalê</h2>
                                    <a data-value="batom Terracotale" href="https://www.quemdisseberenice.com.br/Batom-Volumao_820881-P/p?idsku=1886">eu quero!</a>
                                </div>
                                
                                <div class="item">
                                    <img src="/arquivos/ROSALÊ.png" alt="batom quem disse berenice" />
                                    <h2>Rosalê</h2>
                                    <a data-value="batom Rosale" href="https://www.quemdisseberenice.com.br/Batom-Volumao_820881-P/p?idsku=1888">eu quero!</a>
                                </div>
                                
                                <div class="item">
                                    <img src="/arquivos/ABOBORE.png" alt="batom quem disse berenice" />
                                    <h2>Aboborê</h2>
                                    <a data-value="batom Abobore" href="https://www.quemdisseberenice.com.br/Batom-Volumao_820881-P/p?idsku=1889">eu quero!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="batom-liquido section-products-lp" data-name="liquido">
                    <div class="container">
                        <h2>batom líquido <a id="liquido"></a></h2>

                        <img src="http://qbbr.vteximg.com.br/arquivos/n-1216x500_thumb4_PG-BATOM.jpg" alt="Banner Batom Liquido quem disse berenice" title="Banner Batom Liquido quem disse berenice" />

                        <p>Com cores superintensas e longa duração, os batons líquidos deslizam com muita facilidade, o que ajuda na aplicação. Uma dica que ajuda bastante é passar um regenerador labial (como o tchau pelinhas) antes do batom pra evitar que a boca fique ressecada. Quer passar sem borrar? É só fazer um “x” no centro da boca, no arco do cupido, e começar a delinear os lábios a partir dele. se preferir pode espalhar o batom com os dedos ou com um pincel boca.</p>

                        <a class="btn-go" data-value="batom liquido" href="https://www.quemdisseberenice.com.br/busca/?fq=H:638">eu quero!</a>

                        <div class="slides">
                            <div class="owl-carousel owl-theme">
                                <div class="item">
                                    <img src="http://qbbr.vteximg.com.br/arquivos/thumb_carousel_batom-liquido-MATE.jpg" alt="batom matte liquido quem disse berenice" />
                                    <h2>batom líquido mate</h2>
                                    <p>Acabamento supermate</p>
                                    <a data-value="batom liquido mate" href="https://www.quemdisseberenice.com.br/busca/?fq=H:513">eu quero!</a>
                                </div>

                                <div class="item">
                                    <img src="http://qbbr.vteximg.com.br/arquivos/thumb_carousel_batom-liquido-MATE-METALICO.jpg" alt="batom liquido matte metálico" />
                                    <h2>batom líquido mate metálico</h2>
                                    <p>Alta cobertura com efeito metalizado</p>
                                    <a data-value="batom líquido mate metálico" href="https://www.quemdisseberenice.com.br/batom-liquido-mate-metalic_816108-p/p?idsku=1147">eu quero!</a>
                                </div>

                                <div class="item">
                                    <img src="http://qbbr.vteximg.com.br/arquivos/thumb_carousel_batom-liquido-VINIL.jpg" alt="batom liquido efeito vinil quem disse berenice" />
                                    <h2>batom líquido vinil</h2>
                                    <p>Efeito verniz com cores incríveis</p>
                                    <a data-value="batom líquido vinil" href="https://www.quemdisseberenice.com.br/batom-liquido-vinil-56ml_818616-p/p?idsku=1457">eu quero!</a>
                                </div>
                                
                                 <div class="item">
                                    <img src="http://qbbr.vteximg.com.br/arquivos/thumb_carousel_batom-liquido-COBERTURA-VINIL.jpg" alt="batom liquido cobertura vinil quem disse berenice" />
                                    <h2>batom líquido cobertura vinil</h2>
                                    <p>Deixa qualquer batom com cobertura verniz</p>
                                    <a data-value="batom líquido cobertura vinil" href="https://www.quemdisseberenice.com.br/batom-liquido-vinil-56ml_818616-p/p?idsku=1457">eu quero!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="volumao section-products-lp" data-name="volumao">
                    <div class="container">
                        <h2>batom do beijo <a id="beijo"></a></h2>
                
                        <img src="http://qbbr.vteximg.com.br/arquivos/batom-beijo-full-vitrine.jpg" alt="Batom quem disse berenice" title="Batom quem disse berenice"/>
                
                        <p>O batom que dura 12h sem borrar, até depois daqueeele beijo. Com altíssima fixação, ele não transfere, tem alta pigmentação e é bem fácil de passar. Primeiro, você aplica uma camada do batom nos lábios secos. Depois, é só passar o verniz transparente, que vai garantir a alta duração do batom na sua boca. Pronto! Ah, é normal sentir uma leve refrescância ao aplicar o batom: é sinal que os ativos que fazem ele durar o dia todo estão em ação.</p>
                
                        
                        <a class="btn-go" data-value="batom do beijo" href="/batom-do-beijo_821934-p/p">eu quero!</a>
                
                        <div class="slides">
                            <div class="owl-carousel owl-theme">
                                <div class="item">
                                    <img src="http://qbbr.vteximg.com.br/arquivos/beijo-thumb_bocas-castanhe.jpg" alt="Batom do Beijo Castanhê" />
                                    <h2>Castanhê</h2>
                                    <a data-value="batom Castanhê" href="https://www.quemdisseberenice.com.br/batom-do-beijo_821934-p/p?idsku=1985">eu quero!</a>
                                </div>
                                <div class="item">
                                    <img src="http://qbbr.vteximg.com.br/arquivos/beijo-thumb_bocas-vinhe.jpg" alt="Batom do Beijo Vinhê" />
                                    <h2>Vinhê</h2>
                                    <a data-value="batom Roseire" href="https://www.quemdisseberenice.com.br/batom-do-beijo_821934-p/p?idsku=1986">eu quero!</a>
                                </div>
                
                                <div class="item">
                                    <img src="http://qbbr.vteximg.com.br/arquivos/beijo-thumb_bocas-bege.jpg" alt="Batom do Beijo Begê" />
                                    <h2>Begê</h2>
                                    <a data-value="batom Begê" href="https://www.quemdisseberenice.com.br/batom-do-beijo_821934-p/p?idsku=1987">eu quero!</a>
                                </div>
                
                                <div class="item">
                                    <img src="http://qbbr.vteximg.com.br/arquivos/beijo-thumb_bocas-rose.jpg" alt=" Batom do Beijo Rosê" />
                                    <h2>Rosê</h2>
                                    <a data-value="batom Rosê" href="https://www.quemdisseberenice.com.br/batom-do-beijo_821934-p/p?idsku=1988">eu quero!</a>
                                </div>
                                                                
                            </div>
                        </div>
                    </div>
                </section>
                
                <section class="batom-tradicional section-products-lp" data-name="tradicional">
                    <div class="container">
                        <h2>batom tradicional <a id="tradicional"></a></h2>

                        <img src="http://qbbr.vteximg.com.br/arquivos/1216x500_thumb2_landing.jpg" alt="Batom quem disse berenice" title="Batom quem disse berenice"/>

                        <p>O formato tradicional de batom não tem erro! A gente criou vááários efeitos pra você querer ter um de cada no seu nécessaire. Ah, todos são de longa duração e têm FPS 12. Vem ver!</p>

                        <a class="btn-go" data-value="batom tradicional" href="https://www.quemdisseberenice.com.br/busca/?fq=H:639">eu quero!</a>

                        <div class="slides">
                            <div class="owl-carousel owl-theme">
                            <div class="item">
                                    <img src="http://qbbr.vteximg.com.br/arquivos/thumb_carousel_batom-tradicional-MATE.jpg" alt="batom quem disse berenice" />
                                    <h2>batom<br/>mate</h2>
                                    <p>Supercobertura com acabamento mate sequinho</p>
                                    <a data-value="batom mate" href="https://www.quemdisseberenice.com.br/batom-mate-quem-disse-berenice--802064-p/p?idsku=184">eu quero!</a>
                                </div>
                                <div class="item">
                                    <img src="http://qbbr.vteximg.com.br/arquivos/thumb_carousel_batom-tradicional-CREMOSO.jpg" alt="batom cremoso quem disse berenice" />
                                    <h2>batom cremoso</h2>
                                    <p>Bem confortável, ajuda a hidratar os lábios</p>
                                    <a data-value="batom cremoso" href="https://www.quemdisseberenice.com.br/batom-cremoso-quem-disse-berenice--809134-p/p?idsku=">eu quero!</a>
                                </div>

                                <div class="item">
                                    <img src="http://qbbr.vteximg.com.br/arquivos/thumb_carousel_batom-tradicional-MATE-VELUDO.jpg" alt="batom matte aveludado qdb" />
                                    <h2>batom mate veludo</h2>
                                    <p>Acabamento mate aveludado. confortável nos lábios</p>
                                    <a data-value="batom mate veludo" href="https://www.quemdisseberenice.com.br/batom-mate-veludo-quem-disse-berenice--808125-p/p?idsku=415">eu quero!</a>
                                </div>

                                <div class="item">
                                    <img src="http://qbbr.vteximg.com.br/arquivos/thumb_carousel_batom-tradicional-METALIZADO.jpg" alt="batom metálico qdb" />
                                    <h2>batom metalizado</h2>
                                    <p>Efeito metalizado intenso, com supercobertura na primeira aplicação</p>
                                    <a data-value="batom metalizado" href="https://www.quemdisseberenice.com.br/batom-metalizado-38_818622-p/p?idsku=1463">eu quero!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="lapis-batom section-products-lp" data-name="lapis">
                    <div class="container">
                        <h2>lápis batom <a id="lapis"></a></h2>

                        <img src="http://qbbr.vteximg.com.br/arquivos/1216x500_thumb3_landing.jpg" alt="Batom Lapis quem disse berenice" title="Batom Lapis quem disse berenice" />

                        <p>Uma solução pra lá de prática pra contornar e preencher os lábios ao mesmo tempo!
                        O lápis batom mate tem 6 cores intensas, com acabamento mate e um formato muito fácil de aplicar.</p>

                        <a class="btn-go" data-value="lápis batom" href="https://www.quemdisseberenice.com.br/maquiagem/boca/lapis-boca/">eu quero!</a>

                        <div class="slides">
                            <div class="owl-carousel owl-theme">
                                <div class="item">
                                    <img src="http://qbbr.vteximg.com.br/arquivos/thumb_carousel_batom_lapis_BEGELIZ.jpg" alt="batom lapis cor nude" />
                                    <h2>begeliz</h2>
                                    <a data-value="begeliz" href="https://www.quemdisseberenice.com.br/batom-lapis-mate_820752-p/p?idsku=1852">quero este!</a>
                                </div>

                                <div class="item">
                                    <img src="http://qbbr.vteximg.com.br/arquivos/thumb_carousel_batom_lapis_MARRONLIZ.jpg" alt="batom marrom lapis" />
                                    <h2>marronliz</h2>
                                    <a data-value="marronliz" href="https://www.quemdisseberenice.com.br/batom-lapis-mate_820752-p/p?idsku=1853">quero este!</a>
                                </div>

                                <div class="item">
                                    <img src="http://qbbr.vteximg.com.br/arquivos/thumb_carousel_batom_lapis_CEREJALIZ.jpg" alt="batom lapis cor cereja" />
                                    <h2>cerejaliz</h2>
                                    <a data-value="cerejaliz" href="https://www.quemdisseberenice.com.br/batom-lapis-mate_820752-p/p?idsku=1851">quero este!</a>
                                </div>
                                <div class="item">
                                    <img src="http://qbbr.vteximg.com.br/arquivos/thumb_carousel_batom_lapis_ROSALIZ.jpg" alt="batom lapis rosa" />
                                    <h2>rosaliz</h2>
                                    <a data-value="rosaliz" href="https://www.quemdisseberenice.com.br/batom-lapis-mate_820752-p/p?idsku=1856">quero este!</a>
                                </div>

                                <div class="item">
                                    <img src="http://qbbr.vteximg.com.br/arquivos/thumb_carousel_batom_lapis_VERMELIZ.jpg" alt="batom lapis vermelho" />
                                    <h2>vermeliz</h2>
                                    <a data-value="vermeliz" href="https://www.quemdisseberenice.com.br/batom-lapis-mate_820752-p/p?idsku=1854">quero este!</a>
                                </div>

                                <div class="item">
                                    <img src="http://qbbr.vteximg.com.br/arquivos/thumb_carousel_batom_lapis_VINHOLIZ.jpg" alt="batom lapis vinho" />
                                    <h2>vinholiz</h2>
                                    <a data-value="vinholiz" href="https://www.quemdisseberenice.com.br/batom-lapis-mate_820752-p/p?idsku=1855">quero este!</a>
                                </div>

                                
                            </div>
                        </div>
                    </div>
                </section>

                <section class="degrade" data-name="degrade">
                    <div class="img-right mobile-lp">
                        <img src="http://qbbr.vteximg.com.br/arquivos/thumb_batom-degrade.jpg" alt="batom efeito degrade quem disse berenice" />
                    </div>
                    <div class="text-left">
                        <h2>efeito degradê</h2>
                        <p>Dá pra criar vários efeitos diferentes com os batons branco e preto. Você pode clarear o centro ou os cantinhos da boca com eles pra criar um degradê lindo, usar eles sozinhos e se jogar no preto ou no branco, ou juntos com outro batons das suas cores favoritas.</p>
                        <a href="https://www.quemdisseberenice.com.br/busca/?fq=H:641">eu quero!</a>
                    </div>
                    <div class="img-right">
                        <img src="http://qbbr.vteximg.com.br/arquivos/thumb_batom-degrade.jpg" alt="batom efeito degrade quem disse berenice" />
                    </div>
                </section>
                  <section class="section-chaordic">
                     <div class="shell">
                        <div chaordic="top"></div>
                    </div>
                </section>
                <section class="section-chaordic">
                    <div class="shell">
                        <!--<div chaordic="top"></div>-->
                        <div data-position='bottom' class='chaordic-shelf'></div>
                    </div>
                    <!-- /.shell -->
                </section>
                <section class="the-cilios">
                 <div class="img-right mobile-lp">
                        <img src="http://qbbr.vteximg.com.br/arquivos/thumb-mascaras-mobile.jpg" alt="mascara de cilios quem disse berenice" />
                    </div>
                    <div class="container">
                        <div class="text-left">
                            <h2>os cílios que você sempre quis!</h2>
                            <p>tem máscara pra quem quer mais volume, pra quem quer alongamento, pra quem quer curvar e pra quem quer tudo junto! vem encontrar a máscara para cílios que tava faltando no seu nécessaire.</p>
                            <a href="https://www.quemdisseberenice.com.br/guia-mascara-pra-cilios">eu quero!</a>
                        </div>
                    </div>
                </section>

                <footer class="footer">
                    <vtex:template id="00-0-QDB-Footer" />
                </footer>
                <!-- /.footer -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper-inner -->
    </div>
    <!-- /.wrapper -->

</body>
  
</html>