<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
    lang="pt-BR" class="_d-top">

<head>
    <title>quem disse, berenice? - Maquiagens, Fragrâncias e Cosméticos</title>
    <meta name="description" content="maquiagem não tem regra e pra sermos nós mesmas só precisamos dar o primeiro passo, sem medo de errar. coragem! errou? tenta de novo! se joga!"
    />
    <vtex:metaTags />
    <vtex:template id="00-0-QDB-Head" />
    <link rel="stylesheet" href="/arquivos/new_qdb_style_home.css" />
    <link rel="stylesheet" href="/arquivos/_chaordic_showcase.css" />
    
    
    <style>._hero-nav { display: none; }</style>
   
    <!-- <vtex:contentPlaceHolder id="primeiraOferta" /> -->
</head>
<body>
    <vtex.cmc:modalformblackweek />
    <div class="wrapper">
         
        <!-- /#products1.products -->
        <div class="wrapper-inner">
            <div class="container">
                <div class="container-group">
                    <vtex:template id="00-0-QDB-Header" />
                </div>
                <!-- /.container-group -->
                <!-- slides owl-carousel ./begin -->
                 
                
                <!-- Section Hero -->
                <section class="section section-hero">
                    <div class="_hero _hero-mobile">
                        <div class="_hero-carousel _hero-carousel-mobile"></div>
                        <noscript class="_hero-data _hero-data-mobile">
                            <vtex:contentPlaceHolder id="Hero Banner Mobile (noscript)" />
                        </noscript>
                    </div>
                    <div class="_hero _hero-desktop">
                        <div class="_hero-carousel _hero-carousel-desktop">
                            <vtex:contentPlaceHolder id="Hero Banner Desktop (visible)" />
                        </div>
                        <noscript class="_hero-data _hero-data-desktop">
                            <vtex:contentPlaceHolder id="Hero Banner Desktop (noscript)" />
                        </noscript>
                    </div>
                </section>
                <!-- Section Hero:end -->
                
                
                <!-- FAIXA DE FRETE -->
                <section class="section-products banner-frete NoUnderline">
                    <div class="shell">
                        <h4><vtex:contentPlaceHolder id="Título Home (abaixo do banner hero)" /></h4>
                        <div class="section-inner">
                            <vtex:template id="new-qdb-pit-bar-2019" />
                        </div>
                        <!-- /.section-inner -->
                    </div>
                </section>
                <!-- end/FAIXA DE FRETE -->
                <!-- Paineis de beleza -->
                <section class="panels-slider">
                    <div class="panels-slider-wrapper">
                        <div class="panels-carousel">
                            <vtex:contentPlaceHolder id="Paineis de beleza" />
                        </div>
                        <!--<div class="panels-slider-dots owl-dots"></div>-->
                    </div>
                </section>
                <!-- Paineis de beleza /end -->
                <div class="main">

                    <!-- Section Chaordic - Top -->
                    <section class="section section-chaordic">
                        <div class="_vitrines _top" data-position='top'></div>
                    </section>
                    <!-- Section Chaordic - Top:end -->

                    <section class="section-products impar">
                        <div class="shell">
                            <div class="bannerContent firstBanner">
                                <h3><vtex:contentPlaceHolder id="Título vitrine 02" /></h3>
                                <vtex:contentPlaceHolder id="bannner-vitrineVtex-02" />
                            </div>
                            <div class="section-content">
                                
                                <div class="slider-products collection collection-products-nas-redes-sociais">
                                    <div class="slider-clip">
                                        <vtex:contentPlaceHolder id="VitrineVtex-02" />
                                    </div>
                                   
                                </div>
                                <!-- /.slider-products -->
                            </div>
                            <!-- /.section-content -->
                        </div>
                        <!-- /.shell -->
                    </section>
                    <!-- /.section-products -->
                    <section class="bannerLinha" style="display:none;">
                        <div class="shell">
                            <vtex:contentPlaceHolder id="Banner Linha" />
                        </div>
                    </section>
                    <!-- section-feeds-instagram -->
                    <vtex:contentPlaceHolder id="new-qdb-feeds-instagram" />
                    <!-- /.section-feeds-instagram -->
                    
                    <section class="section-products par">
                        <div class="shell">
                            <div class="bannerContent">
                                <h3><vtex:contentPlaceHolder id="Título vitrine 01" /></h3>
                                <vtex:contentPlaceHolder id="bannner-vitrineVtex-01" />
                            </div>
                            <div class="section-content">
                                
                                <div class="slider-products collection collection-products-nas-redes-sociais">
                                    <div class="slider-clip">
                                        <vtex:contentPlaceHolder id="VitrineVtex-01" />
                                    </div>
                                   
                                </div>
                                <!-- /.slider-products -->
                            </div>
                            <!-- /.section-content -->
                        </div>
                        <!-- /.shell -->                       
                    </section>
                    <!-- /.section-products -->
                     <!-- Section Chaordic - _middle -->
                    <section class="section section-chaordic">
                        <div class="_vitrines _middle" data-position='bottom'></div>
                    </section>
                    <!-- Section Chaordic - Bottom:end -->
                    <!-- Section Chaordic - Bottom -->
                    <section class="section section-chaordic">
                        <div class="_vitrines _bottom" data-position='bottom'></div>
                    </section>
                    <!-- Section Chaordic - Bottom:end -->

                    <!-- Paineis de beleza -->
                    <section class="panels-slider">
                        <div class="panels-slider-wrapper">
                            <div class="panels-carousel">
                                <vtex:contentPlaceHolder id="Paineis de beleza BOTTOM" />
                            </div>
                            <!--<div class="panels-slider-dots owl-dots"></div>-->
                        </div>
                    </section>
                    <!-- Paineis de beleza /end -->
                    
                    
                </div>
                <!-- /.main -->
               
                <footer class="footer">
                        <!-- vtex:template id="new-qdb-footer" / -->
                    <vtex:template id="00-0-QDB-Footer" />
                </footer>
                <!-- /.footer -->
                <section class="texto--legal" style="display:block;">
                    <div class="shell">
                        <vtex:contentPlaceHolder id="Texto Legal (Promoções)" />
                    </div>
                </section>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper-inner -->
    </div>
    <!-- /.wrapper -->
    <!-- <vtex:contentPlaceHolder id="Codes etc" /> -->
    <script type="text/javascript" src="/arquivos/new_qdb_functions.js?v=20-05-2019-3"></script>
    <script type="text/javascript" src="/arquivos/chaordic-showcase.js"></script>
</body>
</html>