<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-BR" class="_d-top">

<head>
    <script>
        $(function () {
            document.title = '<vtex:contentPlaceHolder id="Título da página" />';
        });
    </script>
    <vtex:contentPlaceHolder id="Metatags" />
    <vtex:template id="00-0-QDB-Head" />

    <link rel="stylesheet" href="/arquivos/QDB-IP-Erro.css" />
    <script>
            window.chaordic_meta = {
                page: {
                    name: "home"
                }
            };
    </script>       
</head>

<body>
    <div class="container-group">
        <vtex:template id="00-0-QDB-Header" />
    </div>
    <main>
    
        <section>
            <h3><vtex:contentPlaceHolder id="Título lista de produtos" /></h3>
            <!-- Section Chaordic - Bottom -->
            <div class="section--chaordic-bottom">
                    <div class="shell">
                        <div class="section-body">
                            <section class="section-chaordic">
                                <div class="shell">
                                    <div chaordic="bottom"></div>
                                </div>
                                <!-- /.shell -->
                            </section>
                            <!-- /.section-chaordic -->
                        </div>
                    </div>
                </div>
            <!-- Section Chaordic - Bottom:end -->
        </section>
    </main>
    <footer class="footer">
        <vtex:template id="00-0-QDB-Footer" />
    </footer>
</body>

</html>