<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-BR" class="_d-top">

<head>
    <script>
        $(function () {
            document.title = '<vtex:contentPlaceHolder id="Título da página" />';
        });
    </script>
    <vtex:contentPlaceHolder id="Metatags" />
    <vtex:template id="00-0-QDB-Head" />

    <link rel="stylesheet" href="/arquivos/QDB-LP-Super-Tint.css" />
    <script>
            window.chaordic_meta = {
                page: {
                    name: "home"
                }
            };
    </script>       
</head>

<body>
    <div class="container-group">
        <vtex:template id="00-0-QDB-Header" />
    </div>
    <main class="lp-st">
        <section class="st-main">
            <div class="shell">
                <div class="st-main__images">
                    <img 
                        class="st-desktop"
                        src="https://qbbr.vteximg.com.br/arquivos/banner-topo-batom-super-tint-quem-disse-berenice.png" 
                        alt="Banner Topo novo batom super tint quem disse, Berenice?"
                        title="batom super tint com alta duração e resiste a tudo"
                    />
                    <img 
                        class="st-mobile"
                        src="/arquivos/m-banner-topo-batom-super-tint-quem-disse-berenice.png" 
                        alt="Banner Topo novo batom super tint quem disse, Berenice?"
                        title="batom super tint com alta duração e resiste a tudo"
                    />
                </div>
                <div class="st-main__inner">
                    <div class="st-main__title">
                        <h1>Novo batom <span>Super Tint</span></h1>
                        <h2>O batom que resiste a tudo*</h2>
                    </div>
                    <div class="st-main__claims">
                        <img 
                            src="/arquivos/alta-duracao-sem-retoque.png" 
                            alt="selo super tint duração sem retoque"
                            title="Batom Super Tint com 16h de duração sem retoque"
                        />
                        <img 
                            src="/arquivos/alta-pigmentacao.png" 
                            alt="selo super tint duração sem retoque"
                            title="Batom Super Tint com alta pigmentação"
                        />
                    </div>
                </div>
            </div>
        </section>
        <section class="st-polaroids">
            <div>
                <img 
                    src="/arquivos/polyana-viana-super-tint-quem-disse-berenice.png" 
                    alt="imagem modelo Polyana Viana lutadora de mma com batom super tint"
                    title="Modelo Polyana Viana com batom super tint"
                />
                <img 
                    src="/arquivos/nicole-pacelli-super-tint-quem-disse-berenice.png" 
                    alt="imagem modelo Nicole pacelli surfista com batom super tint"
                    title="Nicole Pacelli Surfista com batom super tint"
                />
                <img 
                    src="/arquivos/polyana-viana-super-tint-quem-disse-berenice.png" 
                    alt="imagem modelo Polyana Viana lutadora de mma com batom super tint"
                    title="Modelo Polyana Viana com batom super tint"
                />
            </div>
        </section>
        <section class="st-colors">
            <div class="st-color__images">
                <img 
                    src="/arquivos/nudetint.png" 
                    alt="imagem super tint nudetint"
                />
                <img 
                    src="/arquivos/marsalatint.png" 
                    alt="imagem super tint marsalatint"
                />
                <img 
                    src="/arquivos/vermetint.png" 
                    alt="imagem super tint vermetint"
                />
                <img 
                    src="/arquivos/rosadotint.png" 
                    alt="imagem super tint rosadotint"
                />
                <img 
                    src="/arquivos/coraltint.png" 
                    alt="imagem super tint coraltint"
                />
            </div>
            <a href="#">quero o meu</a>
        </section>
        <section class="st-promo">
            <img 
                src="/arquivos/banner-centro-promocao-batom-super-tint-quem-disse-berenice.png" 
                alt="Banner centro promoção batom super tint quem disse, berenice?"
                title="promoção batom super tint quem disse, Berenice?"
            />
            <img 
                src="/arquivos/m-banner-centro-promocao-batom-super-tint-quem-disse-berenice.png" 
                alt="Banner centro promoção batom super tint quem disse, berenice?"
                title="promoção batom super tint quem disse, Berenice?"
            />
        </section>
        <section style="display: none;">
            <h3><vtex:contentPlaceHolder id="Título lista de produtos" /></h3>
            <!-- Section Chaordic - Bottom -->
            <div class="section--chaordic-bottom">
                    <div class="shell">
                        <div class="section-body">
                            <section class="section-chaordic">
                                <div class="shell">
                                    <div chaordic="bottom"></div>
                                </div>
                                <!-- /.shell -->
                            </section>
                            <!-- /.section-chaordic -->
                        </div>
                    </div>
                </div>
            <!-- Section Chaordic - Bottom:end -->
        </section>
    </main>
    <footer class="footer">
        <vtex:template id="00-0-QDB-Footer" />
    </footer>
</body>

</html>