<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
    lang="pt-BR" class="_d-top __cart-show">

<head>
    <title>Minicart</title>
    <vtex:metaTags />
    <!--<vtex:template id="00-0-QDB-Head" />-->
    <link rel="stylesheet" href="/arquivos/QDBCommon-general.css"/>
</head>

<body class="logged">
    <div class="wrapper bx-hide">
        <div class="wrapper-inner">
            <!--<div class="container-group">-->
            <!--    <vtex:template id="00-0-QDB-Header" />-->
            <!--</div>-->
            <!-- SidebarLeft -->
            <section class="SidebarLeft">
                <!-- menu mobile -->
                <div class="SuperMenu">
                    <div class="_super-menu-close">
                        <a class="__super-menu-close __close-icon-black">
                            <span class="__text">Fechar</span>
                        </a>
                    </div>
            
                    <div class="__super-menu-selection">
                        <div class="__super-menu-options">
                        </div>
                    </div>
            
                    <div class="_super-menu">
                    </div>
                </div>
                <!-- menu mobile:end -->
            </section>
            <!-- SidebarLeft:end -->
            <!-- SidebarRight -->
            <section class="SidebarRight">
                <div class="Minicart">
                    <div class="_minicartHead">
                        <a class="__close-cart __close-icon-black"></a>
                        <span class="__cartTitle"></span>
            
                        <!-- <a class="__cart"> </a> -->
            
                    </div>
            
                    <div class="_minicartBody __cart-loading">
            
                        <!-- delete -->
                        <div class="mr-minicart">
                            <div class="mr-loading">
                                Carregando...
                            </div>
                            <div class="mr-empty">
                                <div class="mr-msg">Não há produtos em sua sacola. </div>
                                <div class="mr-suggestions"></div>
                            </div>
                            <div class="mr-prod-list">
                            </div>
            
                            <div class="mr-shipping">
                                <div class="mr-shipping-lbl-container"><span class="mr-shipping-lbl">Frete grátis</span> <span class="mr-remainder-to-descount">R$ 0,00</span></div>
                                <div class="mr-shipping-pb-container"><span class="mr-progress-bar"><small></small></span></div>
                            </div>
            
                            <div class="mr-totals">
                                <div class="mr-total">
                                    <span class="mr-lbl">Total:</span>
                                    <span class="mr-total-val">R$ 0,00</span>
                                </div>
                                <div class="mr-goto-cart"><a href="/checkout/#/cart">Fechar pedido</a></div>
                            </div>
                        </div>
                        <!-- delete:end -->
            
                    </div>
                </div>
            
            </section>
            <!-- SidebarRight:end -->
            <!--<footer class="footer">-->
            <!--    <vtex:template id="00-0-QDB-Footer" />-->
            <!--</footer> -->
        </div>
        <!-- /.wrapper-inner -->
    </div>
    <!-- /.wrapper -->
    <script type="text/javascript" src="https://qbbr.vteximg.com.br/arquivos/new_qdb_jquery.vtexcart.js"></script>
    <script type="text/javascript" src="/arquivos/QDBCommon-general.js"></script>
    <script type="text/javascript" src="/arquivos/QDBBusca-cart.js"></script>
    <script type="text/javascript" src="/arquivos/neemu-addtocart.js"></script>
</body>

</html>