<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-BR" class="_d-top">

<head>
    <script>
        $(function () {
            document.title = '<vtex:contentPlaceHolder id="Título da página" />';
        });
    </script>
    <vtex:contentPlaceHolder id="Metatags" />
    <vtex:template id="00-0-QDB-Head" />



</head>

<body>
    <div class="container-group">
        <vtex:template id="00-0-QDB-Header" />
    </div>
    <section class="lp-vc">
        <vtex:contentPlaceHolder id="Politica / Termos" />
    </section>
    <div class="conteudo-paceholder">
        <div class="shell">
            <section class="lp-vc" style="padding: 20px">
                <h1>POLÍTICA DE PRIVACIDADE</h1>
                <h2>“CADASTRO VENDA IN COMPANY”</h2>
                <h4>1)	OBJETIVO</h4>
                <ul>
                        <li>
                        1.1.	Este documento, denominado Política de Privacidade, 
                        é parte integrante dos Termos de Uso do Hotsite http://www.quemdisseberenice.com.br 
                        (a “Plataforma”), e tem como FINALIDADE ESTABELECER AS REGRAS SOBRE O 
                        TRATAMENTO DE DADOS PESSOAIS E INFORMAÇÕES COLETADAS, ALÉM DO REGISTRO DE 
                        SUAS ATIVIDADES NO CADASTRO DE VENDA IN COMPANY.
                    </li>
                    <li>1.2.	O CADASTRO DE VENDA IN COMPANY foi desenvolvido para possibilitar
                            o cadastro de empresas interessadas em receber venda in company de produtos 
                            da marca Quem disse, Berenice?, promovida pela marca 
                            Quem disse, Berenice? (“Marca”). 
                    </li>
                    <li> 1.3.	Para fins desta Política entende-se por EMPRESAS 
                        AFILIADA aquelas empresas coligadas, controladas ou controladoras, 
                        subsidiárias ou com ao menos um sócio em comum com a Marca.
                    </li>
                </ul>
                <h4>2)	COLETA DOS DADOS</h4>
                <ul>
                    <li>
                        2.1.	COLETA DE DADOS E INFORMAÇÕES: Ao se cadastrar na Plataforma, 
                        O USUÁRIO precisará cadastrar um representante para contato, garantindo
                        que, tal representante CONSENTIU, DE FORMA LIVRE, EXPRESSA E INFORMADA, 
                        ÀS CONDIÇÕES DE COLETA, ARMAZENAMENTO, USO E COMPARTILHAMENTO DOS SEUS
                        DADOS PESSOAIS, AQUI CONSIDERADOS COMO: NOME COMPLETO, TELEFONE 
                        CORPORATIVO E EMAIL CORPORATIVO (OS “DADOS PESSOAIS”). 
                    </li>
                    <li>2.2.	Os Dados Pessoais do representante do Usuário serão 
                        utilizados de acordo com as formas apresentadas na tabela abaixo, 
                        com suas respectivas bases legais, que autorizam o seu uso:
                    </li>
                    <li> 
                        <strong>Dados Pessoais:</strong> Nome completo, número de telefone corporativo, e-mail corporativo;
                        <strong>Finalidades:</strong> Contato para fins de execução das atividades relacionadas 
                        ao CADASTRO DE VENDA IN COMPANY 
                        <strong>Base Legal: </strong> Obrigação Legal
                    </li>
                    <li>2.2.    A Marca não se responsabilizará pela autenticidade 
                        dos dados fornecida pelo Usuário, bem como pelo fornecimento 
                        de informações incorretas, imprecisas ou incompletas, que 
                        impossibilitem o correto uso da Plataforma.
                    </li>
                    <li>
                        2.3.	<strong>Alteração e exclusão de dados:</strong> Os dados coletados serão 
                        armazenados pelo prazo estabelecido em Lei. Contudo, desde que respeitado
                        o prazo de armazenamento mínimo de informações determinado pela legislação
                        brasileira, o Usuário poderá solicitar à Marca a atualização, adição ou até 
                        mesmo exclusão, a qualquer tempo, de quaisquer informações que tenham sido 
                        compartilhadas conosco. Para tanto, basta entrar em contato com a Marca, 
                        pelo número 0800-726-6482.
                    </li>
                </ul>
                <h4>3)	ARMAZENAMENTO DAS INFORMAÇÕES:</h4>
                <ul>
                    <li>3.1.	TODOS OS DADOS COLETADOS E FORNECIDOS SERÃO INCORPORADOS AO BANCO DE 
                        DADOS DA PLATAFORMA, ficando sob sua titularidade e responsabilidade. 
                        Os Dados serão armazenados em ambiente seguro, observado o estado da 
                        técnica disponível, e somente poderão ser acessadas por pessoas qualificadas 
                        e autorizadas pela Marca.
                    </li>
                    <li>
                        3.2.	Considerando que nenhum sistema de segurança é absolutamente 
                        seguro, a Marca se exime de quaisquer responsabilidades por eventuais 
                        danos e/ou prejuízos decorrentes de falhas, vírus ou invasões do banco 
                        de dados, salvo nos casos de dolo ou culpa pela mesma.
                    </li>
                </ul>
                <h4>4)	ACESSO À PLATAFORMA</h4>
                <ul>
                    <li>
                        4.1.	A Plataforma ficará à disposição do Usuário durante todo o período da Ação Promocional, ressalvadas as situações de manutenção do hotsite ou qualquer outra em que se faça necessário o desligamento temporário do mesmo.
                    </li>
                    <li>
                        4.2.	O acesso à Plataforma é condicionado a existência de conexão a internet, não sendo possível o acesso ou a realização de cadastros sem tal ferramenta. Referida conexão não é de responsabilidade da Marca, cabendo única e exclusivamente ao próprio Usuário e ao provedor de conexão a que é vinculado.
                    </li>
                </ul>
                <h4> 5)	DO REGISTRO DE ATIVIDADES</h4>
                <ul>
                    <li>
                            5.1. A Marca registrará as atividades efetuadas pelo Internauta ou Usuário na Plataforma, por meio de Logs, incluindo:
                            (a)	Endereço IP do Internauta ou Usuário; <br />
                            (b)	Datas e horários de cada ação e de acesso a cada página do Portal;<br />
                            (c)	Session ID.<br />
                        </li>
                    <li>
                            5.2. Os registros mencionados no item 6.1 poderão ser utilizados pela 
                            Marca em casos de investigação de fraudes ou de alterações indevidas 
                            em seus sistemas e cadastros.
                    </li>
                </ul>
                <h4>6)	COOKIES</h4>
                <ul>
                    <li>
                        6.1. A Plataforma poderá fazer o uso de Cookies, cabendo ao Internauta ou Usuário configurar o seu navegador da Internet, caso deseja bloqueá-los. Nessa hipótese, algumas funcionalidades do Portal poderão ser limitadas. 
                    </li>
                </ul>
                <h4> 7)	CONDIÇÕES GERAIS</h4>
                <ul>
                    <li>7.1.	O acesso à Plataforma poderá ser suspenso ou cancelado a qualquer tempo pela Marca, não havendo necessidade de qualquer notificação prévia ao Usuário, quando houver qualquer suspeita ou alegação de descumprimento desses termos. </li>
                    <li>7.2.	Os serviços e funcionalidades disponibilizados pela Plataforma são oferecidos na forma que são publicados e poderão ser modificados a critério exclusivo da Marca, não tendo o Usuário direito de solicitar qualquer tipo de alteração no formato ou qualidade da plataforma. </li>
                    <li>7.3.	O acesso do Usuário a determinado link ou página externa, através de uma navegação segura, não é de responsabilidade de da Marca, sendo tal ação cabível única e exclusivamente ao próprio Usuário. </li>
                    <li>7.4.	Além disso, considerando que o presente documento poderá ser alterado, a critério da Marca, a qualquer tempo, sem necessidade de aviso prévio, recomendamos que o Usuário verifique o teor deste termo antes de iniciar o uso da Plataforma. </li>
                    <li>7.4.1.	Caso o Usuário não concorde com as alterações, ou, se por qualquer motivo, o Usuário deverá suspender a utilização dos serviços disponibilizados.</li>
                    <li>7.5.	Em caso de dúvidas, sugestões ou reclamações com relação a Plataforma o Usuário poderá entrar em contato com o SAC pelo número 0800-726-6482.</li>     
                </ul>
                <h4>8)	FORO</h4>
                <ul>
                    <li>
                        8.1.	Fica eleito o Foro da Comarca de Curitiba, Estado do Paraná, recusando-se qualquer outro, por mais privilegiado que seja, para toda e qualquer questão oriunda do presente contrato, correndo por conta da parte vencida os custos e despesas judiciais, inclusive honorários advocatícios.
                    </li>
                </ul>
                <strong>Última modificação: 23/08/2019</strong>
            </section>
        </div>
    </div>
    <footer class="footer">
        <vtex:template id="00-0-QDB-Footer" />
    </footer>
</body>

</html>