<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
    lang="pt-BR" class="_d-top">

<head>
    <title>quem disse, berenice? - Maquiagens, Fragrâncias e Cosméticos</title>
    <meta name="description" content="maquiagem não tem regra e pra sermos nós mesmas só precisamos dar o primeiro passo, sem medo de errar. coragem! errou? tenta de novo! se joga!"
    />
    <vtex:metaTags />
    <vtex:template id="00-0-QDB-Head" />
    
    <link rel="preload" href="/arquivos/QDBCommon-home.css" as="style"/>
    
    <link rel="stylesheet" href="/arquivos/QDBCommon-home.css" />
    <!--<link rel="stylesheet" href="/arquivos/new_qdb_style_home.css" />-->
    <!--<link rel="stylesheet" href="/arquivos/_chaordic_showcase.css" />-->
    <!-- <vtex:contentPlaceHolder id="primeiraOferta" /> -->
</head>
<body>
    <div class="wrapper">
        <div class="wrapper-inner">
            <div class="container">
                <div class="container-group">
                    <vtex:template id="00-0-QDB-Header" />
                </div>
                    
                <noscript class="bannersMobile">
                    <vtex:contentPlaceHolder id="Hero Banner Mobile (noscript)" />
                </noscript>
                
                <noscript class="bannersDesktop">
                    <vtex:contentPlaceHolder id="Hero Banner Desktop (noscript)" />
                </noscript>
                
                <!-- Section Hero -->
                <section id="bannerHero" class="bannerHero">
                    <div id="bannerHero--render" class="bannerHero__banners"></div>
                </section>
                <!-- Section Hero:end -->
                
                <!-- FAIXA DE FRETE -->
                <noscript class="infoBar">
                    shippingInit
                        shippingUrlInit <vtex.cmc:placeholderlinkfretegratis /> shippingUrlEnd
                        shippingTextInit <vtex.cmc:placeholderfretegratis /> shippingTextEnd
                    shippingEnd
                </noscript>
                <div id="infoBar__render" class="infoBar__render"></div>
                <!-- end/FAIXA DE FRETE -->
                
                <!-- Paineis de beleza -->
                <section class="paineisBeleza">
                    <div id="paineisBeleza--render" class="paineisBeleza__container">
                    </div>
                    <noscript class="paineisBeleza__banners">
                        <vtex:contentPlaceHolder id="Paineis de beleza" />
                    </noscript>
                </section>
                <!-- Paineis de beleza /end -->
                <vtex:contentPlaceHolder id="produtoContador" />
                
                <div class="topProducts">
                    <div class="shell">
                        <h2 class="topProducts__title">
                            <vtex:contentPlaceHolder id="vitrineVtex-TopSell-Title" />
                        </h2>
                        <div class="collectionPlaceholder hidden">
                            <vtex:contentPlaceHolder id="vitrineVtex-TopSell-Collection" />
                        </div>
                        <div class="topProducts__render-collection"></div>
                    </div>
                </div>
                
                <noscript class="retornaBanner">
                    <vtex:contentPlaceHolder id="Retorna Bere Banner Desktop" />
                </noscript>
                <a class="set--retornaBanner"><img src="" /></a>
                
                <div class="main">
                    <!-- Section Chaordic - Top -->
                    <!--<section class="section section-chaordic">-->
                    <!--    <div class="_vitrines _top" data-position='top'></div>-->
                    <!--</section>-->
                    <!-- Section Chaordic - Top:end -->
                    
                    <noscript id="banV1" class="bannerVitrine">
                        <!--Vitrine 1-->
                        banTitleInit
                            <vtex:contentPlaceHolder id="Título vitrine 01" />
                        banTitleEnd
                        
                        banBaninit
                            <vtex:contentPlaceHolder id="bannner-vitrineVtex-01" />
                        banBanend
                    </noscript>
                    
                    <section class="bannerCollection __left">
                        <div class="shell">
                            <div class="bannerCollection__info">
                                <h3 class="bannerCollection__info__title"></h3>
                                <a class="bannerCollection__info__banner_url">
                                    <img class="bannerCollection__info__banner_img" src="" data-src="" loading="lazy" />
                                </a>
                            </div>
                            <div class="collectionPlaceholder hidden">
                                <vtex:contentPlaceHolder id="vitrineVtex-BannerCollection-01" />
                            </div>
                            <div class="bannerCollection__render-collection"></div>
                        </div>
                    </section>
                    
                    <section class="bannerLinha">
                        <div class="shell">
                            <noscript class="bannerLinha__src">
                                <vtex:contentPlaceHolder id="Banner Linha" />
                            </noscript>
                            <img class="bannerLinha__img" loading="lazy" />
                        </div>
                    </section>
                    
                    <noscript id="banV2" class="bannerVitrine">
                        <!--Vitrine 1-->
                        banTitleInit
                            <vtex:contentPlaceHolder id="Título vitrine 02" />
                        banTitleEnd
                        
                        banBaninit
                            <vtex:contentPlaceHolder id="bannner-vitrineVtex-02" />
                        banBanend
                    </noscript>
                    
                    <section class="bannerCollection __right">
                        <div class="shell">
                            <div class="collectionPlaceholder hidden">
                                <vtex:contentPlaceHolder id="vitrineVtex-BannerCollection-02" />
                            </div>
                            <div class="bannerCollection__render-collection"></div>
                            <div class="bannerCollection__info">
                                <h3 class="bannerCollection__info__title"></h3>
                                <a class="bannerCollection__info__banner_url">
                                    <img class="bannerCollection__info__banner_img" src="" data-src="" loading="lazy" />
                                </a>
                            </div>
                        </div>
                    </section>
                    <!-- /.section-products -->
                     <!-- Section Chaordic - _middle -->
                    <!--<section class="section section-chaordic">-->
                    <!--    <div class="_vitrines _middle" data-position='bottom'></div>-->
                    <!--</section>-->
                    <!-- Section Chaordic - Bottom:end -->
                    <!-- Section Chaordic - Bottom -->
                    <!--<section class="section section-chaordic">-->
                    <!--    <div class="_vitrines _bottom" data-position='bottom'></div>-->
                    <!--</section>-->
                    <!-- Section Chaordic - Bottom:end -->
                </div>
                <!-- /.main -->
                
                <footer class="footer">
                    <vtex:template id="00-0-QDB-Footer" />
                </footer>
                <!-- /.footer -->
                <section class="texto--legal">
                    <div class="shell">
                        <vtex:contentPlaceHolder id="Texto Legal (Promoções)" />
                    </div>
                </section>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper-inner -->
    </div>
    <!-- /.wrapper -->
               
    <script type="text/javascript" src="/arquivos/QDBCommon-Home.js"></script>
    <!-- <vtex:contentPlaceHolder id="Codes etc" /> -->
    <!--<script type="text/javascript" src="/arquivos/new_qdb_functions.js?v=20-05-2019-3"></script>-->
    <!--<script type="text/javascript" src="/arquivos/chaordic-showcase.js"></script>-->
    <!--<script async="true" custom-element="amp-install-serviceworker" src="https://cdn.ampproject.org/v0/amp-install-serviceworker-0.1.js"></script>-->
    <!--<script type="text/javascript" async="true">-->
    <!--    if ('serviceWorker' in navigator) {-->
    <!--        window.addEventListener('load', function () {-->
    <!--            navigator.serviceWorker.register("/arquivos/sw.js", { "scope": "/" }).then(function () {-->
    <!--                console.log("Service Worker registered successfully.");-->
    <!--            }).catch(function (error) {-->
    <!--                console.error("Service Worker registration failed:", error);-->
    <!--            });-->
    <!--        });-->
    <!--    }-->
    <!--</script>-->
</body>
</html>