<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-BR" class="_d-top">

<head>
    <script>
        $(function () {
            document.title = '<vtex:contentPlaceHolder id="Título da página" />';
        });
    </script>
    <vtex:contentPlaceHolder id="Metatags" />
    <vtex:template id="00-0-QDB-Head" />



</head>

<body>
    <div class="container-group">
        <vtex:template id="00-0-QDB-Header" />
    </div>
    <section class="lp-vc">
        <vtex:contentPlaceHolder id="Politica / Termos" />
    </section>
    <div class="conteudo-paceholder">
        <div class="shell">
            <section class="lp-vc" style="padding: 20px">
                <h1>TERMOS DE USO E REGULAMENTO</h1>
                <h2>“CADASTRO VENDA IN COMPANY”</h2>
                <h4>1)	DESCRIÇÃO DA PLATAFORMA</h4>
                <ul>
                    <li>
                        1.1.	O hotsite http://www.quemdisseberenice.com.br (a “Plataforma”) é um espaço desenvolvido para oferecer oportunidade de CADASTRO DE VENDA IN COMPANY, promovida pela marca Quem disse, Berenice? (“Marca”) e destinada à possibilitar o cadastro de empresas interessadas em receber venda in company de produtos da marca Quem disse, Berenice?. 
                    </li>
                    <li>
                            1.2.	A Plataforma é de titularidade e administrado pela O BOTICÁRIO FRANCHISING LTDA., pessoa jurídica de direito privado, inscrita no CNPJ sob o nº 76.801.166/0001-79, com sede à Av. Rui Barbosa, nº 4110, Parque da Fonte, São José dos Pinhais-PR, CEP 83.050-010 (doravante “Marca”).
                    </li>
                </ul>
                <h4>2)	ACEITAÇÃO DOS TERMOS DE USO</h4>
                <ul>
                    <li>
                            2.1.	O acesso à Plataforma e a sua utilização estão sujeitos aos Termos de Uso que detalharemos a seguir, a Política de Privacidade e à todas as leis aplicáveis.
                    </li>
                    <li>
                            2.2.	O acesso é voluntário e gratuito, sendo que cada Usuário fica ciente e concorda que, ao entrar na Plataforma, estará automaticamente de acordo com todos os itens deste termo e de qualquer possibilidade de alteração futura, sendo incabível a alegação de desconhecimento. 
                    </li>
                </ul>
                <h4>3)	DADOS E INFORMAÇÕES DO USUÁRIO</h4>
                <ul>
                    <li>
                            3.1.	Os dados e informações, incluindo dados pessoais, que o Usuário gera, envia, armazena, manda ou recebe ou do qual faz o upload por meio da Plataforma está sujeito a Política De Privacidade da Plataforma.
                    </li>
                    <li>
                            3.2.	Fica sob o livre critério do Usuário não fornecimento de seus dados pessoais; entretanto, o Usuário declara estar plenamente ciente de que não será possível usufruir de todas as funcionalidades e benefícios oferecidos pela Plataforma caso não o forneça.
                    </li>
                    <li>
                            3.3.	Caberá integralmente ao Usuário a responsabilidade pela integridade do cadastro, fornecendo corretamente todos os dados solicitados para realização do cadastro.
                    </li>
                    <li>
                            3.4.	Neste sentido, o Usuário concorda que seu cadastro poderá ser suspenso ou cancelado imediatamente, caso qualquer informação fornecida no registro seja falsa, incorreta, ou ainda caso existam razões suficientes para suspeitar disto.
                    </li>
                </ul>
                <h4>4)	DIREITOS E DEVERES DA MARCA</h4>
                <ul>
                    <li>
                            4.1	A Marca se compromete a manter a Plataforma mais segura possível ao Usuário, conforme Política de Privacidade. Em caso de violação da Plataforma que gere algum tipo de dano ao Usuário ou ao seu equipamento, tal fato deverá ser relatado na Central de Relacionamento com o consumidor pelo número 0800 726 6482 e/ou no e-mail oie@quemdisseberenice.com.br.
                    </li>
                    <li>
                            4.2	Todo o conteúdo da Plataforma está protegido pelos direitos de propriedade intelectual e os decorrentes da proteção de marcas, patentes e/ou desenhos industriais, depositadas ou registradas em nome da Marca, bem como de todos os direitos referentes a terceiros que porventura estejam, ou estiveram, de alguma forma, disponíveis na Plataforma, inclusive o que for inserido pelo próprio Usuário (exceto os dados relativos ao seu cadastro), não podendo ser reproduzido ou utilizado sem a devida autorização específica expedida pela Marca.
                    </li>
                    <li>
                            4.3	A Marca poderá, a qualquer momento, promover a exclusão de conteúdo que entenda inadequado ou que tenha transgredido alguma disposição dos Termos de Uso, Política de Privacidade ou Regulamento.
                    </li>
                </ul>
                <h4>5)	DIREITOS E DEVERES DO USUÁRIO</h4>
                <ul>
                    <li>
                            5.1	O Usuário se compromete a não utilizar a Plataforma para a publicação, criação, armazenamento e/ou divulgação de:<br />
                            a)	Conteúdo abusivo que tenham caráter difamatório, obsceno, ofensivo, que possam incitar atitudes discriminatórias, violência ou a prática de crimes e que atentem contra aos bons costumes, à moral ou ainda que contrariem a ordem pública;<br />
                            b)	Informações difamatórias e caluniosas ou que sejam contrárias à honra, à intimidade pessoal e familiar ou à imagem das pessoas (inclusive de pessoa jurídicas, entidades e organizações a ela equiparadas), bem como da própria marca;<br />
                            c)	Informações difamatórias e caluniosas ou que sejam contrárias à honra, à intimidade pessoal e familiar ou à imagem das pessoas (inclusive de pessoa jurídicas, entidades e organizações a ela equiparadas), bem como da própria marca;<br />
                            d)	Conteúdo que é protegido por leis de propriedade intelectual, direitos de privacidade ou publicidade, ou qualquer outra lei aplicável, a menos que você possua ou controle os direitos ou tenha recebido todas as autorizações necessárias;<br />
                            e)	Contenham informações gerais ou de produtos de empresas concorrentes;<br />
                            f)	Conteúdo que invada a privacidade de ninguém, publicando informações pessoais, como senhas, informações de conta, números de cartão de crédito, endereços ou outras informações de contato sem o seu conhecimento e consentimento voluntário. <br />
                            g)	Conteúdo sejam ilegais ou violem todas as leis locais e nacionais;<br />
                            h)	Apologia a qualquer prática de crimes ou atos ilícitos tais como, mas não se limitando a: pornografia, pedofilia, e outras modalidades de satisfação sexual, racismo, ou discriminação de qualquer natureza, bullying, stalking ou qualquer outra espécie de constrangimento ilegal, manifesta violação a direito autoral ou direito de imagem; utilização de entorpecentes, estupro, homicídio, estelionato, dentre outros; <br />
                            i)	Realizar propaganda política ou publicidade de terceiros;<br />
                            j)	Acessar a Plataforma sem autorização, por meio de práticas ou de qualquer outro meio fraudulento.<br />
                            k)	acessarem as áreas de programação do Portal, seu banco de dados ou qualquer outro conjunto de informações que faça parte da atividade de Webmastering. <br />
                    </li>
                    <li>
                            5.2	O Usuário se obriga a utilizar a Plataforma para a finalidade a qual foi constituída, como bem esclarecido neste Termo, sob pena de aplicação das penas da lei, de indenizar a quem causar dano e de ter o seu acesso cancelado.
                    </li>
                    <li>5.3	Toda e qualquer publicação feita pelo Usuário será de sua integral responsabilidade. O Usuário concorda em indenizar a O Boticário, suas filiais, empresas controladas ou controladoras, diretores, administradores, colaboradores, representantes, empregados e parceiras, por qualquer perda, responsabilização, reclamação ou demanda em decorrência de prejuízos resultantes da utilização indevida da Plataforma.</li>
                </ul>
                <h4>6)	ACESSO, CONTEÚDO E FUNCIONALIDADES DISPONIBILIZADO NA PLATAFORMA</h4>
                <ul>
                    <li>
                        XXXXXXXXXXXXXXXXX
                    </li>
                </ul>
                <h4> 7)	DISPOSIÇÕES GERAIS</h4>
                <ul>
                    <li>
                        As disposições constantes neste Termo poderão ser atualizadas ou modificadas a qualquer momento e sem aviso prévio, cabendo ao Usuário verificá-la sempre que efetuar o acesso à Plataforma.
                        <ul>
                            <li>
                                    Caso o Usuário não concorde com as alterações, ou, se por qualquer motivo, o Usuário não deseje mais utilizar o Aplicativo, o Usuário deverá suspender a utilização dos serviços disponibilizados e desinstalar o Aplicativo de seu telefone celular do tipo smartphone
                            </li>
                        </ul>
                    </li>
                    <li>
                            7.2.	Em caso de dúvidas, sugestões ou reclamações com relação ao Aplicativo o Usuário poderá entrar em contato com a XXX pelo número XXX ou por meio do XXX.
                    </li>
                    <li>
                            7.3.	A tolerância ao eventual descumprimento de quaisquer das regras e condições do presente Termo não constituirá novação das obrigações aqui estipuladas e tampouco impedirá ou inibirá a exigibilidade das mesmas a qualquer tempo.
                    </li>
                </ul>
                <h4>8)	FORO</h4>
                <ul>
                    <li>
                            Fica eleito o Foro da Comarca de Curitiba, Estado do Paraná, recusando-se qualquer outro, por mais privilegiado que seja, para toda e qualquer questão oriunda do presente contrato, correndo por conta da parte vencida os custos e despesas judiciais, inclusive honorários advocatícios.
                    </li>
                </ul>
                <strong>Última modificação: 23/08/2019</strong>
            </section>
        </div>
    </div>
    <footer class="footer">
        <vtex:template id="00-0-QDB-Footer" />
    </footer>
</body>

</html>