<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-BR" class="_d-top">

<head>
    <title>quem disse, berenice? - Maquiagens, Fragrâncias e Cosméticos</title>
    <meta name="description" content="maquiagem não tem regra e pra sermos nós mesmas só precisamos dar o primeiro passo, sem medo de errar. coragem! errou? tenta de novo! se joga!" />
    <vtex:template id="00-0-QDB-Head" />

    <script>
        window.chaordic_meta = {
            page: {
                name: "home"
            }
        };
    </script>
    <link href="/arquivos/QDB-LP-Recicla.css" rel="stylesheet"/>
</head>

<body>
    <div class="wrapper">
        <div class="wrapper-inner">
            <div class="container">
                <div class="container-group">
                    <vtex:template id="00-0-QDB-Header" />
                </div>
                <!-- /.container-group HEADER -->
                <!-- Section top -->
                <section class="section section-top">
                    <div class="section-top-inner">
                        <div class="inner-col4">
                             <vtex:contentPlaceHolder id="Título H1 + Parágrafo" /> 
                            <h1 class="logo-retornaBere">
                                <img 
                                    class="st-desktop"
                                    src="/arquivos/qdb-recicla-branco.png" 
                                    alt="Recicla - Quem disse, Berenice?"
                                />
                            </h1>
                            <p>
                                <strong>
                                    Já parou pra pensar no efeito que os resíduos produzidos por nós têm na natureza?
                                </strong>
                                A gente já! E por isso criamos este projeto
                            </p>
                        </div>
                        <div class="inner-col3">
                             <vtex:contentPlaceHolder id="Passos 1 e 2" /> 
                            <div class="inner-row">
                                <img src="/arquivos/5EMBALAGENS.png" alt="" />
                                
                                <p><span>1</span>Junte <strong>5 embalagens vazias</strong> de produtos da marca</p>
                                
                            </div>
                            <div class="inner-row">
                                <img src="/arquivos/BATONS-lp-.png" alt="" />
                                
                                <p>
                                    <span>2</span>Vá até uma de nossas lojas e troque as embalagens por um 
                                    <span>batom cremoso novinho!</span>
                                </p>
                                
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section section-infos">
                    <div class="section-infos-inner">
                        <div class="inner-row">
                            <span>Mais informações sobre a iniciativa</span>
                            <span>
                                <p class="openPop">Embalagens participantes</p>
                                <div class="infos-popup">
                                    <span class="close-popup"></span>
                                    <div class="popup-inner">
                                        <vtex:contentPlaceHolder id="Info - Embalagens" /> 
                                        
                                    </div>
                                    <a>OK</a>
                                </div>
                            </span>

                            <span>
                                <p class="openPop">Confira nosso regulamento</p>
                                <div class="infos-popup">
                                    <span class="close-popup"></span>
                                    <div class="popup-inner">
                                        <vtex:contentPlaceHolder id="Info - Regulamento" />
                                    </div>
                                    <a>Entendi</a>
                                </div>
                            </span>

                            <span>
                                <p class="openPop">Perguntas frequentes</p>
                                <div class="infos-popup">
                                    <span class="close-popup"></span>
                                    <div class="popup-inner">
                                        <vtex:contentPlaceHolder id="Info - Perguntas FAQ" /> 
                                        
                                    </div>
                                    <a>Fechar</a>
                                </div>
                            </span>
                        </div>
                    </div>
                </section>
                <!-- Section infos:end -->


                
                <div class="main">
                </div>
                <!-- /.main -->

                <footer class="footer">
                    <vtex:template id="00-0-QDB-Footer" />
                </footer>
                <!-- /.footer -->
                <section class="texto--legal" style="display:block;">
                    <div class="shell">
                        <vtex:contentPlaceHolder id="Texto Legal (Promoções)" />
                    </div>
                </section>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper-inner -->
    </div>
    <!-- /.wrapper -->
    <!-- <vtex:contentPlaceHolder id="Codes etc" /> -->
    <script type="text/javascript" src="/arquivos/new_qdb_functions.js"></script>
    <vtex:contentPlaceHolder id="Scripts" />
</body>

</html>