<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-BR" class="_d-top">

<head>
    <script>
        $(function () {
            document.title = '<vtex:contentPlaceHolder id="Título da página" />';
        });
    </script>
    <vtex:contentPlaceHolder id="Metatags" />
    <vtex:template id="00-0-QDB-Head" />

    <link rel="stylesheet" href="/arquivos/QA-QDB-LP-Sustentabilidade.css" />
</head>

<body>
    <div class="container-group">
        <vtex:template id="00-0-QDB-Header" />
    </div>

    <section class="header-section">
        <div class="header-section__inner shell">
            <div class="header-section__container">
                <h2 class="header-section__text">Contribuir com o<br/></h2>
                <h2 class="header-section__middle-text">MEIO AMBIENTE</h2>
                <h2 class="header-section__final-text">é responsabilidade de todos nós.<br/> Vamos nessa?</h2>
            </div>
        </div>
    </section>

    <div class="shell container">
        <section class="products-section__container">
            <div class="products-section">
                <p class="products-section__text">
                    veja nosso <strong>top 3 produtos mais sustentáveis:</strong>
                </p>
            </div>

            <section class="products-section__list">

                <div class="products-section__single">
                    <div class="products-section__single__image">
                        <div class="numeral_icon">
                            <img src="/arquivos/first-icon.svg" />
                            <img src="/arquivos/lapis-batom.png" alt="tem cartucho PCR² e é feito de madeira de reflorestamento." />
                        </div>
                    </div>

                    <div class="products-section__info">
                        <!-- img numero -->

                        <div class="products__info">

                            <div class="products-section__first-container">

                                <div class="products-section__single__text products-section__first-product">
                                    <p>
                                        <strong>Lápis-batom</strong>
                                    </p>
                                    <p>tem cartucho PCR² e é feito de madeira de reflorestamento.</p>
                                </div>

                                <div class="container-selo">
                                    <img src="/arquivos/fsc-selo.svg" alt="Selo FSC" />
                                </div>
                            </div>

                            <a href="#" class="products-section__button">Comprar</a></div>
                    </div>
                </div>

                <div class="products-section__single">
                    <div class="products-section__single__image">
                        <div class="numeral_icon">
                            <img src="/arquivos/second-icon.svg" />
                            <img src="/arquivos/glitter-pigmento.png" alt="tem cartucho PCR² e não possui partículas plásticas." />
                        </div>
                    </div>

                    <div class="products-section__info">
                        <div class="products-section__single__text glitter">
                            <p><strong>Glitter e pigmento para olhos</strong></p>
                            <p>tem cartucho PCR² e não possui partículas plásticas.</p>
                        </div>

                        <a href="#" class="products-section__button">Comprar</a>
                    </div>
                </div>

                <div class="products-section__single">
                    <div class="products-section__single__image">
                        <div class="numeral_icon">
                            <img src="/arquivos/third-icon.svg" />
                            <img src="/arquivos/sombra.png" alt="têm cartucho PCR² e são refiláveis." />
                        </div>
                    </div>

                    <div class="products-section__info">
                        <div class="products-section__single__text">
                            <p><strong>Sombras</strong></p>
                            <p>têm cartucho PCR² e são refiláveis.</p>
                        </div>

                        <a href="#" class="products-section__button">Comprar</a>
                    </div>
                </div>

            </section>

            <section class="products-section__product-info">
                <h2>
                    1 - FSC é uma sigla em inglês para a palavra Forest Stewardship Council, ou Conselho de Manejo Florestal, em português.<br />
                    2 - Cartucho PCR significa que ele pode ser reciclado pós consumo.
                </h2>
            </section>
        </section>
    </div>

    <section class="showcase-section__container">
        <div class="showcase-section__inner shell">
            <div class="header-section__container showcase-section__content">
                <h2 class="showcase-section__middle-text">Nenhum produto</h2>
                <h2 class="showcase-section__middle-text">quem disse, berenice?</h2>
                <h2 class="showcase-section__middle-text">é testado em animais.</h2>
                <h2 class="showcase-section__final-text">Conheça nossos produtos veganos: </h2>
            </div>
        </div>
    </section>

    <section class="fundation-section__container">
            <div class="fundation-section__container__info">
                <h2>Fundação Grupo Boticário</h2>

                <h2>A Fundação Grupo Boticário, criada em 1990, tem como principal objetivo, a preservação da natureza brasileira.</h2>

                <h2>Mas como? Apoiando projetos de outras organizações; protegendo áreas naturais próprias; investindo em estratégias inovadoras de conservação; disseminando conhecimento e sensibilizando a sociedade para que a conservação da natureza seja reconhecida como uma das causas mais relevantes.</h2>

                <h2>Pra nós, é. E pra você? Vem com a gente!</h2>

                <a href="#" class="fundation-section__button">Clique e conheça mais sobre a Fundação</a>
            </div>


        <div class="fundation-section__container__image">
            <img src="/arquivos/passaro.png" alt="" srcset="" />
        </div>
    </section>

    <section class="recicla-section__container">
        <div class="recicla-section__container__info">
            <h2>Aqui você ajuda o meio ambiente e ainda ganha um batom!</h2>
            <h2>Sabia que a gente recicla as embalagens vazias de produtos de qualquer marca de maquiagem?</h2>
        </div>

        <div class="recicla-section__container__image">
            <img class="st-desktop" src="/arquivos/qdb-recicla-branco.png?v=637081449567930000" alt="Recicla - quem disse, berenice?" />
        </div>
    </section>

    <section class="recicla-info__container">
        <div class="recicla-info">Você sabia?</div>
        <div class="recicla-number">
            <p>Embalagens <br /> recicladas </p>
            <p>13.534</p>
        </div>
    </section>

    <section class="glossary-section__container">
        <h3 class="glossary-section__title">GLOSSÁRIO DA SUSTENTABILDIADE</h3>

        <div class="glossary__item">
            <h4 class="glossary__item__question">Eco Álcool</h4>

            <div class="glossary__item__answer">

            </div>

        </div>

        <div class="glossary__item">
            <h4 class="glossary__item__question">Ecoglitter</h4>

            <div class="glossary__item__answer">

            </div>

        </div>

        <div class="glossary__item">
            <h4 class="glossary__item__question">PCR (resina reciclada-pós-consumo)</h4>

            <div class="glossary__item__answer">

            </div>

        </div>

        <div class="glossary__item">
            <h4 class="glossary__item__question">Plástico vegetal</h4>

            <div class="glossary__item__answer">
                - Plástico 100% renovável, feito a partir da cana-de-açúcar
            </div>

        </div>

    </section>

    <footer class="footer">
        <vtex:template id="00-0-QDB-Footer" />
    </footer>
    <script src="/arquivos/QDB-LP-Recicla.js"></script>
</body>
</html>
