<!-- 10-05-2018 15h50pm -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-BR" class="_d-top">

<head>
    <title>Promoções de maquiagens, perfumaria e cosméticos | quem disse, berenice?</title>
    <!-- <script>    
        $(function (){
            document.title = '<vtex:contentPlaceHolder id="Título da página" />';
        });
    </script> -->
    <vtex:contentPlaceHolder id="metatags" />
    <vtex:template id="00-0-QA-QDB-Head" />
    <!--<vtex:template id="00-0-QDB-Head" />-->
    
    <link rel="stylesheet" href="/arquivos/QA-QDBCommon-category.css"/>

    <!-- <script>
    window.chaordic_meta = {
        page: {
            name: "other"
        }
    };
    </script> -->
    <link rel="stylesheet" href="/arquivos/QA-QDB-LP-Promocao.css"/>

    <vtex:contentPlaceHolder id="HEAD Elementos da Head do HTML" />
</head>

<body>
    <div class="container-group">
        <vtex:template id="00-0-QA-QDB-Header" />
        <!--<vtex:template id="00-0-QDB-Header" />-->
    </div>
    <!-- /.container-group -->
    <article class="promo">
        <div class="shell">
            <div class="breadcrumbs">
                <vtex.cmc:breadCrumb />
            </div><!-- /.breadcrumbs -->
        </div><!-- /.shell -->
        
        <section class="promo__titleContainer">
            <div class="promo__titleContainer__content">
                <vtex:contentPlaceHolder id="hero-text" />
            </div>
        </section>
        
        <div class="promo__topProducts">
            <div class="shell">
                <h2 class="promo__topProducts__title"></h2>
                <div class="promo__collectionPlaceholder hidden"></div>
                <div class="promo__topProducts__render-collection"></div>
            </div>
        </div>

        <section class="promo__banners">
            <vtex:contentPlaceHolder id="carousel-title" />
            <div id="promo__banners--render" class="promo__banners__container">
            </div>
            <noscript class="promo__banners__source">
                <vtex:contentPlaceHolder id="Carrossel - Ofertas" />
            </noscript>
        </section>
        
        <!--<section class="section section-chaordic">-->
        <!--    <div chaordic="top"></div>-->
        <!--</section>-->

        <!-- <section class="titulo-da-vitrine">
            <h2><vtex:contentPlaceHolder id="h2 titulo da vitrine" /></h2>
        </section> -->

        <section class="promo__collection">
            <div class="shell">
                <div class="promo__collection__title">
                    <vtex:contentPlaceHolder id="options-title" />
                </div>
                <div class="promo__collection__selection">
                    <nav class="promo__collection__selection__options">
                        <vtex:contentPlaceHolder id="options-buttons" />
                    </nav>
                </div>
            </div>

            <div class="filters">
                <div class="shell">
                    <header class="filters-head">
                        <p> <span class="total-prpduct"></span> produtos encontrados</p>     
                        <div class="form-filters">
                            <form action="?" method="post">
                                <div class="cols">
                                    <div class="col form-col-size2">
                                        <div class="custom-select custom-select-secondary fake">
                                            <a href="#filters" class="custom-select-text toggle">filtrar</a>
                                        </div><!-- /.custom-select -->
                                    </div><!-- /.col form-col-size2 -->
                                    
                                    <div class="col form-col-size2">
                                        <label for="field-ordenar" class="form-label hidden">ordenar</label>
                                        
                                        <div class="form-controls custom-select custom-select-secondary">
                                            <p class="custom-select-text">ordenar por</p><!-- /.custom-select-text -->
                                        </div><!-- /.form-controls -->
                                    </div><!-- /.col form-col-size2 -->

                                    <div class="col form-toggles form-col-size1" id="filters">
                                        <div class="cols">
                                            <div class="col col-1of3" id="slector-preco">
                                                <label for="field-preco" class="form-label hidden">preco</label>
                                                
                                                <div class="form-controls custom-select slector-preco">
                                                    <p class="custom-select-text">faixa de preço</p><!-- /.custom-select-text --> 
                                                </div><!-- /.form-controls -->
                                            </div><!-- /.col col-1of3 -->
                                            
                                            <div class="col col-1of3" id="slector-cor">
                                                <label for="field-cor" class="form-label hidden">cor</label>
                                                
                                                <div class="form-controls custom-select slector-cor">
                                                    <p class="custom-select-text">cor</p><!-- /.custom-select-text -->
                                                </div><!-- /.form-controls -->
                                            </div><!-- /.col col-1of3 -->
                                            
                                            <div class="col col-1of3" id="slector-hoje-quero">
                                                <label for="field-hoje" class="form-label hidden">hoje</label>
                                                
                                                <div class="form-controls custom-select slector-hoje-quero">
                                                    <p class="custom-select-text">hoje eu quero</p><!-- /.custom-select-text -->
                                                </div><!-- /.form-controls -->
                                            </div><!-- /.col col-1of3 -->

                                            <div class="col col-1of3" id="slector-marca" style="display: none;">
                                                <label for="field-marca" class="form-label hidden">marca</label>
                                                <div class="form-controls custom-select">
                                                    <p class="custom-select-text">marca</p><!-- /.custom-select-text -->
                                                </div><!-- /.form-controls -->
                                            </div><!-- /.col col-1of3 -->

                                            <div class="col col-1of3" id="slector-familia-olfativa" style="display: none;">
                                                <label for="field-marca" class="form-label hidden"> família olfativa </label>
                                                <div class="form-controls custom-select">
                                                    <p class="custom-select-text"> família olfativa </p><!-- /.custom-select-text -->
                                                </div><!-- /.form-controls -->
                                            </div><!-- /.col col-1of3 -->
                                        </div><!-- /.cols -->
                                    </div><!-- /.col form-col-size1 -->
                                </div><!-- /.col -->
                            </form>
                        </div><!-- /.form-filters -->
                    </header><!-- /.filters-head -->
                
                    
                    <div class="contentProducts">
                        <div class="collectionPlaceholder hidden">
                            <vtex.cmc:searchResult layout="d286cd4f-3188-446a-bd8f-4b525e7ef377" itemCount="24" columnCount="24"/>
                        </div>
                        <div class="contentProducts__render-collection render-collection"></div>
                    </div><!-- /.contentProducts -->  
                    
                </div><!-- /.shell -->
            </div><!-- /.filters -->
        </section>
    </article>
    <footer class="footer">
        <vtex:template id="00-0-QA-QDB-Footer" />
        <script src="/arquivos/QA-QDBCommon-Category.js"></script>
        <script src="/arquivos/QA-QDB-LP-Promocao.js"></script>
        <!--<vtex:template id="00-0-QDB-Footer" />-->
    </footer>
    <!-- /.footer -->
    
    <section class="texto--legal">
        <div class="shell">
            <vtex:contentPlaceHolder id="Texto Legal (Promoções)" />
        </div>
    </section>
</body>
</html>