<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-BR" class="_d-top">
<head>
    <title>fazemos sua maquiagem| quem disse, berenice?</title>
    <meta name="description" content="Faça sua maquiagem com a gente, o valor é 100% revertido em produtos. Aprenda automaquiagem, faça maquiagem de festa, para o dia a dia e muito mais! Confira aqui todos os nossos serviços!"/>
    <link rel="canonical" href="https://www.quemdisseberenice.com.br/servicos" />
    <meta property="og:url" content="https://www.quemdisseberenice.com.br/servicos " />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="fazemos sua maquiagem| quem disse, berenice? " />
    <meta property="og:description" content="Faça sua maquiagem com a gente, o valor é 100% revertido em produtos. Aprenda automaquiagem, faça maquiagem de festa, para o dia a dia e muito mais! Confira aqui todos os nossos serviços!" />
    <vtex:metaTags />
    <vtex:template id="00-0-QDB-Head" />

    <link rel="stylesheet" href="/arquivos/QDB-LP-Menu-de-makes.css"/>
</head>
<body>
    <div class="container-group">
        <vtex:template id="00-0-QDB-Header" />
    </div>
    <div class="principal-banner">
        <div class="principal-banner--img">
            <img src="/arquivos/topo-menu-de-makes.png" class="principal-banner--img--desk" alt="Banner Topo Faça Sua Maquiagem quem disse, Berenice?" title="Faça Sua Maquiagem quem disse, Berenice?" />
            <img src="/arquivos/topo-menu-de-makes-mobile.png" class="principal-banner--img--mobile" alt="Banner Topo Faça Sua Maquiagem quem disse, Berenice?" title="Faça Sua Maquiagem quem disse, Berenice?" />
        </div>
        <div class="principal-banner--text">
            <h1>Faça sua maquiagem <br/> com a gente</h1>
            <p>Agora você já pode ser maquiada em nossas lojas<br/>
                e sair pronta. E o melhor: <b class="principal-banner--text__bold">você ainda leva 100% do valor<br/>
                em produtos.</b> Escolha entre maquiagens para festa, entrevista,<br/>
                jantar romântico ou qualquer outro momento que você quiser<br/>
                e vá ou ligue para uma loja quem disse, berenice? para agendar seu horário*.
            </p>
            <div class="principal-banner--text--svg"><vtex.cmc:SVGLPBelisco /></div> 
        </div>
    </div>

    <div class="beneficios">
        <h3 class="beneficios--title">Benefícios</h3>
        <span class="beneficios--itens">
            <img class="beneficios--itens--img" src="/arquivos/valor-dos-produtos.png" alt="" />
            <h3 class="beneficios--itens--title">100% do valor em produtos</h3>
        </span>
        <span class="beneficios--itens">
            <img class="beneficios--itens--img" src="/arquivos/agendamento.png" alt="" />
            <h3 class="beneficios--itens--title">Agendamento online rápido e fácil</h3>
        </span>
        <span class="beneficios--itens">
            <img class="beneficios--itens--img" src="/arquivos/atendimento.png" alt="" />
            <h3 class="beneficios--itens--title">atendimento personalizado</h3>
        </span>
    </div>

    <div class="makeup--container">
        <p class="makeup--container--title">Conheça todos os tipos de maquiagem que você pode fazer com a gente:</p>
        <div class="makeup--container__content">
            <div class="makeup--container__content--img"><img src="/arquivos/modulo-festa(1).png" alt="Banner centro maquiagem para festa quem disse, Berenice?" title="Faça Sua Maquiagem para festa com quem disse, Berenice?" /> </div>
            <div class="makeup--container__content--text">
                <h2 class="makeup--container__content--text--title">Maquiagem <br/> festa</h2>
                <p class="makeup--container__content--text--text">Quer fazer uma maquiagem incrível e sair direto para <br/> uma festa, um jantar ou happy hour? Temos aplicação<br/> de <b class="makeup--container__content--text--text--bold">maquiagem para todas as ocasiões.</b> Escolha a sua e<br/> agende o seu horário com nossos especialistas aqui.</p>
                <p class="makeup--container__content--text--price">R$ 120<span class="makeup--container__content--text--price--small">em produtos</span></p>
                <span class="makeup--container__content--text--time"><vtex.cmc:SVGLPmin /></span>
                <div class="makeup--container__content--text--svg"><vtex.cmc:SVGLPBelisco /></div> 
            </div>
            <div class="makeup--container__content--slick">
                <div class="makeup--container__content--slick--container">
                    <img src="/arquivos/esfumado-festa.png" alt="Imagem modelo com olho esfumado quem disse, Berenice?" title="Imagem modelo com olho esfumado quem disse, Berenice?" class="makeup--container__content--slick--container--img" />
                    <h3 class="makeup--container__content--slick--container--title">Esfumado</h3>
                    <a href="/nossas-lojas" class="makeup--container__content--slick--container--agendar"><button >agendar</button></a>
                </div>
                <div class="makeup--container__content--slick--container"> 
                    <img src="/arquivos/natural-festa.png" alt="Imagem modelo com maquiagem natural quem disse, Berenice?" title="Imagem modelo com maquiagem natural quem disse, Berenice?" class="makeup--container__content--slick--container--img" />
                    <h3 class="makeup--container__content--slick--container--title">Natural</h3>
                    <a href="/nossas-lojas" class="makeup--container__content--slick--container--agendar"><button >agendar</button></a>
                </div>
                <div class="makeup--container__content--slick--container">
                    <img src="/arquivos/olhao-festa.png" alt="Imagem modelo com olhão maquiado quem disse, Berenice?" title="Imagem modelo com olhão maquiado quem disse, Berenice?" class="makeup--container__content--slick--container--img" />
                    <h3 class="makeup--container__content--slick--container--title">Olhão</h3>
                    <a href="/nossas-lojas" class="makeup--container__content--slick--container--agendar"><button >agendar</button></a>
                </div>
                <div class="makeup--container__content--slick--container">
                    <img src="/arquivos/olho-brilho-festa.png" alt="Imagem modelo olho com brilho quem disse, Berenice?" title="Imagem modelo olho com brilho quem disse, Berenice?" class="makeup--container__content--slick--container--img" />
                    <h3 class="makeup--container__content--slick--container--title">Olho com brilho</h3>
                    <a href="/nossas-lojas" class="makeup--container__content--slick--container--agendar"><button >agendar</button></a>
                </div> 
            </div>
        </div>
        <div class="makeup--container__content">
            <div class="makeup--container__content--img"><img src="/arquivos/automaq-topo.png" alt="Banner centro aprenda automaquiagem quem disse, Berenice?" title="Aprenda automaquiagem quem disse, Berenice?" /> </div>
            <div class="makeup--container__content--text">
                <h2 class="makeup--container__content--text--title">Aprenda <br/> automaquiagem</h2>
                <p class="makeup--container__content--text--text">Com atendimento personalizado, nossos especialistas<br/> te ensinam o passo a passo da maquiagem que você<br/> sempre quis aprender. São 40 minutos de <b class="makeup--container__content--text--text--bold">aprendizado<br/> na prática.</b> Nós fazemos a metade do rosto e, a cada<br/> passo, você aplica na outra metade. Escolha entre as<br/> opções abaixo e agende <a href="" class="makeup--container__content--text--text--link">aqui</a> seu horário.</p>
                <p class="makeup--container__content--text--price">R$ 120<span class="makeup--container__content--text--price--small">em produtos</span></p>
                <span class="makeup--container__content--text--time"><vtex.cmc:SVGLPmin /></span>
                <div class="makeup--container__content--text--svg"><vtex.cmc:SVGLPBelisco /></div> 
            </div>
            <div class="makeup--container__content--slick">
                <div class="makeup--container__content--slick--container">
                    <img src="/arquivos/contorno-automaq.png" alt="Imagem maquiagem contorno e iluminação quem disse, Berenice?" title="Imagem maquiagem contorno e iluminação quem disse, Berenice?" class="makeup--container__content--slick--container--img" />
                    <h3 class="makeup--container__content--slick--container--title">Contorno e iluminação</h3>
                    <a href="/nossas-lojas" class="makeup--container__content--slick--container--agendar"><button >agendar</button></a>
                </div>
                <div class="makeup--container__content--slick--container">
                    <img src="/arquivos/esfumado-automaq.png" alt="Imagem modelo com olho esfumado quem disse, Berenice?" title="Imagem modelo com olho esfumado quem disse, Berenice?" class="makeup--container__content--slick--container--img" />
                    <h3 class="makeup--container__content--slick--container--title">Esfumado</h3>
                    <a href="/nossas-lojas" class="makeup--container__content--slick--container--agendar"><button >agendar</button></a>
                </div>
                <div class="makeup--container__content--slick--container">
                    <img src="/arquivos/natural-automaq.png" alt="Imagem modelo com maquiagem natural quem disse, Berenice?" title="Imagem modelo com maquiagem natural quem disse, Berenice?" class="makeup--container__content--slick--container--img" />
                    <h3 class="makeup--container__content--slick--container--title">Maquiagem Natural</h3>
                    <a href="/nossas-lojas" class="makeup--container__content--slick--container--agendar"><button >agendar</button></a>
                </div>
                <div class="makeup--container__content--slick--container">
                    <img src="/arquivos/olhao-automaq.png" alt="Imagem modelo com olhão maquiado quem disse, Berenice?"  title="Imagem modelo com olhão maquiado quem disse, Berenice?" class="makeup--container__content--slick--container--img" />
                    <h3 class="makeup--container__content--slick--container--title">Olhão</h3>
                    <a href="/nossas-lojas" class="makeup--container__content--slick--container--agendar"><button >agendar</button></a>
                </div>
                <div class="makeup--container__content--slick--container">
                    <img src="/arquivos/olho-brilho-automaq.png" alt="Imagem maquiagem contorno e iluminação quem disse, Berenice?" title="Imagem maquiagem contorno e iluminação quem disse, Berenice?" class="makeup--container__content--slick--container--img" />
                    <h3 class="makeup--container__content--slick--container--title">Olho com brilho</h3>
                    <a href="/nossas-lojas" class="makeup--container__content--slick--container--agendar"><button >agendar</button></a>
                </div>    
            </div>
        </div>
        <div class="makeup--container__content">
            <div class="makeup--container__content--img"><img src="/arquivos/express-topo.png" alt="Banner centro maquiagem rápida quem disse, Berenice?" title="maquiagem express quem disse, Berenice?" /> </div>
            <div class="makeup--container__content--text">
                <h2 class="makeup--container__content--text--title">Maquiagem <br/> Express</h2>
                <p class="makeup--container__content--text--text">Uma demonstração com dicas rápidas para você<br/> conhecer nossos produtos em 15 minutos. <b class="makeup--container__content--text--text--bold">Não precisa <br/>agendar: </b>é só chegar e checar a disponibilidade dos <br/>nossos especialistas. Veja abaixo algumas opções. </p>
                <p class="makeup--container__content--text--price">GRATUITO</p>
                <span class="makeup--container__content--text--time"><vtex.cmc:SVGLPminq /></span>
                <div class="makeup--container__content--text--svg"><vtex.cmc:SVGLPBelisco /></div> 
            </div>
            <div class="makeup--container__content--slick">
                <div class="makeup--container__content--slick--container">
                    <img src="/arquivos/delineado-express.png" alt="Imagem modelo com delineado quem disse, Berenice?" title="modelo com delineado quem disse, Berenice?" class="makeup--container__content--slick--container--img" />
                    <h3 class="makeup--container__content--slick--container--title">Delineado</h3>
                </div>
                <div class="makeup--container__content--slick--container">
                    <img src="/arquivos/simbra-express.png" alt="Imagem sombra dia a dia quem disse, Berenice?" title="sombra dia a dia quem disse, Berenice?" class="makeup--container__content--slick--container--img" />
                    <h3 class="makeup--container__content--slick--container--title">Sombra dia a dia</h3>               
                </div>
                <div class="makeup--container__content--slick--container">
                    <img src="/arquivos/pele-express.png" alt="Imagem modelo pele natural quem disse, Berenice?" title="modelo pele natural quem disse, Berenice?" class="makeup--container__content--slick--container--img" />
                    <h3 class="makeup--container__content--slick--container--title">Pele</h3>                
                </div>
                <div class="makeup--container__content--slick--container">
                    <img src="/arquivos/labios-express.png" alt="Imagem modelo labios express quem disse, Berenice?" title="labios dia a dia quem disse, Berenice?" class="makeup--container__content--slick--container--img " />
                    <h3 class="makeup--container__content--slick--container--title">Labios</h3>       
                </div> 
            </div>
        </div>
    </div>
    <footer class="footer">
            <vtex:template id="00-0-QDB-Footer" />
            <script src="/arquivos/QDB-LP-Menu-de-makes.js"></script>
    </footer>
    <section class="texto--legal">
        <div class="shell">
            <p> *Lojas participantes: Barra Shopping (Rio de Janeiro), Shopping Tijuca (Rio de Janeiro), Shopping Dom Pedro (Campinas), Carioca Shopping (Rio de Janeiro), Shopping Tamboré (São Paulo), Center Norte (São Paulo), Pátio Paulista (São Paulo), Shopping Cidade de São Paulo (São Paulo), Mooca Plaza Shopping (São Paulo), Shopping Itaquera (São Paulo).</p>
        </div>
    </section>
</body>
</html>