<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-BR" class="_d-top">
<head>
    <title>nosso clube</title>
    <vtex:metaTags />
    <vtex:template id="00-0-QDB-Head" />
    
    <link rel="stylesheet" href="/arquivos/new-qdb-resume-user-reskin.css" />
    <link rel="stylesheet" href="/arquivos/new-qdb-clube-das-beres-reskin2.css" />
</head>

<body>

    <div class="wrapper">
        <div class="cart" id="cart1" data-item="wish">
            <!--my-lists-button></my-lists-button-->
            <!--vtex:template id="new-qdb-wishlist"/-->
        </div>
        
        <div class="wrapper-inner">
            <div class="container">
                <div class="main">
                    <div class="container-group header-follder-page">
                        <vtex:template id="00-0-QDB-Header" />
                    </div><!-- /.container-group -->

                    <div class="breadcrumbs">
                        <div class="shell">
                            <a href="/">página inicial</a>
                            <span> ></span>
                            <a href="#" class="current">nosso clube</a>
                        </div><!-- /.shell -->
                    </div>

                    <section class="main-banner">
                        <div class="content-banner">
                            <img src="/arquivos/qdb-nosso-clube-branco.png" width="290" alt="nosso clube"/>
                            <p>Aqui suas compras viram pontos, <br />e seus pontos viram novos produtos!</p>
                        </div>
                    </section><!-- /.main-banner -->

                    <section class="register-login">
                        <div class="register">
                            <h2>Como participar?</h2>
                            <p>Você pode se cadastrar aqui mesmo, ou numa das nossas lojas físicas! ah, e dá pra entrar pro nosso clube antes mesmo de comprar!</p>
                            <a href="#" class="pop-cadastro btn btn-blue">quero participar</a>
                        </div>
                        <div class="login">
                            <h2>Já sou do clube</h2>
                            <p>Se você já faz parte do nosso clube, <br/>entra na sua conta e vem aproveitar <br/>todos os benefícios exclusivos! </p>
                            <a href="/account" class="btn btn-blue">minha conta</a>
                        </div>
                    </section><!-- /.register-login -->

                    <section class="more-about">
                        <h3>Quer saber mais?</h3>
                        <ul class="tabs-nav">
                            <li class="tab-nav active">
                                <a href="#beneficios">
                                    <i class="ico-percent"></i><span>benefícios<br/>exclusivos</span>
                                </a>
                            </li>
                            <li class="tab-nav">
                                <a href="#pontos">
                                    <i class="ico-star"></i><span>acumule<br/>pontos</span>
                                </a>
                            </li>
                            <li class="tab-nav">
                                <a href="#como-funciona">
                                    <i class="ico-ask"></i><span>como<br/>funciona?</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="tabs-content">
                            <li class="beneficios tab-content active" id="beneficios">
                                <div class="wrap-tab">
                                    <div class="desc-video">
                                        <h4>Benefícios exclusivos</h4>
                                        <p>Fazendo seu cadastro no nosso clube, você tem:</p>
                                        <ul>
                                            <li>Acesso à promoções exclusivas baseadas nos seus interesses</li>
                                            <li>Presente de aniversário</li>
                                            <li>Pré-venda dos nossos produtos</li>
                                            <li>Acúmulo de pontos</li>
                                            <li>Ações com produtos e eventos exclusivos</li>
                                            <li>e muito mais</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="pontos tab-content" id="pontos">
                                <div class="wrap-tab">
                                    <div>
                                        <h4>Acumule pontos</h4>
                                        <p><span class="span-bold">A cada R$ 1 em compras você ganha 1 ponto</span> pra trocar por desconto na compra de outros produtos.</p>
                                        <p class="btn-false"><span class="span-bold">R$ 1 =</span> <span class="span-blue"><i class="ico-star"></i>1 ponto</span></p>
                                        <p><span class="span-bold">A cada 100 pontos acumulados, você tem R$5 de desconto</span> pra usar numa próxima compra.</p>
                                        <p>Ah, vale lembrar que os pontos têm validade de 12 meses e você só pode <span class="span-bold">trocá-los*</span> quando tiver o mínimo de 100 pontos, ok?</p>
                                    </div>
                                </div>
                            </li>
                            <li class="como-funciona tab-content" id="como-funciona">
                                <div class="wrap-tab">
                                    <div>
                                        <h4>Como funciona?</h4>
                                        <p>O nosso clube é um programa de fidelidade que sempre traz novidades e dá um monte de benefícios exclusivos pra você!</p>
                                        <ul>
                                            <li>Acumule pontos e troque por descontos!</li>
                                            <li>Saiba dos lançamentos antes de todo mundo.</li>
                                            <li>Produtos, promoções e presentes exclusivos.</li>
                                            <li>Vale pras compras nas nossas lojas e no site.</li>
                                            <li>Ah! você não precisa fazer nenhuma compra pra começar a participar.</li>
                                        </ul>
                                        <a href="#" class="pop-regulamento sec-link">quero ver o regulamento completo</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </section><!-- /.more-about -->

                    <section class="faq">
                        <h3>Perguntas e respostas</h3>
                        <div class="faq-accordion">
                            <div class="accordion-section">
                                <div class="accordion-head">
                                    <p>Como eu acumulo pontos?</p>
                                </div>
                                <div class="accordion-body">
                                    <p>A cada R$1 gasto em uma das nossas lojas, você ganha 1 ponto na sua conta do nosso clube.</p>
                                </div>
                            </div>
                            <div class="accordion-section">
                                <div class="accordion-head">
                                    <p>Como eu troco meus pontos?</p>
                                </div>
                                <div class="accordion-body">
                                    <p>A cada 100 pontos acumulados, você tem direito a R$ 5,00 de crédito no pagamento de qualquer produto ou serviço. aí funciona assim: você pode usar os pontos pra ter um desconto na sua compra ou pagar ela inteira! Mas olha, você só pode fazer essa troca quando tiver o saldo mínimo de 100 pontos, ok?</p>
                                </div>
                            </div>
                            <div class="accordion-section">
                                <div class="accordion-head">
                                    <p>Como funcionam as promoções exclusivas?</p>
                                </div>
                                <div class="accordion-body">
                                    <p>A gente sempre prepara promoções exclusivas pras consumidoras cadastradas no nosso clube &#60;3 pra saber delas é só ficar de olho nos e-mails que a gente envia, nas publicações na nossa página no Facebook e no nosso site (ah! pra ter acesso às promos na nossa loja virtual, você precisa fazer o login na sua conta, tá?). <br/>Se você for comprar em uma das nossas lojas físicas, você precisa levar um print do nosso e-mail ou da nossa publicação no Facebook pra mostrar pra vendedora.</p>
                                </div>
                            </div>
                            <div class="accordion-section">
                                <div class="accordion-head">
                                    <p>Tem presente de aniversário?</p>
                                </div>
                                <div class="accordion-body">
                                    <p>No mês de aniversário das berês, a gente sempre manda um e-mail com uma surpresa! é só ficar de olho nas nossas mensagens ;) não esquece que pra participar você precisa levar um print do e-mail na loja, combinado?</p>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="btn btn-blue">carregar mais perguntas</a>
                        <p><span class="span-bold">Ficou ainda com alguma dúvida ?</span> veja o <a class="pop-regulamento span-bold span-blue" href="#">regulamento completo</a>, acesse nosso <a class="span-bold span-blue" href="/institucional/atendimento">faq</a> ou fale com a gente!</p>
                    </section>    
                </div><!-- /.main -->
                <footer class="footer">
                    <vtex:template id="00-0-QDB-Footer" />
                </footer><!-- /.footer -->
            </div><!-- /.container -->
        </div><!-- /.wrapper-inner -->

        <!-- Overlay modal -->
        <span class="overlay-clube"></span>
        <!-- /.popup popup-steps -->
        <div class="popup-steps popup-form popup-video" id="popup-video">
            <i class="ico-close-modal"></i>
            <iframe width="990" height="557" src="https://www.youtube.com/embed/b1zG0aeU6ro" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        </div>
        <!-- Cadastrar -->
        <div class="modal--beres" id="clubSignUp">
          <div class="modal-top">
            <div class="name">Cadastro 1/3</div>
            <div class="--close">X</div>
          </div>
          <img class="logo-fidelidade" src="/arquivos/qdb-nosso-clube-preto.png" width= "275" alt="nosso clube"/>
          <p class="modal-info">É só se cadastrar e começar a aproveitar</p>
          <form action="">
            <div class="step step-1">
              <div class="form-group group-cpf">
                <input class="field beres-cpf" type="text" name="cpf" required="required" id="field-cpf" value="" placeholder="" maxlength="14" autocomplete="off"/>
                <label class="control-label" for="cpf">CPF</label>
                <button class="--next"><svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M8.16388 1.32897L11.442 4.60709H0.831234C0.615568 4.60709 0.399902 4.82276 0.399902 5.03843C0.399902 5.29723 0.615568 5.46976 0.831234 5.46976H11.442L8.16388 8.79102C7.77568 9.17922 8.37955 9.78308 8.76774 9.39488L12.8223 5.34036C12.9948 5.16783 12.9948 4.90903 12.8223 4.77963L8.76774 0.725106C8.37955 0.336907 7.77568 0.940772 8.16388 1.32897Z" fill="white"/>
</svg>
                </button><i class="input-bar"></i><small class="hidden">CPF Obrigatório</small>
              </div>
            </div>
            <div class="step step-2 hidden">
              <div class="form-group group-nome">
                <input class="field beres-nome" type="text" name="nome" required="required" id="field-nome" value="" placeholder="" autocomplete="off"/>
                <label class="control-label" for="nome">Nome*</label><i class="input-bar"></i><small class="hidden">Favor fornecer um sobrenome</small>
              </div>
              <div class="form-group group-email">
                <input class="field beres-email" type="text" name="email" required="required" id="field-email" value="" placeholder="" autocomplete="off"/>
                <label class="control-label" for="email">E-mail*</label><i class="input-bar"></i><small class="hidden"></small>
              </div>
              <div class="form-group inline group-datenasc">
                <input class="field beres-datenasc" type="text" name="datenasc" required="required" id="field-datenasc" value="" placeholder="" autocomplete="off"/>
                <label class="control-label" for="datenasc">Data de Nasc.*</label><i class="input-bar"></i><small class="hidden"></small>
              </div>
              <div class="form-group inline group-cel">
                <input class="field beres-cel" type="text" name="cel" required="required" id="field-cel" value="" placeholder="" autocomplete="off"/>
                <label class="control-label" for="cel">Celular*</label><i class="input-bar"></i><small class="hidden"></small>
              </div>
              <div class="checkbox group-newsletter">
                <label>
                  <input type="checkbox" name="newsletter"/><i class="helper"></i>Quero receber novidades e promoções.
                </label>
              </div>
              <div class="checkbox group-terms">
                <label>
                  <input type="checkbox" name="terms"/><i class="helper"></i>Concordo com os <a href="/institucional/termos-de-uso" target="_blank">termos de uso</a>, <a href="/institucional/politica-de-privacidade" target="_blank">política de privacidade</a> e <a class="pop-regulamento" href="#">regulamento</a>.
                </label>
              </div>
              <div class="button-container">
                <input class="--btn-fidelidade" type="submit" value="Cadastrar"/>
              </div>
            </div>
            <div class="step step-3 hidden">
              <p class="confirm-subscription">Agora você faz parte do <b>nosso clube!</b></p>
              <p class="benefit"><b>A cada R$ 1 em compras você ganha 1 ponto</b> pra trocar por desconto na compra de outros produtos</p>
              <p class="benefit-highlight">R$1 = <svg xmlns="http://www.w3.org/2000/svg" width="1.1em" height="1.1em" viewBox="0 0 226.8 226.8"><path d="M224.4 89c-2-5.7-7.3-9.7-13.4-10.2L156.2 75l-28.4-63c-2.5-5.5-7.9-9-13.9-9s-11.4 3.5-13.9 8.9L71.1 75l-55.4 3.9c-6 .4-11.3 4.4-13.3 10.2-2 5.8-.4 12.2 4 16.3l45.3 41.9-17.5 57.5c-1.8 5.8 0 12.1 4.6 16 2.8 2.4 6.4 3.7 10 3.7 2.2 0 4.5-.5 6.5-1.5l5.5-2.6c0 .1.1.1.1.2L102 201c3.8-1.8 5.4-6.4 3.6-10.2-1.8-3.8-6.4-5.4-10.2-3.6l-16.2 7.7c0-.1 0-.1-.1-.2l-30.5 14.4 20.3-66.6-52.1-48.4 64.4-4.5 32.6-71.4L146 89.6l64 4.5-52.2 48.4 20.7 66.6-2-1-43.8-20.9c-3.8-1.8-8.4-.2-10.2 3.6-1.8 3.8-.2 8.3 3.5 10.1l46 21.9c2.1 1 4.3 1.5 6.6 1.5 3.6 0 7.2-1.3 10-3.7 4.6-4 6.4-10.3 4.6-16.1l-17.9-57.4 45.1-41.9c4.4-4 6-10.4 4-16.2z" fill="#00A7E1"/></svg> 1 ponto</p>
              <p class="benefit"><b>E a cada 100 pontos acumulados , você tem R$ 5 de desconto</b> pra usar numa próxima compra, aproveite!</p>
              <button class="--btn-fidelidade-confirm --btn-fidelidade">Ok, entendi!</button>
            </div>
            <div class="loading-form hidden">
              <div class="input-bar"><svg id="loader" width="20" height="20" xmlns="http://www.w3.org/2000/svg" style="animation:ROTOR 2s ease infinite"><style>@keyframes ROTOR{0%,50%{transform:rotate(0deg)}to{transform:rotate(360deg)}}@keyframes DASHLOADER{0%,to{stroke-dasharray:1px,45px;stroke-dashoffset:0}50%{stroke-dasharray:35px,45px;stroke-dashoffset:0}}@keyframes LOADERROTORFULL{0%{transform:rotate(0deg)}to{transform:rotate(360deg)}}</style><g style="width:20px;height:20px;transform-origin:center center;animation:LOADERROTORFULL 1.6s linear infinite"><circle cx="10" cy="10" r="6" fill="none" stroke-width="2" style="animation:DASHLOADER 2s ease infinite" stroke-linecap="square" stroke="white"/></g></svg> 
<svg id="checked" width="20" height="20" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="9.5" fill="transparent" stroke="#fff" stroke-linejoin="round"/><path d="M16.006 6.006a.989.989 0 0 0-.51.201c-2.917 2.228-5.1 4.065-7.885 6.215l-3.169-2.04a.98.98 0 0 0-.299-.126 1.136 1.136 0 0 0-.669.043.879.879 0 0 0-.268.162.644.644 0 0 0-.165.229.518.518 0 0 0 .058.51.737.737 0 0 0 .214.203l3.788 2.441c.168.108.383.163.603.155.22-.007.427-.078.58-.197 3.127-2.386 5.36-4.3 8.45-6.658a.635.635 0 0 0 .253-.363.526.526 0 0 0-.075-.407.792.792 0 0 0-.375-.296 1.114 1.114 0 0 0-.53-.072z" fill="#fff"/></svg> 
              </div>
              <p class="texto-validacao">Validando Dados</p>
            </div>
          </form>
        </div>
        <!-- Cadastrar realizado com sucesso -->
        <div class="popup-steps popup-form" id="content-sucesso" style="height:auto">
            <i class="ico-close-modal"></i>
            <div class="form-register">
                <form action="?" method="post">
                    <div class="form-head">
                        <img src="/arquivos/cdb-logo-preto.png" width="239" alt="nosso clube"/>
                    </div>
                    <!-- /.form-head -->
                    <div class="form-body">
                        <h3>agora você faz parte do nosso clube!</h3>
                        <p>fique de olho, agora você tem benefícios exclusivos e<br/>quanto mais comprar, tem pontos e vantagens incríveis pra você.</p>
                    </div>
                    <!-- /.form-body -->

                    <div class="form-actions">
                        <a href="/account" alt="account" class="form-btn btn-blue btn">continuar</a>
                    </div>
                    <!-- /.form-actions -->
                </form>
            </div>
            <!-- /.form-register -->
        </div><!-- /.popup popup-steps -->
        <!-- regulamento -->
        <div class="popup-steps popup-form" id="content-regulamento">
            <i class="ico-close-modal"></i>
            <div class="form-register">
                <form action="?" method="post">
                    <div class="form-head">
                        <img src="/arquivos/qdb-nosso-clube-preto.png" width="239" alt="nosso clube"/>                        
                    </div>
                    <!-- /.form-head -->

                    <div class="form-body">
                        <div class="form-inner custom-scrollbar">
                            <h3>regulamento do programa fidelidade quem disse, berenice?</h3>
                            <h4>também achamos essas coisas de políticas um pouco chatas, mas escrevemos para evitar qualquer dúvida. então, força - sabemos que você vai conseguir ler até o fim!</h4>
                            <br/>

                            <div class="regulamentoContent">
                                <vtex:contentPlaceHolder id="Regulamento HTML"/>
                            </div>
                           
                        </div>
                        <!-- /.form-inner -->
                    </div>
                    <!-- /.form-body -->

                        <div class="form-actions">
                            <input type="submit" value="quero participar" class="form-btn btn-blue btn" />
                        </div>
                        <!-- /.form-actions -->
                    </form>
                </div>
                <!-- /.form-register -->
            </div><!-- /.popup popup-steps -->
    </div><!-- /.wrapper -->
    <script type="text/javascript" src="/arquivos/new_qdb_clube_beres-reskin.js?v=26-09--01"></script>
</body>
</html>