<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-BR" class="_d-top">

<head>
    <script>
        $(function () {
            document.title = '<vtex:contentPlaceHolder id="Título da página" />';
        });
    </script>
    <vtex:contentPlaceHolder id="Metatags" />
    <vtex:template id="00-0-QDB-Head" />
    <link rel="stylesheet" href="/arquivos/QDB-LP-Quiz-de-Bases-Resultado.css" />
</head>
<body>
    <div class="container-group">
        <vtex:template id="00-0-QDB-Header" />
    </div>
    <main class="lp-quiz-result">
        <div class="quiz-header">
            <div class="shell">
                <div class="quiz-title">
                    <a class="link" href="https://www.quemdisseberenice.com.br/como-descobrir-o-seu-tom-de-base/"> <span class="icon">&#8249;</span> refazer o teste</a>
                    <h1>Sua cor ideal é 
                        <span id="color-name"></span>
                    </h1>
                </div>
                <div id="quiz-image">
                </div>
                <p class="info">
                        Essa é a nossa sugestão de cor, mas o importante é 
                        você se sentir bem com ela. Se você está bronzeada 
                        ou não toma sol no rosto, fique à vontade para testar 
                        uma cor acima ou abaixo da sua ideal. <br/>
                        Para te ajudar, já identificamos as melhores combinações para sua 
                        tonalidade de pele dentro dos nossos produtos. Confira>>>
                </p>
            </div>
        </div>
        <section class="result__container">
            <h2 class="result__title">Escolha o produto de acordo com as necessidades da sua pele</h2>
            <div class="result__wrapper shell">
                <div class="product__container">
                    <div class="product__img-container">
                        <img src="/arquivos/quiz-aqua.png" alt="Base Aqua Hidratante" class="product__img" />
                    </div>
                    <div class="product__text-wrapper">
                        <div>
                            <span class="product__text--type">Base</span>
                            <h3 class="product__text--title">Aqua Hidratante</h3>
                            <h2 id="quiz-aqua" class="product__text--change"></h2>
                        </div>
                        <p class="product__text--text">Com uma fórmula rica em água, ela garante hidratação profunda com acabamento natural e confortável. Sem fragrância e com FPS 15 UVA+++, é ideal para peles sensíveis e é a base perfeita para ser usada todos os dias.</p>
                        <button class="product__text--button"><a href="https://www.quemdisseberenice.com.br/base-aqua-hidratante-30ml_824348-p/p?idsku=2249">comprar</a></button>
                    </div>
        
                </div>
                <div class="product__container">
                    <div class="product__img-container">
                        <img src="/arquivos/quiz-corretivoaqua.png" alt="Corretivo Aqua Hidratante" class="product__img" />
                    </div>
                    <div class="product__text-wrapper">
                        <div>
                            <span class="product__text--type">Corretivo</span>
                            <h3 class="product__text--title">Aqua Hidratante</h3>
                            <h2 id="quiz-corretivoaqua" class="product__text--change"></h2>
                        </div>
                        <p class="product__text--text">Assim como a base Aqua, sua fórmula rica em água garante hidratação profunda. Com textura confortável, ele cobre imperfeições com efeito natural.</p>
                        <button class="product__text--button"><a href="https://www.quemdisseberenice.com.br/corretivo-facial-aqua-hidratante-9ml_824143-p/p?idsku=2276">comprar</a></button>
                    </div>
                </div>
                <div class="product__container">
                    <div class="product__img-container">
                        <img src="/arquivos/quiz-supermate.png" alt="Base Supermate" class="product__img" />
                    </div>
                    <div class="product__text-wrapper">
                        <div>
                            <span class="product__text--type">Base</span>
                            <h3 class="product__text--title">Supermate</h3>
                            <h2 id="quiz-supermate" class="product__text--change"></h2>
                        </div>
                        <p class="product__text--text">Ela é livre de óleo, deixando a pele sequinha, aveludada e uniforme, sem craquelar. Além disso, é fácil de aplicar e tem secagem rápida. Sua fórmula é resistente à água e ao suor.</p>
                        <button class="product__text--button"><a href="https://www.quemdisseberenice.com.br/base-liquida-supermate-30ml_824192-p/p?idsku=2325">comprar</a></button>
                    </div>
                </div>
                <div class="product__container">
                    <div class="product__img-container">
                        <img src="/arquivos/quiz-superfluida.png" alt="Base Superfluida" class="product__img" />
                    </div>
                    <div class="product__text-wrapper">
                        <div>
                            <span class="product__text--type">Base natural</span>
                            <h3 class="product__text--title">Superfluida</h3>
                            <h2 id="quiz-superfluida" class="product__text--change"></h2>
                        </div>
                        <p class="product__text--text">Com FPS 50 UVA ++, ela deixa a pele sequinha, com efeito natural e aquela sensação de não estar usando nada no rosto. Resistente à agua e ao suor, sua cobertura média dura até 8 horas.</p>
                        <button class="product__text--button"><a href="https://www.quemdisseberenice.com.br/base-natural-superfluida-30ml_824180-p/p?idsku=2313">comprar</a></button>
                    </div>
                </div>
                <div class="product__container">
                    <div class="product__img-container">
                        <img src="/arquivos/quiz-altacobertura.png" alt="Base Alta Cobertura" class="product__img" />
                    </div>
                    <div class="product__text-wrapper">
                        <div>
                            <span class="product__text--type">Base</span>
                            <h3 class="product__text--title">Alta Cobertura</h3>
                            <h2 id="quiz-altacobertura" class="product__text--change"></h2>
                        </div>
                        <p class="product__text--text">Uma base que uniformiza a pele e cobre todas as imperfeições, deixando um efeito mate e sem brilho. Com FPS 15 UVA ++, ela não transfere e sua cobertura alta dura até 8 horas.</p>
                        <button class="product__text--button"><a href="https://www.quemdisseberenice.com.br/base-liquida-alta-cobertura-30ml_824153-p/p?idsku=2286">comprar</a></button>
                    </div>
                </div>
                <div class="product__container">
                    <div class="product__img-container">
                        <img src="/arquivos/quiz-bbcreme.png" alt="Base BB Creme" class="product__img" />
                    </div>
                    <div class="product__text-wrapper">
                        <div>
                            <span class="product__text--type">Base</span>
                            <h3 class="product__text--title">BB Creme</h3>
                            <h2 id="quiz-bbcreme" class="product__text--change"></h2>
                        </div>
                        <p class="product__text--text">Ideal pra quem quer praticidade e multibenefícios, o BB Creme deixa a pele hidratada e reduz os sinais do envelhecimento, além de ter toque seco, 35 UVA ++, textura leve, cobertura natural e longa duração.</p>
                        <button class="product__text--button"><a href="https://www.quemdisseberenice.com.br/bb-creme-30ml_824367-p/p?idsku=2269">comprar</a></button>
                    </div>
                </div>
            </div>
        </section>
        <h3 class="result__title-small">
            Gostou? Clique para guardar o link do seu resultado e consultar quando quiser ou copie o link do teste para outra pessoa também fazer.
        </h3>
        <div class="share">
            <button class="share__button guarde"> Guarde seu resultado </button>
            <textarea class="share__text guarde-text"></textarea>
            <button class="share__button indique"> Indique este teste </button>
            <textarea class="share__text indique-text"></textarea>
        </div>
        
    </main>
    <script src="./arquivos/QDB-LP-Quiz-de-Bases-Resultado.js"></script>
    <footer class="footer">
        <vtex:template id="00-0-QDB-Footer" />
    </footer>    
</body>
</html>