<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-BR" class="_d-top">

<head>
    <script>
        $(function () {
            document.title = '<vtex:contentPlaceHolder id="Título da página" />';
        });
    </script>
    <vtex:contentPlaceHolder id="Metatags" />
    <vtex:template id="00-0-QDB-Head" />

    <link rel="stylesheet" href="/arquivos/QDB-LP-Base-Acqua.css" />

</head>

<body>
    <div class="container-group">
        <vtex:template id="00-0-QDB-Header" />
    </div>
    <section class="lp-ba">
        <img 
            src="https://qbbr.vteximg.com.br/arquivos/banner-topo-nova-base-acqua-hidrantante-quem-disse-berenice-m.png" 
            alt="Banner Topo nova base acqua hidratante quem disse, Berenice?"
            title="nova base acqua hidratante quem disse, Berenice?
            Nome: banner-topo-nova-base-acqua-hidrantante-quem-
            disse-berenice.png"
        />
    </section>
    <footer class="footer">
        <vtex:template id="00-0-QDB-Footer" />
    </footer>
    <script type="text/javascript" src="/arquivos/QDB-LP-Base-Acqua.js"></script>
</body>

</html>