<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-BR" class="_d-top">

<head>
    <script>
        $(function () {
            document.title = '<vtex:contentPlaceHolder id="Título da página" />';
        });
    </script>
    <vtex:contentPlaceHolder id="Metatags" />
    <vtex:template id="00-0-QDB-Head" />

    <link rel="stylesheet" href="/arquivos/twentytwenty-custom-guina.css"/>
    <link rel="stylesheet" href="/arquivos/QDB-LP-Super-Especial.css"/>
    <script>
            window.chaordic_meta = {
                page: {
                    name: "home"
                }
            };
    </script>
</head>

<body>
    <div class="container-group">
        <vtex:template id="00-0-QDB-Header" />
    </div>
    <main>
        <section class="section-media section-block">
            <!--SEÇÃO 1-->
            <div class="item">
                <vtex:contentPlaceHolder id="secaoprincipal_video" />
            </div>
            <div class="heading over">
                <h2 class="title section-visibility">
                    <vtex:contentPlaceHolder id="secaoprincipal_titulo" />
                </h2>
                <article>
                    <vtex:contentPlaceHolder id="secaoprincipal_texto" />      
                </article>
                <vtex:contentPlaceHolder id="secaoprincipal_link" />
            </div>
        </section>
        <div class="shell">
            <section class="showcase-container section-block">
                <div class="collectionPlaceholder hidden">
                    <vtex:contentPlaceHolder id="vitrine-01" />
                </div>
                <div class="topProducts__render-collection"></div>
            </section>
            <section class="rating-container section-block">
                <div style="display: none;" class="product-id section-visibility">
                    <vtex:contentPlaceHolder id="secaoavaliacao_idproduto" />                
                </div>
                <div class="heading">
                    <h2 class="title">
                        <vtex:contentPlaceHolder id="secaoavaliacao_titulo" />
                    </h2>
                    <article>
                        <vtex:contentPlaceHolder id="secaoavaliacao_texto" />      
                    </article>
                </div>
                <div class="panel-rating">
                    <div class="image">
                        <vtex:contentPlaceHolder id="secaoavaliacao_imagem" />
                    </div>
                    <div class="aside">
                        <div class="rating">
                            <img style="display: none;" src="https://qbbr.vteximg.com.br/arquivos/favicon.ico?v=636832437549900000"/>
                            <img style="display: none;" src="https://qbbr.vteximg.com.br/arquivos/favicon.ico?v=636832437549900000"/>
                            <img style="display: none;" src="https://qbbr.vteximg.com.br/arquivos/favicon.ico?v=636832437549900000"/>
                            <img style="display: none;" src="https://qbbr.vteximg.com.br/arquivos/favicon.ico?v=636832437549900000"/>
                            <img style="display: none;" src="https://qbbr.vteximg.com.br/arquivos/favicon.ico?v=636832437549900000"/>
                        </div>
                        <article class="desc">
                                <h4 class="title"></h4>
                                <div class="text"></div>
                                <p class="author"></p>
                        </article>
                        <a href="" class="button button-primary resizable" target="_blank">
                            <span class="icon">&#8594;</span>
                            <span class="text">Comprar</span>
                        </a>
                    </div>
                </div>
            </section>
            <section class="banner-before-after section-block">
                <div class="twentytwenty-container">
                </div>
                <div class="img-before section-visibility">
                    <vtex:contentPlaceHolder id="imagem-compara-antes" />
                </div>
                <div class="img-after">
                    <vtex:contentPlaceHolder id="imagem-compara-depois" />
                </div>
            </section>
            <section class="panel-product right section-block">
                <span class="product-id section-visibility" style="display: none">
                    <vtex:contentPlaceHolder id="bannerproduto_direita" />
                </span>      
                <div class="aside">
                    <span class="discount"></span>
                    <h4 class="title"></h4>
                    <div class="description"></div>
                    <div class="installment"></div>
                    <del class="old-price"></del>
                    <div class="new-price"></div>
                    <a href="#" class="button button-primary resizable left">
                        <span class="icon">&#8594;</span>
                        <span class="text">Comprar</span>
                    </a>
                </div>
                <div class="image">
                    <vtex:contentPlaceHolder id="bannerproduto_direita-img" />                    
                </div>
            </section>
            <section class="panel-product left section-block">
                <span class="product-id section-visibility" style="display: none">
                    <vtex:contentPlaceHolder id="bannerproduto_esquerda" />
                </span> 
                <div class="image">
                    <vtex:contentPlaceHolder id="bannerproduto_esquerda-img" />                    
                </div>
                <div class="aside">    
                    <span class="discount"></span>
                    <h4 class="title"></h4>
                    <div class="description"></div>
                    <div class="installment"></div>
                    <del class="old-price"></del>                    
                    <div class="new-price"></div>
                    <a href="#" class="button button-primary resizable right">
                        <span class="icon">&#8594;</span>
                        <span class="text">Comprar</span>
                    </a>
                </div>
            </section>
            <section class="section-block">
                <div style="display: none;" class="section-visibility"><vtex:contentPlaceHolder id="secaochaordic_exibir" /></div>
                <!-- Section Chaordic - Bottom -->
                <div class="section--chaordic-bottom">
                    <div class="shell">
                        <div class="section-body">
                            <section class="section-chaordic">
                                <div class="shell">
                                    <div chaordic="bottom"></div>
                                </div>
                                <!-- /.shell -->
                            </section>
                            <!-- /.section-chaordic -->
                        </div>
                    </div>
                </div>
                <!-- Section Chaordic - Bottom:end -->
            </section>
        </div>
    </main>
    <footer class="footer">
        <vtex:template id="00-0-QDB-Footer" />
        <script src="https://staticfiles.yviews.com.br/static/commom/jquery.min.js" type="text/javascript"></script>
        <script src="/arquivos/jquery.event.move.js" type="text/javascript"></script>
        <script src="/arquivos/jquery.twentytwenty-custom-guina.js"></script>
        <script type="text/javascript" src="/arquivos/QDBCommon-Home-H.js"></script>
        <script src="/arquivos/QDB-LP-Super-Especial.js"></script>
    </footer>
</body>
</html>