<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-BR" class="_d-top">
<head>
    <title>Menu de Makes</title>
    <vtex:metaTags />
    <vtex:template id="00-0-QDB-Head" />

    <link rel="stylesheet" href="/arquivos/QDB-LP-Menu-de-makes.css"/>
</head>
<body>
    <div class="principal-banner">
        <div class="principal-banner--img">
            <img src="" alt="" />
        </div>
        <div class="principal-banner--text">
            <h1>Faça sua maquiagem com a gente</h1>
            <p>Agora você já pode ser maquiada em nossas lojas
                e sair pronta. E o melhor: <b class="principal-banner--text__bold">você ainda leva 100% do valor
                em produtos.</b> Escolha entre maquiagens para festa, entrevista,
                jantar romântico ou qualquer outro momento que você quiser
                e agende seu horário <a href="/" class="principal-banner--text__link">aqui</a>
            </p>
        </div>
    </div>

    <div class="beneficios">
        <h2 class="beneficios--title"></h2>
        <span class="beneficios--itens">
            <img src="" alt="" />
            <p>100% do valor em produtos</p>
        </span>
        <span class="beneficios--itens">
            <img src="" alt="" />
            <p>Agendamento online rápido e fácil</p>
        </span>
        <span class="beneficios--itens">
            <img src="" alt="" />
            <p>atendimento personalizado</p>
        </span>
    </div>

    <div class="makeup--container">
        <h1 class="makeup--container--title">Conheça todos os tipos de maquiagem que você pode fazer com a gente:</h1>
        <div class="makeup--container__content">
            <div class="makeup--container__content--img"><img src="" alt="" /> </div>
            <div class="makeup--container__content--text">
                <h2 class="makeup--container__content--text--title">Maquiagem festa</h2>
                <p class="makeup--container__content--text--text">Quer fazer uma maquiagem incrivel e sair direto para uma festa, um jantar ou happy hour? Temos aplicação de <b class="makeup--container__content--text--text--bold">maquiagem para todas as ocasiões.</b> Escolha a sua e agende o seu horário com nossos especialistas aqui.</p>
                <p class="makeup--container__content--text--price">R$ 120<span class="makeup--container__content--text--price--small">em produtos</span></p>
                <span class="makeup--container__content--text--time">40 <span>MIN</span></span>
            </div>
            <div class="makeup--container__content--slick">
                <div class="makeup--container__content--slick--container">
                    <img src="" alt="" class="makeup--container__content--slick--container--img" />
                    <p class="makeup--container__content--slick--container--title"></p>
                    <button class="makeup--container__content--slick--container--agendar"></button>
                </div>
                <div class="makeup--container__content--slick--container"> 
                    <img src="" alt="" class="makeup--container__content--slick--container--img" />
                    <p class="makeup--container__content--slick--container--title"></p>
                    <button class="makeup--container__content--slick--container--agendar"></button>
                </div>
                <div class="makeup--container__content--slick--container">
                    <img src="" alt="" class="makeup--container__content--slick--container--img" />
                    <p class="makeup--container__content--slick--container--title"></p>
                    <button class="makeup--container__content--slick--container--agendar"></button>
                </div>
                <div class="makeup--container__content--slick--container">
                    <img src="" alt="" class="makeup--container__content--slick--container--img" />
                    <p class="makeup--container__content--slick--container--title"></p>
                    <button class="makeup--container__content--slick--container--agendar"></button>
                </div>
                <div class="makeup--container__content--slick--container">
                    <img src="" alt="" class="makeup--container__content--slick--container--img" />
                    <p class="makeup--container__content--slick--container--title"></p>
                    <button class="makeup--container__content--slick--container--agendar"></button>
                </div>    
            </div>
        </div>
        <div class="makeup--container__content">
            <div class="makeup--container__content--img"><img src="" alt="" /> </div>
            <div class="makeup--container__content--text">
                <h2 class="makeup--container__content--text--title">Aprenda automaquiagem</h2>
                <p class="makeup--container__content--text--text">Com atendimento personalizado, nossos especialistas te ensinam o passo a passo da maquiagem que você sempre quis aprender. São 40 minutos de <b class="makeup--container__content--text--text--bold">aprendizado na prática.</b> Nós fazemos a metade do rosto e, a cada passo, você aplica na outra metade. Escolha entre as opções abaixo e agende <a href="" class="makeup--container__content--text--text--link">aqui</a> seu horário.</p>
                <p class="makeup--container__content--text--price">R$ 120<span class="makeup--container__content--text--price--small">em produtos</span></p>
                <span class="makeup--container__content--text--time">40 MIN</span>
            </div>
            <div class="makeup--container__content--slick">
                <div class="makeup--container__content--slick--container">
                    <img src="" alt="" class="makeup--container__content--slick--container--img" />
                    <p class="makeup--container__content--slick--container--title"></p>
                    <button class="makeup--container__content--slick--container--agendar"></button>
                </div>
                <div class="makeup--container__content--slick--container">
                    <img src="" alt="" class="makeup--container__content--slick--container--img" />
                    <p class="makeup--container__content--slick--container--title"></p>
                    <button class="makeup--container__content--slick--container--agendar"></button>
                </div>
                <div class="makeup--container__content--slick--container">
                    <img src="" alt="" class="makeup--container__content--slick--container--img" />
                    <p class="makeup--container__content--slick--container--title"></p>
                    <button class="makeup--container__content--slick--container--agendar"></button>
                </div>
                <div class="makeup--container__content--slick--container">
                    <img src="" alt="" class="makeup--container__content--slick--container--img" />
                    <p class="makeup--container__content--slick--container--title"></p>
                    <button class="makeup--container__content--slick--container--agendar"></button>
                </div>
                <div class="makeup--container__content--slick--container">
                    <img src="" alt="" class="makeup--container__content--slick--container--img" />
                    <p class="makeup--container__content--slick--container--title"></p>
                    <button class="makeup--container__content--slick--container--agendar"></button>
                </div>    
            </div>
        </div>
        <div class="makeup--container__content">
            <div class="makeup--container__content--img"><img src="" alt="" /> </div>
            <div class="makeup--container__content--text">
                <h2 class="makeup--container__content--text--title">Maquiagem Express</h2>
                <p class="makeup--container__content--text--text">Uma demonstração com dicas rápidas para você conhecer nossos produtos em 15 minutos. <b class="makeup--container__content--text--text--bold">Não precisa agendar: </b>é só chegar e checar a disponibilidade dos nossos especialistas. Veja abaixo algumas opções. </p>
                <p class="makeup--container__content--text--price">GRATUITO</p>
                <span class="makeup--container__content--text--time">15 MIN</span>
            </div>
        </div>
        <div class="makeup--container__content--slick">
            <div class="makeup--container__content--slick--container">
                <img src="" alt="" class="makeup--container__content--slick--container--img" />
                <p class="makeup--container__content--slick--container--title"></p>
                
            </div>
            <div class="makeup--container__content--slick--container">
                <img src="" alt="" class="makeup--container__content--slick--container--img" />
                <p class="makeup--container__content--slick--container--title"></p>
                
            </div>
            <div class="makeup--container__content--slick--container">
                <img src="" alt="" class="makeup--container__content--slick--container--img" />
                <p class="makeup--container__content--slick--container--title"></p>
                
            </div>
            <div class="makeup--container__content--slick--container">
                <img src="" alt="" class="makeup--container__content--slick--container--img " />
                <p class="makeup--container__content--slick--container--title"></p>
                
            </div>
            <div class="makeup--container__content--slick--container">
                <img src="" alt="" class="makeup--container__content--slick--container--img" />
                <p class="makeup--container__content--slick--container--title"></p>
                
            </div>    
        </div>
    </div>
    <footer class="footer">
            <vtex:template id="00-0-QDB-Footer" />
            <script src="/arquivos/QDB-LP-Menu-de-makes.js"></script>
    </footer>
</body>
</html>