<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-BR" class="_d-top">

<head>
    <script>
        $(function () {
            document.title = '<vtex:contentPlaceHolder id="Título da página" />';
        });
    </script>
    <vtex:contentPlaceHolder id="Metatags" />
    <vtex:template id="00-0-QDB-Head" />

    <link rel="stylesheet" href="/arquivos/QDB-LP-Base-Acqua.css" />

</head>

<body>
    <div class="container-group">
        <vtex:template id="00-0-QDB-Header" />
    </div>
    <main class="lp-ba">
        <section class="ba-mobile ba-main">
            <img 
                src="https://qbbr.vteximg.com.br/arquivos/banner-topo-nova-base-acqua-hidrantante-quem-disse-berenice-m.png" 
                alt="Banner Topo nova base acqua hidratante quem disse, Berenice?"
                title="nova base acqua hidratante quem disse, Berenice?
                Nome: banner-topo-nova-base-acqua-hidrantante-quem-
                disse-berenice.png"
            />
            <h1>
                <span>Nova</span>
                <span>Base Acqua Hidratante</span>
                <span>Pele natural todo dia</span>
            </h1>
        </section>
        <section class="ba-advantages">
            <div class="item">
                <img 
                    src="https://qbbr.vteximg.com.br/arquivos/lp-ba-icone-hidratacao.png" 
                    alt="Base Acqua - Hidratação"
                />
                <h2>Hidratação Profunda</h2>
                <p>Mantém a pele hidratada por até 8 horas.</p>
            </div>
            <div class="item">
                <img 
                    src="https://qbbr.vteximg.com.br/arquivos/lp-ba-icone-efeito-natural.png" 
                    alt="Base Acqua - Efeito Natural"
                />
                <h2>Efeito Natural</h2>
                <p>Não marca poros e linhas de expressão.</p>
            </div>
            <div class="item">
                <img 
                    src="https://qbbr.vteximg.com.br/arquivos/lp-ba-icone-firmeza.png" 
                    alt="Base Acqua - Firmeza"
                />
                <h2>Firmeza</h2>
                <p>Com ativo que estimula a produção de ácido hialurônico.</p>
            </div>
        </section>
        <section class="ba-features">
            <img 
                src="https://qbbr.vteximg.com.br/arquivos/lp-ba-icone-firmeza.png" 
                alt="imagem nova base acqua hidratante quem disse, Berenice?"
                title="nova base hidratante quem disse, Berenice?"
            />
            <p>Com FPS 50, são <strong>20 tons</strong> que garantem uma <strong>cobertura média</strong> 
                com acabamento natural e confortável. É a base perfeita para ser usada todos os dias! 
                Dica: aplique direto com os dedos ou com o pincel que preferir.
            </p>
            <h4>R$59,90</h4>
            <a href="#">quero conhecer</a>
            <img src="https://qbbr.vteximg.com.br/arquivos/lp-ba-vegano.png" alt="Base Acqua - Vegano/Vegan"/>
        </section>
        <section class="ba-swatch-colors">
            <div class="ba-mobile">
                <img src="https://qbbr.vteximg.com.br/arquivos/modulo-cores-lp-ba-m.png" alt="Base Acqua - Amostra de Cores"/>
            </div>
        </section>
        <section class="ba-promo">
            <img 
                src="https://qbbr.vteximg.com.br/arquivos/banner-desconto-produtos-pele-quem-disse-berenice-m.png" 
                alt="banner desconto produtos de pele quem disse, Berenice?"
                title="descontos em maquiagens de pele quem disse, Berenice?"
            />
        </section>
        <section class="ba-product-list">
            <h3><vtex:contentPlaceHolder id="Título Chaordic" /></h3>
        </section>
    </main>
    <footer class="footer">
        <vtex:template id="00-0-QDB-Footer" />
    </footer>
    <script type="text/javascript" src="/arquivos/QDB-LP-Base-Acqua.js"></script>
</body>

</html>