<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-BR" class="_d-top">

<head>
    <script>
        $(function () {
            document.title = '<vtex:contentPlaceHolder id="Título da página" />';
        });
    </script>
    <vtex:contentPlaceHolder id="Metatags" />
    <vtex:template id="00-0-QDB-Head" />

    <link rel="stylesheet" href="/arquivos/QDB-LP-Black-Friday.css" />      
</head>

<body>
    <div class="container-group">
        <vtex:template id="00-0-QDB-Header" />
    </div>
    <main class="lp-bf">
        <section class="bf-main">
            <div class="shell">
                <div class="bf-main__heading">
                    <h1>
                        Super<br />
                        <span>Black</span>
                    </h1>
                    <h2>A Black Friday 2019 vai durar o mês inteiro! 
                        Anote na agenda: a SUPERBLACK é em Novembro.</h2>
                </div>
                <div class="bf-main__form">
                    <!-- form -->
                    <form id="bf_form" method="post" action="http://x.relaciona.quemdisseberenice.com.br/ats/post.aspx" class="col-md-2 form">
                        <div class="group-form">
                            <p class="bf-main__form__title">
                                Deixe seu e-mail, a gente avisa quando a SUPERBLACK começar
                            </p>
                            <input type="text" required='required' id="bf_nome" name="bf_nome" placeholder="Nome"/>
                            <input type="text" required='required' id="bf_email" name="bf_email" placeholder="E-mail"/>
                            <input type="checkbox" name="bf_autoriza" id="bf_autoriza" checked="checked" />
                            <p class="bf-main__form__allow">aceito receber comunicação por e-mail das marcas participantes</p>
                            <input type="text" name="validation-field" class="hidden" style="display: none;"/>  
                            <input type="submit" class="btnSubmit" value="quero me cadastrar" />               
                        </div>
                        <div class="form-success">
                            <p>Seu e-mail foi cadastrado com sucesso!</p>
                        </div>
                    </form>
                    <!-- /.form -->
                </div>
            </div>
        </section>
        <section class="bf-tips">
            <div class="shell">
                <h2 class="lp-bf__title lp-bf__title--black">Separamos algumas dicas pra você curtir os descontos da Black Friday 2019</h2>
                <div class="bf-tips__inner">
                    <div class="bf-tips__item">
                        <h3 class="bf-tips__item__title">Antes da Black</h3>
                        <p>Faça listas do que você tá precisando e aproveite pra comprar os presentes de Natal com desconto.</p>
                        <p>Confira seus dados cadastrais antes, assim na SUPERBLACK você só vai se preocupar em curtir as ofertas.</p>
                    </div>
                    <div class="bf-tips__item">
                        <h3 class="bf-tips__item__title">Durante a Black</h3>
                        <h4>Como eu sei se tem desconto?</h4>
                        <p>A gente sinalizou com o selo “Black Friday” todos os produtos que estarão com preços especiais.</p>
                        <h4>Valendo</h4>
                        <p>Achou o produto que estava procurando? Coloque na sacola e feche o pedido. Muitas pessoas podem estar de olho no mesmo item que você.</p>
                    </div>
                    <div class="bf-tips__item">
                        <h3 class="bf-tips__item__title">Depois da Black</h3>
                        <p>É no e-mail que iremos mandar a confirmação, então não esqueça de conferir sua caixa de entrada depois de fechar a compra. 
                            Ah, vale lembrar que recebemos muitos pedidos na SUPERBLACK, mas não se preocupe porque mesmo que demore um pouco mais, seu produto chegará normalmente.</p>
                    </div>
                </div>
                <p class="bf-tips__help">
                    Caso ainda tenha dúvidas, nosso <a href="#">SAC</a> te ajuda!
                </p>
            </div>
        </section>
        <section class="bf-product-tips">
            <div class="shell">
                <h2 class="lp-bf__title lp-bf__title--yellow">Já faz a lista do que comprar na Black Friday 2019</h2>
                <h4 class="lp-bf__subtitle">Os produtos mais buscados da Black Friday pra te inspirar</h4>
                <div class="bf-product-tips__inner">
                    <div class="bf-product-tips__item">
                        <h3 class="bf-product-tips__item__title">Perfumaria</h3>
                        <img 
                            src="arquivos/perfumes-black-Friday-2019-quem-disse-berenice.png" 
                            alt="Pefumes na Black Friday 2019 quem disse, Berenice?"
                            title="Perfumes Black Friday 2019 quem disse, Berenice?"
                        />
                        <p>A junção de tudo o que gostamos: desconto e fragrâncias.</p>
                    </div>
                    <div class="bf-product-tips__item">                    
                        <h3 class="bf-product-tips__item__title">Maquiagens</h3>
                        <img 
                            src="arquivos/maquiagens-black-Friday-2019-quem-disse-berenice.png" 
                            alt="Maquiagens na Black Friday 2019 quem disse, Berenice?"
                            title="Maquiagens Black Friday 2019 quem disse, Berenice?"
                        />
                        <p>Você destaca a boca, o olho e a gente destaca os descontos. Conheça nossos produtos e vem se colorir.</p>
                    </div>
                    <div class="bf-product-tips__item">                    
                        <h3 class="bf-product-tips__item__title">Pele</h3>
                        <img 
                            src="arquivos/corpo-banho-black-Friday-2019-quem-disse-berenice.png" 
                            alt="Corpo e Banho na Black Friday 2019 quem disse, Berenice?"
                            title="Corpo e Banho Black Friday 2019 quem disse, Berenice?"
                        />
                        <p>Aproveitar a Black Friday pra economizar na hora de fazer compras. Vem sentir na sua própria pele.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="bf-info">
            <div class="shell">
                <h2 class="lp-bf__title lp-bf__title--black">Fique por dentro da Black Friday</h2>
                <div>
                    <h3>O que é Black Friday?</h3>
                    <p>
                        Black Friday é o esquenta para as compras de natal. 
                        A ideia nasceu nos Estados Unidos e é comemorada, geralmente, na 
                        4ª sexta-feira de Novembro, depois do feriado de Ação de Graças. 
                        Black Friday é dia de fazer compras e aproveitar pra garantir 
                        aquele produto que você tanto ama, mas com um preço especial.
                    </p>
                </div>
                <div>
                    <h3>O que é <span>Superblack</span>?</h3>
                    <p>Como um dia de promoção é muito pouco, nós decidimos fazer um mês inteiro, 
                        isso é SUPERBLACK. Já sabe o que vai comprar pra você e pra dar de presente? 
                        Uma dica: maquiagem e produtos para corpo e banho são sempre uma boa ideia.
                    </p>
                </div>
            </div>
        </section>
    </main>
    <script src="/arquivos/QDB-LP-Black-Friday.js"></script>
    <footer class="footer">
        <vtex:template id="00-0-QDB-Footer" />
    </footer>
</body>

</html>