<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-BR" class="_d-top">

<head>
    <script>
        $(function () {
            document.title = '<vtex:contentPlaceHolder id="Título da página" />';
        });
    </script>
    <vtex:contentPlaceHolder id="Metatags" />
    <vtex:template id="00-0-QDB-Head" />

    <link rel="stylesheet" href="/arquivos/QA-QDB-LP-Sustentabilidade.css" /> 
</head>

<body>
    <div class="container-group">
        <vtex:template id="00-0-QDB-Header" />
    </div>

    <section class="header-section">
        <div class="header-section__inner shell">
            <div class="header-section__container">
                <h2 class="header-section__text">Contribuir com o<br/></h2>
                <h2 class="header-section__middle-text">MEIO AMBIENTE</h2>
                <h2 class="header-section__final-text">é responsabilidade de todos nós.<br/> Vamos nessa?</h2>
            </div>
        </div>
    </section>

    <div class="shell container">
        <section class="products-section__container">
            <div class="products-section">
                <p class="products-section__text">
                    veja nosso <strong>top 3 produtos mais sustentáveis:</strong>
                </p> 
            </div>

            <section class="products-section__list">                

            <div class="products-section__single">
                <div class="products-section__single__image">
                    <img src="/arquivos/lapis-batom.png?v=637139983888300000" alt="tem cartucho PCR² e é feito de madeira de reflorestamento." />
                </div>
                
                <div class="products-section__single__text">
                    <p><strong>Lápis-batom</strong></p>
                    <p>tem cartucho PCR² e é feito de madeira de reflorestamento.</p>
                </div>                
            </div>

            <div class="products-section__single">
                <div class="products-section__single__image">
                    <img src="/arquivos/glitter-pigmento.png?v=637139983888300000" alt="tem cartucho PCR² e não possui partículas plásticas." />
                </div>
                
                <div class="products-section__single__text">
                    <p><strong>Glitter e pigmento para olhos</strong></p>
                    <p>tem cartucho PCR² e não possui partículas plásticas.</p>
                </div>    
            </div>

            <div class="products-section__single">
                <div class="products-section__single__image">
                    <img src="/arquivos/sombra.png?v=637139983888300000" alt="têm cartucho PCR² e são refiláveis." />
                </div>
                
                <div class="products-section__single__text">
                    <p><strong>Sombras</strong></p>
                    <p>têm cartucho PCR² e são refiláveis.</p>
                </div>    
            </div>

            </section>
        </section>
    </div>
    
    <footer class="footer">
        <vtex:template id="00-0-QDB-Footer" />
    </footer>
    <script src="/arquivos/QDB-LP-Recicla.js"></script>
</body>
</html>