<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
    lang="pt-BR" class="_d-top">

<head>
    <title> quem disse, berenice? </title>
    <vtex:contentPlaceHolder id="metatags" />
    <vtex:metaTags />
    <vtex:template id="00-0-QDB-Head" />
    <link rel="stylesheet" href="/arquivos/QDB-LP-Liquidacao.css" />
</head>

<body>


    <div class="wrapper">
        <div class="wrapper-inner">
            <div class="container">
                <div class="container-group">
                    <vtex:template id="00-0-QDB-Header" />
                </div>
            </div>
            <div class="lw-banner-container">
                <img src="/arquivos/banner-liquidacao.jpg" alt="" />
            </div>
            <div class="text-container">
                <h1 class="text-container--title"> A melhor promoção de cosméticos! </h1>
                <h2 class="text-container--subtitle">de 05 de julho até 11 de agosto</h2>
                <p class="text-container--text">Neste inverno, aproveite para reabastecer seu estoque com as maquiagens em promoção e fragrâncias em promoção que você mais ama!</p>
            </div>
            <div class="shelve-container">
                <h2 class="shelve-container--title">Comece agora sua lista de desejos</h2>

            </div>
            <div class="container">
                <footer class="footer">
                    <vtex:template id="00-0-QDB-Footer" />
                </footer>
            </div>
            </div>
        </div>


</body>

</html>