<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
    lang="pt-BR" class="_d-top">

<head>
    <title> quem disse, berenice? </title>
    <vtex:contentPlaceHolder id="metatags" />
    <vtex:metaTags />
    <vtex:template id="00-0-QDB-Head" />
    <title>liquidação de maquiagens, perfumes e produtos de Beleza | liquida quem disse Berenice?</title>
    <meta name="description" content="confira as ofertas da liquidação de maquiagens, perfumaria, produtos para os cabelos e acessórios da quem disse, berenice? Se joga, berê!"/>
    <meta name="keywords" content="liquidação, liquidação de maquiagem, liquidação de perfumes, liquidação de cosméticos" />

    <link rel="canonical" href="https://www.quemdisseberenice.com.br/liquidacao" />

    <meta property="og:url" content="https://www.quemdisseberenice.com.br/liquidacao" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="liquidação de maquiagens, perfumes e produtos de Beleza | liquida quem disse Berenice?" />
    <meta property="og:description" content="confira as ofertas da liquidação de maquiagens, perfumaria, produtos para os cabelos e acessórios da quem disse, berenice? Se joga, berê!" />

    <link rel="stylesheet" href="/arquivos/QDB-LP-Liquidacao.css" />
</head>

<body>


    
    <div class="wrapper">
        <div class="wrapper-inner">
            <div class="container">
                <div class="container-group">
                    <vtex:template id="00-0-QDB-Header" />
                </div>
            </div>
            <div class="lw-banner-container">
                <img src="/arquivos/banner-liquidacao-2019-quem-disse-berenice.jpg" alt="Liquidação 2019 quem disse, Berenice?" title="Liquidação 2019 quem disse, Berenice?" />
            </div>
            <div class="text-container">
                <h1 class="text-container--title"> A melhor promoção de cosméticos! </h1>
                <p class="text-container--subtitle">de 05 de julho até 11 de agosto</p>
                <p class="text-container--text">Neste inverno, aproveite para reabastecer seu estoque com as maquiagens em promoção e fragrâncias em promoção que você mais ama!</p>
            </div>
            <div class="shelve-container">
                <h2 class="shelve-container--title">Comece agora sua lista de desejos</h2>
                <section class="section-chaordic">
                    <div class="shell">
                        <div chaordic="top"></div>
                    </div>
                </section>
            </div>
            <div class="container">
                <footer class="footer">
                    <vtex:template id="00-0-QDB-Footer" />
                </footer>
            </div>
            </div>
        </div>


</body>

</html>