<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-BR">
<head>
    
    <vtex:contentPlaceHolder id="Metatags--Pagina" />

    <link rel="stylesheet" type="text/css" href="/arquivos/new-qdb-preblackweek.css" />
    <link rel="stylesheet" type="text/css" href="/arquivos/new-qdb-preblackweek-style.css" />
    <link rel="stylesheet" href="/arquivos/new_qdb_style.css" />
    <link rel="stylesheet" href="/arquivos/new_qdb_style_category.css"/>
    
   <vtex:template id="new-qdb-head" />

</head>
<body>
   <div class="wrapper">
    
        <div class="container-group">
            <vtex:template id="00-0-QDB-Header" />
        </div>
        
        <div class="main">
            <div class="shell except-this">

                <div class="header-bw">
                    <img src="/arquivos/qdb-logo-blackweek.png" alt="maquiagem e perfumes na black friday 2019 quem disse, berenice?" />

                    <h3>a Black Friday 2019 vai durar a semana inteira!</h3>
                    <!-- <div class="countdown-prebw" data-end="2016/11/21 20:30:00">
                        <h5>faltam apenas</h5>

                        <span class="countdown-prebw-hours">00</span>
                        <span class="countdown-prebw-minutes">00</span>
                        <span class="countdown-prebw-seconds">00</span>
                    </div> -->
                    <h4>anote na agenda: a <span>black week</span> começa em novembro de 2019</h4>
                </div><!-- /.header-bw -->

                <div class="shell chamada">
                    uma semana com <strong>as melhores ofertas da Black Friday 2019</strong> pra rechear a nécessaire
                </div><!-- /.chamada -->

                <!-- form -->
                <form id="bf_form" method="post" action="http://x.relaciona.quemdisseberenice.com.br/ats/post.aspx" class="col-md-2 form">
                    <div class="group-form">
                        <h2>deixe seu e-mail</h2>
                        <p>que a gente avisa quando a black week começar!</p>
    
                        <label for="nome">Nome:</label>
                        <input type="text" required='required' id="bf_nome" name="bf_nome" />
        
                        <label for="email">E-mail:</label>
                        <input type="text" required='required' id="bf_email" name="bf_email" />
                        
                        <input type="checkbox" name="bf_autoriza" id="bf_autoriza" checked="checked" />
                        <span>aceito receber comunicação por e-mail das<br />marcas participantes</span>
                        <input type="text" name="validation-field" class="hidden" style="display: none;"/>  
                        <input type="submit" class="btnSubmit" value="quero me cadastrar" />               
                    </div>
                    <div class="form-success">
                        <p>MENSAGEM ENVIADA COM SUCESSO!</p>
                    </div>
                </form>
                <!-- /.form -->

                <!-- discount -->
                <div class="col-md-2 discount">
                    <p>Os melhores preços do ano em<br />uma semana de ofertas imperdíveis</p>
                    
                
                </div>
                <!-- /.discount -->

                <!-- dicas -->
                <div class="row dicas">
                    <h2>pra aproveitar muito a black friday 2019</h2>
                    <p>dicas espertas pra ficar por dentro das melhores ofertas de maquiagem,<br /> perfumes e cosméticos da Black Friday 2019</p>

                    <ul>
                        <!-- Antes -->
                        <li>
                            <a href="#"><i class="antes-blackfriday"></i>antes da black friday</a>
                            <div>
                                <i class="antes-blackfriday"></i>
                                
                                <vtex:contentPlaceHolder id="antes-black-friday" />
                            </div>
                        </li>
                        <!-- /Antes -->

                        <!-- Durante -->
                        <li>
                            <a href="#"><i class="durante-blackfriday"></i>durante a black friday</a>
                            <div>
                                <i class="durante-blackfriday"></i>
                                
                                <vtex:contentPlaceHolder id="durante-black-friday" />
                            </div>
                        </li>
                        <!-- /Durante -->

                        <!-- Depois -->
                        <li>
                            <a href="#"><i class="depois-blackfriday"></i>depois da black friday</a>
                            <div>
                                <i class="depois-blackfriday"></i>
                                
                                <vtex:contentPlaceHolder id="depois-black-friday" />
                            </div>
                        </li>
                        <!-- /Depois -->
                        
                    </ul>
                    <div class="text-dicas-sac">
                        <p>ficou com dúvida? explicando tudo no nosso <a href="http://www.quemdisseberenice.com.br/institucional/atendimento">sac</a></p>
                    </div>
                    
                </div>
                <!-- /dicas -->

                <!-- Comece sua lista -->
                <div class="row comece-sua-lista">
                    <h2>comece sua lista da black friday 2019</h2>
                    <p>Os produtos mais buscados da Black Friday pra te inspirar</p>

                    <ul>
                        <li>
                           <img src="/arquivos/QDB_768_pre-black-week-LP2017_01.jpg" alt="perfumes na black friday 2019" />
                            <a href="http://www.quemdisseberenice.com.br/perfumaria/"><h4>perfumes</h4></a>
                            
                            <vtex:contentPlaceHolder id="perfumaria" />
                        </li>

                       <li>
                            <img src="/arquivos/QDB_768_pre-black-week-LP2017_02.jpg" alt="maquiagens na black friday 2019" />
                            <a href="http://www.quemdisseberenice.com.br/maquiagem"><h4>maquiagens</h4></a>
                            
                            <vtex:contentPlaceHolder id="maquiagens" />
                        </li>

                        <li>
                            <img src="/arquivos/QDB_768_pre-black-week-LP2017_03.jpg" alt="produtos para corpo e banho na black friday 2019" />
                            <a href="http://www.quemdisseberenice.com.br/corpo-e-banho/"><h4>corpo e banho</h4></a>
                            
                            <vtex:contentPlaceHolder id="corpo-banho" />
                       </li>
                    </ul>
                </div>
                <!-- /Comece sua lista -->

                <!-- Fique por dentro -->
                <div class="row fique-por-dentro">
                    <h2>fique por dentro da black week</h2>
                    <ul>
                        <li>
                            <h4>mas, perai... o que é black friday?</h4>
                            <p>
                                sabe aquele dia em que você vê tanta oferta boa que quer levar tudo? isso é a Black Friday! o evento nasceu nos Estados Unidos pra fazer a alegria dos consumidores e aquecer as vendas de Natal. por lá, ela sempre acontece antes do feriado de Ação de Graças, geralmente na 4ª sexta-feira de novembro, e aqui no Brasil, não é diferente. por isso, neste ano, ela será comemorada no dia 25 de novembro.
                            </p>
                        </li>
                        <li>
                            <h4>e o que é black week?</h4>
                            <p>
                                a gente parou pra pensar e decidiu que um dia de promoção é pouco. por isso, preparamos uma semana de promoções imperdíveis pra você se jogar e comprar seus produtos preferidos! na black week, você vai encontrar os melhores preços do ano pra presentear até a si mesma com perfumes, maquiagens, produtos para corpo e banho e muito mais!
                            </p>
                        </li>
                    </ul>
                </div>
                <!-- /Fique por dentro -->

            </div>
            <section class="chaordic-bottom">
                <div chaordic="bottom"></div>
            </section>
            <section class="section-contact">
                <div class="shell">
                    <h3>precisa de ajuda?</h3>
                    <vtex:template id="new-qdb-precisa-ajuda"/>
                </div><!-- /.shell -->
            </section><!-- /.section-contact -->
                        
            <section class="section-subscribe">
                <div class="subscribe">
                    <vtex:template id="new-qdb-newsletter"/>
                </div><!-- /.subscribe -->

                <div class="slider-feeds">
                    <div class="slider-clip">
                        <ul class="slides owl-carousel">
                        </ul><!-- /.slides -->
                    </div><!-- /.slider-clip -->
                </div><!-- /.slider-feeds -->
            </section><!-- /.section-subscribe -->
        </div><!-- /.main -->
    
    </div><!-- /.wrapper -->

    <footer class="footer">
        <vtex:template id="00-0-QDB-Footer" />
    </footer>  
<script src="/arquivos/new-qdb-jquery.countdown.min.js"></script>
<script src="/arquivos/new-qdb-preblackweek.js"></script>


</body>
</html>