<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Gerador de Produto - Contador</title>
    <link rel="stylesheet" href="/arquivos/QDB-gerador-contador.css"/>
</head>
<body>
    <section>
        <h1 class="">Gerador de contador de produto <span>quem disse, Berenice?</span></h1>
        <div class="w-gerador">
            <label class="w-gerador--label">ID Sku: <input type="number" class="w-gerador--text idsku"/></label> 
            <label class="w-gerador--label">Titulo: <input type="text" class="w-gerador--text title"/></label>
            <label class="w-gerador--label">Texto: <input type="text" class="w-gerador--text text"/></label>
            <label class="w-gerador--label">Data inicial: <input type="datetime-local" name="" id="" class="w-gerador--text time-inicial"/></label>
            <label for="" class="w-gerador--label">Data final<input type="datetime-local" name="" id="" class="w-gerador--text time-final"/></label>
            <div class="buttons-container">
                <input class="submit" type="button" value="Gerar Produto" />
                <input class="copy" type="button" value="copiar" />
            </div>
            <textarea class="w-gerador--output"></textarea>
        </div>
    </section>
    <script src="/arquivos/QDB-gerador-contador.js"></script>
</body>
</html>