.header__region{
    .header__region__selection{
        @include sans(.75rem, $g-primary, 400, initial);
        border: solid 1px $g-primary;
        border-radius: 2rem;
        padding: 2px;
    }
    position: relative;
    &.--active, &:hover{
        &::before{
            content: '';
            @include triangle("left", 6px, $safflower);
            position: absolute;
            right: -1rem;
            top: 50%;
        }
        &::after{
            content: 'Escolha a sua região';
            display: flex;
            padding: 5px;
            background: $safflower;
            color: $w-secundary;
            position: absolute;    
            right: -155%;
            top: -2px;
            border-radius: 2px;
        }
    }
}
           