.header__region {
    width: auto;
    position: relative;
    display: flex;
    justify-content: center;

    :after {
        display: none;
    }

    .header__region__selection {
        @include sans(.875rem, $g-primary, 400, initial);
        border: solid 1px $g-primary;
        border-radius: 1em;
        padding: 2px;
    }

    &-container {
        @include d('768px') {
            width: auto;
        }
    }
}

.regionalizacao--mobile {
    display: none;

    @include d('768px') {
        display: flex;
    }

    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;

    label {
        margin-right: 5px;
    }

}

.scrollDown {
    .regionalizacao--mobile {
        @include d('768px') {
            display: none;

            &-container {
                display: none;
            }
        }
    }
}
