html {    
    .ac-container{
        width: $middleWidth !important;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
        overflow-y: scroll;
        max-height: 70vh;
        @include d('768px'){
            width: 100vw !important;
        }
    }
    .ac-overlay{
        display: none !important;
    }
    .ac-footer{
        display: none;
    }
}
