.header {
    &__menu-container {
        transition: .3s ease-in-out;
        position: absolute;
        top: 100%;
        left: 0 - 15px; //$headerPadding (segundo parametro)
        background: #fdfdfd;
        width: 30vw;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);

        &--items {

            display: none;
            flex-direction: column;

            &.is--active {
                display: flex;
            }
        }

        @include d('768px') {
            width: 90vw;
        }
    }

    &__menu {
        font-size: 1.2em;
        padding: 10px;
        display: flex;
        align-items: center;
        
        &::before {
            transition: .3s ease-in-out;
            content: '>';
            font-size: 1.5em;
            position: absolute;
            right: 15px;
        }

        &--items {
            font-size: 1em;
            margin-left: 20px;
            display: none;
            flex-direction: column;
        }

        &--department {
            font-size: 1.1em;
            font-weight: 800;
            margin-left: 20px;
            flex-direction: column;

            &::before {
                transition: .3s ease-in-out;
                content: '+';
                font-size: 1.5em;
                position: absolute;
                right: 15px;
            }

            &[data-accordion="true"] {
                display: flex;

                .header__menu--items {
                    display: flex;
                }

                .header__menu--categories {
                    display: flex;

                    &::before {
                        content: '-';
                    }
                }
            }
        }

        &--categories {
            font-size: 1em;
            font-weight: 300;
            margin-left: 20px;
            display: none;
            flex-direction: column;
        }

        &[data-accordion="true"] {
            display: inherit;

            .header__menu--items {
                display: flex;
            }

            &::before {
                transform: rotate(90deg)
            }
        }
    }

    &__menu-wrapper {
        width: 100%;
    }

    &__clube {
        background-color: #fdfdfd;

        &--container {
            display: flex;
            width: 100%;
            justify-content: space-around;
            padding: 15px;
        }

        &--infos {
            display: flex;
            justify-content: center;
            width: 100%;
            align-items: center;
        }

        &--img {
            background: #c7c5c4;
            width: 50px;
            height: 50px;
            border-radius: 30px;
            margin-right: 20px;
        }

        &--acessiblity {
            display: none;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;

            span:last-child {
                background: url(https://qbbr.vteximg.com.br/arquivos/access-black.png) center center no-repeat;
                font-size: 0;
                background-size: 15px 15px;
                width: 15px;
                height: 15px;
            }

            @include d('768px') {
                display: flex;
            }
        }

        &--options {
            display: flex;
            width: 100%;
            justify-content: space-around;
            height: 40px;
            align-items: center;
            border-top: 1px solid lighten($secondaryColor, 20);
        }

        &--menu {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            &:first-child {
                border-right: 1px solid lighten($secondaryColor, 20);
            }
        }

        &--banner {
            width: 100%;
            height: 70px;
            position: relative;
            border: none;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 100%;
                z-index: 1;
                position: absolute;
            }
        }
        &--banner-txt{
            position: inherit;
            z-index: 2;
            color: #fff;
            font-size: 1.5em;
        }
    }

    .js--menu-close {
        left: calc(-100% - 15px);
    }
}
