.header {
    &__menu-container {
        transition: .3s ease-in-out;
        z-index: 1;
        position: absolute;
        top: -15px;
        left: -15px;
        background: #fdfdfd;
        width: 30vw;
        height: 100vh;
        max-height: 100vh;
        overflow-y: scroll;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);

        &--items {
            width: 90%;
            display: none;
            flex-direction: column;

            &.is--active {
                display: flex;
            }
        }

        @include d('768px') {
            width: 90vw;
        }
        /* width */
        &::-webkit-scrollbar {
            width: 10px;
        }
        
        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $secondaryColor;
        }
        
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: $secondaryColor;
        }
    }

    &__menu {
        font-size: 1.2em;
        width: 100%;
        padding: 10px;
        padding-bottom: 5px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        position: relative;
        font-weight: 800;
        border-bottom: 1px solid lighten($secondaryColor, 20);


        &:first-child{
            
            &:before{
                content: '';
                opacity: 0;
            }
        }

        &::before {
            transition: .3s ease-in-out;
            content: '>';
            font-size: 1.5em;
            position: absolute;
            right: 15px;
        }

        a {
            width: 100%;
            height: 100%;
        }

        &--items {
            font-size: 1em;
            margin-left: 20px;
            display: none;
            flex-direction: column;
        }

        &--department {
            font-size: 1.1em;
            font-weight: 500;
            width: 100%;
            flex-direction: column;
            position: relative;

            &::before {
                transition: .3s ease-in-out;
                content: '+';
                font-size: 1.5em;
                position: absolute;
                right: 15px;
            }

        }

        &--categories {
            font-size: 1em;
            font-weight: 300;
            width: 90%;
            display: none;
            flex-direction: column;
        }

        &--category {
            width: 80%;
        }


        .accordion-checkbox {
            width: 100%;
            height: 33px;
            position: absolute;
            opacity: 0;
            left: -15px;
            top: 0;
            cursor: pointer;

            &:checked {
                &~ul {
                    width: 90%;
                    display: flex;
                    align-items: center;
                }

            }
        }
        &.especial{
            background-color: $secondaryColor;
            color: #fff;
            &::first-child{
                margin-top: 5px;
            }
            &::before{
                content: '';
            }
        }
    }

    &__menu-wrapper {
        width: 100%;
    }

    &__clube {
        background-color: #fdfdfd;

        &--container {
            display: flex;
            width: 100%;
            justify-content: space-around;
            padding: 15px;
        }

        &--infos {
            display: flex;
            justify-content: flex-start;
            width: 100%;
            align-items: center;
        }

        &--img {
            width: 50px;
            height: 50px;
            border-radius: 30px;
            margin-right: 20px;

            svg {
                width: 100%;
                height: 100%;
            }
        }


        &--acessiblity {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;

            span:last-child {
                background: url(https://qbbr.vteximg.com.br/arquivos/access-black.png) center center no-repeat;
                font-size: 0;
                background-size: 15px 15px;
                width: 15px;
                height: 15px;
            }

            @include d('768px') {
                display: flex;
            }
        }

        &--options {
            display: flex;
            width: 100%;
            justify-content: space-around;
            height: 40px;
            align-items: center;
            border-top: 1px solid lighten($secondaryColor, 20);
        }

        &--menu {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            &:first-child {
                border-right: 1px solid lighten($secondaryColor, 20);
            }
        }

        &--banner {
            width: 100%;
            height: 70px;
            position: relative;
            border: none;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                z-index: 1;
                position: absolute;
            }
        }

        &--banner-txt {
            position: inherit;
            z-index: 2;
            color: #fff;
            font-size: 1.5em;
        }
    }

    .js--menu-close {
        left: calc(-100% - 15px);
    }
}
