
svg {
    path {
        fill: $secondaryColor
    }
}

body {
    background: darken(#fdfdfd, 10%);
}

.header {
   
    background-color: $principalColor;
    width: 100%;

    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 15px;

        &--access {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            @include d('768px'){
                display: none;
            }
        }

        &--first {
            display: flex;
            justify-content: space-around;
            width: 100%;
            align-items: center;
            padding: 10px 0;
            @include d('768px'){
                flex-wrap: wrap;
            }
        }

        &--nav {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            @include d('768px'){
                justify-content: flex-start;
                width: 30px;
            }
        }
        @include d('768px'){
            justify-content: flex-start;
            flex-direction: column-reverse;
        }
    }

    &__accessibility {
        background: url(https://qbbr.vteximg.com.br/arquivos/access-black.png) center center no-repeat;
        width: 25px;
        height: 25px;
        margin: 0 30px;
    }

    &__logo {
        width: $leftWidth;

        .svg--logo-principal {
            width: 100%;
        }
        @include d('768px'){
            width: 30%;
        }
    }

    &__search {
        width: $middleWidth;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $secondaryColor;

        &--input {
            width: 90%;
            padding: 2px;
        }

        &--btn {
            background: url(/arquivos/Search.svg.png) center center no-repeat;
            background-color: $secondaryColor;
            padding: 5px;
            width: 10%;
        }
        @include d('768px'){
            width: 100%;
            order: 3;
        }
    }

    &__options {
        width: 10%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        &--item {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            &.favorite{
                @include d('768px'){
                    display: none;
                }
            }

            svg {
                width: 80%;
            }
        }
        @include d('768px'){
            width: 30%;
        }
    }

    &__menu-hamburguer-container {
        width: $leftWidth;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        height: 30px;
    }
    
    &__menu-hamburguer {
        pointer-events: none;
        &--text {
            font-size: 0.9em;
            margin-left: 15px;
            @include d('768px'){
                display: none;
            }
        }

        transition: .3s ease-in-out;
        display: block;
        width: 15px;
        background: $secondaryColor;
        height: 2px;
        position: relative;
        cursor: pointer;

        &::after {
            content: '';
            display: block;
            width: 25px;
            background: $secondaryColor;
            height: 2px;
            position: absolute;
            top: -6px;
        }

        &::before {
            content: '';
            display: block;
            width: 25px;
            background: $secondaryColor;
            height: 2px;
            position: absolute;
            top: 6px;
        }

        &.is--active {
            transform: rotate(45deg);
            width: 25px;

            &::after {
                top: 0;
                transform: rotate(-90deg);
            }

            &::before {
                width: 0;
            }

        }
    }

    &__nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: $middleWidth;
        cursor: pointer;
        @include d('768px'){
            display: none;
        }

        &--list {
            position: relative;
            margin: 0 5px;
            padding: 5px;
            width: calc(100% / 6);
            text-align: center;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                font-weight: bold;
                .header__nav--menu {
                    display: flex;
                }
            }
        }

        &--menu {
            display: none;
            background: $principalColor;
            padding: 5px 20px 5px 5px;
            position: absolute;
            top: 95%;
            left: 0;
            text-align: left;
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
        }

        &--department {
            margin: 0 15px;
        }

        &--department-item {
            font-weight: 900;
        }

        &--categories {
            font-weight: 100;
        }

        &--category {
            min-width: 100px;
            width: 100%;
            padding: 2px;

            &:hover {
                text-decoration: underline;
            }


        }

        &--especial {
            padding: 2px 4px;
            border: 1px solid $secondaryColor;
            cursor: pointer;
            border-radius: 5px;
            width: $rightWidth;
            display: flex;
            justify-content: center;
            align-content: center;
            @include d('768px'){
                display: none;
            }
        }
    }
}
