.render-collection{
    position: relative;
}
.cardProductContainer{
    // display: flex;
    // max-width: 100%;
    // overflow-x: auto;
    overflow-y: hidden;
    // padding: 0 3em;
    .cardProduct{
        display: flex;
        flex-flow: column;
        justify-content: center;
        // min-width: 350px;
        min-height: 380px;
        border: solid 1px $qdb-grey-l;
        margin: 0 0 0 10px;
        text-align: center;
        position: relative;
        overflow: hidden;
        @include sans(1rem, $g-primary, 400, initial);
        background: #fff;
        cursor: pointer;

        .cardProduct--change{
            position: absolute;
            top: 0;
            right: 0;
            z-index: 51;
            cursor: pointer;
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: 5px;
            transition: all .2s;
        }
        &.change-true{
            .cardProduct--change{
            width: 80%;
            background: $w-secundary;
            transform: translateX(0%);
                .cardProduct--change__engine{
                    height: 25px;
                    width: 25px;
                    flex-grow: 1;
                    path{
                        fill: $safflower;
                    }
                }
                .cardProduct--change__title{
                    display: flex;
                    align-items: center;
                    flex-grow: 1;
                    color: $safflower;
                }
                .cardProduct--change__close{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    flex-grow: 5;
                    color: $safflower;
                    padding-right: 10px;
                }
            }
            &:after{
                content: '';
                position: absolute;
                background: rgba($color: #000000, $alpha: .5);
                width: 100%;
                height: 100%;
            }
        }
        &.change-false{
            .cardProduct--change{
                & ~ .cardProduct__config{
                    transform: translateX(100%);
                }
                transform: translateX(100%);
                .cardProduct--change__engine{
                    position: absolute;
                    top: -.5em;
                    left: -3.7em;
                    display: flex;
                    background: $safflower;
                    width: 80px;
                    height: 35px;
                    padding: 10px 0 0;
                    transform: rotate(45deg) translate(0px, -3em);
                    transition: all .2s;
                    path{
                        fill: $w-secundary;
                    }
                }
                .cardProduct--change__title, .cardProduct--change__close{
                    display: none;
                }
            }
        }
        .cardProduct__config{
            position: absolute;
            background: $w-secundary;
            top: 0;
            z-index: 50;
            height: 100%;
            width: 80%;
            overflow-y: auto;
            padding: 3em 1em;
            right: 0;
            transition: all .2s;
            cursor: initial;
            // display: none;
            .cardProduct__config__type{
                text-align: left;
                display: flex;
                align-items: center;
                .cardProduct__config__type__title{
                    @include sans(1rem, $g-primary, 400, initial);
                }
                .cardProduct__config__type__colors{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 1rem;
                    height: 1rem;
                    position: relative;
                    border-radius: 1rem;
                    margin-right: 5px;
                    @include animation("colorConfig", 5s, infinite, cubic-bezier(.6,.51,0,1.01));
                    &:after{
                        content: "";
                        display: block;
                        background: $w-secundary;
                        width: 60%;
                        height: 60%;
                        border-radius: 1rem;
                    }

                    @keyframes colorConfig {
                        0%{
                            transform: rotate(0);
                            background: rgba(231, 169, 128, 1); /* Old browsers */
                            background: -moz-linear-gradient(left, rgba(231, 169, 128, 1) 0%, rgba(231, 169, 128, 1) 50%, rgba(238, 178, 127, 1) 51%, rgba(238, 178, 127, 1) 100%); /* FF3.6-15 */
                            background: -webkit-linear-gradient(left, rgba(231, 169, 128, 1) 0%,rgba(231, 169, 128, 1) 50%,rgba(238, 178, 127, 1) 51%,rgba(238, 178, 127, 1) 100%); /* Chrome10-25,Safari5.1-6 */
                            background: linear-gradient(to right, rgba(231, 169, 128, 1) 0%,rgba(231, 169, 128, 1) 50%,rgba(238, 178, 127, 1) 51%,rgba(238, 178, 127, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */background: rgba(151, 97, 63, 1); /* Old browsers */   
                        }
                        25%{
                            transform: rotate(-30deg);
                            background: rgba(151, 97, 63, 1); /* Old browsers */
                            background: -moz-linear-gradient(left, rgba(151, 97, 63, 1) 0%, rgba(151, 97, 63, 1) 50%, rgba(108, 65, 49, 1) 51%, rgba(108, 65, 49, 1) 100%); /* FF3.6-15 */
                            background: -webkit-linear-gradient(left, rgba(151, 97, 63, 1) 0%,rgba(151, 97, 63, 1) 50%,rgba(108, 65, 49, 1) 51%,rgba(108, 65, 49, 1) 100%); /* Chrome10-25,Safari5.1-6 */
                            background: linear-gradient(to right, rgba(151, 97, 63, 1) 0%,rgba(151, 97, 63, 1) 50%,rgba(108, 65, 49, 1) 51%,rgba(108, 65, 49, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        }
                        60%{
                            transform: rotate(25deg);
                            background: rgba(231, 169, 128, 1); /* Old browsers */
                            background: -moz-linear-gradient(left, rgba(231, 169, 128, 1) 0%, rgba(231, 169, 128, 1) 50%, rgba(238, 178, 127, 1) 51%, rgba(238, 178, 127, 1) 100%); /* FF3.6-15 */
                            background: -webkit-linear-gradient(left, rgba(231, 169, 128, 1) 0%,rgba(231, 169, 128, 1) 50%,rgba(238, 178, 127, 1) 51%,rgba(238, 178, 127, 1) 100%); /* Chrome10-25,Safari5.1-6 */
                            background: linear-gradient(to right, rgba(231, 169, 128, 1) 0%,rgba(231, 169, 128, 1) 50%,rgba(238, 178, 127, 1) 51%,rgba(238, 178, 127, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */background: rgba(151, 97, 63, 1); /* Old browsers */   
                        }
                        80%{
                            transform: rotate(125deg);
                            background: rgba(222, 147, 94, 1); /* Old browsers */
                            background: -moz-linear-gradient(left, rgba(222, 147, 94, 1) 0%, rgba(222, 147, 94, 1) 50%, rgba(215, 159, 126, 1) 71%, rgba(215, 159, 126, 1) 100%); /* FF3.6-15 */
                            background: -webkit-linear-gradient(left, rgba(222, 147, 94, 1) 0%,rgba(222, 147, 94, 1) 50%,rgba(215, 159, 126, 1) 71%,rgba(215, 159, 126, 1) 100%); /* Chrome10-25,Safari5.1-6 */
                            background: linear-gradient(to right, rgba(222, 147, 94, 1) 0%,rgba(222, 147, 94, 1) 50%,rgba(215, 159, 126, 1) 71%,rgba(215, 159, 126, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        }
                        100%{
                            transform: rotate(0);
                            background: rgba(231, 169, 128, 1); /* Old browsers */
                            background: -moz-linear-gradient(left, rgba(231, 169, 128, 1) 0%, rgba(231, 169, 128, 1) 50%, rgba(238, 178, 127, 1) 51%, rgba(238, 178, 127, 1) 100%); /* FF3.6-15 */
                            background: -webkit-linear-gradient(left, rgba(231, 169, 128, 1) 0%,rgba(231, 169, 128, 1) 50%,rgba(238, 178, 127, 1) 51%,rgba(238, 178, 127, 1) 100%); /* Chrome10-25,Safari5.1-6 */
                            background: linear-gradient(to right, rgba(231, 169, 128, 1) 0%,rgba(231, 169, 128, 1) 50%,rgba(238, 178, 127, 1) 51%,rgba(238, 178, 127, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */background: rgba(151, 97, 63, 1); /* Old browsers */   
                        }
                    }
                }
                .cardProduct__config__type__bulk{
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    width: 20px;
                    height: 20px;
                    position: relative;
                    border-radius: 20px;
                    margin-right: 5px;
                    overflow: hidden;
                    border: solid 1px $safflower;
                    &:after{
                        content: "";
                        display: block;
                        width: 10%;
                        height: 90%;
                        border-radius: 1px;
                        @include animation("volConfig", 5s, infinite, cubic-bezier(.07,.91,.96,.17));
                        transition: all .2s;
                        background: rgba(52, 46, 55, 1); /* Old browsers */
                        // background: -moz-linear-gradient(top, rgba(52, 46, 55, 1) 0%, rgba(52, 46, 55, 1) 50%, rgba(88, 84, 91, 1) 51%, rgba(88, 84, 91, 1) 100%); /* FF3.6-15 */
                        // background: -webkit-linear-gradient(top, rgba(52, 46, 55, 1) 0%,rgba(52, 46, 55, 1) 50%,rgba(88, 84, 91, 1) 51%,rgba(88, 84, 91, 1) 100%); /* Chrome10-25,Safari5.1-6 */
                        // background: linear-gradient(to bottom, rgba(52, 46, 55, 1) 0%,rgba(52, 46, 55, 1) 50%,rgba(88, 84, 91, 1) 51%,rgba(88, 84, 91, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    }
                    
                    @keyframes volConfig {
                        0%{
                            height: 100%;
                        }
                        50%{
                            height: 50%;
                        }
                        100%{
                            height: 100%;
                        }
                    }
                }
            }
            .cardProduct__config__list{
                display: flex;
                flex-flow: wrap;
                margin: 10px 0 20px;
                // justify-content: center;
                .cardProduct__config__list__item{
                    margin: .2em;
                    overflow: hidden;
                    display: flex;
                    flex-flow: column;
                    width: calc(100% / 5);
                    img{
                        border-radius: .2em;
                        cursor: pointer;
                    }
                    small{
                        font-size: 0.75em;
                    }
                    &.selected{
                        img{
                            border: solid 1px $safflower;
                        }
                    }
                }
            }
        }
        .cardProduct__link{
            display: flex;
            flex-flow: column;
        }
        .cardProduct__discount{
            .cardProduct__discount__content{
                position: absolute;
                left: 10px;
                top: 10px;
                background: $safflower;
                border-radius: 5px;
                display: flex;
                color: $w-secundary;
                padding: 2.5px 5px;
            }
        }
        .cardProduct__pictureContainer{
            position: relative;
            .cardProduct__pictureContainer__review{
                position: absolute;
                bottom: 1em;
                left: 1em;
                display: flex;
                flex-flow: column;
                align-items: flex-start;
                .cardProduct__pictureContainer__review__rating{
                    .cardProduct__review__rating__ratingHeart{
                        width: 1em;
                        height: 1em;
                    }
                }
                .cardProduct__pictureContainer__review__qtd{
                    max-width: 100px;
                    display: flex;
                    font-size: .8em;
                    text-align: left;
                }
            }
        }
        .cardProduct__info{
            display: flex;
            justify-content: center;
            position: relative;
            margin-bottom: 10px;
            .cardProduct__info__name{
                display: flex;
                align-items: flex-start;
                justify-content: center;
                @include sans(1em, $g-primary, 400, initial);
                padding: 0 10px;
                text-align: center;
                width: 80%;
                height: 2.25rem;
                overflow: hidden;
                -webkit-line-clamp: 2;
            }
            .cardProduct__info--favorite{
                position: absolute;
                right: 10px;
                top: 0;
                path{
                    stroke: $g-primary;
                }
            }
        }
        .cardProduct__price{
            .cardProduct__price__before{
                @include sans(1em, $g-primary, 400, normal);
                text-decoration: line-through;
                margin: 0;
                height: 1em;
                &._before-false{
                    display: none;
                }
            }
            .cardProduct__price__actual{
                @include sans(1.5em, $g-primary, 900, normal);
                margin-bottom: 5px;
            }
            .cardProduct__price__parcel{
                @include sans(.875em, $g-primary, 400, normal);
            }
        }
        .cardProduct--addToCart{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            position: absolute;
            transform: translateY(100%);
            bottom: 0;
            padding: 10px;
            @include sans(1em, $w-secundary, 400, normal);
            text-align: center;
            cursor: pointer;
            background: $safflower;
            transition: all .2s;
            .cardProduct--addToCart__wave {
              position: absolute;
              background: $safflower;
              width: 700px;
              height: 700px;
              bottom: -600px;
              transform-origin: 50% 48%;
              border-radius: 43%;
              animation: drift 6s infinite linear;
              &.__2{
                opacity: .5;
                animation: drift 4s infinite linear;
              }
                @keyframes drift {
                    from { transform: rotate(0deg); }
                    from { transform: rotate(360deg); }
                }
            }
            .cardProduct--addToCart__bag{
                margin-right: 5px;
                path{
                    fill: $w-secundary;
                }
            }
            &:hover{
                filter: brightness(140%);
            }
            &.adding{
                transform: translateY(0%);
                opacity: .7;
                pointer-events: none;
            }
        }

        &:hover{
            &.change-false{
                .cardProduct--addToCart{
                    transform: translateY(0%);
                }
            }
        }
        &.active{
            @include d("768px"){
                .cardProduct--addToCart{
                    transform: translateY(0%);
                }
            }
        }
        &.avaliable-false{
            opacity: .5;
            .cardProduct--addToCart{
                transform: translateY(100%);
            }
        }
    }
    .controls__arrows{
        .prev, .next{
            position: absolute;
            top: 50%;
            @include sans(2.5em, $g-primary, 400, 0);
            transition: all .2s;
            &.off{
                opacity: 0;
                pointer-events: none;
            }
            &:hover{
                color: $safflower;
            }
        }
        .prev{
            left: -5%;
        }
        .next{
            right: -5%;
        }
        @include d("768px"){
            display: none;
        }
    }
    @include d(s){
        .cardProduct.active.center{
            .cardProduct--addToCart{
                bottom: 0;
            }
        }
    }
    @include d(xs){
        .cardProduct.active.center{
            .cardProduct--addToCart{
                bottom: 0;
            }
        }
    }
}