<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-BR" class="_d-top">

<head>
    <title>quem disse, berenice? - Maquiagens, Fragrâncias e Cosméticos</title>
    <meta name="description"
        content="maquiagem não tem regra e pra sermos nós mesmas só precisamos dar o primeiro passo, sem medo de errar. coragem! errou? tenta de novo! se joga!" />
    <vtex:template id="00-0-QDB-Head" />
    <link rel="stylesheet" href="/arquivos/new_qdb_style_home.css" />
    <style>
        ._hero-nav {
            display: none;
        }

        .section-dicas {
            padding: 20px 0;
        }

        .section-dicas ul {
            list-style-type: none;
        }

        .section-dicas ul li {
            margin-left: 15px;
            line-height: 22px;
            font-size: 16px;
            font-weight: 500;
            color: #686162;
        }

        .section-dicas ul li a {
            text-decoration: none;
        }

        .section-dicas ul li a:hover {
            text-decoration: underline !important;
        }

        .section-dicas ._tit {
            list-style-type: none;
            color: #000;
        }

        .section-dicas ._subtit {
            color: #9E9E9E;
        }
    </style>
    <vtex:contentPlaceHolder id="MetaTags" />
    <!-- <vtex:contentPlaceHolder id="primeiraOferta" /> -->
</head>

<body>
    <vtex.cmc:modalformblackweek />
    <div class="wrapper">

        <!-- /#products1.products -->
        <div class="wrapper-inner">
            <div class="container">
                <div class="container-group">
                    <vtex:template id="00-0-QDB-Header" />
                </div>
                <!-- /.container-group -->

                <div class="main">
                    <section class="section-dicas">
                        <div class="shell">
                            <ul>
                                <li><a href="https://www.quemdisseberenice.com.br/">Home</a></li>
                                <li>
                                    Categorias
                                    <ul>
                                        <li><a href="http://www.quemdisseberenice.com.br/maquiagem"
                                                class="_tit">Maquiagem</a>
                                            <ul>
                                                <li>
                                                    <a href="https://www.quemdisseberenice.com.br/maquiagem/boca"
                                                        class="_subtit">Boca</a>
                                                    <ul>
                                                        <li><a
                                                                href="https://www.quemdisseberenice.com.br/maquiagem/boca/batom">Batom</a>
                                                        </li>
                                                        <li><a
                                                                href="https://www.quemdisseberenice.com.br/maquiagem/boca/gloss">Gloss</a>
                                                        </li>
                                                        <li><a
                                                                href="https://www.quemdisseberenice.com.br/maquiagem/boca/lapis-boca">Lápis
                                                                boca</a></li>
                                                        <li><a
                                                                href="https://www.quemdisseberenice.com.br/maquiagem/boca/cuidado-labial">Cuidado
                                                                labial</a></li>
                                                        <li><a
                                                                href="https://www.quemdisseberenice.com.br/maquiagem/boca/pincel">Pincel
                                                                de boca</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="https://www.quemdisseberenice.com.br/maquiagem/olhos"
                                                        class="_subtit">Olhos</a>
                                                    <ul>
                                                        <li><a
                                                                href="https://www.quemdisseberenice.com.br/maquiagem/olhos/creme-para-area-dos-olhos">Creme
                                                                para olhos</a></li>
                                                        <li><a
                                                                href="https://www.quemdisseberenice.com.br/maquiagem/olhos/lapis">Lápis
                                                                para olhos</a></li>
                                                        <li><a
                                                                href="https://www.quemdisseberenice.com.br/maquiagem/olhos/delineador">Delineador</a>
                                                        </li>
                                                        <li><a
                                                                href="https://www.quemdisseberenice.com.br/maquiagem/olhos/paleta">Paleta
                                                                de maquiagem</a></li>
                                                        <li><a
                                                                href="https://www.quemdisseberenice.com.br/maquiagem/olhos/mascara">Máscara
                                                                de cílios</a></li>
                                                        <li><a
                                                                href="https://www.quemdisseberenice.com.br/maquiagem/olhos/primer">Primer
                                                                para olhos</a></li>
                                                        <li><a
                                                                href="https://www.quemdisseberenice.com.br/maquiagem/olhos/sombra">Sombra
                                                                para olhos</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="https://www.quemdisseberenice.com.br/maquiagem/sobrancelhas"
                                                        class="_subtit">Sobrancelhas</a>
                                                    <ul>
                                                        <li><a
                                                                href="https://www.quemdisseberenice.com.br/maquiagem/sobrancelhas/lapis-duplo">Lápis
                                                                para sobrancelha</a></li>
                                                        <li><a
                                                                href="https://www.quemdisseberenice.com.br/maquiagem/sobrancelhas/paleta">Paleta
                                                                para sobrancelha</a></li>
                                                        <li><a
                                                                href="https://www.quemdisseberenice.com.br/maquiagem/sobrancelhas/pinca">Pinça
                                                                para sobrancelha</a></li>
                                                        <li><a
                                                                href="https://www.quemdisseberenice.com.br/maquiagem/sobrancelhas/caneta">Caneta
                                                                para sobrancelha</a></li>
                                                        <li><a
                                                                href="https://www.quemdisseberenice.com.br/maquiagem/sobrancelhas/gel">Gel
                                                                para sobrancelha</a></li>
                                                        <li><a
                                                                href="https://www.quemdisseberenice.com.br/maquiagem/sobrancelhas/pincel">Pincel
                                                                para sobrancelha</a></li>
                                                        <li><a
                                                                href="https://www.quemdisseberenice.com.br/maquiagem/sobrancelhas/mascara">Máscara
                                                                para sobrancelha</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="https://www.quemdisseberenice.com.br/perfumaria"
                                                class="_tit">Perfumaria</a>
                                            <ul>
                                                <li><a
                                                        href="https://www.quemdisseberenice.com.br/perfumaria/eau-de-parfum">Eau de Parfum</a>
                                                </li>
                                                <li><a
                                                        href="https://www.quemdisseberenice.com.br/perfumaria/deo-colonia">Deo Colônia</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="https://www.quemdisseberenice.com.br/cabelos"
                                                class="_tit">Cabelos</a>
                                            <ul>
                                                <li><a
                                                        href="https://www.quemdisseberenice.com.br/cabelos/pra-estilizar">Para
                                                        estilizar os Cabelos</a></li>
                                                <li><a href="https://www.quemdisseberenice.com.br/cabelos/pra-colorir">Para
                                                        colorir os Cabelos</a></li>
                                                <li><a
                                                        href="https://www.quemdisseberenice.com.br/cabelos/mascara-tonalizante">Máscara
                                                        tonalizante</a></li>
                                                <li><a
                                                        href="https://www.quemdisseberenice.com.br/cabelos/spray-iluminador">Spray
                                                        iluminador</a></li>
                                                <li><a
                                                        href="https://www.quemdisseberenice.com.br/cabelos/pra-por-e-tirar">Para
                                                        por e tirar</a></li>
                                                <li><a href="https://www.quemdisseberenice.com.br/cabelos/acessorios">Acessórios
                                                        para Cabelos</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="https://www.quemdisseberenice.com.br/corpo-e-banho"
                                                class="_tit">Produtos para
                                                Corpo e banho</a>
                                            <ul>
                                                <li><a
                                                        href="https://www.quemdisseberenice.com.br/corpo-e-banho/locoes-hidratantes">Loções
                                                        hidratantes</a></li>
                                                <li><a
                                                        href="https://www.quemdisseberenice.com.br/corpo-e-banho/sabonetes">Sabonetes</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="https://www.quemdisseberenice.com.br/kits-e-presentes"
                                                class="_tit">Kits e
                                                presentes</a>
                                            <ul>
                                                <li><a
                                                        href="https://www.quemdisseberenice.com.br/kits-e-presentes/kits">Kits</a>
                                                </li>
                                                <li><a
                                                        href="https://www.quemdisseberenice.com.br/kits-e-presentes/embalagens-pra-presente">Embalagens
                                                        para presentes</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="https://www.quemdisseberenice.com.br/unhas" class="_tit">Unhas</a>
                                            <ul>
                                                <li><a
                                                        href="https://www.quemdisseberenice.com.br/unhas/esmaltes">Esmaltes</a>
                                                </li>
                                                <li><a href="https://www.quemdisseberenice.com.br/unhas/lixa">Lixa</a>
                                                </li>
                                                <li><a href="https://www.quemdisseberenice.com.br/unhas/cera">Cera</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="https://www.quemdisseberenice.com.br/pele" class="_tit">Pele</a>
                                            <ul>
                                                <li><a
                                                        href="https://www.quemdisseberenice.com.br/maquiagem/pele/hidratante-facial">Hidratante
                                                        facial</a></li>
                                                <li><a
                                                        href="https://www.quemdisseberenice.com.br/maquiagem/pele/base/">Base</a>
                                                </li>
                                                <li><a
                                                        href="https://www.quemdisseberenice.com.br/maquiagem/pele/po-facial/">Pó facial</a>
                                                </li>
                                                <li><a
                                                        href="https://www.quemdisseberenice.com.br/maquiagem/pele/blush/">Blush</a>
                                                </li>
                                                <li><a
                                                        href="https://www.quemdisseberenice.com.br/maquiagem/pele/iluminador/">Iluminador</a>
                                                </li>
                                                <li><a
                                                        href="https://www.quemdisseberenice.com.br/maquiagem/pele/bronze/">Bronze</a>
                                                </li>
                                                <li><a
                                                        href="https://www.quemdisseberenice.com.br/maquiagem/pele/primer/">Primer</a>
                                                </li>
                                                <li><a
                                                        href="https://www.quemdisseberenice.com.br/maquiagem/pele/bb-e-cc-creme">BB e CC creme</a>
                                                </li>
                                                <li><a
                                                        href="https://www.quemdisseberenice.com.br/maquiagem/pele/demaquilante/">Demaquilante</a>
                                                </li>
                                                <li><a
                                                        href="https://www.quemdisseberenice.com.br/cuidados/rosto">Cuidados para a pele</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="https://www.quemdisseberenice.com.br/acessorios/"
                                                class="_tit">Acessórios</a>
                                            <ul>
                                                <li><a
                                                        href="https://www.quemdisseberenice.com.br/acessorios-para-maquiagem/maquiagem">Acessórios
                                                        para maquiagem</a></li>
                                                <li><a
                                                        href="https://www.quemdisseberenice.com.br/acessorios-para-maquiagem/necessaire-e-organizadores">Necessaire
                                                        e organizadores</a></li>
                                                <li><a
                                                        href="https://www.quemdisseberenice.com.br/acessorios-para-maquiagem/maquiagem/pinceis-e-aplicadores">Pincéis
                                                        e aplicadores</a></li>
                                                <li><a
                                                        href="https://www.quemdisseberenice.com.br/acessorios-para-maquiagem/maquiagem/espelhos">Espelhos</a>
                                                </li>
                                                <li><a
                                                        href="https://www.quemdisseberenice.com.br/acessorios-para-maquiagem/maquiagem/limpa-pinceis">Limpa
                                                        pincéis</a></li>
                                                <li><a
                                                        href="https://www.quemdisseberenice.com.br/acessorios-para-maquiagem/maquiagem/pinca">Pinça</a>
                                                </li>
                                                <li><a
                                                        href="https://www.quemdisseberenice.com.br/acessorios-para-maquiagem/maquiagem/para-os-cilios">Para
                                                        cílios</a></li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <!-- <li>
                                    <a class="_tit">Exclusivos</a>
                                    <ul>
                                        <li><a href="https://www.quemdisseberenice.com.br/kajal">Kajal</a></li>
                                        <li><a href="https://www.quemdisseberenice.com.br/bb-cream">BB Cream</a></li>
                                        <li><a href="https://www.quemdisseberenice.com.br/maleta-de-maquiagem">Maleta de
                                                maquiagem</a></li>
                                        <li><a href="https://www.quemdisseberenice.com.br/agua-micelar">Água micelar</a>
                                        </li>
                                        <li><a href="https://www.quemdisseberenice.com.br/kit-maquiagem">Kit
                                                maquiagem</a></li>
                                        <li><a
                                                href="https://www.quemdisseberenice.com.br/base-liquida-superfluida-pele-natural">Base
                                                líquida superfluída</a></li>
                                        <li><a href="https://www.quemdisseberenice.com.br/base-supermate-oil-free">Base
                                                supermate oil free</a></li>
                                        <li><a href="https://www.quemdisseberenice.com.br/batom-volumao">Batom
                                                volumão</a></li>
                                        <li><a
                                                href="https://www.quemdisseberenice.com.br/batons-liquidos-mate-da-fernanda-souza">Batons
                                                líquidos mate da Fê Souza</a></li>
                                        <li><a href="https://www.quemdisseberenice.com.br/delineador-kajal">Delineador
                                                Kajal</a></li>
                                        <li><a href="https://www.quemdisseberenice.com.br/desobediente">Perfume
                                                desobediente</a></li>
                                        <li><a href="https://www.quemdisseberenice.com.br/familia-instamatte">Família
                                                instamatte</a></li>
                                        <li><a href="https://www.quemdisseberenice.com.br/maquia-bere">Maquia berê</a>
                                        </li>
                                        <li><a
                                                href="https://www.quemdisseberenice.com.br/melhor-batom-batalha-de-efeitos">Qual
                                                o melhor batom?</a></li>
                                        <li><a href="https://www.quemdisseberenice.com.br/monte-sua-paleta-de-sombras">Monte
                                                sua paleta de sombras</a></li>
                                        <li><a href="https://www.quemdisseberenice.com.br/nova-base-cushion">Nova base
                                                cushion</a></li>
                                        <li><a href="https://www.quemdisseberenice.com.br/novos-batons-tais-araujo">Batons
                                                da Tais Araújo</a></li>
                                        
                                    </ul>
                                </li> -->
                                <li>
                                    <a href="https://www.quemdisseberenice.com.br/tutoriais-dicas-de-beleza"
                                        class="_tit">Dicas e tutoriais</a>
                                    <ul>
                                        <li><a href="https://www.quemdisseberenice.com.br/delineador-kajal">Delineador Kajal</a></li>
                                        <li><a href="https://www.quemdisseberenice.com.br/escolha-o-seu-batom">Escolha o
                                                seu batom</a></li>
                                        <li><a href="https://www.quemdisseberenice.com.br/maquiagem-para-sobrancelhas">Maquiagem para Sobrancelhas</a></li>
                                        <li><a href="https://www.quemdisseberenice.com.br/guia-mascara-pra-cilios">Guia
                                                para máscara de cílios</a></li>
                                        <li><a href="https://www.quemdisseberenice.com.br/qual-a-melhor-base">Qual a
                                                melhor base?</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="_tit">Institucional</a>
                                    <ul>
                                        <li><a
                                                href="https://www.quemdisseberenice.com.br/institucional/atendimento">Atendimento</a>
                                        </li>
                                        <li><a
                                                href="https://www.quemdisseberenice.com.br/institucional/sobre-a-quem-disse-berenice">Sobre
                                                a quem disse, berenice?</a></li>
                                        <li><a
                                                href="https://www.quemdisseberenice.com.br/institucional/trabalhe-com-a-gente">Trabalhe
                                                com a gente</a></li>
                                        <li><a href="https://www.quemdisseberenice.com.br/institucional/termos-de-uso">Termos
                                                de uso</a></li>
                                        <li><a
                                                href="https://www.quemdisseberenice.com.br/institucional/carga-tributaria">Carga
                                                tributária</a></li>
                                        <li><a
                                                href="https://www.quemdisseberenice.com.br/institucional/politica-de-privacidade">Política
                                                de privacidade</a></li>
                                        <li><a
                                                href="https://www.quemdisseberenice.com.br/institucional/frete-e-entrega">Frete
                                                e entrega</a></li>
                                        <li><a
                                                href="https://www.quemdisseberenice.com.br/institucional/trocas-e-devolucoes">Trocas
                                                e devoluções</a></li>
                                        <li><a href="https://www.quemdisseberenice.com.br/nossas-lojas">Nossas lojas</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="_tit" href="https://www.quemdisseberenice.com.br/clube-das-beres">Clube das
                                    berês</a>
                                </li>
                                <li>
                                    <a class="_tit">Redes sociais</a>
                                    <ul>
                                        <li><a href="https://www.instagram.com/quemdisseberenice/">Instagram quem disse,
                                                berenice?</a></li>
                                        <li><a href="https://www.youtube.com/user/quemdisseberenice">Canal Youtube quem
                                                disse, berenice?</a></li>
                                        <li><a href="https://www.facebook.com/quemdisseberenice">Facebook quem disse,
                                                berenice?</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="https://www.quemdisseberenice.com.br/lancamentos"
                                        class="_tit">Lançamentos</a>
                                </li>
                                <li>
                                    <a href="https://www.quemdisseberenice.com.br/promocao" class="_tit">Promoções</a>
                                </li>
                                <li>
                                    <a href="https://www.quemdisseberenice.com.br/cupons-de-desconto" class="_tit">Cupons de Desconto</a>
                                </li>
                                <li>
                                    <a href="https://www.quemdisseberenice.com.br/black-friday" class="_tit">Black
                                        Friday</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.shell -->
                    </section>
                    <!-- /.section-chaordic -->
                </div>
                <!-- /.main -->

                <footer class="footer">
                    <!-- vtex:template id="new-qdb-footer" / -->
                    <vtex:template id="00-0-QDB-Footer" />
                </footer>
                <!-- /.footer -->
                <section class="texto--legal" style="display:block;">
                    <div class="shell">
                        <vtex:contentPlaceHolder id="Texto Legal (Promoções)" />
                    </div>
                </section>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper-inner -->
    </div>
    <!-- /.wrapper -->
    <!-- <vtex:contentPlaceHolder id="Codes etc" /> -->
</body>

</html>