<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-BR" class="_d-top">

    <head>
        <title><vtex.cmc:productPageTitle /></title>
        
        <vtex:template id="00-0-QDB-Head"/>
        
        <script src="/arquivos/new_qdb_institucional.js" type="text/javascript"></script> 
        <link href="/arquivos/new_qdb_style_institucional.css?v=00123" rel="stylesheet"/>
    </head>

    <body>
        <div class="wrapper">
            <div class="cart" id="cart1" data-item="wish">
                <!-- <vtex:template id="new-qdb-wishlist"/> -->
            </div><!-- /#products1.products -->
            
            <div class="wrapper-inner">
                <div class="container">
                    <div class="container-group header-follder-page">
                        <vtex:template id="00-0-QDB-Header" />
                    </div><!-- /.container-group -->

                    <div class="main">
                        <div class="main-inner">
                            <div class="shell"> 
                                <section class="section-institucional">
                                    <div class="breadcrumbs">
                                        <div class="bread-crumb">
                                            <ul>
                                                <li>
                                                    <a href="/">página inicial</a>
                                                </li>

                                                <li>
                                                    <vtex:contentPlaceHolder id="breadcrumbs" />
                                                </li>
                                            </ul>
                                        </div><!-- /.bread-crumb-->
                                    </div><!-- /.breadcrumbs-->

                                    <div class="shell-content">
                                        <vtex:contentPlaceHolder id="conteudo" />
                                    </div><!-- /.section-rating -->
                                </section><!-- /.section-institucional -->
                            </div><!-- /.shell -->
                        </div><!-- /.main-inner --> 
                        
                        <section class="section-subscribe">
                            <div class="slider-feeds">
                                <div class="slider-clip">
                                    <ul class="slides owl-carousel">
                                    </ul><!-- /.slides -->
                                </div><!-- /.slider-clip -->
                            </div><!-- /.slider-feeds -->
                        </section><!-- /.section-subscribe -->
                    </div><!-- /.main -->

                    <footer class="footer">
                        <vtex:template id="00-0-QDB-Footer" />
                    </footer><!-- /.footer -->
                </div><!-- /.container -->
            </div><!-- /.wrapper-inner -->
        </div><!-- /.wrapper -->
    </body>
</html>