<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-BR">

    <head>
        <title> Erro 404 </title>
        <vtex:metaTags />
        <vtex:template id="00-0-QDB-Head"/>
        <link rel="stylesheet" href="/arquivos/new_qdb_erro_404.css"/>
        <script type="text/javascript" src="/arquivos/new_qdb_functions_pag_erro.js"></script>
    </head>

    <body>
        <div class="wrapper">
            <div class="wrapper-inner">
                <div class="container">
                    <div class="container-group header-follder-page">
                        <vtex:template id="00-0-QDB-Header" />
                    </div><!-- /.container-group -->

                    <div class="main">
                        <section class="shell-error-404">
                            <div class="shell">
                                <h3>ué?</h3>
                                <h4> cadê a página que estava aqui? </h4>
                                <p>
                                    a gente bem que tentou, mas não conseguiu encontrar <br/> essa página. existem algumas razões pra isso acontecer: ela pode ter  <br/>sido removida, estar temporariamente indisponível ou você pode ter <br/> digitado o endereço errado (acontece, relaxa!).
                                </p>

                                <div class="shell-voltar">
                                    <a href="/" class="btn"> quer voltar pra página principal ?</a>
                                </div>
                                <p>..ou dê uma olhadinha aqui embaixo! <br/> vai que você encontra o que estava procurando? ;)</p>
                            </div>
                        </section>

                        <section class="section-products">
                            <div class="shell">
                                <div class="section-content">
                                    <h3> algumas sugestões pra você </h3>
                                    <div class="slider-products collection-pag-404">
                                        <div class="slider-clip">
                                            <vtex:contentPlaceHolder id="new-qdb-pag-404"/>
                                        </div><!-- /.slider-clip -->
                                        <div class="slider-actions">
                                            <a href="#" class="slider-prev"></a>
                                            <a href="#" class="slider-next"></a>
                                        </div><!-- /.slider-actions -->
                                    </div><!-- /.slider-products -->
                                </div><!-- /.section-content -->
                            </div><!-- /.shell -->
                        </section><!-- /.section-products -->

                        
                    </div><!-- /.main -->

                    <footer class="footer">
                        <vtex:template id="00-0-QDB-Footer" />
                    </footer><!-- /.footer -->
                </div><!-- /.container -->
            </div><!-- /.wrapper-inner -->
        </div><!-- /.wrapper -->
    </body>
</html>