<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style/main.css">
</head>
<body>
    <section data-main-group>
        <div data-main-option="claro">
            CLARO
        </div>
        <div data-main-option="claro-medio">
            CLARO MEDIO
        </div>
    </section>
    <section class="hide" data-tone-group="claro">
        <div data-tone-option="tone0">
            
        </div>
        <div data-tone-option="tone1">
            
        </div>
    </section>
    <section class="hide" data-tone-group="claro-medio">
        <div data-tone-option="tone2">
            
        </div>
        <div data-tone-option="tone3">
            
        </div>
    </section>
    <section class="hide" data-subtone-group="claro-medio">
        <div data-subtone-option="quente">
            
        </div>
        <div data-subtone-option="frio">
            
        </div>
    </section>

    <script src="./js/FirstLevel/ClaroStrategy.js"></script>
    <script src="./js/FirstLevel/ClaroMedioStrategy.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>