<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style/main.css">
</head>
<body>
    <section data-main-group>
        <div data-main-option="claro">
            CLARO
        </div>
        <div data-main-option="claro-medio">
            CLARO MEDIO
        </div>
    </section>
    <section data-tone-group="claro">
        <div data-option-tone="1">
            
        </div>
        <div data-option-tone="2">
            
        </div>
        <div data-option-tone="3">
            
        </div>
    </section>
    <section data-tone-group="claro-medio">
        <div data-option-tone="1">
            
        </div>
        <div data-option-tone="2">
            
        </div>
        <div data-option-tone="3">
            
        </div>
    </section>
    <script src="./js/FirstLevel/ClaroStrategy.js"></script>
    <script src="./js/FirstLevel/ClaroMedioStrategy.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>