<footer class="footer">
    <div class="footer__first-wrapper">
        <ul class="values">
            <li class="value__container">
                <svg class="value__container--svg"><vtex.cmc:SVGFooterNewCoelho/></svg>
                <p class="value__container--text">Não testamos <br />em animais</p>
            </li>
            <li class="value__container">
                <svg class="value__container--svg"><vtex.cmc:SVGFooterNewRecicla/></svg>
                <p class="value__container--text">Reciclamos suas <br />embalagens</p>
            </li>
        </ul>
    </div>
    <div class="footer__second-wrapper">
        <div class="second-wrapper__first-column">
            <div class="list-wrapper">
                <ul class="list">
                    Departamentos
                    <li class="list__item"><a href=""> Acessórios</a></li>
                    <li class="list__item"><a href=""> Cabelos</a></li>
                    <li class="list__item"><a href=""> Corpo e Banho</a></li>
                    <li class="list__item"><a href=""> Cuidados</a></li>
                    <li class="list__item"><a href=""> Kits e Presentes</a></li>
                    <li class="list__item"><a href=""> Maquiagem</a></li>
                </ul>
                <ul class="list">
                    Sobre
                    <li class="list__item"><a href=""> Sobre a quem disse, berenice?</a></li>
                    <li class="list__item"><a href=""> Nossas Lojas</a></li>
                    <li class="list__item"><a href=""> Termos de uso</a></li>
                    <li class="list__item"><a href=""> Carga Tributária</a></li>
                    <li class="list__item"><a href=""> Política de Privacidade</a></li>
                    <li class="list__item"><a href=""> Trabalhe com a gente</a></li>
                </ul>
            </div>
            <ul class="list trusts">
                Pode confiar
                <li class="list__item">
                    <ul class="list__item--trusts">
                        <li class="trust">
                            <vtex.cmc:SVGFooterCoelho />
                        </li>
                        <li class="trust">
                            <vtex.cmc:SVGFooterEbit />
                        </li>
                        <li class="trust">
                            <vtex.cmc:SVGFooterConfie />
                        </li>
                        <li class="trust">
                            <vtex.cmc:SVGFooterSiteBlindado />
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="second-wrapper__second-column">
            <div class="list-wrapper">
                <ul class="list">
                    Precisa de ajuda?
                    <li class="list__item"><a href=""> Meus Pedidos</a></li>
                    <li class="list__item"><a href=""> Frete e Entrega</a></li>
                    <li class="list__item"><a href=""> Trocas e Devoluções</a></li>
                    <li class="list__item"><a href=""> Perguntas Frequentes</a></li>
                    <li class="list__item"><a href=""> Mapa do Site</a></li>
                </ul>
                <ul class="list">
                    Contato
                    <li class="list__item"><a href=""> Chat</a></li>
                    <li class="list__item"><a href=""> Fale com a Berê</a></li>
                    <li class="list__item">E-mail</li>
                    <li class="list__item">0800 726 6482</li>
                    <li class="list__item--small">segunda á sexta das 8h ás 20h</li>

                </ul>
            </div>
            <ul class="list payments">
                Meios de pagamento
                <li class="list__item">
                    <ul class="list__item--payments">
                        <li class="payment">
                            <vtex.cmc:SVGFooterVisaNew />
                        </li>
                        <li class="payment">
                            <vtex.cmc:SvgFooterMasterCardNew />
                        </li>
                        <li class="payment">
                            <vtex.cmc:SVGFooterDiners />
                        </li>
                        <li class="payment">
                            <vtex.cmc:SvgFooterEloNew />
                        </li>
                        <li class="payment">
                            <vtex.cmc:SVGFooterHipercard />
                        </li>
                        <li class="payment">
                            <vtex.cmc:SvgFooterBoletoNew />
                        </li>
                        <li class="payment">
                            <vtex.cmc:SvgFooterAmex />
                        </li>
                        <li class="payment">
                            <vtex.cmc:SvgFooterJCB />
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
        <div class="second-wrapper__last-column">
            <ul class="social-media">
                <li class="social-media__logo">
                    <vtex.cmc:SvgFooterInstagramNew />
                </li>
                <li class="social-media__logo">
                    <vtex.cmc:SvgFooterFacebookNew />
                </li>
                <li class="social-media__logo">
                    <vtex.cmc:SvgFooterYoutubeNew />
                </li>
            </ul>
            <form id="nl_form" method="post" action="https://x.relaciona.quemdisseberenice.com.br/ats/post.aspx">

                <div class="form-controls">
                    <input type="text" name="validation-field" class="hidden" style="display: none;"/>
                    <input type="email" id="nl_email" name="nl_email" placeholder="receba nossas novidades por e-mail" class="subscribe-field" required="required"/>
                </div>
                <button id="submit_button" class="subscribe-btn" placeholder="enviar">
                    cadastrar <span class="subscribe-percent"></span><i class="success"></i></button>
                <div class="form-success" style="display: none;">
                    <h5>Seu e-mail foi cadastrado com sucesso</h5>
                </div>
                <div class="form-error" style="display: none;">
                    <h5>Ops, algo deu errado. Tente novamente mais tarde.</h5>&gt;
                </div>

            </form>
            <p class="info-small">Descadastre-se quando quiser. Para mais informações, veja nossa
                <a href="#">
                    Política de Privacidade
                </a>
            </p>
        </div>
    </div>
    <div class="footer__third-wrapper">
        <div class="logos">
            <svg class="logos__logo"></svg>
            <svg class="logos__logo"></svg>
        </div>
        <p class="legal-info">
            INTERBELLE COMÉRCIO DE PRODUTOS DE BELEZA LTDA. <br />
            RODOVIA RÉGIS BITENCOURT, KM 437, RIBEIRÃO VERMELHO, REGISTRO,<br />
            SP, CEP 11900-000 CNPJ/MF 11.137.051/0406-41
        </p>
    </div>
</footer>
