<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<!-- nao remover -->
<meta name="google-site-verification" content="mZhbS20kKmC_Hu7mGpVyCYL49RGj6Eh-sY8HxVvZ3-Q" />
<meta name="google-site-verification" content="pcjbLosruA23wIkCVSCIBGa_a_q7-K070CX1rybpxzA" />
<meta name="google-site-verification" content="ja6JcZEqaHWZDGnsNJ0b1U2NiC_QO_-zvKUeSBuz57g" />

<meta name="msapplication-TileImage" content="http://qbbr.vteximg.com.br/arquivos/favicon.ico"/>

<link rel="shortcut icon" href="/arquivos/favicon.ico" type="image/x-icon" />
<link rel="icon" href="http://qbbr.vteximg.com.br/arquivos/favicon.ico" type="image/x-icon" />

<link rel="dns-prefetch" href="https://qbbr.vteximg.com.br"/>
<link rel="dns-prefetch" href="https://io.vtex.com.br"/>
<link rel="dns-prefetch" href="https://www.googletagmanager.com"/>
<link rel="dns-prefetch" href="https://onsite.chaordicsystems.com"/>
<link rel="dns-prefetch" href="https://static.chaordicsystems.com"/>
<link rel="dns-prefetch" href="https://service.yourviews.com.br"/>
<link rel="dns-prefetch" href="https://cdnjs.cloudflare.com"/>

<!-- Vendor Styles -->
<link rel="stylesheet" href="https://qbbr.vteximg.com.br/arquivos/new_qdb_owl.carousel.min.css" type="text/css" media="all"/>
<link rel="stylesheet" href="https://qbbr.vteximg.com.br/arquivos/new_qdb_owl.theme.default.min.css" type="text/css" media="all"/>

<!-- App Styles -->
<!--<link rel="stylesheet" href="/arquivos/new_qdb_style.min.css"/>-->
<!-- <link rel="stylesheet" href="/arquivos/qdb_mobile_ajustes.css"/> -->

<!-- CUSTOM FLAGS -->
<link rel="stylesheet" href="https://qbbr.vteximg.com.br/arquivos/new_qdb_custom-flags.css"/>

<!-- obfuscator -->
<!-- <script src="/arquivos/tk.js"></script> -->

<!--OWL ANTIGO-->
<!-- Vendor JS -->
<script type="text/javascript" src="/arquivos/new-qdb-owl.carousel.min.js"></script>

<!--SLICK-->
<link rel="stylesheet" type="text/css" href="https://qbbr.vteximg.com.br/arquivos/slick.min.css" />

<!--VUE-->
<script src="https://qbbr.vteximg.com.br/arquivos/vue2.min.js"></script>




<style>
       .search .search-field, .subscribe .subscribe-field, .subscribe-btn{
        border-radius: 10px !important;    
    }
    .subscribe-btn{ background-color:#555 !important; color:#fff !important;}
    
    .flag-black-friday {display:inline-block!important;}
    
    .flag-black-friday .black-friday {color:#FFED00;background: #000!important;display: block!important;}
    .product-image .black-friday {color:#FFED00!important;background: #000!important;display: block!important; width:200px;text-align:center;padding:3px;}
    
    .tag.black-friday {display:none!important;}
    
</style>

<link rel="stylesheet" href="https://qbbr.vteximg.com.br/arquivos/font-awesome.min.css" />
<link rel="stylesheet" href="/arquivos/QDBCommon-general.css?v=17-07-2019" /> 
<!--<link rel="stylesheet" href="https://qbbr.vteximg.com.br/arquivos/_qdb-standard.css?v=10-06-2019" />-->

<vtex.cmc:QDBSidePanels />