<header class="header">
    <div class="header__container">
        <div class="header__first-column">
            <div class="header__container--access">
                <span class="header__accessibility"></span>
                <span id="regiao" class="header__region"></span>
            </div>
            <span class="header__logo">
                <a href="/">
                    <vtex.cmc:SVGHeaderLogoPrincipal />
                </a>
            </span>

            <div class="header__menu-hamburguer-container">
                <span type="checkbox" class="header__menu-hamburguer"></span>
                <p class="header__menu-hamburguer--text">Todas as categorias</p>
                <ul class="header__menu-container js--menu-close">
                    <li class="header__menu-wrapper">
                        <ul class="header__menu-wrapper--itens">
                            <li class="header__clube">
                                <div class="header__clube--container">
                                    <div class="header__clube--infos">
                                        <div class="header__clube--img">
                                            <vtex.cmc:SVGHeaderCoracaoMenu />
                                        </div>
                                        <div class="header__clube--text">
                                            <p class="header__clube--name">Olá, Berenice</p>
                                            <p class="header__clube--msg-saldo">Saldo Clube das Berês</p>
                                            <p class="header__clube--saldo">R$ 0,00</p>
                                        </div>
                                    </div>
                                    <div class="header__clube--acessiblity">
                                        <span class="header__clube--close js--close-menu">X</span>
                                        <span class="header__clube--acessibility">AC</span>
                                    </div>
                                </div>
                                <div class="header__clube--options">
                                    <div class="header__clube--menu">
                                        <a href="#">Meus Pedidos</a>
                                    </div>
                                    <div class="header__clube--menu">
                                        <a href="#">Meus Dados</a>
                                    </div>
                                </div>
                                <div class="header__clube--banner">
                                    <img src="/arquivos/backgroundMenu.png" />
                                    <p class="header__clube--banner-txt">Até 70% de desconto</p>
                                </div>
                            </li>
                            <li class="header__menu"><a href="/">Início</a></li>
                            <li class="header__menu">
                                Maquiagem
                                <input type="checkbox" class="accordion-checkbox" />
                                <ul class="header__menu--items">
                                    <li class="header__menu--department">
                                        Boca
                                        <input type="checkbox" class="accordion-checkbox" />
                                        <ul class="header__menu--categories">
                                            <li class="header__menu--category"><a href="/maquiagem"> Ver tudo </a></li>
                                            <li class="header__menu--category"><a href="/maquiagem/olhos/pincel"> Pincel </a></li>
                                            <li class="header__menu--category"><a href="/maquiagem/boca"> Batom </a></li>
                                            <li class="header__menu--category"><a href="/maquiagem/boca/batom-liquido"> Batom Liquido </a></li>
                                            <li class="header__menu--category"><a href="/maquiagem/boca/gloss"> Gloss </a></li>
                                            <li class="header__menu--category"><a href="/maquiagem/boca/lapis-boca"> Lápis Boca </a></li>
                                            <li class="header__menu--category"><a href="/maquiagem/boca/cuidados-para-os-labios"> Cuidados p/ os lábios </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="header__menu--department">
                                        Olhos
                                        <input type="checkbox" class="accordion-checkbox" />
                                        <ul class="header__menu--categories">
                                            <li class="header__menu--category"><a href="/maquiagem/olhos"> Ver tudo </a></li>
                                            <li class="header__menu--category"><a href="/maquiagem/olhos/paleta"> Paleta de Sombras</a></li>
                                            <li class="header__menu--category"><a href="/maquiagem/olhos/mascara"> Máscara para cílios </a></li>
                                            <li class="header__menu--category"><a href="/maquiagem/olhos/delineador"> Delineador </a></li>
                                            <li class="header__menu--category"><a href="/maquiagem/olhos/lapis"> Lápis Olhos</a></li>
                                            <li class="header__menu--category"><a href="/maquiagem/olhos/sombra"> Sombra </a></li>
                                            <li class="header__menu--category"><a href="/maquiagem/olhos/pincel"> Pincel </a></li>
                                            <li class="header__menu--category"><a href="/maquiagem/olhos/creme-para-area-dos-olhos"> Cuidados p/ a área dos olhos</a></li>    
                                            <li class="header__menu--category"><a href="/maquiagem/olhos/acessorios"> Acessórios </a></li>
                                            <li class="header__menu--category"><a href="/maquiagem/olhos/glitter-e-pigmentos"> Glitter e Pigmentos </a></li>
                                            <li class="header__menu--category"><a href="/maquiagem/olhos/primer"> Primer </a></li>
                                        </ul>
                                    </li>
                                    <li class="header__menu--department">
                                        Sobrancelhas
                                        <input type="checkbox" class="accordion-checkbox" />
                                        <ul class="header__menu--categories">
                                            <li class="header__menu--category"><a href="/maquiagem/sobrancelhas"> Ver tudo </a></li>
                                            <li class="header__menu--category"><a href="/maquiagem/sobrancelhas/caneta"> Caneta </a></li>
                                            <li class="header__menu--category"><a href="/maquiagem/sobrancelhas/gel"> Gel </a></li>
                                            <li class="header__menu--category"><a href="/maquiagem/sobrancelhas/lapis-duplo"> Lápis </a></li>
                                            <li class="header__menu--category"><a href="/maquiagem/sobrancelhas/paleta"> Paleta </a></li>
                                            <li class="header__menu--category"><a href="/maquiagem/sobrancelhas/pincel"> Pincel </a></li>
                                        </ul>
                                    </li>
                                    <li class="header__menu--department">
                                        Rosto
                                        <input type="checkbox" class="accordion-checkbox" />
                                        <ul class="header__menu--categories">
                                            <li class="header__menu--category"><a href="/maquiagem/rosto"> Ver tudo </a></li>
                                            <li class="header__menu--category"><a href=/maquiagem/rosto/base""> Base </a></li>
                                            <li class="header__menu--category"><a href="/maquiagem/rosto/bb-e-cc-creme"> BB e CC Creme </a></li>
                                            <li class="header__menu--category"><a href="/maquiagem/rosto/blush"> Blush </a></li>
                                            <li class="header__menu--category"><a href="/maquiagem/rosto/bronze"> Bronze </a></li>
                                            <li class="header__menu--category"><a href="/maquiagem/rosto/contorno-facial"> Contorno facial </a></li>
                                            <li class="header__menu--category"><a href="/maquiagem/rosto/corretivo"> Corretivo </a></li>
                                            <li class="header__menu--category"><a href="/maquiagem/rosto/demaquilante"> Demaquilante </a></li>
                                            <li class="header__menu--category"><a href="/maquiagem/rosto/hidratante-facial"> Hidratante Facial </a></li>
                                            <li class="header__menu--category"><a href="/maquiagem/rosto/iluminador"> Iluminador </a></li>
                                            <li class="header__menu--category"><a href="/maquiagem/rosto/limpeza"> Limpeza </a></li>
                                            <li class="header__menu--category"><a href="/maquiagem/rosto/po-facial"> Pó Facial </a></li>
                                            <li class="header__menu--category"><a href="/maquiagem/rosto/primer"> Primer </a></li>

                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="header__menu">
                                Perfumaria
                                <input type="checkbox" class="accordion-checkbox" />
                                <ul class="header__menu--items">
                                    <li class="header__menu--department">
                                        <a href="">
                                            Boca
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="header__menu">
                                Cabelo
                                <input type="checkbox" class="accordion-checkbox" />
                                <ul class="header__menu--items">
                                    <li class="header__menu--department">
                                        Boca
                                        <input type="checkbox" class="accordion-checkbox" />
                                        <ul class="header__menu--categories">
                                            <li class="header__menu--category"><a href="#"> Ver tudo </a></li>
                                            <li class="header__menu--category"><a href="#"> Pincel </a></li>
                                            <li class="header__menu--category"><a href="#"> Batom Liquido </a></li>
                                            <li class="header__menu--category"><a href="#"> Batom </a></li>
                                            <li class="header__menu--category"><a href="#"> Gloss </a></li>
                                            <li class="header__menu--category"><a href="#"> Lápis Boca </a></li>
                                            <li class="header__menu--category"><a href="#"> Cuidados p/ os lábios </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="header__menu--department">
                                        Olhos
                                        <input type="checkbox" class="accordion-checkbox" />
                                        <ul class="header__menu--categories">
                                            <li class="header__menu--category"><a href="#"> Ver tudo </a></li>
                                            <li class="header__menu--category"><a href="#"> Paleta </a></li>
                                            <li class="header__menu--category"><a href="#"> Cuidados p/ a área dos olhos
                                                </a></li>
                                            <li class="header__menu--category"><a href="#"> Máscara para cílios </a>
                                            </li>
                                            <li class="header__menu--category"><a href="#"> Delineador </a></li>
                                            <li class="header__menu--category"><a href="#"> Lápis </a></li>
                                            <li class="header__menu--category"><a href="#"> Sombra </a></li>
                                            <li class="header__menu--category"><a href="#"> Primer </a></li>
                                            <li class="header__menu--category"><a href="#"> Pigmento e Glitter </a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="header__menu">
                                Corpo e Banho
                                <input type="checkbox" class="accordion-checkbox" />
                                <ul class="header__menu--items">
                                    <li class="header__menu--department">
                                        Boca
                                        <input type="checkbox" class="accordion-checkbox" />
                                        <ul class="header__menu--categories">
                                            <li class="header__menu--category"><a href="#"> Ver tudo </a></li>
                                            <li class="header__menu--category"><a href="#"> Pincel </a></li>
                                            <li class="header__menu--category"><a href="#"> Batom Liquido </a></li>
                                            <li class="header__menu--category"><a href="#"> Batom </a></li>
                                            <li class="header__menu--category"><a href="#"> Gloss </a></li>
                                            <li class="header__menu--category"><a href="#"> Lápis Boca </a></li>
                                            <li class="header__menu--category"><a href="#"> Cuidados p/ os lábios </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="header__menu">
                                Acessórios
                                <input type="checkbox" class="accordion-checkbox" />
                                <ul class="header__menu--items">
                                    <li class="header__menu--department">
                                        Boca
                                        <input type="checkbox" class="accordion-checkbox" />
                                        <ul class="header__menu--categories">
                                            <li class="header__menu--category"><a href="#"> Ver tudo </a></li>
                                            <li class="header__menu--category"><a href="#"> Pincel </a></li>
                                            <li class="header__menu--category"><a href="#"> Batom Liquido </a></li>
                                            <li class="header__menu--category"><a href="#"> Batom </a></li>
                                            <li class="header__menu--category"><a href="#"> Gloss </a></li>
                                            <li class="header__menu--category"><a href="#"> Lápis Boca </a></li>
                                            <li class="header__menu--category"><a href="#"> Cuidados p/ os lábios </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="header__menu">
                                Kits e Presentes
                                <input type="checkbox" class="accordion-checkbox" />
                                <ul class="header__menu--items">
                                    <li class="header__menu--department">
                                        Boca
                                        <input type="checkbox" class="accordion-checkbox" />
                                        <ul class="header__menu--categories">
                                            <li class="header__menu--category"><a href="#"> Ver tudo </a></li>
                                            <li class="header__menu--category"><a href="#"> Pincel </a></li>
                                            <li class="header__menu--category"><a href="#"> Batom Liquido </a></li>
                                            <li class="header__menu--category"><a href="#"> Batom </a></li>
                                            <li class="header__menu--category"><a href="#"> Gloss </a></li>
                                            <li class="header__menu--category"><a href="#"> Lápis Boca </a></li>
                                            <li class="header__menu--category"><a href="#"> Cuidados p/ os lábios </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="header__menu">
                                Dicas
                                <input type="checkbox" class="accordion-checkbox" />
                                <ul class="header__menu--items">
                                    <li class="header__menu--department">
                                        Boca
                                        <input type="checkbox" class="accordion-checkbox" />
                                        <ul class="header__menu--categories">
                                            <li class="header__menu--category"><a href="#"> Ver tudo </a></li>
                                            <li class="header__menu--category"><a href="#"> Pincel </a></li>
                                            <li class="header__menu--category"><a href="#"> Batom Liquido </a></li>
                                            <li class="header__menu--category"><a href="#"> Batom </a></li>
                                            <li class="header__menu--category"><a href="#"> Gloss </a></li>
                                            <li class="header__menu--category"><a href="#"> Lápis Boca </a></li>
                                            <li class="header__menu--category"><a href="#"> Cuidados p/ os lábios </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="header__menu especial"><a href="#"></a>Promoções</li>
                            <li class="header__menu especial"><a href="#"></a>Clube das Berês</li>
                            <li class="header__menu especial"><a href="#"></a>Retorna Berê</li>
                            <li class="header__menu ajuda"><a href="#">Ajuda</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
        <div class="header__second-column">
            <form action="//busca.quemdisseberenice.com.br/busca" method="get" class="header__search">
                <input type="search" name="q" id="q" value="" placeholder="O que procura hoje?"
                    class="header__search--input search-field" />
                <label for="search-btn" class="header__search--label">
                    <vtex.cmc:SVGHeaderSearchBtn />
                    <input type="submit" id="search-btn" value="" class="header__search--btn search-btn" />
                </label>
            </form>

            <nav class="header__container--nav">
                <ul class="header__nav">
                    <li class="header__nav--list">
                        <a href="/maquiagem">
                            maquiagem
                        </a>
                        <div class="header__nav--menu">
                            <ul class="header__nav--department">
                                <li class="header__nav--department-item">
                                    <a href="/maquiagem/boca">
                                        Boca
                                    </a>
                                    <ul class="header__nav--categories">
                                        <li class="header__nav--category">
                                            <a href="/maquiagem/boca/batom">
                                                Batom
                                            </a>
                                        </li>
                                        <li class="header__nav--category">
                                            <a href="/maquiagem/boca/batom-liquido">
                                                Batom líquido
                                            </a>
                                        </li>
                                        <li class="header__nav--category">
                                            <a href="/maquiagem/boca/gloss">
                                                Gloss
                                            </a>
                                        </li>
                                        <li class="header__nav--category">
                                            <a href="/maquiagem/boca/lapis-boca">
                                                Lápis boca
                                            </a>
                                        </li>
                                        <li class="header__nav--category">
                                            <a href="/maquiagem/boca/cuidados-para-os-labios">
                                                Cuidados p/ os lábios
                                            </a>
                                        </li>
                                        <li class="header__nav--category">
                                            <a href="https://www.quemdisseberenice.com.br/maquiagem/boca">
                                                Ver tudo +
                                            </a>
                                        </li>
                                    </ul>

                                </li>
                            </ul>
                            <ul class="header__nav--department">
                                <li class="header__nav--department-item">
                                    <a href="/maquiagem/olhos">
                                        olhos
                                    </a>
                                    <ul class="header__nav--categories">
                                        <li class="header__nav--category">
                                            <a href="/maquiagem/olhos/paleta">
                                                Paleta de Sombras
                                            </a>
                                        </li>
                                        <li class="header__nav--category">
                                            <a href="/maquiagem/olhos/mascara">
                                                Máscara para cílios
                                            </a>
                                        </li>

                                        <li class="header__nav--category">
                                            <a href="/maquiagem/olhos/delineador">
                                                Delineador
                                            </a>
                                        </li>

                                        <li class="header__nav--category">
                                            <a href="/maquiagem/olhos/lapis">
                                                Lápis Olhos
                                            </a>
                                        </li>

                                        <li class="header__nav--category">
                                            <a href="/maquiagem/olhos/sombra">
                                                Sombra
                                            </a>
                                        </li>

                                        <li class="header__nav--category">
                                            <a href="/maquiagem/olhos/pincel">
                                                Pincel
                                            </a>
                                        </li>

                                        <li class="header__nav--category">
                                            <a href="/maquiagem/olhos/creme-para-area-dos-olhos">
                                                Cuidados p/ a área dos olhos
                                            </a>
                                        </li>

                                        <li class="header__nav--category">
                                            <a href="/maquiagem/olhos/acessorios">
                                                Acessórios
                                            </a>
                                        </li>

                                        <li class="header__nav--category">
                                            <a href="/maquiagem/olhos/glitter-e-pigmentos">
                                                Glitter e Pigmentos
                                            </a>
                                        </li>

                                        <li class="header__nav--category">
                                            <a href="/maquiagem/olhos/primer">
                                                Primer
                                            </a>
                                        </li>

                                        <li class="header__nav--category">
                                            <a href="/maquiagem/olhos">
                                                Ver tudo +
                                            </a>
                                        </li>

                                    </ul>

                                </li>
                            </ul>
                            <ul class="header__nav--department">
                                <li class="header__nav--department-item">
                                    <a href="/maquiagem/sobrancelhas">
                                        sobrancelhas
                                    </a>
                                    <ul class="header__nav--categories">

                                        <li class="header__nav--category">
                                            <a href="/maquiagem/sobrancelhas/caneta">
                                                Caneta
                                            </a>
                                        </li>

                                        <li class="header__nav--category">
                                            <a href="/maquiagem/sobrancelhas/gel">
                                                Gel
                                            </a>
                                        </li>

                                        <li class="header__nav--category">
                                            <a href="/maquiagem/sobrancelhas/caneta">
                                                Lápis
                                            </a>
                                        </li>

                                        <li class="header__nav--category">
                                            <a href="/maquiagem/sobrancelhas/paleta">
                                                Paleta
                                            </a>
                                        </li>

                                        <li class="header__nav--category">
                                            <a href="/maquiagem/sobrancelhas/pincel">
                                                Pincel
                                            </a>
                                        </li>

                                        <li class="header__nav--category">
                                            <a href="/maquiagem/sobrancelhas">
                                                Ver tudo +
                                            </a>
                                        </li>

                                    </ul>

                                </li>
                            </ul>
                            <ul class="header__nav--department">
                                <li class="header__nav--department-item">
                                    <a href="/maquiagem/rosto">
                                        rosto
                                    </a>
                                    <ul class="header__nav--categories">
                                        <li class="header__nav--category">
                                            <a href="/maquiagem/rosto/base">
                                                Base
                                            </a>
                                        </li>
                                        <li class="header__nav--category">
                                            <a href="/maquiagem/rosto/bb-e-cc-creme">
                                                BB e CC Creme
                                            </a>
                                        </li>
                                        <li class="header__nav--category">
                                            <a href="/maquiagem/rosto/blush">
                                                Blush
                                            </a>
                                        </li>
                                        <li class="header__nav--category">
                                            <a href="#">
                                                Bronze
                                            </a>
                                        </li>
                                        <li class="header__nav--category">
                                            <a href="/maquiagem/rosto/contorno-facial">
                                                Contorno facial
                                            </a>
                                        </li>
                                        <li class="header__nav--category">
                                            <a href="/maquiagem/rosto/corretivo">
                                                Corretivo
                                            </a>
                                        </li>
                                        <li class="header__nav--category">
                                            <a href="/maquiagem/rosto/demaquilante">
                                                Demaquilante
                                            </a>
                                        </li>
                                        <li class="header__nav--category">
                                            <a href="/maquiagem/rosto/hidratante-facial">
                                                Hidratante Facial
                                            </a>
                                        </li>
                                        <li class="header__nav--category">
                                            <a href="/maquiagem/rosto/iluminador">
                                                Iluminador
                                            </a>
                                        </li>
                                        <li class="header__nav--category">
                                            <a href="/maquiagem/rosto/limpeza">
                                                Limpeza
                                            </a>
                                        </li>
                                        <li class="header__nav--category">
                                            <a href="/maquiagem/rosto/po-facial">
                                                Pó Facial
                                            </a>
                                        </li>
                                        <li class="header__nav--category">
                                            <a href="/maquiagem/rosto/primer">
                                                Primer
                                            </a>
                                        </li>
                                        <li class="header__nav--category">
                                            <a href="/maquiagem/rosto">
                                                Ver tudo +
                                            </a>
                                        </li>
                                    </ul>

                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header__nav--list">
                        <a href="/perfumaria">
                            perfumaria
                        </a>
                        <div class="header__nav--menu">
                            <ul class="header__nav--department">
                                <li class="header__nav--department-item">
                                    <ul class="header__nav--categories">
                                        <li class="header__nav--category">
                                            <a href="/perfumaria/eau-de-parfum">
                                                Eau de parfum
                                            </a>
                                        </li>
                                        <li class="header__nav--category">
                                            <a href="/perfumaria/desodorante-colonia">
                                                Desodorante Colônia
                                            </a>
                                        </li>
                                        <li class="header__nav--category">
                                            <a href="/maquiagem/sobrancelhas">
                                                Ver tudo +
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header__nav--list">
                        <a href="/cabelos/">
                            cabelo
                        </a>
                        <div class="header__nav--menu">
                            <ul class="header__nav--department">
                                <li class="header__nav--department-item">
                                    <ul class="header__nav--categories">

                                        <li class="header__nav--category">
                                            <a href="/cabelos/pra-colorir">
                                                Coloração
                                            </a>
                                        </li>

                                        <li class="header__nav--category">
                                            <a href="/cabelos/pra-estilizar">
                                                Estilização
                                            </a>
                                        </li>

                                        <li class="header__nav--category">
                                            <a href="/cabelos/pra-por-e-tirar">
                                                Cuidados c/ os cabelos
                                            </a>
                                        </li>

                                        <li class="header__nav--category">
                                            <a href="/cabelos/acessorios">
                                                Acessórios
                                            </a>
                                        </li>

                                        <li class="header__nav--category">
                                            <a href="/cabelos/">
                                                Ver tudo +
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header__nav--list">
                        <a href="/corpo-e-banho">
                            corpo e banho
                        </a>
                        <div class="header__nav--menu">
                            <ul class="header__nav--department">
                                <li class="header__nav--department-item">
                                    <a href="/corpo-e-banho/hidratante-desodorante">
                                        Hidratante desodorante
                                    </a>

                                    <ul class="header__nav--categories">

                                        <li class="header__nav--category">
                                            <a href="/corpo-e-banho/hidratante-desodorante/creme-hidratante-pra-maos">
                                                Creme hidratante para mãos
                                            </a>
                                        </li>

                                        <li class="header__nav--category">
                                            <a
                                                href="/corpo-e-banho/hidratante-desodorante/hidratante-desodorante-corporal">
                                                Hidratante desodorante corporal
                                            </a>
                                        </li>

                                        <li class="header__nav--category">
                                            <a href="/corpo-e-banho/hidratante-desodorante">
                                                Ver tudo +
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                            <ul class="header__nav--department">
                                <li class="header__nav--department-item">
                                    <a href="/corpo-e-banho/sabonetes">
                                        Sabonetes
                                    </a>
                                    <ul class="header__nav--categories">

                                        <li class="header__nav--category">
                                            <a href="/corpo-e-banho/sabonetes/sabonete-em-barra">
                                                Sabonete em barra
                                            </a>
                                        </li>

                                        <li class="header__nav--category">
                                            <a href="/corpo-e-banho/sabonetes/sabonete-demaquilante">
                                                Sabonete demaquilante
                                            </a>
                                        </li>

                                        <li class="header__nav--category">
                                            <a href="/corpo-e-banho/sabonetes">
                                                Ver tudo +
                                            </a>
                                        </li>
                                    </ul>

                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header__nav--list">
                        <a href="/acessorios-para-maquiagem/">
                            acessórios
                        </a>
                        <div class="header__nav--menu">
                            <ul class="header__nav--department">
                                <li class="header__nav--department-item">
                                    <ul class="header__nav--categories">

                                        <li class="header__nav--category">
                                            <a href="/acessorios-para-maquiagem/apontador">
                                                Apontador
                                            </a>
                                        </li>

                                        <li class="header__nav--category">
                                            <a href="/acessorios-para-maquiagem/pinceis-e-esponjas">
                                                Pinceis e esponjas
                                            </a>
                                        </li>

                                        <li class="header__nav--category">
                                            <a href="/acessorios-para-maquiagem/necessaire-e-organizadores">
                                                Necessaire e organizadores
                                            </a>
                                        </li>

                                        <li class="header__nav--category">
                                            <a href="/acessorios-para-maquiagem/para-os-cilios">
                                                Para os cílios
                                            </a>
                                        </li>

                                        <li class="header__nav--category">
                                            <a href="/acessorios-para-maquiagem/pinca">
                                                Pinça
                                            </a>
                                        </li>

                                        <li class="header__nav--category">
                                            <a href="/acessorios-para-maquiagem/limpa-pinceis">
                                                Limpa pinceis
                                            </a>
                                        </li>

                                        <li class="header__nav--category">
                                            <a href="/acessorios-para-maquiagem/espelhos">
                                                Espelhos
                                            </a>
                                        </li>

                                        <li class="header__nav--category">
                                            <a href="/acessorios-para-maquiagem/">
                                                Ver tudo +
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header__nav--list">
                        <a href="/kits-e-presentes/">
                            kits e presentes
                        </a>
                        <div class="header__nav--menu">
                            <ul class="header__nav--department">
                                <li class="header__nav--department-item">
                                    <ul class="header__nav--categories">
                                        <li class="header__nav--category">
                                            <a href="/kits-e-presentes/kits/">
                                                Kits
                                            </a>
                                        </li>
                                        <li class="header__nav--category">
                                            <a href="/kits-e-presentes/embalagens-pra-presente">
                                                Embalagens
                                            </a>
                                        </li>
                                        <li class="header__nav--category">
                                            <a href="/kits-e-presentes/">
                                                Ver tudo +
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header__nav--list">
                        <a href="/promocao">
                            promoções
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header__third-column">
            <div class="header__options">
                <span class="header__options--item account">
                    <a href="/account/">
                        <vtex.cmc:SVGHeaderAccountNew />
                    </a>
                </span>
                <span class="header__options--item favorite">
                    <a href="/lista-de-desejos">
                        <vtex.cmc:SVGHeaderFavoritos />
                    </a>
                </span>
                <span class="header__options--item mini-cart __cart-link">
                    <vtex.cmc:SVGHeaderSacolaNew />
                </span>
            </div>
            <span class="header__nav--especial">
                <a href="/clube-das-beres">
                    clube das berês
                </a>
            </span>
        </div>

    </div>
</header>
