<!-- 201812042343 -->
<!-- header -->

<header class="_header _d-top">
    <vtex.cmc:homeContador />
     <div class="_banner-leaderboard">
         <script type="text/data" class="_banner-leaderboard-data">
             <div class="_blb-m"><vtex:TBBBannerLeaderboardMobile /></div>
             <div class="_blb-t"><vtex:TBBBannerLeaderboardTablet /></div>
             <div class="_blb-d"><vtex:TBBBannerLeaderboardDesktop /></div>
         </script>
     </div>
     <a class="counter-link">
     <span class="counter">
         <p class="promo-counter">
       <svg class="frete-gratis" width="50" height="38" fill="none" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><path d="M19.5.5h-9L9 23.5h27.5l1-23h-14" stroke="#fff"></path><path d="M24 .5h13.5l-.5 12h5.5c4.458.533 5.965 2.013 7 6.5v12.5h-4" stroke="#fff"></path><path fill="#fff" d="M0 6h20v1H0z"></path><path d="M11.5 31.5h-3l2-31H19m3.5 31h12" stroke="#fff"></path><path fill="#fff" d="M5 17h11v1H5zM3 12h4v1H3z"></path><circle cx="17" cy="32" r="5.5" stroke="#fff"></circle><circle cx="40" cy="32" r="5.5" stroke="#fff"></circle></svg> 
       <b class="text-counter"></b></p>
       <div class="counter-timer">
         <span id="timerdesk" class="counter--countdown"></span>
         <span class="counterbar">
           <span class="counterbar_active"></span>
         </span>
       </div>
     </span>
     </a>
     <a class="topbanner-link">
     <span id="topbanner" class="topbanner">
         <div class="toslide frete-gratis"></div>
         <span id="btnTopbanner" class="btn-counter btncopy">COPIAR</span>
     </span>
     </a>
     <div class="_top-bar">
         <div class="_top-bar-container">
             <div class="_banner-promo">
                 <vtex.cmc:QDBBannerTop />
             </div>
             <div class="_top-bar-links">
                 <div class="_top-bar-accessibility" style="display:none;">
                     <a>Acessibilidade</a>
                     <ul>
                         <li class="__acesso-facil">
                             <a href="https://www.essentialaccessibility.com/pt-br/download-app/?utm_source=boticariohomepage&amp;utm_medium=iconlarge&amp;utm_term=eachannelpage&amp;utm_content=header&amp;utm_campaign=boticario"
                                 target="_blank">acesso fácil</a>
                         </li>
                         <li class="__contrast">
                             <a>Contraste</a>
                         </li>
                         <li class="__hand-talk">
                             <a id="__enable-hand" onclick="cookieSetting(); cookieFinder();">Libras</a>
                             <a id="__disable-hand" onclick="cookieDestroy(); cookieFinder();" style="display: none;">Desativar libras</a>
                         </li>
                     </ul>
                 </div>
                 <div class="_top-bar-handicap">
                     <a></a>
                 </div>
             </div>
         </div>
     </div>
     <div class="_header-main-wrapper">
         <div class="_header-main">
             <div class="_header-menu">
                 <div class="_menu-cat">
                     <a>Menu</a>
                 </div>
                 <div class="_menu-links">
                     <ul>
                         <li class="_news-lnk"><a href="https://www.quemdisseberenice.com.br/maquiagem/boca">boca</a></li>
                         <li class="_best-sellers-lnk"><a href="https://www.quemdisseberenice.com.br/maquiagem/pele">pele</a></li>
                         <li class="_box-beauty-lnk"><a href="https://www.quemdisseberenice.com.br/maquiagem/olhos">olhos</a></li>
                         <li class="_club-lnk"><a href="https://www.quemdisseberenice.com.br/maquiagem/sobrancelhas">sobrancelhas</a></li>
                         <li class="_gift-card-lnk"><a href="https://www.quemdisseberenice.com.br/kits-e-presentes/kits?PS=24&amp;O=OrderByBestDiscountDESC">kits</a></li>
                         <li class="_brands-lnk"><a href="https://www.quemdisseberenice.com.br/promocao">promoções</a></li>
                         <li class="_outlet-lnk __highlight-blue">
                             <a href="https://www.quemdisseberenice.com.br/busca/?fq=H:627">
                                 <span>Ofertas de Aniversário</span>
                             </a>
                         </li>
                     </ul>
                 </div>
             </div>
             <div class="_header-logo"><a href="https://www.quemdisseberenice.com.br/"> <span style="display:none;"><vtex.cmc:SVGHeaderLogoPrincipal />quem disse berenice?</span></a></div>
             <div class="_header-logo-secundario"><a href="https://www.quemdisseberenice.com.br/"><span style="display:none;"><vtex.cmc:SVGHeaderLogoSecundario />quem disse berenice?</span></a></div>
             <div class="_header-links">
                 <ul>
                     <li class="__account-link"><a href="https://www.quemdisseberenice.com.br/account/"><span style="display:none;"><vtex.cmc:SVGHeaderUsuario /></span> Minha conta</a></li>
                     <li class="__wishlist-link"><a href="https://quemdisseberenice.com.br/lista-de-desejos"><span style="display:none;"><vtex.cmc:SVGHeaderFavoritos /></span>Wishlist</a></li>
                     <li class="__cart-link">
                         <a href="https://quemdisseberenice.com.br/checkout/#/cart">
                             <span>0</span>
                         </a>
                     </li>
                 </ul>
             </div>
             <div class="_header-search-bar">
                <form action="//busca.quemdisseberenice.com.br/busca" method="get">
                     <label for="q" class="hidden">Search</label>
 
                     <input type="search" name="q" id="q" value="" placeholder="O que procura hoje?" class="search-field" />
 
                     <input type="submit" value="" class="search-btn" />
 
                     <a href=".search" class="toggle search-btn"></a>
                 </form>
             </div>
         </div>
     </div>
 </header>
 <!-- header:end -->
 
 <!-- mini cart shipping info -->
 <div class="_mini-cart-data" style="display:none;">
     <script type="text/data" class="_mini-cart-shipping">
         <vtex.cmc:QDBMiniCartShipping />
     </script>
 </div>
 <!-- mini cart shipping info:end -->