<footer class="footer">
    <div class="footer__first-wrapper">
        <ul class="values">
            <li class="value__container">
                <svg class="value__container--svg"></svg>
                <p class="value__container--text"></p>
            </li>
            <li class="value__container">
                <svg class="value__container--svg"></svg>
                <p class="value__container--text"></p>
            </li>
        </ul>
    </div>
    <div class="footer__second-wrapper">
        <div class="second-wrapper__first-column">
            <div class="list-wrapper">
                <ul class="list">
                    Departamentos
                    <li class="list__item"><a href=""> Acessórios</a></li>
                    <li class="list__item"><a href=""> Cabelos</a></li>
                    <li class="list__item"><a href=""> Corpo e Banho</a></li>
                    <li class="list__item"><a href=""> Cuidados</a></li>
                    <li class="list__item"><a href=""> Kits e Presentes</a></li>
                    <li class="list__item"><a href=""> Maquiagem</a></li>
                </ul>
                <ul class="list">
                    Sobre
                    <li class="list__item"><a href=""> Sobre a quem disse, berenice?</a></li>
                    <li class="list__item"><a href=""> Nossas Lojas</a></li>
                    <li class="list__item"><a href=""> Termos de uso</a></li>
                    <li class="list__item"><a href=""> Carga Tributária</a></li>
                    <li class="list__item"><a href=""> Política de Privacidade</a></li>
                    <li class="list__item"><a href=""> Trabalhe com a gente</a></li>
                </ul>
            </div>
            <ul class="list">
                Pode confiar
                <li class="list__item"><a href=""> Cruelty free</a></li>
                <li class="list__item"><a href=""> ebit</a></li>
                <li class="list__item"><a href=""> compre e confie</a></li>
                <li class="list__item"><a href=""> site blindado</a></li>
            </ul>
        </div>
        <div class="second-wrapper__second-column">
            <div class="list-wrapper">
                <ul class="list">
                    Precisa de ajuda?
                    <li class="list__item"><a href=""> Meus Pedidos</a></li>
                    <li class="list__item"><a href=""> Frete e Entrega</a></li>
                    <li class="list__item"><a href=""> Trocas e Devoluções</a></li>
                    <li class="list__item"><a href=""> Perguntas Frequentes</a></li>
                    <li class="list__item"><a href=""> Mapa do Site</a></li>
                </ul>
                <ul class="list">
                    Contato
                    <li class="list__item"><a href=""> Chat</a></li>
                    <li class="list__item"><a href=""> Fale com a Berê</a></li>
                    <li class="list__item">E-mail</li>
                    <li class="list__item">0800 726 6482</li>
                    <li class="list__item--small">segunda á sexta das 8h ás 20h</li>

                </ul>
            </div>
            <ul class="list">
                Meios de pagamento
                <li class="list__item"><a href=""> Visa</a></li>
                <li class="list__item"><a href=""> MasterCard</a></li>
                <li class="list__item"><a href=""> ZZZZZ</a></li>
                <li class="list__item"><a href=""> Elo</a></li>
                <li class="list__item"><a href=""> Hipercard</a></li>
                <li class="list__item"><a href=""> Boleto</a></li>
            </ul>

        </div>
        <div class="second-wrapper__last-column">
            <ul class="social-media">
                <li class="social-media__logo"></li>
                <li class="social-media__logo"></li>
                <li class="social-media__logo"></li>
            </ul>
            <form action="" class="newsletter">
                <input type="email" id="s_ds_email" name="ds_email" value="" />
                placeholder="Receba nossas novidades por e-mail" class="subscribe-field">
                <label for="send-btn">
                    <input type="submit" value="Enviar" id="send-btn" />
                </label>
            </form>
            <p class="info-small">Descadastre-se quando quiser. Para mais informações, veja nossa
                <a href="#">
                    Política de Privacidade
                </a>
            </p>
        </div>
    </div>
    <div class="footer__third-wrapper">
        <div class="logos">
            <svg class="logos__logo"></svg>
            <svg class="logos__logo"></svg>
        </div>
        <p class="legal-info">
            INTERBELLE COMÉRCIO DE PRODUTOS DE BELEZA LTDA. <br />
            RODOVIA RÉGIS BITENCOURT, KM 437, RIBEIRÃO VERMELHO, REGISTRO,<br />
            SP, CEP 11900-000 CNPJ/MF 11.137.051/0406-41
        </p>
    </div>
</footer>
