<section class="_color-dark">
    <div class="shell">
        <div class="_footer-line-size-0">
            <div class="_footer-line-size-3 subscribe">
                <form id="nl_form" method="post" action="https://x.relaciona.quemdisseberenice.com.br/ats/post.aspx">
                    <div class="form-controls">
                        <input type="text" name="validation-field" class="hidden" style="display: none;"/>
                        <input type="email" id="nl_email" name="nl_email" placeholder="receba nossas novidades por e-mail" class="subscribe-field" required='required'/>
                    </div><!-- /.form-controls -->            
                    <button id='submit_button' class="subscribe-btn" placeholder="enviar"> cadastrar <span class="subscribe-percent"></span><i class="success"></i></button>
                    <div class="form-success" style="display: none;">
                        <h5>Seu e-mail foi cadastrado com sucesso</h5>
                    </div>
                    <div class="form-error" style="display: none;">
                        <h5>Ops, algo deu errado. Tente novamente mais tarde.</h5>
                    </div>
                </form>
            </div>
            <div class="_footer-line-size-2">
                <p class="_upperTxt">Siga a gente nas <br />redes sociais:</p>
                <a href="https://www.instagram.com/quemdisseberenice/" target="_blank" class="icons_footer icons_instagram" title="Instagram"><vtex.cmc:SVGFooterInstagram /></a>
                <a href="https://www.youtube.com/user/quemdisseberenice" target="_blank" class="icons_footer icons_youtube" title="Youtube"><vtex.cmc:SVGFooterYoutube /></a>
                <a href="https://www.facebook.com/quemdisseberenice" target="_blank" class="icons_footer icons_facebook" title="Facebook"><vtex.cmc:SVGFooterFacebook /></a>
            </div>
        </div>
        <div class="_footer-line-size-0">
            <div class="_footer-line-size-3">
                <div class="footer_col">
                    <h5>Mais sobre a gente:</h5>
                    <ul>
                        <li><a href="https://www.quemdisseberenice.com.br/institucional/sobre-a-quem-disse-berenice">Sobre a quem disse, berenice?</a></li>
                        <li><a href="https://www.quemdisseberenice.com.br/institucional/trabalhe-com-a-gente">Trabalhe com a gente</a></li>
                        <li><a href="https://www.quemdisseberenice.com.br/institucional/termos-de-uso">Termos de uso</a></li>
                        <li><a href="https://www.quemdisseberenice.com.br/institucional/carga-tributaria">Carga tributária</a></li>
                        <li><a href="https://www.quemdisseberenice.com.br/institucional/politica-de-privacidade">Política de privacidade</a></li>
                        <li><a href="https://www.quemdisseberenice.com.br/tutoriais-dicas-de-beleza">Dicas</a></li>
                        <li><a href="https://www.quemdisseberenice.com.br/cupons-de-desconto">Cupom de Desconto</a></li>
                        
                    </ul>
                </div>
                <div class="footer_col">
                    <h5>Precisa de ajuda?</h5>
                    <ul>
                        <li><a href="https://www.quemdisseberenice.com.br/_secure/account/orders">Meus Pedidos</a></li>
                        <li><a href="https://www.quemdisseberenice.com.br/institucional/frete-e-entrega">Frete e entrega</a></li>
                        <li><a href="https://www.quemdisseberenice.com.br/institucional/trocas-e-devolucoes">Trocas e devoluções</a></li>
                        <li><a href="https://www.quemdisseberenice.com.br/nossas-lojas">Nossas lojas</a></li>
                        <li><a href="https://www.quemdisseberenice.com.br/institucional/atendimento">Ver principais dúvidas</a></li>
                        <li><a href="https://www.quemdisseberenice.com.br/sitemap">Mapa do site</a></li>
                        <li><a href="https://www.quemdisseberenice.com.br/black-friday">Black Friday 2019</a></li>
                    </ul>
                </div>
                <div class="footer_col">
                    <h5>Fale conosco:</h5>
                    <ul>
                        <li>
                            <span>Telefone:<br/><strong>0800 726 6482</strong><br/>segunda à sexta das 9h às 18h</span>
                        </li>
                        <li><a href="https://www.quemdisseberenice.com.br/institucional/faleconosco" title="e-mail fale conosco">E-mail ></a></li>
                        <li><a href="https://www.quemdisseberenice.com.br/institucional/chat" title="chat fale conosco">Chat ></a></li>
                        <li><a href="https://www.quemdisseberenice.com.br/institucional/atendimento" title="atendimento fale conosco">Fale com a gente ></a></li>
                        <li><a href="https://www.quemdisseberenice.com.br/venda-corporativa" title="atendimento venda corporativa">Venda corporativa ></a></li>
                    </ul>
                </div>
            </div>
            <div class="_footer-line-size-2 _pagamentos">
                <div class="_footer-line-size-0">
                    <h5>Aqui você pode pagar com:</h5>
                    <ul>
                        <li><vtex.cmc:SVGFooterVisa /></li>
                        <li><vtex.cmc:SVGFooterMaster /></li>
                        <li><vtex.cmc:SVGFooterDinners /></li>
                        <li><vtex.cmc:SVGFooterElo /></li>
                        <li><vtex.cmc:SVGFooterHipercard /></li>
                        <li><vtex.cmc:SVGFooterBoleto /></li>
                    </ul>
                </div>
                <div class="_footer-line-size-0">
                    <h5>Iniciativas sustentáveis:</h5>
                    <ul>
                        <a href="https://features.peta.org/cruelty-free-company-search/cruelty_free_companies_company.aspx?Com_Id=7313" target="_blank"><li class="icons_animalTest"><vtex.cmc:SVGFooterLeapingBunny />Não testamos em animais</li></a>
                        <a href="https://www.quemdisseberenice.com.br/retorna-bere" target="_blank"><li class="icons_reciclagem"><vtex.cmc:SVGFooterReciclabere />Reciclamos suas embalagens</li></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="shell">
        <div class="_footer-line-size-0 _footer-corp">
            <div class="">
                <ul class="_footer-selos">
                    <!--<li> -->
                    <!--    <a id="seloPeta" href="https://features.peta.org/cruelty-free-company-search/cruelty_free_companies_company.aspx?Com_Id=7313" target="_blank">-->
                    <!--        <img src="http://qbbr.vteximg.com.br/arquivos/selo_peta.jpg" alt="Selo Peta Cruelty Free" />-->
                    <!--    </a>-->
                    <!--</li>-->
                    <li> 
                        <a id="seloEbit" class="seloEbit" href="http://www.ebit.com.br/#quem-disse-berenice" target="_blank"></a> 
                        <script type="text/javascript" id="getSelo" src="https://imgs.ebit.com.br/ebitBR/selo-ebit/js/getSelo.js?37171"></script>   
                    </li>
                    
                    <li>
                        <a class="clearSale" href="https://selo.clearsale.com.br/Loja/ExibirDetalhesLoja/498791AC-C9A7-4709-B8AC-182B6ECD5FA0" target="_blank">
                            <img src="https://selo.clearsale.com.br/Imagem/498791AC-C9A7-4709-B8AC-182B6ECD5FA0" alt="Selo Clearsale" />
                        </a>
                    </li>
                    
                    <li>
                        <div id="armored_website">
                            <param id="aw_preload" value="true" />
                            <param id="aw_use_cdn" value="true" />
                        </div>
                        <script type="text/javascript" src="//selo.siteblindado.com/aw.js"></script>
                    </li>
                    <li>
                        <a href="https://www.lojaconfiavel.com/quemdisseberenice" class="ts-footerstamp" data-lcname="quemdisseberenice"  target="_blank">
                            <img src="//service.yourviews.com.br/Image/388ef2d0-c3b8-4fd6-af13-446b698d544a/Footer.jpg" title="Loja Confiável" alt="Loja Confiável" style="width: 88px; height: 91px;"/>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="_footer--razao-social">
                <span>INTERBELLE COMÉRCIO DE PRODUTOS DE BELEZA LTDA. RODOVIA RÉGIS BITENCOURT, KM 437, RIBEIRÃO VERMELHO, REGISTRO, SP, CEP 11900-000 CNPJ/MF 11.137.051/0406-41</span>  
            </div>
            <a href="http://www.grupoboticario.com.br/" target="_blank">
            	<img src="/arquivos/logo-boticario.jpg" style="
                width: 100%;
                max-width: 400px;
                "/>
            </a>
        </div>
    </div>
</section>

<div id="modalRegional" class="modalRegional hidden"></div>

<!-- App JS -->
<script type="text/javascript" src="https://qbbr.vteximg.com.br/arquivos/new_qdb_jquery.vtexcart.js"></script>
<script type="text/javascript" src="/arquivos/new_qdb_helpers.js"></script>
<script type="text/javascript">$(window).on('load', function(){$('.section-chaordic, .section-products').css('opacity','1');});</script>

<!-- SLICK SLIDE -->
<script type="text/javascript" src="https://qbbr.vteximg.com.br/arquivos/slick-v1.9.min.js"></script>

<script type="application/Id+json">{"@context":"http://schema.org","@type":"Organization","name":"Quem disse berenice","url":"http://www.quemdisseberenice.com.br/","logo":"http://qbbr.vteximg.com.br/arquivos/new_qdb_logo.png","sameAs":["https://www.facebook.com/quemdisseberenice", "https://www.twitter.com/qdberenice","https://www.youtube.com/user/quemdisseberenice","https://instagram.com/quemdisseberenice/"]}</script>
<script type="application/Id+json">{"@context":"http://schema.org","@type","WebSite","url","http://www.quemdisseberenice.com.br/","potentialAction":{"@type":"SearchAction","target":"http://busca.quemdisseberenice.com.br/busca?q={search_term_string}","query-input":"required name=search_term_string"}}</script>

<!-- schema busca -->
<script>
    (function() {
    var jsonData = {
     "@context": "https://schema.org",
     "@type": "WebSite",
     "url": "https://www.quemdisseberenice.com.br/",
     "name": "quem disse, berenice?",
     "potentialAction": {
    "@type": "SearchAction",
      "target": "https://busca.quemdisseberenice.com.br/busca?q={search_term_string}",   
     "query-input": "required name=search_term_string"
     }
    };
    var el = document.createElement('script');
    el.type = 'application/ld+json';
    el.innerHTML = JSON.stringify(jsonData);
    document.head.appendChild(el);
    })();
</script>




<script type="text/javascript" src="https://qbbr.vteximg.com.br/arquivos/new_qdb_jquery.mask.min.js"></script>
<!--<script type="text/javascript" src="https://qbbr.vteximg.com.br/arquivos/jquery.md5.plugin.js"></script>-->

<!--VUE-->
<script src="https://qbbr.vteximg.com.br/arquivos/vue2.min.js"></script>

<script type="text/javascript" src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>

 <!--<script crossorigin="crossorigin" src="https://unpkg.com/react@16/umd/react.development.js"></script>-->
 <!--<script crossorigin="crossorigin" src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>-->
 
<script type="text/javascript" src="/arquivos/QDBCommon-General.js?v=16-09-2019"></script>
<!--<script defer="true" async="true" src="https://qbbr.vteximg.com.br/arquivos/_2019-qdb-leaderboardBanner.js"></script>-->
<script defer="true" async="true" src="/arquivos/dataLayer-qdb.js?v=29052019"></script>

<!-- Script Yourviews -->
<script type="text/javascript">
    (function () {
        var yvs = document.createElement("script");
        yvs.type = "text/javascript";
        yvs.async = true;
        yvs.id = "_yvsrc";
        yvs.src = "//service.yourviews.com.br/script/388ef2d0-c3b8-4fd6-af13-446b698d544a/yvapi.js";
        var yvs_script = document.getElementsByTagName("script")[0];
        yvs_script.parentNode.insertBefore(yvs, yvs_script);
    })();
    </script>
<!-- /Script Yourviews -->
<vtex.cmc:ModalBereFidelidade />

<a href=".wrapper" class="btn-top scroll">
    <i class="ico-arrow-up"></i>
    topo
</a>
<!--<div id="vue-app-quickvue">-->
<!--    <quickvue ref="quickvue"></quickvue>-->
<!--</div>-->
<vtex.cmc:QDBacessibilidade />
<!--<vtex.cmc:QDBTopBanner />-->