<section class="_color-dark">
    <div class="shell">
        <div class="_footer-line-size-0">
            <div class="_footer-line-size-3 subscribe">
                <form>
                    <div class="form-controls">
                        <label style="display: none;" for="mail" class="form-label">receba nossas novidades por e-mail diariamente</label>
                        <input type="hidden" name="cr" value="100299" />
                        <input type="hidden" name="fm" value="149" />
                        <input type="hidden" id="s_ds_origem_cadastro" name="ds_origem_cadastro" value="site" />
                        <input type="hidden" id="s_ds_campanha" name="ds_campanha" value="newsletter" />
                        <input type="hidden" id="s_dt_cadastro" name="dt_cadastro" value="" />
                        <input type="email" id="s_ds_email" name="ds_email" value="" placeholder="receba nossas novidades por e-mail" class="subscribe-field" />
                        <label for="mail" style="display: none;" class="form-label form-label-sub web">a frequência de envios pode variar de acordo com a sua interação</label>
                    </div><!-- /.form-controls -->
                    <button id='enviar_form_footer' class="subscribe-btn" placeholder="enviar"> cadastrar <span class="subscribe-percent"></span><i class="success"></i></button>
                    <label for="mail" style="display: none;" class="form-label form-label-sub mobile">a frequência de envios pode variar de acordo com a sua interação</label>
                </form>
                
            </div>
            <div class="_footer-line-size-2">
                <p class="_upperTxt">Siga a gente nas <br />redes sociais:</p>
                <a href="https://www.instagram.com/quemdisseberenice/" class="icons_footer icons_instagram" title="Instagram"><img src="/arquivos/rf-insta.png" alt="Instagram" /></a>
                <a href="https://www.youtube.com/user/quemdisseberenice" class="icons_footer icons_youtube" title="Youtube"><img src="/arquivos/rf-youtube.png" alt="Youtube" /></a>
                <a href="https://www.facebook.com/quemdisseberenice" class="icons_footer icons_facebook" title="Facebook"><img src="/arquivos/rf-facebook.png" alt="Facebook" /></a>
            </div>
        </div>
        <div class="_footer-line-size-0">
            <div class="_footer-line-size-3">
                <div class="footer_col">
                    <h5>Mais sobre a gente:</h5>
                    <ul>
                        <li><a href="https://www.quemdisseberenice.com.br/institucional/sobre-a-quem-disse-berenice">Sobre a quem disse, berenice?</a></li>
                        <li><a href="https://www.quemdisseberenice.com.br/institucional/trabalhe-com-a-gente">Trabalhe com a gente</a></li>
                        <li><a href="https://www.quemdisseberenice.com.br/institucional/termos-de-uso">Termos de uso</a></li>
                        <li><a href="https://www.quemdisseberenice.com.br/institucional/carga-tributaria">Carga tributária</a></li>
                        <li><a href="https://www.quemdisseberenice.com.br/institucional/politica-de-privacidade">Política de privacidade</a></li>
                        <li><a href="https://www.quemdisseberenice.com.br/tutoriais-dicas-de-beleza">Dicas</a></li>
                        <li><a href="https://www.quemdisseberenice.com.br/cupons-de-desconto">Cupom de Desconto</a></li>
                        
                    </ul>
                </div>
                <div class="footer_col">
                    <h5>Precisa de ajuda?</h5>
                    <ul>
                        <li><a href="https://www.quemdisseberenice.com.br/_secure/account/orders">Meus Pedidos</a></li>
                        <li><a href="https://www.quemdisseberenice.com.br/institucional/frete-e-entrega">Frete e entrega</a></li>
                        <li><a href="https://www.quemdisseberenice.com.br/institucional/trocas-e-devolucoes">Trocas e devoluções</a></li>
                        <li><a href="https://www.quemdisseberenice.com.br/nossas-lojas">Nossas lojas</a></li>
                        <li><a href="https://www.quemdisseberenice.com.br/institucional/atendimento">Ver principais dúvidas</a></li>
                        <li><a href="https://www.quemdisseberenice.com.br/sitemap">Mapa do site</a></li>
                    </ul>
                </div>
                <div class="footer_col">
                    <h5>Fale conosco:</h5>
                    <ul>
                        <li>
                            <span>Telefone:<br/><strong>0800 726 6482</strong><br/>segunda à sexta das 9h às 18h</span>
                        </li>
                        <li><a href="https://www.quemdisseberenice.com.br/institucional/faleconosco" title="e-mail fale conosco">E-mail ></a></li>
                        <li><a href="https://www.quemdisseberenice.com.br/institucional/chat" title="chat fale conosco">Chat ></a></li>
                        <li><a href="https://www.quemdisseberenice.com.br/institucional/atendimento" title="atendimento fale conosco">Fale com a gente ></a></li>
                    </ul>
                </div>
            </div>
            <div class="_footer-line-size-2 _pagamentos">
                <div class="_footer-line-size-0">
                    <h5>Aqui você pode pagar com:</h5>
                    <ul>
                        <li><img src="https://qbbr.vteximg.com.br/arquivos/rf-visa.png" alt="Visa" /></li>
                        <li><img src="https://qbbr.vteximg.com.br/arquivos/rf-master.png" alt="Mastercard" /></li>
                        <li><img src="https://qbbr.vteximg.com.br/arquivos/rf-diners.png" alt="Dinners" /></li>
                        <li><img src="https://qbbr.vteximg.com.br/arquivos/rf-elo.png" alt="Elo" /></li>
                        <li><img src="https://qbbr.vteximg.com.br/arquivos/rf-hipercard.png" alt="Hipercard" /></li>
                        <li><img src="https://qbbr.vteximg.com.br/arquivos/rf-boleto.png" alt="Boleto" /></li>
                    </ul>
                </div>
                <div class="_footer-line-size-0">
                    <h5>Iniciativas sustentáveis:</h5>
                    <ul>
                        <a href="https://features.peta.org/cruelty-free-company-search/cruelty_free_companies_company.aspx?Com_Id=7313" target="_blank"><li class="icons_animalTest">Não testamos em animais</li></a>
                        <a href="https://www.quemdisseberenice.com.br/retorna-bere" target="_blank"><li class="icons_reciclagem">Reciclamos suas embalagens</li></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="shell">
        <div class="_footer-line-size-0 _footer-corp">
            <div class="">
                <ul class="_footer-selos">
                    <!--<li> -->
                    <!--    <a id="seloPeta" href="https://features.peta.org/cruelty-free-company-search/cruelty_free_companies_company.aspx?Com_Id=7313" target="_blank">-->
                    <!--        <img src="http://qbbr.vteximg.com.br/arquivos/selo_peta.jpg" alt="Selo Peta Cruelty Free" />-->
                    <!--    </a>-->
                    <!--</li>-->
                    <li> 
                        <a id="seloEbit" class="seloEbit" href="http://www.ebit.com.br/#quem-disse-berenice" target="_blank"></a> 
                        <script type="text/javascript" id="getSelo" src="https://imgs.ebit.com.br/ebitBR/selo-ebit/js/getSelo.js?37171"></script>   
                    </li>
                    
                    <li>
                        <a class="clearSale" href="https://selo.clearsale.com.br/Loja/ExibirDetalhesLoja/498791AC-C9A7-4709-B8AC-182B6ECD5FA0" target="_blank">
                            <img src="https://selo.clearsale.com.br/Imagem/498791AC-C9A7-4709-B8AC-182B6ECD5FA0" alt="Selo Clearsale" />
                        </a>
                    </li>
                    
                    <li>
                        <div id="armored_website">
                            <param id="aw_preload" value="true" />
                            <param id="aw_use_cdn" value="true" />
                        </div>
                        <script type="text/javascript" src="//selo.siteblindado.com/aw.js"></script>
                    </li>
                </ul>
            </div>
            <div class="_footer--razao-social">
                <span>INTERBELLE COMÉRCIO DE PRODUTOS DE BELEZA LTDA. RODOVIA RÉGIS BITENCOURT, KM 437, RIBEIRÃO VERMELHO, REGISTRO, SP, CEP 11900-000 CNPJ/MF 11.137.051/0406-41</span>  
            </div>
            <div class="_seloGrupo">
                <a href="http://www.grupoboticario.com.br/">Uma empresa do <span class="_grupoBoticario">Grupo Boticário</span></a>
            </div>
        </div>
    </div>
</section>


<!-- LAZYLOAD HERO BANNER -->
 <script type="text/javascript" src="https://qbbr.vteximg.com.br/arquivos/lazyHeroBanners.js"></script> 
<!-- App JS -->
<script type="text/javascript" src="https://qbbr.vteximg.com.br/arquivos/new_qdb_jquery.vtexcart.js"></script>
<script type="text/javascript" src="/arquivos/new_qdb_helpers.js"></script>
<script type="text/javascript">$(window).on('load', function(){$('.section-chaordic, .section-products').css('opacity','1');});</script>

<!-- SLICK SLIDE -->
<script type="text/javascript" src="https://qbbr.vteximg.com.br/arquivos/slick-v1.9.min.js"></script>

<script type="application/Id+json">{"@context":"http://schema.org","@type":"Organization","name":"Quem disse berenice","url":"http://www.quemdisseberenice.com.br/","logo":"http://qbbr.vteximg.com.br/arquivos/new_qdb_logo.png","sameAs":["https://www.facebook.com/quemdisseberenice", "https://www.twitter.com/qdberenice","https://www.youtube.com/user/quemdisseberenice","https://instagram.com/quemdisseberenice/"]}</script>
<script type="application/Id+json">{"@context":"http://schema.org","@type","WebSite","url","http://www.quemdisseberenice.com.br/","potentialAction":{"@type":"SearchAction","target":"http://busca.quemdisseberenice.com.br/busca?q={search_term_string}","query-input":"required name=search_term_string"}}</script>

<!-- schema busca -->
<script>
    (function() {
    var jsonData = {
     "@context": "https://schema.org",
     "@type": "WebSite",
     "url": "https://www.quemdisseberenice.com.br/",
     "name": "quem disse, berenice?",
     "potentialAction": {
    "@type": "SearchAction",
      "target": "https://busca.quemdisseberenice.com.br/busca?q={search_term_string}",   
     "query-input": "required name=search_term_string"
     }
    };
    var el = document.createElement('script');
    el.type = 'application/ld+json';
    el.innerHTML = JSON.stringify(jsonData);
    document.head.appendChild(el);
    })();
</script>




<script type="text/javascript" src="https://qbbr.vteximg.com.br/arquivos/new_qdb_jquery.mask.min.js"></script>
<script type="text/javascript" src="https://qbbr.vteximg.com.br/arquivos/jquery.md5.plugin.js"></script>

<script defer="true" async="true" src="/arquivos/QDBCommon-General.js?v=17-07-2019"></script>
<!--<script defer="true" async="true" src="https://qbbr.vteximg.com.br/arquivos/_qdb-standard.js?v=13-06-2019-2"></script>-->
<script defer="true" async="true" src="https://qbbr.vteximg.com.br/arquivos/_2019-qdb-leaderboardBanner.js"></script>
<script defer="true" async="true" src="/arquivos/dataLayer-qdb.js?v=29052019"></script>

<!-- Script Yourviews -->
<script type="text/javascript">
    (function () {
        var yvs = document.createElement("script");
        yvs.type = "text/javascript";
        yvs.async = true;
        yvs.id = "_yvsrc";
        yvs.src = "//service.yourviews.com.br/script/388ef2d0-c3b8-4fd6-af13-446b698d544a/yvapi.js";
        var yvs_script = document.getElementsByTagName("script")[0];
        yvs_script.parentNode.insertBefore(yvs, yvs_script);
    })();
    </script>
<!-- /Script Yourviews -->
<vtex.cmc:ModalBereFidelidade />

<a href=".wrapper" class="btn-top scroll">
    <i class="ico-arrow-up"></i>
    topo
</a>
<div id="vue-app-quickvue">
    <quickvue ref="quickvue"></quickvue>
</div>
<vtex.cmc:QDBacessibilidade />
<!--<vtex.cmc:QDBTopBanner />-->