.bag{
  box-shadow: 0 0 40px 5px #000;
}

.bag-top{
  background-color: $bag-color-dark;
  color: $bag-color-secondary;

  &__close{
    background-color: $bag-color-dark;
    color: $bag-color-secondary;
    box-shadow: 0 0 15px 10px #000;
  }
  &__load{
    background: rgb(92,167,149);
    background: linear-gradient(90deg, rgba(92,167,149,1) 0%, rgba(44,205,167,1) 100%);
  }
}

.bag-shelf{
 @include scrollbar();
}

.bag-bottom{

  background-color: $bag-color-dark;
  color: $bag-color-secondary;

  &__cta{

    &-finish, &-keep{
      box-shadow: 0 0 25px 10px #000;
      background-color: $bag-color-dark;
      color: $bag-color-secondary;
    }
  }
}