.bag{
  &-bottom{
   width: 100%;
   height: 150px;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   background-color: #E3E3E3;
   &__discount{
    @extend %totals;
    opacity: 0;
    transition: opacity 0.2s ease;
      &--show{
        opacity: 1;
      }

      &-left,&-right{
        font-size: calc(17rem/16);
        width: 40%;
        color: #CF8484;
      }
      &-right{
        text-align: right;
      }
  }
    &__total{
      @extend %totals;
      margin: 10px auto;
   
      &-left,&-right{
        font-size: calc(18rem/16);
        width: 40%;
      }
      &-right{
        color: $bag-color-secondary;
        font-weight: bold;
        text-align: right;
      }
    }
    
    &__cta{
      display: flex;
      justify-content: space-around;
      width: 100%;
      z-index: 530;
      height: 50px;
      flex-wrap: wrap-reverse;
      align-self: flex-end;
      &-keep{
        @extend %bag-cta;
        color: $bag-color-primary-dark;
        background-color: white;
        padding: 1rem 0;
        border: $bag-color-primary-dark 1px solid;
        &:hover {
          color: white;
          background-color:$bag-color-primary-dark;
        }
      }
      &-finish{
        @extend %bag-cta;
        color: white;
        background-color: #342E37;
        padding: 1rem; 
        border-radius: 0;
        width: 100%;
        }
    }
    &__bonus{
      margin: auto;
      width: 98%;
      color: $bag-color-secondary;
      padding: 1% 4%;
      // border: 1px solid $bag-color-secondary;
      display: flex;
      flex-direction: column;
      &-item{
        display: inline-block;
        font: 15px/1 "Open Sans";
        animation: fadeIn 0.5s ease;
        margin-bottom: 5px;
        &::before{
          font-family: "Eudoricon";
          content: "\e999";
          margin-right: 10px;
          vertical-align: middle;
        }
        &::after{
          font-family: "Eudoricon";
          content: "\e91b";
          float: right;
        }
      }
      &-item:not(:nth-child(1)){
        &::before{
          font-family: "Eudoricon";
          content: "\e99b";
        }
      }
    }
  }
}
@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}