
#ajaxBusy p,
.loading p {
    border-top: 0;
    border-left: 0;
    border-radius: 0;
    display: block;
    font-size: 14px;
    padding: 10px 0 8px 8px;
    width: 120px;
    margin: 0 auto;
    background-color: #686162;
    color: #fff;
    font-weight: 400;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
}

.pratileira>h2 {
    display: none!important
}

@media(max-width:1024px) {
    .section-feeds {
        display: none
    }
}

@media(max-width:767px) {
    .hidden-xs {
        display: none!important
    }
    .visible-xs-block {
        display: block!important
    }
    .visible-xs-inline {
        display: inline!important
    }
    .visible-xs-inline-block {
        display: inline-block!important
    }
}

@media(min-width:768px)and (max-width:1024px) {
    .hidden-sm {
        display: none!important
    }
    .visible-sm-block {
        display: block!important
    }
    .visible-sm-inline {
        display: inline!important
    }
    .visible-sm-inline-block {
        display: inline-block!important
    }
}

@media(min-width:1025px)and (max-width:1300px) {
    .hidden-md {
        display: none!important
    }
    .visible-md-block {
        display: block!important
    }
    .visible-md-inline {
        display: inline!important
    }
    .visible-md-inline-block {
        display: inline-block!important
    }
}

@media(min-width:1301px) {
    .hidden-lg {
        display: none!important
    }
    .visible-lg-block {
        display: block!important
    }
    .visible-lg-inline {
        display: inline!important
    }
    .visible-lg-inline-block {
        display: inline-block!important
    }
}

.product {
    position: relative;
    padding: 10px;
    // border: 1px solid #fff;
    text-align: center;
    -webkit-transition: .3s;
    transition: .3s;
    height: 450px;
}

.product:hover {
    border-color: #d0d0d0
}

.product:hover .hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible
}

.product p,
.product .product-content h2,
.product .product-content h3 {
    font-size: 14px;
    font-weight: 500;
    height: 46px;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    margin-bottom: 3px;
    text-transform: lowercase
}

.product .product-content h2,
.product .product-content h3 {
    color: $g-primary
}

.product-content .product-evaluation {
    margin: 15px auto;
    display: block;
    position: relative;
    background: url(https://qbbr.vteximg.com.br/arquivos/new_qdb_product-rating.png)no-repeat 0 0;
    width: 105px;
    height: 16px
}

.product-content .product-evaluation span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(https://qbbr.vteximg.com.br/arquivos/new_qdb_product-rating-active.png)no-repeat 0 0;
    height: 16px
}

.product del {
    color: #231f20;
    font-size: 12px;
    text-decoration: line-through
}

.product strong {
    color: #231f20;
    font-size: 18px;
    display: block;
    font-weight: 700;
    line-height: 1;
    margin-top: 3px;
    text-transform: uppercase!important
}

.product small {
    display: block;
    color: #231f20;
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
    min-height: 14px
}

.product .hover {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
    transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s
}

.product .product-link {
    text-decoration: none;
}

.product .product-discount {
    position: absolute;
    top: 0;
    left: 100%;
    padding: 0 4px;
    background: #686162
}

.product .product-content {
    position: relative;
    z-index: 2
}

.product .product-favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 6;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}

.product:hover .product-favorite {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    transition: opacity .4s;
    -webkit-transition: opacity .4s;
    -ms-transition: opacity .4s;
    -moz-transition: opacity .4s
}

.product-content>h4 {
    height: 25px
}

.product-content>h4>p {
    padding: 0;
    height: auto;
    margin: 0;
    font-weight: 700
}

.product .product-tag {
    position: absolute;
    height: 25px;
    top: 9px;
    left: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: .01em;
    display: f;
    z-index: 3;
    width: 100%;
}

.product .product-tag span {
    display: inline-block;
    vertical-align: top;
    padding: 0 5px
}

.product .product-image {
    position: relative;
    height: 175px;
    text-align: center;
    background-position: center 0;
    background-size: 100%;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
}

.product-favorite:after {
    content: '';
    position: absolute;
    width: 32px;
    height: 30px;
    top: 0;
    left: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    background: url(https://qbbr.vteximg.com.br/arquivos/new_qdb_heart-active.png)no-repeat 0 0;
    -webkit-transition: .3s;
    transition: .3s
}

.product-favorite span {
    position: relative;
    display: block;
    width: 32px;
    height: 30px;
    background: url(https://qbbr.vteximg.com.br/arquivos/new_qdb_heart.png)no-repeat 0 0
}

.product:hover .product-favorite {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -moz-transition: opacity .5s
}

.product-content .product-evaluation img,
.product .product-image img {
    width: auto;
    margin: 0 auto
}

.product-secondary {
    padding: 0 10px 15px
}

.product-secondary p {
    min-height: 31px
}

.product-secondary del {
    padding-top: 23px
}

.product-secondary .product-image {
    height: 183px
}

.slider-products .slider-clip ul .owl-wrapper-outer .owl-wrapper .owl-item li {
    list-style: none
}

.slider-products .slider-clip .pratileira .owl-carousel .owl-wrapper-outer {
    overflow: hidden
}

@media(max-width:1024px) {
    .product {
        padding: 59px 10px 10px
    }
    .product br {
        display: none
    }
    .product h4 {
        font-size: 15px;
        margin: -12px 0 13px
    }
    .product p {
        margin-bottom: -7px;
        height: 30px;
        overflow: hidden
    }
    .product del {
        padding: 9px 0 3px
    }
    .product small {
        font-size: 12px;
        font-weight: 300
    }
    .product strong {
        font-size: 18px;
        padding-bottom: 4px;
        text-transform: uppercase!important
    }
    .product strong.indisponivel {
        font-size: 13px
    }
    .product .product-favorite:after,
    .product .product-favorite span {
        width: 25px;
        height: 25px;
        background-size: 100% 100%
    }
    .product .product-tag {
        font-size: 12px
    }
    .product .product-tag span {
        padding: 1px 8px 0
    }
    .product .product-tag .product-discount {
        padding: 0 3px
    }
    .product-secondary {
        padding: 9px 10px 20px
    }
    .product-secondary .product-image {
        margin-bottom: 18px
    }
}

@media(max-width:767px) {
    .product {
        padding-top: 30px;
        font-size: 11px
    }
    .product h4 {
        display: none
    }
    .product del {
        font-size: 10px;
        margin-bottom: -3px;
        text-transform: uppercase
    }
    .product p {
        min-height: 0;
        margin-bottom: 1px
    }
    .product strong {
        padding-bottom: 2px;
        font-size: 11px
    }
    .product strong.indisponivel {
        font-size: 10px
    }
    .product small {
        font-size: 10px
    }
    .product .product-image {
        background-size: 100%;
        background-repeat: no-repeat
    }
    .product .product-image img {
        // display: none!important;
        top: 0;
        -webkit-transform: initial;
        transform: initial;
        -webkit-transform-origin: 0 0 0;
        transform-origin: 0 0 0
    }
    .product .product-tag {
        height: 15px;
        font-size: 8px;
        line-height: 15px
    }
    .product .product-tag span {
        padding: 0 3px
    }
    .product .product-favorite:after,
    .product .product-favorite span {
        width: 19px;
        height: 18px
    }
    .product-secondary {
        padding-top: 0
    }
    .product-secondary h3 {
        display: none
    }
    .product-secondary .product-image {
        height: 130px
    }
    // .product .product-image img {
    //     display: none!important
    // }
    
    .product .product-image img {
        display: block !important;
        top:0;
    }
}


.orders-container.hidden .widgets .widget-primary.widget-order .widget-body .slider.slider-order .slider-clip .slides.owl-carousel.owl-theme .owl-controls {
    background: none;
    bottom: -35px
}

.orders-container.hidden .widgets .widget-primary.widget-order .widget-body .slider.slider-order .slider-clip .slider-actions {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    bottom: 55px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%)
}

.orders-container.hidden .widgets .widget-primary.widget-order .widget-body .slider.slider-order .slider-clip .slider-actions .slider-next {
    margin-top: -5px
}

.collection-vitrine .slider-secondary .slider-clip .owl-wrapper-outer .owl-wrapper .owl-item .pratileira ul {
    list-style: none
}

.collection-vitrine .slider-secondary .slider-clip .owl-wrapper-outer .owl-wrapper .owl-item .pratileira ul li {
    display: inline-block;
    width: 300px;
    margin-left: 5px
}

.resultado-busca .wrapper .wrapper-inner .container .main .filters .shell .filters-body .cols .main .vitrine .pratileira .pratileira ul li {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 50px;
    position: relative
}

.collection-produtos-top .slider-actions .slider-prev,
.collection-produtos-top .slider-actions .slider-next,
.collection-olha-esses-precinhos .slider-actions .slider-next,
.collection-olha-esses-precinhos .slider-actions .slider-prev,
.slider-products.collection .slider-actions .slider-prev,
.slider-products.collection .slider-actions .slider-next {
    position: absolute;
    width: 17px;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    opacity: .4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    background-size: 100% 100%;
    -webkit-transition: .3s;
    transition: .3s;
    z-index: 2
}

.collection-vitrine .slider-secondary .slider-clip .owl-wrapper-outer .owl-wrapper .owl-item .prateleira .prateleira ul li {
    display: inline-block;
    width: 25%
}

.collection-vitrine .slider-secondary .slider-clip .owl-wrapper-outer .owl-wrapper .owl-item .prateleira .prateleira>ul>.slide>.feature {
    height: 379px;
    width: 299px;
    position: absolute;
    top: 0
}

.product .product-tag span.produtos-top {
    background: $g-primary
}

@media(max-width:420px) {
    .product .product-content strong {

        font-size: 18px;
        font-weight: 700;
        color: #1b1b1b;
        margin-bottom: 5px
    }
    .product .product-content small {
        font-size: 12px;
        color: #1b1b1b;
        font-weight: 300;
        min-height: 14px
    }
    .product .product-content p {
        font-size: 14px;
        height: 30px;
        color: #1b1b1b;
        overflow: hidden;
        padding: 0 20px 7px;
        margin-bottom: 10px
    }
    .product .product-content {
        padding-top: 10px
    }
    .product-content .product-evaluation {
        margin: 0 auto 25px
    }
    .product:hover {
        border: 0
    }
    .slider-products .slider-actions {
        display: block
    }
    .home .slider .slide {
        min-height: 100%!important
    }
    .product-content .product-evaluation {
        display: none
    }
    .product .product-image {
        width: 80%;
        position: relative;
        left: 5%;
        -webkit-transform: translate(5%, 13%);
        transform: translate(5%, 13%)
    }
    .product {
        height: auto
    }
    
}

@media(max-width:320px) {
    
    .product .product-content strong {

        font-size: 18px;
        font-weight: 700;
        color: #1b1b1b;
        margin-bottom: 5px
    }
    .product .product-content small {
        font-size: 12px;
        color: #1b1b1b;
        font-weight: 300;
        min-height: 14px
    }
    .product .product-content p {
        font-size: 14px;
        height: 30px;
        color: #1b1b1b;
        overflow: hidden;
        margin-bottom: 7px
    }
    .product .product-content {
        padding-top: 10px
    }
    .product-content .product-evaluation {
        margin: 0 auto 25px
    }
    .product:hover {
        border: 0
    }
    .slider-products .slider-actions {
        display: block
    }
    .product .product-image {
        min-height: 120px
    }
    .lnc-wishlist.lnc-like-button-wrapper.lnc-short .lnc-icon {
        display: none!important
    }
    .slide-content {
        font-size: 12px
    }
}

@media(max-width:1024px) {
    .product .product-favorite {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
    }
    .list-colors li {
        width: 80px
    }
    .col.col-1of3 .contact small {
        width: 80%;
        text-align: center;
        padding-left: 13%
    }
    .wrapper.nav-visible .wrapper-inner {
        left: 260px
    }
    
}

.product-tag .flag {
    display: inline-block;
    vertical-align: top;
    height: auto;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;;
    letter-spacing: .01em;
    padding: 3px 5px;
    background: #686162;
}

@media(max-width:320px) {
    .product-tag .flag {
        height: 14px;
        font-size: 9px;
        line-height: 14px;
        padding: 0 7px
    }
}

.product-image .tags .flag {
    display: inline-block
}

.product-tag .flag.tudo {
    background: $g-primary;
    width: 70px;
    margin-left: 0;
    display: inline-block;
    vertical-align: top;
    padding: 2px 3px;
    height: 29px
}

.flag.tag-white {
    border: 1px solid #686162;
    line-height: 28px;
    font-weight: 700;
    color: #686162;
    background: none;
    width: 115px;
    padding-left: 10px;
    margin-left: 10px;
    background: #fff
}

.flag.tag-red {
    background: #686162;
    color: #fff;
    width: 60px;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: -2px
}

.col.col-size5 .list-cards li a:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}

.slider.slider-product-image.cloned {
    overflow: hidden
}

.section-product .product-image .ico-heart {
    display: none
}

.nav-aside.kit-presente .product-quaternary.product-quinary {
    top: -7px
}

.section-colors .section-meta:before {
    content: '';
    position: absolute;
    width: 40px;
    background: #686162;
    top: 100%;
    left: 0;
    z-index: 9;
    height: 5px;
    margin-top: 4px;
    -webkit-transition: width .3s;
    transition: width .3s
}

.section-colors .section-meta:after {
    content: '';
    position: absolute;
    background: #686162;
    top: 100%;
    left: 0;
    z-index: 9;
    height: 5px;
    margin-top: 4px;
    -webkit-transition: width .3s;
    transition: width .3s
}

.section-colors .section-meta:hover:before {
    content: '';
    width: 100%;
    -webkit-transition: width .3s;
    transition: width .3s
}

.col.col-size7.bullets-inspirar ul li {
    position: relative;
    padding-left: 3%
}

.col.col-size7.bullets-inspirar>ul>li>ul>li:after {
    content: '-';
    position: absolute;
    left: 0;
    top: 0
}

.product-teritary .product-remove:hover:after,
.product-teritary .product-remove:hover:before {
    background: #686162;
    -webkit-transition: background .3s;
    -ms-transition: background .3s;
    -moz-transition: background .3s
}

.nav-teritary .login-overlay a .name {
    position: relative;
    width: 100%;
    right: 7px;
    top: 3px;
    font-size: 14px;
    background: none;
    border-radius: 0
}

.nav-teritary .login-overlay a .name:before {
    content: 'oi,';
    color: #fff;
    font-size: 14px
}

.shell-error-404 {
    padding-top: 220px;
    padding-bottom: 100px;
    text-align: center
}

.shell-error-404 .shell>h3 {
    font-size: 70px
}

.shell-error-404 .shell>h4 {
    color: $g-primary;
    font-size: 25px;
    padding-bottom: 20px
}

.shell-voltar>a {
    border-radius: 25px;
    padding: 0 40px;
    margin-bottom: 40px;
    margin-top: 20px
}

.shell-error-404 {
    padding-top: 227px
}

.shell-error-404 .shell {
    text-align: center
}

.shell-error-404 .shell>h3 {
    font-size: 80px;
    font-weight: 900
}

.shell-error-404 .shell>h4 {
    font-size: 30px;
    font-weight: 900;
    color: $g-primary
}

.shell-voltar>a {
    border-radius: 25px;
    font-size: 16px;
    font-weight: 900;
    padding: 0 45px
}

.shell-error-404 .shell>p {
    font-size: 16px;
    font-weight: 300
}

.shell-voltar {
    margin: 40px 0
}

.erro-404 .wrapper .wrapper-inner .container .main .section-products .shell .section-content {
    margin-top: 80px
}

.slider-products.collection-pag-404 .slider-actions .slider-prev,
.slider-products.collection-pag-404 .slider-actions .slider-next {
    position: absolute;
    width: 17px;
    height: 30px;
    top: 50%;
    opacity: .4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    background-size: 100% 100%;
    -webkit-transition: .3s;
    transition: .3s;
    z-index: 2
}

.slider-products.collection-pag-404 .slider-actions .slider-prev {
    left: -30px;
    background-image: url(https://qbbr.vteximg.com.br/arquivos/new_qdb_slider-prev-2.png)
}

.slider-products.collection-pag-404 .slider-actions .slider-next {
    right: -30px;
    background-image: url(https://qbbr.vteximg.com.br/arquivos/new_qdb_slider-next-2.png)
}

body.departament .chaordic,
body.departament .section-products,
body.category .chaordic,
body.category .section-products {
    margin-bottom: 40px
}

.shell.shell-error-500 .shell-img-error img,
.shell.shell-error-500 .img-logo-footer a img {
    margin: 0 auto;
    display: block
}

.shell-error-500 h3 {
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    margin-top: 25px
}

.erro-500 {
    background: $g-primary;
    border-top: 5px solid #686162
}

.shell-error-500 {
    padding-top: 50px
}

.shell-error-500>p {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 300
}

.shell-error-500 .img-logo-footer {
    padding-top: 60px;
    padding-bottom: 40px
}

.chaordic {
    margin-bottom: 22px
}

.product .product-tag .hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.product .product-tag .hidden div,
.product .product-tag .hidden div p {
    display: none
}
.product .product-tag .hidden div.flags-product {
    display:block;
}
.product .product-tag .hidden div.flags-product p {
    display: inline-block;
}

/* FLAGS */
.flags-product p.frete-gratis {
}


.product .product-tag .hidden div.flag-produtos-top,
.product .product-tag .hidden div.flag-noite-da-baleza,
.product .product-tag .hidden div.flag-batom-no-carrinho,
.product .product-tag .hidden div.escolha-a-cor-do-batom-no-carrinho {
    display: inline-block;
    float: left;
    margin-bottom: 9px;
    margin-right: 5px
}

.product .product-tag .hidden div.flag-produtos-top p.flag.produtos-top {
    display: block
}

.product .product-tag .hidden div.flag-noite-da-baleza p.noite-da-beleza {
    display: block
}

.product .product-tag .hidden div.flag-noite-da-baleza>p {
    background: #392b7a!important
}

.product .product-tag .hidden div.flag-produtos-top>p {
    background: $g-primary!important
}

.product .product-tag .hidden div.flag-batom-no-carrinho p.flag.batom-no-carrinho,
.product .product-tag .hidden div.flag-batom-no-carrinho p.flag.escolha-a-cor-do-batom-no-carrinho {
    display: block;
    width: 106px;
    height: 34px;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: .01em;
    padding: 3px 7px 1px 7px;
    background: $g-primary!important;
    text-align: left
}

.product .product-tag .hidden div.flag-leve-4-pague-2 {
    display: inline-block;
    float: left
}

.product .product-tag .hidden div.flag-leve-4-pague-2 p.flag.leve-4-pague-2 {
    display: block;
    width: 85px;
    height: 20px;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: .01em;
    padding: 3px 7px 1px 7px;
    background: $g-primary!important;
    text-align: left
}

.product .product-tag .hidden div.flag-desconto {
    display: inline-block;
    float: left;
    height: 25px;
    margin-bottom: 9px;
    margin-right: 5px
}

.product .product-tag .hidden div.flag-desconto>p,
.priceOff span {
    background: #a6a5a5;
    color:#fff;
    font-family:"CentraleSans-Bold", sans-serif !important;
    font-size:12px;
    padding: 3px 5px;
    display: block;
}

.product .product-tag .hidden div.flag-desconto p.flag.descont.flag-active {
    display: block;
    /* margin-left: -10px */
}

.product .product-image img {
    max-height: 175px
}

.mais-cores {
    margin: 10px 0 0;
    font-weight: 900;
    font-size: 12px;
    color: #1b1b1b;
}

.product .product-image img {
    max-height: 175px;
    position: absolute;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    object-position: center;
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}

.mais-cores:before {
    content: '';
    background: url(https://qbbr.vteximg.com.br/arquivos/more-colors.png);
    background-size: 15px;
    display: inline-block;
    position: relative;
    height: 15px;
    width: 15px;
    line-height: 15px;
    bottom: -2px;
    margin-right: 5px
}

.flag-frete-gratis {
    display: inline-block!important;
    float: left
}

.flag-frete-gratis p.flag.-selo--frete-gratis {
    display: inline-block!important;
    color: transparent!important;
    width: 84px!important;
    position: relative
}

.flag-frete-gratis p.flag.-selo--frete-gratis:before {
    content: "frete grÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡tis";
    color: #fff;
    position: absolute
}

@media(max-width:767px) {
    .lnc-wishlist.lnc-like-button-wrapper.lnc-short .lnc-icon,
    .product .product-favorite {
        display: none!important
    }
}

@media(max-width:1024px) {
    .nav.nav-active.overflow,
    body.menu-active {
        overflow: hidden
    }
    .filters {
        padding-top: 25px
    }
    .nav-quaternary.nav-quinary .shell .nav-title {
        margin-bottom: 5px
    }
}

@media(max-width:1024px)and (min-width:767px) {
    .filters {
        padding-top: 0
    }
}

.footer .textolegal {
    width: 76%;
    line-height: 24px;
    padding-top: 37px;
    margin: 0 auto 60px;
    letter-spacing: .035em;
    border-top: 1px solid #c6c0c0;
    font-size: 12px;
    text-align: center
}

@media(max-width:480px) {
    .slider-order .owl-prev,
    .slider-order .owl-next {
        top: 20px!important
    }
    .slider-order .owl-carousel .owl-nav.disabled {
        display: block
    }
    .header {
        height: 100%;
        border-bottom: 0
    }
    ul.list-progress {
        height: 380px
    }
    .list-progress:after {
        content: '';
        width: 400px;
        height: 4px;
        background: #faf6f5;
        display: block;
        position: absolute;
        top: 23px
    }
    .list-progress>li {
        display: inline-block;
        position: relative;
        width: 100%;
        position: relative;
        height: 25%;
        float: left;
        text-align: left
    }
    .header-bottom.active,
    .header-middle.active {
        margin-top: 0;
        -webkit-transition: margin ease .4s;
        transition: margin ease .4s
    }
    .orders-container-consulta {
        height: 100%;
        background: #686162;
        width: 100%;
        top: 0;
        position: relative
    }
    .orders-container-consulta .form-body {
        width: 100%;
        position: relative;
        margin-bottom: 20px;
        margin-top: 100px
    }
    .orders-container-consulta .form-body input {
        text-align: center
    }
    .orders-container-consulta .widgets {
        padding-top: 40px;
        top: 0;
        -webkit-transform: translateX(0)!important;
        transform: translateX(0)!important;
        top: 0!important
    }
    .form-primary .form-label {
        position: absolute;
        width: 100%
    }
    .list-progress:after {
        content: '';
        width: 4px;
        height: 400px;
        background: #faf6f5;
        display: block;
        position: absolute;
        top: 23px;
        text-align: left;
        left: 12.5px
    }
    .orders-container-consulta .widgets {
        padding-top: 40px;
        height: 100%
    }
    li.widget-primary.widget-order,
    .slider-order,
    .slider-clip {
        height: 100%!important
    }
    .orders-container-consulta .list-progress {
        width: 66%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        left: 50%
    }
    .list-progress li:after,
    .list-progress li:not(.active):before {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        left: 0
    }
    .list-progress li:not(.active):before {
        left: 3px
    }
    .list-progress>li.active:after {
        background: #fff
    }
    .orders-container-consulta {
        background: #686162
    }
    .list-progress>li>span {
        margin-left: 35px!important
    }
}

.boti-top-orders--list--item--timeline--list.vertical-timeline {
    display: inline-block;
    position: relative
}

.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    max-width: 1100px;
    padding-top: 20px;
    margin: 0 auto
}

.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list .boti-top-orders--list--item--timeline--list--item {
    float: left;
    width: 222px;
    text-align: center;
    position: relative
}

.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list .boti-top-orders--list--item--timeline--list--item .timeline--list--item-ico {
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto 15px;
    background: #686162;
    border: 3px solid #fff;
    z-index: 2;
    position: absolute;
    left: 50%;
    margin-left: -13px;
    border-radius: 50%
}

.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list .boti-top-orders--list--item--timeline--list--item:before {
    content: "";
    width: 55%;
    height: 3px;
    background: #fff;
    display: block;
    top: 15px;
    position: absolute;
    z-index: 1;
    right: 0
}

.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list .boti-top-orders--list--item--timeline--list--item:after {
    content: "";
    width: 55%;
    height: 3px;
    background: #fff;
    display: block;
    top: 15px;
    position: absolute;
    z-index: 1;
    left: 0
}

.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list .boti-top-orders--list--item--timeline--list--item.timeline--list--item-active:not(.timeline--list--item-first) .canceled .timeline--list--item-ico {
    border: 3px solid $g-primary;
    background: url(https://qbbr.vteximg.com.br/arquivos/qbbr-boti-sprite.png)no-repeat -10px -132px $g-primary;
    background-position: -15px -303px!important
}

.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list .boti-top-orders--list--item--timeline--list--item.timeline--list--item-active .timeline--list--item-ico {
    border: 3px solid #686162;
    background: url(https://qbbr.vteximg.com.br/arquivos/qbbr-boti-sprite.png)no-repeat -11px -132px #686162;
    border: 3px solid $g-primary;
    background: url(https://qbbr.vteximg.com.br/arquivos/qbbr-boti-sprite.png)no-repeat -10px -132px $g-primary
}

.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list .boti-top-orders--list--item--timeline--list--item.timeline--list--item-active.approved:after {
    background: #fff
}

.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list .boti-top-orders--list--item--timeline--list--item.timeline--list--item-active.ready-order:before {
    background: $g-primary
}

.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list .boti-top-orders--list--item--timeline--list--item.timeline--list--item-active.approved.sended:before,
.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list .boti-top-orders--list--item--timeline--list--item.timeline--list--item-active.approved.sended:after {
    background: $g-primary
}

.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list .boti-top-orders--list--item--timeline--list--item.timeline--list--item-active.sended.rastreo:before,
.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list .boti-top-orders--list--item--timeline--list--item.timeline--list--item-active.sended.rastreo:after {
    background: $g-primary
}

.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list .boti-top-orders--list--item--timeline--list--item.timeline--list--item-active.sended:after {
    background: $g-primary
}

.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list .boti-top-orders--list--item--timeline--list--item.rastreo:after {
    background: $g-primary
}

.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list .boti-top-orders--list--item--timeline--list--item.rastreo .boti-btn {
    background: $g-primary
}

.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list .boti-top-orders--list--item--timeline--list--item span {
    text-align: center;
    display: block;
    font-weight: 500;
    margin-top: 50px;
    text-transform: lowercase;
    letter-spacing: 0;
    font-stretch: normal;
    font-size: 12px;
    color: #fff
}

.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list .boti-top-orders--list--item--timeline--list--item.timeline--list--item-first:after {
    display: none
}

.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list .boti-top-orders--list--item--timeline--list--item.timeline--list--item-last {
    width: 346px;
    position: relative
}

.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list .boti-top-orders--list--item--timeline--list--item.timeline--list--item-last div.push-right {
    position: relative
}

.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list .boti-top-orders--list--item--timeline--list--item.timeline--list--item-last div.push-right .boti-btn {
    position: absolute;
    z-index: 999;
    right: 0;
    color: #fff;
    background: #686162;
    top: -4px;
    border: 3px solid #fff;
    line-height: 35px;
    padding: 0!important;
    width: 227px;
    height: 40px
}

.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list .boti-top-orders--list--item--timeline--list--item.timeline--list--item-last.rastreo div.push-right .boti-btn {
    border: 0;
    background: #fff!important;
    color: #686162!important;
    line-height: 40px;
    text-decoration: none
}

.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list .boti-top-orders--list--item--timeline--list--item.timeline--list--item-last:before {
    display: none
}

.boti-top-orders--list--item--timeline .boti-ico-frete {
    width: 49px;
    height: 30px;
    background: url(https://qbbr.vteximg.com.br/arquivos/qbbr-boti-sprite.png)no-repeat 0 -200px;
    margin-top: -12px;
    margin-left: -180px;
    position: absolute
}

.boti-btn {
    background: #686162;
    color: $g-primary;
    padding: 12px 20px;
    display: block;
    text-decoration: none;
    font-weight: 700;
    text-transform: lowercase;
    font-size: 12px;
    text-align: center
}

.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list.vertical-timeline .boti-top-orders--list--item--timeline--list--item {
    text-align: left;
    width: 100%;
    height: 90px;
    position: relative;
    max-width: 220px;
    left: 50%;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%)
}

.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list.vertical-timeline .boti-top-orders--list--item--timeline--list--item .timeline--list--item-ico {
    left: 6px;
    margin-left: 0;
    border-radius: 50%
}

.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list.vertical-timeline .boti-top-orders--list--item--timeline--list--item:before {
    content: "";
    top: 0;
    left: 22px;
    width: 3px;
    height: 30px;
    margin-top: 30px
}

.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list.vertical-timeline .boti-top-orders--list--item--timeline--list--item:after {
    content: "";
    top: 0;
    left: 22px;
    width: 3px;
    height: 30px;
    margin-top: -30px!important
}

.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list.vertical-timeline .boti-top-orders--list--item--timeline--list--item span {
    text-align: left;
    display: inline-block;
    margin-top: 10px;
    padding-left: 53px
}

.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list.vertical-timeline .boti-top-orders--list--item--timeline--list--item.bx-shipping {
    height: 140px
}

.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list.vertical-timeline .boti-top-orders--list--item--timeline--list--item.bx-shipping:before {
    height: 80px
}

.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list.vertical-timeline .boti-top-orders--list--item--timeline--list--item .boti-ico-frete {
    margin-top: -40px;
    margin-left: 53px
}

.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list.vertical-timeline .boti-top-orders--list--item--timeline--list--item .boti-ico-frete + .push-right {
    margin: 0!important
}

.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list.vertical-timeline .boti-top-orders--list--item--timeline--list--item .boti-btn {
    width: 100%!important;
    box-sizing: border-box;
    color: #fff!important
}

.boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list.vertical-timeline .boti-top-orders--list--item--timeline--list--item.timeline--list--item-last {
    height: auto!important;
    height: auto
}

@media screen and (max-width:500px) {
    .boti-top-orders--list--item--timeline {
        padding: 0!important
    }
}

.slider-order .slide>p>a {
    text-decoration: underline
}

.boti-btn:hover,
#boti-main .boti-btn.act {
    background: #686162
}

.slider-order .owl-prev {
    background-image: url(https://qbbr.vteximg.com.br/arquivos/qbbr-boti-sprite.png);
    background-position: -4px 0;
    left: initial;
    left: 30%;
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg)
}

.slider-order .owl-next {
    background-image: url(https://qbbr.vteximg.com.br/arquivos/qbbr-boti-sprite.png);
    background-position: -2px 0;
    left: initial;
    right: 30%;
    -webkit-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg)
}

.slider-order .owl-next,
.slider-order .owl-prev {
    font-size: 0;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -190px;
    cursor: pointer
}

.slider-order .slides .owl-controls .owl-buttons {
    display: block!important
}

.slider-order .owl-next:before,
.slider-order .owl-prev:before {
    border: 0!important
}

li.widget-primary.widget-order .slide p {
    margin-bottom: 20px;
    text-align: center;
    color: #fff
}

.slider-order .owl-dot {
    width: 13px;
    height: 13px;
    border: 1px solid $g-primary;
    border-radius: 50%;
    background-color: #686162;
    margin: 0 6px;
    position: relative;
    float: left
}

.slider-order .owl-dot.active {
    background-color: $g-primary
}

.slider-order .owl-dots {
    display: inline-block;
    position: relative;
    width: auto;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%)
}

.orders-container-consulta {
    height: 230px!important;
    background: #686162
}

.header-bottom.active,
.header-middle.active {
    margin-top: 230px
}

@media(max-width:500px) {
    .orders-container-consulta.mobile {
        height: 100%!important;
        min-height: 500px
    }
    .header-bottom.active,
    .header-middle.active {
        margin-top: 0
    }
    .slider-order .owl-prev {
        left: 5%
    }
    .slider-order .owl-next {
        right: 5%
    }
    .slide p>a {
        display: block
    }
}

.boti--height-zero {
    position: relative;
    z-index: -99999;
    display: block;
    top: 0;
    width: 100%
}

.boti-btn.boti-btn-timeline.boti-btn-default:not(.tracking) {
    pointer-events: none;
    cursor: default
}

.orders-container-consulta.hidden .widgets .widget-primary.widget-order .widget-body .slider.slider-order .slider-clip .slides.owl-carousel.owl-theme .owl-controls {
    background: 0 0;
    bottom: -35px
}

.orders-container-consulta.hidden .widgets .widget-primary.widget-order .widget-body .slider.slider-order .slider-clip .slider-actions {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    bottom: 55px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%)
}

.orders-container-consulta.hidden .widgets .widget-primary.widget-order .widget-body .slider.slider-order .slider-clip .slider-actions .slider-next {
    margin-top: -5px
}

.container .container-group.consulta-open {
    top: 230px
}

@media(max-width:480px) {
    .container .container-group.consulta-open {
        top: 500px!important
    }
    .orders-container-consulta {
        height: 500px!important;
        background: #686162
    }
    .widget-request input#field-email {
        width: 90%!important;
        padding: 20px 10px;
        background: 0 0;
        border: 0;
        border-bottom: 2px solid #fff;
        color: #fff!important;
        font-size: 15px
    }
    .boti-top-orders--list--item--timeline .boti-top-orders--list--item--timeline--list {
        min-height: 500px
    }
    .slider .slider-clip .slides.owl-carousel.owl-theme .owl-controls {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        padding: 4px 0 23px;
        text-align: center;
        background: rgba(27, 27, 27, .5);
        z-index: 3
    }
    .slider-order .slider-clip .slides.owl-carousel.owl-theme .owl-controls {
        position: absolute;
        width: 100%;
        top: 24px;
        height: 0;
        bottom: 0;
        left: 0;
        padding: 4px 0 6px;
        text-align: center;
        background: rgba(27, 27, 27, .5);
        z-index: 3
    }
}

.main.orders-container-consulta .form-primary-alt {
    max-width: 700px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    margin: 20px 0
} 

.form-primary .form-label {
    display: block;
    font-size: 20px;
    text-transform: lowercase;
    font-weight: 500;
    letter-spacing: .12em;
    margin-bottom: 20px;
    color: #fff;
    font-size: 38px;
    font-weight: 900;
    letter-spacing: normal
}

.orders-container .widgets {
    max-width: 1260px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 30px auto auto;
    position: relative
}

.main.orders-container-consulta span.close-orders {
    z-index: 999999;
    height: auto;
    position: relative;
    float: right;
    margin-right: 20px;
    color: #fff;
    font-size: 60px;
    font-weight: 100;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    letter-spacing: 0;
    cursor: pointer
}

.slider.slider-order .slider-clip>div>p {
    text-align: center;
    color: #fff
}

.form-primary.form-primary-alt .form-actions #ViewOrder:hover {
    color: $g-primary
}

.widget-request input#field-email {
    width: 90%;
    padding: 20px 10px;
    background: 0 0;
    border: 0;
    border-bottom: 2px solid #fff;
    color: #fff!important;
    font-size: 15px
}

.slides.owl-carousel .slide .slide-title {
    font-size: 17px;
    font-weight: 600;
    padding-top: 1px;
    text-transform: lowercase;
    color: #fff
}

.slider-order .slider-clip .slides.owl-carousel.owl-theme .owl-controls {
    background: #686162!important;
    bottom: 10px!important;
    display: none
}

.slider.slider-order .slider-clip .slides.owl-carousel .slide {
    list-style: none
}

.slider-order .owl-pagination {
    display: none
}

li.widget-primary.widget-order.teste-slider-dots.active {
    margin-top: 20px
}

.product-details .product-image .tags li.tag.black-week {
    display: none!important
}

@media(min-width:320px) {
    .panels-slider .panels-slider-wrapper .box-banner {
        text-align: center
    }
    .panels-slider .panels-slider-wrapper .box-banner img {
        display: initial
    }
    .panels-slider .panels-slider-wrapper {
        max-width: 1260px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 20px auto
    }
    .panels-slider .panels-slider-wrapper ul.slick-dots {
        list-style-type: none;
        margin: 20px 0 0 0;
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: flex!important;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    .panels-slider .panels-slider-wrapper ul.slick-dots li {
        margin: 0 5px
    }
    .panels-slider .panels-slider-wrapper ul.slick-dots li button {
        background: #fff;
        border-radius: 50px;
        box-shadow: none;
        border: 2px solid #686162;
        text-indent: -999em;
        width: 15px;
        height: 15px
    }
    .panels-slider .panels-slider-wrapper ul.slick-dots li.slick-active button {
        background: #686162
    }
    .bannerLinha {
        padding: 30px 0
    }
}

@media(min-width:768px) {
    .panels-slider .panels-slider-wrapper {
        max-width: 1260px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 50px auto 30px auto
    }
    .panels-slider .panels-slider-wrapper .panels-carousel .box-banner {
        float: left
    }
}

body {
    zoom: 85%;
    -moz-transform: scale(90%);
    -moz-transform-origin: 90% 90%
}

#sm-push,
.section-chaordic .chaordic {
    zoom: 100%;
    -moz-transform: scale(100%);
    -moz-transform-origin: 100% 100%
}

.home .pratileira {
    zoom: 120%;
    -moz-transform: scale(120%);
    -moz-transform-origin: 120% 120%
}

.header-acessibilidade div.ajuda a.link_ajuda div,
.header-acessibilidade box-meus-pedidos.ajuda,
.ajuda a {
    text-transform: uppercase!important
}

@media(min-width:1025px) {
    .nav {
        padding-top: 06px;
        font-size: 14px!important;
        font-weight: 900;
        color: #fff;
        text-transform: capitalize!important;
        zoom: 100%;
        -moz-transform: scale(100%);
        -moz-transform-origin: 100% 100%
    }
    .header.active .nav {
        zoom: 100%;
        -moz-transform: scale(100%);
        -moz-transform-origin: 100% 100%
    }
    .nav ul li a {
        text-transform: capitalize!important
    }
    .nav>ul>li#menu-promocoes.has-dd>.nav-inner>a {
        font-size: 16px;
        text-transform: none!important;
        bottom: 10px;
        margin-top: -13px
    }
}

.search .search-btn {
    -webkit-filter: grayscale(100%);
    -webkit-filter: grayscale(1);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix"color-interpolation-filters="sRGB"values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0"/></filter></svg>#filter');
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix"color-interpolation-filters="sRGB"values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0"/></filter></svg>#filter');
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
    filter: grayscale(100%);
    -webkit-filter: gray;
    filter: gray
}

.bar,
.slider-text .slide {
    background-color: #686162;
    border-color: #686162
}

.search .search-field {
    height: 50px!important
}

._hero .slick-dots li {
    background: transparent;
    border: 1px solid #555
}

._hero .slick-dots li.slick-active button {
    background: #555;
    border: 1px solid #555!important
}

._hero .slick-dots {
    padding: 3px 0
}

._hero-desktop {
    margin: auto;
    max-width: 100%
}

._hero-carousel>.box-banner {
    display: none
}

._hero-carousel .box-banner a {
    display: block;
    text-align: center;
    margin: 0
}

._hero-carousel .box-banner a img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    height: auto
}

._hero-carousel>.box-banner:first-child {
    display: initial
}

._hero-nav {
    position: static
}

._next-hero,
._prev-hero {
    font-family: 'FontAwesome';
    font-size: 22px;
    position: absolute;
    top: 45%;
    background: none;
    z-index: 10!important
}

._prev-hero {
    left: 10px!important;
    content: "\f053"
}

._next-hero {
    right: 10px!important;
    content: "\f054"
}

@media(min-width:319px) {
    .section-hero {
        display: block;
        width: 100%;
        clear: both;
        margin: 0 auto 0
    }
    .banner-frete h4 {
        text-align: center;
        display: block;
        color: #555;
        text-transform: none;
        font-size: 18px;
        padding-top: 15px;
        margin: 0
    }
    .banner-frete .section-inner .cols {
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: flex!important;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 0
    }
    .banner-frete .section-inner .cols .col {
        padding: 0;
        font-size: 16px!important;
        width: auto
    }
    .section-hero .slick-dots {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        list-style-type: none;
        margin-top: 10px
    }
    .section-hero .slick-dots li {
        margin: 0 3px
    }
    .slick-arrow {
        cursor: pointer
    }
    .slick-arrow {
        background: url(https://qbbr.vteximg.com.br/arquivos/icons-arrows.png) 0 0 no-repeat!important;
        border: 0;
        text-indent: -9999em;
        width: 19px;
        height: 32px;
        position: absolute;
        top: 40%;
        z-index: 2
    }
    .slick-prev {
        left: -25px!important;
        background-position: -196px 0!important
    }
    .slick-next {
        right: -25px!important;
        background-position: -168px 0!important
    }
    .slick-prev:after {
        content: "\f053";
        left: 0
    }
    .slick-next:after {
        content: "\f054";
        right: 0
    }
    .list-hearts:before {
        font-size: 22px
    }
}

@media(min-width:768px) {
    .home .main .section-products {
        margin-top: 80px;
        padding: 20px 0
    }
    .home .main .section-products .pratileira .product,
    ._prd {
        position: relative;
        padding: 0;
        border: 1px solid #fff;
        text-align: center;
        -webkit-transition: .3s;
        transition: .3s;
    }
    .home .main .section-products .pratileira .product:hover,
    ._prd:hover {
        border:1px solid #a6a5a5;
        border-radius:5px;
    }
    .home .section-products .section-content {
        float: right;
        width: 580px
    }
    .section-products.par .section-content {
        float: left;
        width: 580px;
        margin-top: 0;
        background: #fff
    }
    .section-products .section-content {
        margin-top: -42px;
        padding-top: 5px
    }
    .slider-products .owl-item {
        width: 270px!important;
        margin: 0 8px
    }
    .panels-slider .panels-slider-wrapper {
        max-width: 1150px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 50px auto 30px
    }
    .panels-slider .panels-slider-wrapper .panels-carousel .box-banner {
        float: left;
        margin: 0 10px
    }
    .panels-carousel .box-banner {
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out
    }
    .panels-carousel .box-banner:hover {
        -webkit-transform: scale(1.03);
        transform: scale(1.03)
    }
    .banner-frete h4 {
        font-size: 28px
    }
    ._hero-desktop {
        display: block
    }
    ._hero-mobile {
        display: none
    }
    .section-hero {
        margin-top: 0;
        -moz-transform: scale(120%);
        -moz-transform-origin: 120% 120%
    }
    .bannerLinha img {
        width: 100%
    }
    .section-products {
        display: inline-block;
        width: 100%;
        margin: 10px 0 0!important
    }
    .breadcrumbs {
        padding-top: 20px!important
    }
}

@media(max-width:1024px) {
    ._hero-carousel-desktop {
        display: none!important
    }
    .section-products .section-inner {
        display: block!important;
        visibility: visible!important;
        opacity: 1!important;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        padding: 25px 20px 5px 20px;
        overflow-x: scroll
    }
    ._hero-carousel .box-banner a img {
        -o-object-fit: contain
    }
}

@media(min-width:1024px) {
    ._hero-carousel-mobile {
        display: none!important
    }
    ._hero-carousel .box-banner a img {
        -o-object-fit: cover;
        object-fit: cover
    }
}

@media all and (-ms-high-contrast:none),
(-ms-high-contrast:active) {
    body,
    .section-hero,
    #sm-push,
    .section-chaordic .chaordic,
    .pratileira,
    .nav {
        zoom: 100%;
        -moz-transform: scale(100%);
        -moz-transform-origin: 100% 100%
    }
}