// .header{
//     display: none !important;
// }
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px;
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    background: $principalColor;

    &__first-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .values {
            display: flex;
            justify-content: center;
            align-items: center;

            .value__container {
                display: flex;
                align-items: center;
                justify-content: center;
                &:first-child{
                    margin-right: 20px;
                }

                svg {
                    width: 30px;
                    height: 30px;
                    border: 1px solid red;
                }

                &--text {
                    color: $secondaryColor;

                }
            }
        }
    }

    &__second-wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        @include d('768px'){
            flex-direction: column;
        }
    }

    .second-wrapper {
        &__first-column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 33.3%;
            @include d('768px'){
                width: 100%;
            }
        }

        &__second-column {
            display: flex;
            flex-direction: column;
            width: 33.3%;
            @include d('768px'){
                width: 100%;
            }

            .list-wrapper {
                .list {
                    &__item {
                        &--small {
                            margin: 0;
                            font-size: 0.5m
                        }
                    }
                }
            }
        }

        &__last-column {
            width: 33.3%;
            @include d('768px'){
                width: 100%;
            }
            .social-media {
                display: flex;
                margin-bottom: 5px;
                &__logo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 30px;
                    height: 30px;
                }
            }
            .form-newsletter{
                display: flex;
                justify-content: space-between;
                width: 90%;
                &__controls{
                    width: 100%;
                    display: flex;
                    border-bottom: 1px solid $secondaryColor;
                    &--email{
                        width: 90%;
                    }
                    &--label{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 10%;
                        cursor: pointer;
                        svg{
                            width: 30px;
                            height: 30px;
                        }
                    }
                    &--submit{
                        display: none;
                    }
                }
            }
        }
    }

    .list-wrapper {
        display: flex;
        height: 160px;
        @include d('768px'){
            height: initial;
            justify-content: center;
        }

        .list {
            font-weight: 900;
            margin-left: 30px;
            text-transform: capitalize;

            &:first-child {
                margin-left: 0;
            }

            &__item {
                text-transform: initial;
                font-weight: 100;
                margin: 5px 0;
            }
        }
    }

    .list {

        &.trusts,
        &.payments {
            display: flex;
            align-items: flex-start;
            margin-top: 40px;
            font-weight: 900;
            flex-direction: column;

            .list__item {
                color: $secondaryColor;
                margin: 0;

                &--trusts,
                &--payments {
                    display: flex;
                    align-items: center;
                    @include d('768px'){
                        flex-wrap: wrap;
                    }
                    .trust,
                    .payment {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        border: 1px solid red;
                        width: 60px;
                        height: 40px;

                    }
                }
            }
        }
    }

    &__third-wrapper {
        .logos{
            &__logo{
                border: 1px solid red;
                width: 50%;
            }
        }
        .legal-info {
            color: $secondaryColor;
        }
    }

}
