
/* FIDDLER */
@font-face {
    font-family: 'CenturyGothic';
    src: url(/arquivos/CenturyGothic.eot.css);
    src: url(/arquivos/CenturyGothic.eot.css?#iefix) format("embedded-opentype"), 
    url(/arquivos/CenturyGothic.woff.css) format("woff"), 
    url(/arquivos/CenturyGothic.ttf.css) format("truetype"), 
    url(/arquivos/CenturyGothic.svg.css) format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic-Bold';
    src: url(/arquivos/CenturyGothic-Bold.eot.css);
    src: url(/arquivos/CenturyGothic-Bold.eot.css?#iefix) format("embedded-opentype"), 
    url(/arquivos/CenturyGothic-Bold.woff.css) format("woff"), 
    url(/arquivos/CenturyGothic-Bold.ttf.css) format("truetype"), 
    url(/arquivos/CenturyGothic-Bold.svg.css) format("svg");
    font-weight: 700;
    font-style: normal;
}

@media (min-width: 319px) {
    /* FIX HEADER GROUP */
    .base_cushion .main-body {
        display: block;
    }
    .base_cushion .container .container-group {
        position: relative;
        top: 0;
    }
    /* HEADER CUSHION */
    .HeroBanner {
        background: url('/arquivos/QDB_375_C10_BASE-CUSHION_bgHeader.jpg?v=111') center top no-repeat;
        background-size: cover;
        width: 100%;
        position: relative;
        display: inline-block;
        height: 865px;
    }
    .HeroBanner h1 {
        display: block;
        text-indent: -999em;
        background: url('/arquivos/QDB_1920_C10_BASE-CUSHION_logo.png') center 15px no-repeat;
        background-size: contain;
        width: 270px;
        height: 160px;
        margin-top: 20px;
    }
    .HeroBanner span {
        position: absolute;
        bottom: 125px;
        width: 100%;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        padding: 0 50px;
        font-size: 22px;
        line-height: 32px;
        font-family: CenturyGothic;
    }
    .section-contact {
        padding:30px 0;
    }
    .HeroBanner h2 {
        position: absolute;
        bottom: 223px;
        width: 100%;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        padding: 0 50px;
        font-size: 22px !important;
        line-height: 32px;
        font-family: CenturyGothic;
        letter-spacing: -1px;
    }
    /*         INFOS */
    .cushion_info {
        display: block;
        width: 100%;
        padding: 40px;
        clear: both;
        background: #cea289;
        color: #fff;
    }
    .cushion_info p {
        display: block;
        clear: both;
        color: #fff;
        font-family: 'Museo Sans';
        font-size: 23px;
        line-height: 32px;
        text-align: center;
        font-style: italic;
        text-transform: initial !important;
        font-weight: 500;
    }
    .HeroBanner img {
        position: absolute;
        bottom: 38px;
        margin: 0 auto;
        left: 8%;
    }
    /* DETAILS */
    .cushion_detail {
        display: block;
        width: 100%;
        height: 1110px;
        clear: both;
        background: url('/arquivos/QDB_375_C10_BASE-CUSHION_bgDetail.jpg') center top no-repeat;
        color: #fff;
        background-size: cover;
    }
    .cushion_detail .cushion_content {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
    }
    .cushion_detail .cushion_content strong {
        text-transform: initial !important;
    }
    .cushion_detail .cushion_content>span {
        position: absolute;
        font-style: italic;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        text-transform: initial !important;
        font-family: 'Museo Sans';
    }
    .cushion_detail .cushion_content a {
        position: absolute;
        bottom: 40px;
        left: 50%;
        text-align: center;
        color: #3e3121;
        background: #fff;
        text-decoration: none;
        padding: 13px 42px;
        border-radius: 70px;
        font-size: 16px;
        font-weight: 900;
        margin-left: -82px;
    }
    span.info01 {
        top: 30px;
        right: 75px;
        width: 135px;
        text-align: right;
    }
    span.info02 {
        bottom: 120px;
        left: 50px;
        width: 124px;
    }
    span.info02 strong {
        font-weight: bold;
        color: #3f2e26;
        display: block;
    }
    span.info02 span {
        text-decoration: underline;
    }
    span.info03 {
        bottom: 170px;
        right: 20px;
        width: 145px;
    }
    /*     PAINEL CORES */
    .cushion_colors {
        display: block;
        width: 100%;
        background: #967059;
        color: #fff;
        padding: 50px 0
    }
    .cushion_colors h3 {
        text-transform: uppercase;
        font-weight: normal;
        color: #fff;
        font-family: 'CenturyGothic';
        margin-bottom: 20px;
        font-size: 22px;
    }
    .cushion_colors ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-transform: uppercase;
        list-style-type: none;
    }
    .cushion_colors ul li {
        width: 40%;
        text-align: center;
        margin: 15px 0;
    }
    .cushion_colors ul li img {
        margin-bottom: 10px
    }
    /*     COMPACT */
    .cushion_compact {
        font-family: 'CenturyGothic';
        display: block;
        width: 100%;
        height: 500px;
        position: relative;
        clear: both;
        background: url('/arquivos/QDB_375_C10_BASE-CUSHION_bgCompact.jpg') center top no-repeat;
        background-size: cover;
    }
    .cushion_compact .cushion_content {
        display: block;
        margin: 0 20px;
        padding: 20px 0;
        text-align: center;
    }
    .cushion_compact h3 {
        color: #000;
        font-size: 35px;
        line-height: 42px;
        text-transform: uppercase;
    }
    .cushion_compact a {
        color: #3f230b;
        font-size: 16px;
        text-decoration: none;
        border: 2px solid #3f230b;
        padding: 10px 45px;
        border-radius: 50px;
        font-family: 'Museo';
        font-weight: 900;
    }
    .cushion_compact h3 span {
        display: block;
        color: #fff;
        text-transform: lowercase;
        font-size: 22px;
    }
    .cushion_compact h3 strong {
        
        text-transform: uppercase !important;
        font-family: 'CenturyGothic-Bold';
    }

   
    .cushion_compact ul {
        list-style-type: none;
        text-align: center;
    }
    .cushion_compact img {
        margin-bottom: 35px;
        display: block;
    }
    .cushion_compact ul li {
        display: block;
        color: #000;
        font-size: 15px;
        line-height: 24px;
        text-transform: uppercase !important;
        position: relative;
    }
    .cushion_compact ul li:before {
        content: " ";
        background: url('https://wishlist.neemu.com/quemdisseberenice/img/heart-white.png') 0 0 no-repeat;
        background-size: cover;
        width: 13px;
        height: 11px;
        position: absolute;
        margin: 7px 0 0 -19px;
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
    }
    .section-subscribe {
        margin-top: 0;
    }
}

@media (min-width: 768px) {
    /* HEADER CUSHION */
    .HeroBanner {
        background: url('/arquivos/QDB_1920_C10_BASE-CUSHION_bgHeader.jpg') center top no-repeat;
        background-size:unset;
        width: 100%;
        position: relative;
        display: inline-block;
        height: 599px;
    }
    .HeroBanner h1 {
        display: block;
        text-indent: -999em;
        background: url('/arquivos/QDB_1920_C10_BASE-CUSHION_logo.png') center 15px no-repeat;
        background-size: contain;
        width: 410px;
        height: 278px;
        margin-top: 70px;
        margin-left: 55px;
        float:  left;
    }
    .HeroBanner span {
        position: absolute;
        bottom: 125px;
        width: 100%;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        padding: 0 50px;
        font-size: 22px;
        line-height: 32px;
        font-family: CenturyGothic;
        display: none;
    }
    .HeroBanner h2 {
        position: absolute;
        bottom: 78px;
        width: 480px;
        left: 43px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        padding: 0 50px;
        font-size: 28px !important;
        line-height: 38px;
        font-family: CenturyGothic;
        letter-spacing: -1px;
    }

    ._hero-banner-content {
        display:block;
        width: 1160px;
        margin:0 auto;
        position:  relative;
        height: 100%;
    }

    .HeroBanner img {
        display:none;
    }

    .cushion_info p {
        width: 900px;
        margin:  0 auto;
    }
    .cushion_info {
        display: block;
        width: 100%;
        padding: 60px 0;
        clear: both;
        background: #cea289;
        color: #fff;
        margin-top: -3px;
    }

    /* DETAILS */
    .cushion_detail {
        display: block;
        width: 100%;
        height: 793px;
        clear: both;
        background: url('/arquivos/QDB_1920_C10_BASE-CUSHION_bgDetail-v2.jpg') center top no-repeat;
        color: #fff;
        background-size: unset;
    }
    .cushion_detail .cushion_content {
        display: block;
        width: 1200px;
        height: 100%;
        position: relative;
        margin:0 auto
    }
    .cushion_detail .cushion_content strong {
        text-transform: initial !important;
    }
    .cushion_detail .cushion_content>span {
        position: absolute;
        font-style: italic;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        text-transform: initial !important;
    }
    .cushion_detail .cushion_content a {
        position: absolute;
        bottom: 90px;
        left: unset;
        text-align: center;
        color: #3e3121;
        background: #fff;
        text-decoration: none;
        padding: 13px 42px;
        border-radius: 70px;
        font-size: 16px;
        font-weight: 900;
        margin-left: -82px;
        right: 120px;
    }
    span.info01 {
        top: 460px;
        right: unset;
        width: 165px;
        text-align: right;
        left: 211px;
    }
    span.info02 {
        bottom: unset;
        left: unset;
        width: 324px;
        right: 310px;
        top: 38px;
    }
    span.info02 strong {
        font-weight: bold;
        color: #3f2e26;
        display: block;
    }
    span.info02 span {
        text-decoration: underline;
    }
    span.info03 {
        bottom: 40px;
        right: 339px;
        width: 165px;
    }
    /*     PAINEL CORES */
    .cushion_colors {
        display: block;
        width: 100%;
        background: #967059;
        color: #fff;
        padding: 50px 0
    }
    .cushion_colors h3 {
        text-transform: uppercase;
        font-weight: normal;
        color: #fff;
        font-family: 'CenturyGothic';
        margin-bottom: 40px;
        font-size: 22px;
    }
    .cushion_colors ul {
        display: flex;
        flex-direction:unset;
        flex-wrap: nowrap;
        justify-content: center;
        text-transform: uppercase;
        list-style-type: none;
    }
    .cushion_colors ul li {
        width: auto;
        text-align: center;
        display:  flex;
        margin: 15px 0;
        flex-direction:  column;
        margin: 0 20px;
    }
    .cushion_colors ul li img {
        margin-bottom: 10px
    }

    /*     COMPACT */
    .cushion_compact {
        font-family: 'CenturyGothic';
        display: block;
        width: 100%;
        height: 375px;
        position: relative;
        clear: both;
        background: url('/arquivos/QDB_1920_C10_BASE-CUSHION_bgCompact.jpg') center top no-repeat;
        background-size: unset;
    }
    .cushion_compact .cushion_content {
        display: block;
        margin: 0 auto;
        padding: 20px 0;
        text-align: center;
        width:1200px;
        height: 100%;
        position:  relative;
    }

    .compactFloat {
        float:right;
    }
    .cushion_compact h3 {
        color: #000;
        font-size: 57px;
        line-height: 57px;
        text-transform: uppercase;
    }
    .cushion_compact a {
        color: #3f230b;
        font-size: 16px;
        text-decoration: none;
        border: 2px solid #3f230b;
        padding: 10px 45px;
        border-radius: 50px;
        font-family: 'Museo';
        font-weight: 900;
    }
    .cushion_compact h3 span {
        display: block;
        color: #fff;
        text-transform: lowercase;
        font-size: 28px;
    }
    .cushion_compact h3 strong {
        font-family: 'CenturyGothic-Bold';
    }
    .cushion_compact ul {
        list-style-type: none;
        text-align: left;
        margin-left: 70px;
        margin-top: -14px;
        margin-bottom: 40px;
    }
    .cushion_compact img {
        margin-bottom: 35px;
        display: block;
        position:  absolute;
        left: 0;
        top: 30px;
    }
    .cushion_compact ul li {
        display: block;
        color: #000;
        font-size: 18px;
        line-height: 30px;
        text-transform: uppercase !important;
        position: relative;
    }
    .cushion_compact ul li:before {
        content: " ";
        background: url('https://wishlist.neemu.com/quemdisseberenice/img/heart-white.png') 0 0 no-repeat;
        background-size: cover;
        width: 13px;
        height: 11px;
        position: absolute;
        margin: 7px 0 0 -19px;
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
    }
    .section-subscribe {
        margin-top: 0;
    }
}