/* ------------------------------------------------------------ *\
    Form Locations
\* ------------------------------------------------------------ */
.form-locations {
    max-width: 459px;
    margin: 0 auto;
    text-align: center;
}
.form-locations strong {
    display: block;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 900;
    color: #fff;
}
.form-locations .cols {
    margin: 0 -4px;
}
.form-locations .col {
    padding: 0 4px;
}
.form-locations .form-row {
    margin-bottom: 15px;
}
.form-locations .form-btn {
    width: 100%;
    height: 43px;
    font-family: 'Museo Sans', serif;
    font-size: 16px;
    line-height: 41px;
    font-weight: 300;
    transition: none;
}
.form-locations .form-btn i {
    position: relative;
    margin-left: 14px;
}
.form-locations .form-btn:hover {
    color: #fff;
    background: #686162;
}

/* Mobile */
@media (max-width:767px) {
    .form-locations strong {
        font-size: 16px;
    }
    .form-locations .form-btn {
        padding: 0 10px;
        font-size: 10px;
    }
    .form-locations .col {
        float: none;
        width: 100%;
    }
    .form-locations .col+ .col {
        margin-top: 2px;
    }
}

/* ------------------------------------------------------------ *\
    Tabs Nav Secondary
\* ------------------------------------------------------------ */
.tabs-nav-secondary {
    border: 1px solid #000;
    font-family: 'Museo Sans', serif;
    font-size: 16px;
    text-align: center;
    list-style-type: none;
}
.tabs-nav-secondary:after {
}
.tabs-nav-secondary li {
    float: left;
}
.tabs-nav-secondary a {
    display: block;
    width: 98px;
    height: 41px;
    line-height: 41px;
    text-decoration: none;
    transition: .3s;
}
.tabs-nav-secondary a:hover {
    opacity: .7;
}
.tabs-nav-secondary .ico-dashes {
    margin-left: 8px;
}
.tabs-nav-secondary .current a {
    color: #fff;
    background: #000;
}

/* Mobile */
@media (max-width:767px) {
    .tabs-nav-secondary li {
        width: 50%;
    }
    .tabs-nav-secondary a {
        width: 100%;
    }
}

/* ------------------------------------------------------------ *\
    Section Map
\* ------------------------------------------------------------ */
.section-map {
    margin-bottom: 40px;
}
.section-map .section-body {
    position: relative;
}
.section-map .section-head {
    padding-bottom: 17px;
}
.section-map .section-head h4 {
    font-size: 20px;
    font-weight: 900;
    color: #000;
    /* float: left; */
    margin-top: 12px;
    margin-bottom: 12px;
}
.section-map .section-head .tabs-nav-secondary {
    float: right;
}
.section-map .section-head .shell:after {
}
.section-map .tab {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.section-map .tab.active {
    position: static;
    opacity: 1;
    visibility: visible;
}

/* Mobile */
@media (max-width:767px) {
    .section-map {
        margin-bottom: 0;
    }
    .section-map .section-head {
        padding: 0 14px;
        margin-bottom: 30px;
    }
    .section-map .section-head h4 {
        font-size: 16px;
        float: none;
        width: 100%;
    }
    .section-map .section-head .tabs-nav-secondary {
        float: none;
        width: 100%;
    }
}

/*  Modifier: Header Secondary  */
.ico-dashes {
    width: 14px;
    height: 11px;
    background-image: url(new_qbbr_ico-dashes.png);
    background-size: 100% 100%;
}
.ico-map {
    width: 16px;
    height: 16px;
    background-image: url(new_qbbr_ico-map.png);
    background-size: 100% 100%;
}
.current .ico-map {
    background-image: url(new_qbbr_ico-map_active.png);
    background-size: 100% 100%;
}
.current .ico-dashes {
    background-image: url(new_qbbr_ico-dashes_active.png);
    background-size: 100% 100%;
}

/* ------------------------------------------------------------ *\
    Section Form
\* ------------------------------------------------------------ */
.section-form {
    padding: 24px 0 60px;
}
.section-form .section-body {
    position: relative;
}
.section-form .section-body:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
}
.section-form .section-body .shell {
    position: relative;
    z-index: 2;
}
.section-form .section-head {
    margin-bottom: 13px;
}
.section-form .section-head i {
    position: relative;
    top: -6px;
}
.section-form h3:first-letter {text-transform: uppercase!important;}
/* Tablet */
@media (max-width:1024px) {
    .section-form {
        padding-bottom: 41px;
    }
    .section-form h3 {
        font-size: 36px;
    }
    .section-form .section-body {
        padding: 87px 0 89px;
    }
    .section-form .section-head {
        margin-bottom: 42px;
    }
}

/* ------------------------------------------------------------ *\
    Custom Select
\* ------------------------------------------------------------ */
.custom-select {
    position: relative;
}
.custom-select select {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 4;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.custom-select .custom-select-text {
    position: relative;
    height: 43px;
    padding: 0 25px 0 10px;
    margin: 0;
    border: 1px solid #1b1b1b;
    font-family: 'Museo Sans', serif;
    font-size: 16px;
    line-height: 41px;
    color: #1b1b1b;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    background: #fff;
}
.custom-select .custom-select-text:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 7px;
    top: 50%;
    right: 11px;
    margin-top: -3px;
    background: url(new_qbbr_custom-select-arrow.png) no-repeat 0 0;
    background-size: 100% 100%;
}
.custom-select .custom-select-text[data-color]:before {
    content: '';
    position: relative;
    display: inline-block;
    width: 19px;
    height: 19px;
    top: -1px;
    margin: 0 9px 0 7px;
    border-radius: 50%;
    vertical-align: middle;
}
.custom-select .custom-select-text[data-color="red"]:before {
    background: #686162;
}
.custom-select .custom-select-text[data-color="orange"]:before {
    background: #686162;
}
.custom-select .custom-select-text[data-color="grey"]:before {
    background: #b1b1b1;
}
.custom-select .custom-select-text[data-color="beige"]:before {
    background: #ffdabf;
}

/*  Modifier: Custom Select Secondary */
.custom-select-secondary .custom-select-text:after {
    width: 14px;
    height: 11px;
    margin-top: -6px;
    background: url(../css/images/custom-select-secondary.png) no-repeat 0 0;
    background-size: 100% 100%;
}

/* Tablet */
@media (max-width:1024px) {
    .custom-select .custom-select-text[data-color]:before {
        margin: 0 6px 0 0;
    }
}
.ico-envelope {
    width: 60px;
    height: 60px;
    background-image: url(../arquivos/new_qdb_ico-envelope.png);
    background-size: 100% 100%;
}
.ico-phone {
    width: 60px;
    height: 60px;
    background-image: url(../arquivos/new_qdb_ico-phone.png);
    background-size: 100% 100%;
}
.ico-question {
    width: 60px;
    height: 60px;
    background-image: url(../arquivos/new_qdb_ico-question.png);
    background-size: 100% 100%;
}
.breadcrumbs {
    padding-top: 20px;
}
.breadcrumbs span {
    margin-right: 5px;
    margin-left: 5px;
}
.ico-gps {
    background-image: url(new_qbbr_sprite.png);
    background-position: -100px -215px;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}

/* ------------------------------------------------------------ *\
    Location
\* ------------------------------------------------------------ */
.locations {
    list-style-type: none;
}
.locations .location {
    float: left;
    width: 100%;
    margin-bottom: 5px;
}
.locations .location+ .location {
    padding-top: 49px;
    margin-top: 49px;
    border-top: 1px solid #b1b1b1;
}
.location:after {
}
.location h4 {
    font-size: 20px;
    color: #000;
    margin-bottom: 23px;
}

.location h4::first-letter{text-transform:uppercase;}

.location strong {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
}
.location p {
    margin-bottom: 25px;
}
.location em {
    font-style: normal;
}
.location p span {
    text-decoration: none;
}
.location a {
    text-decoration: none;
}
.location .gmap-container {
    min-height: 330px;
}
.location .location-map {
    float: left;
    width: 42.51%;
}
.location .location-content {
    /* float: right; */
    width: 100%;
}
.section-map .tab .shell {
    padding-left: 0px;
}
@media(max-width:1024px) {
    .locations .location+ .location {
        padding-top: 39px;
        margin-top: 39px;
    }
    .location h4 {
        margin-bottom: 14px;
    }
    .location strong {
        margin-bottom: 17px;
    }
    .location p {
        margin-bottom: 23px;
    }
    .location .gmap-container {
        min-height: 250px;
    }
    .location .location-content {
        width: 48.08%;
        padding-top: 22px;
    }
    .location .location-map {
        width: 41.21%;
    }
}
@media (max-width:767px) {
    .locations {
        padding-bottom: 20px;
    }
    .locations .location + .location {
        padding-top: 8px;
        margin-top: 19px;
    }
    .location h4 {
        font-size: 16px;
        margin-bottom: 8px;
    }
    .location i {
        position: relative;
        top: -1px;
        margin-right: 3px;
    }
    .location strong {
        margin-bottom: 12px;
        font-size: 14px;
    }
    .location p {
        margin-bottom: 10px;
        font-size: 14px;
    }
    .location ul {
        margin-top: -6px;
    }
    .location em {
        display: none;
    }
    .location p span {
        display: block;
        padding-top: 20px;
        text-align: center;
    }
    .location p a {
        display: inline-block;
        width: 100%;
        height: 43px;
        padding: 0 12px;
        border: 1px solid #000;
        font-size: 14px;
        line-height: 41px;
        vertical-align: middle;
        text-align: center;
    }
    .location p a + a {
        margin-left: 5px;
    }
    .location .location-content {
        padding: 12px 14px 0;
    }
    .location .location-map {
        max-height: 0;
        overflow: hidden;
        transition: .3s;
    }
    .location .location-map.active {
        max-height: 300px;
    }
    .location .location-map, .location .location-content {
        float: none;
        width: 100%;
    }
}

@media (max-width: 420px) {
    .section-form .section-head{
        /* margin-top: 120px; */
        margin-bottom: 20px;
    }
    .section-form h3{
        font-size: 20px;
    }
    .form-locations .col {
        float: none;
        width: 63%;
        margin: 0 auto;
    }
    .section-form .section-body{
        padding: 50px 0 89px;   
    }
    .form-locations .form-btn{
        width: 60%;
        font-size: 14px;
    }
    .section-form .section-head i{
        background: url(/arquivos/new-qdb-mobile-nossas-lojas.png);
        width: 30px;
        height: 25px;
        top: -3px;
        display: none;
    }
}


.subscribe .subscribe-btn {
    padding-top: 0px;
}
.subscribe.pagination {
    clear: both;
}

/* ------------------------------------------------------------ *\
    Gmap
\* ------------------------------------------------------------ */
.gmap-container {
    position: relative;
    min-height: 650px;
}
.gmap-container .gmap {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    top: 0;
    left: 0;
}
.gmap-container .gmap> div> div:first-child> div> div> div[style]:not(.infoBox) {
    padding-top: 22px;
    font-family: 'Museo', serif !important;
    line-height: 1.3 !important;
}
.gmap-container .gmap> div> div:first-child> div> div> div[style]:not(.infoBox):after {
    content: 'lojas';
    position: relative;
    display: block;
    top: -3px;
    font-weight: 300;
}
/* Small Desktop */
@media (max-width:1300px) {
    .gmap-container {
        min-height: 400px;
    }
}
.cols:after, .footer .footer-nav ul:after, .header .header-content:after, .bar .shell:after, .cart-secondary .cart-bar p:after, .feeds:after, .form-steps .form-controls:after, .list-colors:after, .list-sponsors:after, .list-cards:after, .list-schedule:after, .location:after, .nav-teritary ul:after, .nav-quaternary ul:after, .product-quaternary:after, .product-details .product-actions:after, .promotion-items:after, .section-map .section-head .shell:after, .slider .slider-actions:after, .slider-images .slider-nav:after, .socials ul:after, .socials-secondary:after, .socials-secondary ul:after, .subscribe form:after, .tabs .tab:after, .tabs-nav-secondary:after, .tags:after {
    content: '';
    line-height: 0;
    display: table;
    clear: both;
}

/* ------------------------------------------------------------ *\
    List Schedule
\* ------------------------------------------------------------ */
.list-schedule:after {
}
.list-schedule li {
    position: relative;
    float: left;
}
.list-schedule li+ li {
    margin-left: 35px;
}
.list-schedule li+ li:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 29px;
    top: 1px;
    left: -18px;
    background: #000;
}

/* ------------------------------------------------------------ *\
    Info Box
\* ------------------------------------------------------------ */
.infoBox {
    width: 190px;
    padding: 21px 13px;
    margin: 0 0 66px -95px;
    font-family: 'Museo', serif;
    font-size: 14px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    background: #000;
}
.infoBox:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: #000000 transparent transparent transparent;
}
.infoBox img {
    display: none;
}
.infoBox p {
    margin-bottom: 8px;
    font-family: 'Museo Sans', serif;
    font-weight: 300;
    letter-spacing: -0.03em;
}
.infoBox em {
    display: block;
    margin-bottom: 8px;
}
.infoBox span {
    text-decoration: underline;
}
.infoBox a {
    color: #686162;
    text-decoration: none;
}
.ng-hide {
    display: none !important;
}
.clearfix {
    clear: both;
}