body.blackfriday {
    background: #000;
    .infoBar__render {
        path,
        .star {
            fill:#fff!important;
        }
    }
    .infoBar__render,
    .controls__arrows button {
        color:#fff!important;
    }
    .changePosition {
        background:#fff!important;
    }
    .topProducts__title,
    .w-product--contador--timer {
        color:#FFCB08;
    }
    .w-product--counter {
        background: #000;
        color:#fff;
    }
}