//VARIABLES
$color-title: #686162;
$bg-button: #E7979B;

//GENERAL
.lp-menu-de-makes {
    &__title {
        color: $color-title;
        font-weight: 800;
        text-align: center;
        padding: 20px 0;
    }
    @media(min-width: 992px) {
        &__title {
            font-size: 2vw;
        }
    }
}

//VISIBILITY
.d-mobile {
    display: block;
}
.d-desktop {
    display: none;
}
@media (min-width: 768px) {
    .d-mobile {
        display: none;
    }
    .d-desktop {
        display: block;
    }
}

.head-section  {
    position: relative;
    background-image: url(banner-topo-menu-de-makes-quem-disse-berenice.png);
    height: 32vw;
    max-height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &__aside {
        position: absolute;
        top: 0;
        bottom: 0;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &__logo {
            width: 300px;
        }
        &__text {
            font-size: 1.5vw;
        }
        &__title {
            font-size: 3vw;
            font-weight: 800;
        }
        &__seal {
            position: absolute;
            background-color: #fff;
            color: #000;
            border-radius: 50%;
            font-weight: 800;
            text-align: center;
            span {
                display: block;
            }
        }
    }
    @media (min-width: 992px) {
        &__aside {
            width: 25%;
            left: 55%;
            &__seal {
                height: 7vw;
                width: 7vw;
                top: 30px;
                left: 100%;
                font-size: 1.2vw;
                padding: 1.8vw 1.2vw;
                line-height: 1.2vw;
                span {
                    font-size: 0.7vw;
                }
            }
        }
    }
    @media(max-width: 991px) {
        background-image: url(banner-topo-menu-de-makes-quem-disse-berenice-mobile.png);
        height: 500px;
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0,0,0,0.4);
        }
        &__aside {
            right: 0;
            left: 0;
            padding: 0 20px;
            height: 70%;
            &__logo {
                max-width: 60%;
            }
            &__text {
                font-size: 4vw;
                order: 3;
            }
            &__title {
                font-size: 6vw;
                order: 2;
            }
            &__seal {
                right: 20px;
                top: 20px;
                height: 80px;
                width: 80px;
                font-size: 12px;
                line-height: 12px;
                padding: 24px 16px;
                span {
                    font-size: 7px;
                }
            }
        }
    }
}
.options-section {
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        flex: 1;
        max-width: 360px;
        border-radius: 10px;
        margin: 0 10px;
        overflow: hidden;
        box-shadow: 3px 2px 15px rgba(0, 0, 20, 0.2);
        &__cover {
            height: 260px;
            overflow: hidden;
            position: relative;
            img {
                margin-top: -25%;
                width: 115%;
                max-width: initial;
            }
            svg {
                position: absolute;
                left: 20px;
                top: 20px;
            }
        }
        &__caption {
            margin-top: -35px;
            position: relative;
            padding: 0 30px 30px;
        }
        &__button {
            background-color: $bg-button;
            color: #000;
            height: 70px;
            width: 160px;
            display: block;
            line-height: 70px;
            text-align: center;
            margin: auto;
            font-size: 20px;
            border-radius: 8px;
            text-transform: uppercase;
            font-weight: 800;
            box-shadow: 3px 3px 10px rgba(0, 0, 41, 0.2);
        }
        &__title {
            font-size: 20px;
            text-transform: uppercase;
            color: #000;
            font-weight: 800;
            margin: 20px 0;
        }
        &__text {
            color: #000;
            font-size: 15px;
        }
    }
    @media(max-width: 767px) {
        &__inner {
            overflow: auto;
            padding: 20px 0;
        }
        &__item {
            min-width: 75%;
            &__cover {
                height: 200px;
            }
        }
    }
    @media(max-width: 991px) {
        margin-top: -150px;
    }
}