.promo{
    &__titleContainer{
        &__content{
            text-align: center;
            h1{
                @include sans(2.25rem, $g-primary, 900, initial);
            }
            p{
                @include sans(1em, $g-primary, 400, initial);
                max-width: 400px;
                margin: 10px auto 0;
            }
        }
    }
    
    &__topProducts{
        margin: 40px 0 60px;
        &__title{
            @include sans(2rem, $g-primary, 900, initial);
            margin-bottom: 10px;
            text-align: center;
        }
        &__render-collection{
            position: relative;
        }
    }
}