/*201902221209*/


// -----

@font-face {
    font-family: 'Museo Sans';
    src: url(https://qbbr.vteximg.com.br/arquivos/museosans-100-webfont.eot.css);
    src: url(https://qbbr.vteximg.com.br/arquivos/museosans-100-webfont.eot.css?#iefix)format("embedded-opentype"), url(https://qbbr.vteximg.com.br/arquivos/museosans-100-webfont.woff.css)format("woff"), url(https://qbbr.vteximg.com.br/arquivos/museosans-100-webfont.ttf.css)format("truetype"), url(https://qbbr.vteximg.com.br/arquivos/museosans-100-webfont.svg.css#MuseoSans100)format("svg");
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: 'Museo Sans';
    src: url(https://qbbr.vteximg.com.br/arquivos/museosans-300-webfont.eot.css);
    src: url(https://qbbr.vteximg.com.br/arquivos/museosans-300-webfont.eot.css?#iefix)format("embedded-opentype"), url(https://qbbr.vteximg.com.br/arquivos/museosans-300-webfont.woff.css)format("woff"), url(https://qbbr.vteximg.com.br/arquivos/museosans-300-webfont.ttf.css)format("truetype"), url(https://qbbr.vteximg.com.br/arquivos/museosans-300-webfont.svg.css#MuseoSans300)format("svg");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'Museo Sans';
    src: url(https://qbbr.vteximg.com.br/arquivos/museosans_500-webfont.eot.css);
    src: url(https://qbbr.vteximg.com.br/arquivos/museosans_500-webfont.eot.css?#iefix)format("embedded-opentype"), url(https://qbbr.vteximg.com.br/arquivos/museosans_500-webfont.woff.css)format("woff"), url(https://qbbr.vteximg.com.br/arquivos/museosans_500-webfont.ttf.css)format("truetype"), url(https://qbbr.vteximg.com.br/arquivos/museosans_500-webfont.svg.css#MuseoSans500)format("svg");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'Museo Sans';
    src: url(https://qbbr.vteximg.com.br/arquivos/museosans_700-webfont.eot.css);
    src: url(https://qbbr.vteximg.com.br/arquivos/museosans_700-webfont.eot.css?#iefix)format("embedded-opentype"), url(https://qbbr.vteximg.com.br/arquivos/museosans_700-webfont.woff.css)format("woff"), url(https://qbbr.vteximg.com.br/arquivos/museosans_700-webfont.ttf.css)format("truetype"), url(https://qbbr.vteximg.com.br/arquivos/museosans_700-webfont.svg.css#MuseoSans700)format("svg");
    font-weight: 700;
    font-style: normal
}

/* FONTES CENTRALE */
@font-face {
    font-family: 'CentraleSans-Regular';
    src: url("/arquivos/CentraleSansRegular.eot.css");
    src: url("/arquivos/CentraleSansRegular.eot.css?#iefix") format("embedded-opentype"), url("/arquivos/CentraleSansRegular.woff.css") format("woff"), url("/arquivos/CentraleSansRegular.ttf.css") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'CentraleSans-Bold';
    src: url("/arquivos/CentraleSans-Bold.eot.css");
    src: url("/arquivos/CentraleSans-Bold.eot.css?#iefix") format("embedded-opentype"), url("/arquivos/CentraleSans-Bold.woff.css") format("woff"), url("/arquivos/CentraleSans-Bold.ttf.css") format("truetype");
    font-weight: 900;
}

html {
    --bktq: #a89c9e;
    --txt: #686162;
    --txtinner: #fff;
    --bkgray: #a89c9e;
    font-family: 'CentraleSans-Regular', sans-serif !important;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

body {
    overflow-x: hidden;
}

a {
    cursor: pointer;
}

span.error {
    font-size: 12px;
    white-space: nowrap;
    background: red;
    color: #fff;
    box-sizing: border-box;
    line-height: 21px;
    padding-left: 8px;
}


/*hide chaordic*/
div[chaordic] {
    display: none;
}

/*header*/
.new-chk-header {
    background-color: var(--bktq);
    text-transform: uppercase;
    color: var(--txt);
    text-align: center;
    display: block;
}

.new-chk-header-container {
    max-width: 1220px;
    margin: auto;
}

.new-chk-header .box-logo {
    text-align: center;
}

.new-chk-header .box-center {
    font-size: 12px;
    line-height: 16px;
    padding: 4px;
    flex-grow: 1;
}

.new-chk-header .box-security {
    font-size: 12px;
    text-align: center;
    min-width: 142px;
}

.new-chk-header .box-security div:before {
    content: "";
    display: inline-block;
    background: url("https://tbb.vteximg.com.br/arquivos/checkout-sprites.png") no-repeat -24px -16px;
    width: 10px;
    height: 14px;
    transform: translateY(2px);
    margin-right: 4px;
}

.new-chk-header .box-logo a {
    background: url("https://tbb.vteximg.com.br/arquivos/checkout-sprites.png") no-repeat -24px -52px transparent;
    width: 100px;
    height: 44px;
    text-indent: -999px;
    overflow: hidden;
    display: inline-block;
    margin-top: 10px;
}

.new-chk-header .box-center .desktop {
    display: none;
}

.new-chk-header .box-center span {
    margin: 0 4px;
    display: inline-block;
}

@media (min-width:414px) {
    .new-chk-header-container {
        display: flex;
        justify-content: center;
        vertical-align: middle;
        width: 100%;
        padding: 5px 20px 9px 20px;
        box-sizing: border-box;
    }

    .new-chk-header-container>div {
        width: auto !important;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (min-width:768px) {
    .new-chk-header .box-center .desktop {
        display: initial;
    }

    .new-chk-header .box-center .mobile {
        display: none;
    }
}

/*footer*/
footer h3 {
    color: #54E3C9;
    font-size: 14px;
    font-weight: 100;
}

footer ._footer-info {
    background-color: #efefef;
    text-align: center;
    padding: 20px 0;
}

footer ._footer-info-container {
    max-width: 1100px;
    margin: auto;
}

footer ul {
    list-style: none;
    margin: 0;
    display: block;
    text-align: left;
}

footer ul:after {
    content: "";
    display: table;
    clear: both;
    width: 100%
}

footer ul li {
    display: inline-block;
}

footer img {
    margin-right: 5px !important;
}

footer ._seals {
    display: block;
    width: 100%;
    padding: 0 10px;
}

footer ._seals>* {
    margin: 0 5px;
}

footer ._lnks {
    font-size: 12px;
    margin-top: 20px;
}

footer ._lnks a {
    display: inline-block;
    line-height: 12px;
    padding: 5px 15px !important;
}

footer ._credits {
    font-size: 12px;
    color: #999;
    border-top: 1px solid;
    padding: 10px 10px 0 10px;
    margin-top: 20px;
}

footer ._lnks a {
    padding: 2px 0px !important;
    color: var(--txt);
    border-bottom: 1px solid #cfcfcf;
    margin: 10px 10px 0 10px;
}

footer ._lnks a:hover {
    text-decoration: none;
    border-bottom-color: #333;
}

footer h3 {
    text-align: left;
}

@media (min-width:730px) {
    footer ._lnks a {
        font-size: 14px;
    }

    footer ._seals {
        display: flex;
        justify-content: space-between;
        max-width: 720px;
    }
}

.order-button-new {
    display: none;
}

/*cart - empty*/
.empty-cart-links a {
    color: #fff !important;
    text-shadow: none;
}

/*cart*/
.cart .seller,
.cart .add-item-attachment-container,
.cart-links-bottom {
    display: none !important;
}

/*checkout button - original*/

body .container {
    font-family: "CentraleSans-Regular", sans-serif !important;
    width: 100%;
    font-weight: 500;
    max-width: 1200px;
    padding: 0 10px !important;
    min-height: 527px;
    box-sizing: border-box;
}

.container h1 {
    font-size: 30px;
    margin: 0;
}

.container a {
    color: var(--txt);
    border-bottom: 1px solid #cfcfcf;
}

.container a:hover {
    text-decoration: none;
    /* border-bottom-color:#333; */
}

.container .cart-items a {
    max-width: 77%;
    padding: 0;
    border: 0;
}

.container .cart-items a.btn {
    padding: 2px 7px;
    background: var(--bkgray);
    border-radius: 0;
    text-shadow: none;
    display: inline-block;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 3px 3px rgba(0, 0, 0, 0.05);
}

.container input,
.container button,
.step,
.cart,
.totalizers,
.btn-success {
    border-radius: 0 !important;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled],
.btn-success {
    background: #5CA795;
}

._more-link a {
    font-size: 12px;
    text-decoration: underline !important;
    color: #a89c9e;
    border: 0;
}

/*cart products*/
.cart .shipping-date {
    display: none;
}

.cart {
    padding: 0;
    border: 0;
}

.cart .cart-items {
    border: 1px solid #e6e0df;
}

.cart-items .item-component {
    display: none !important;
}

.cart thead th {
    background-color: #e6e0df;
    padding: 0 20px;
    line-height: 42px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.025rem;
}

.cart .item-quantity-change,
.cart .item-link-remove {
    border: 0;
}

.cart .item-quantity-change {
    display: inline-block;
    min-height: 30px;
    max-height: 30px;
}

.full-cart>.cart-select-gift-placeholder {
    display: none;
}

@media (min-width:1024px) {
    .full-cart {
        display: flex !important;
    }

    .full-cart .cart-template-holder {
        width: 74% !important;
        margin-right: 2%;
    }

    .full-cart .summary-template-holder {
        width: 24%;
    }

    .full-cart .summary-template-holder>div>div {
        width: 100% !important;
        margin: 0;
        border: 0;
    }
}

.checkout-container {
    /* padding-top: 26px; */
}

._checkout-btns {
    background-color: #93ecdc;
    width: 100%;
    text-align: center;
    display: none;
    flex-grow: 1;
}

:not(._empty-cart) .body-cart ._checkout-btns {
    display: block;
}

._checkout-btns>div {
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px 40px 10px;
}

._checkout-btns a {
    display: inline-block;
    color: #333;
    text-align: center;
    white-space: nowrap;
    box-sizing: border-box;
}

._checkout-btns a:hover {
    text-decoration: none;
}

._checkout-btns ._more-products {
    padding: 2px 0px !important;
    color: var(--txt);
    border-bottom: 1px solid #333;
    margin: 10px 10px 0 10px;
    font-size: 14px;
}

._checkout-btns ._checkout-btn {
    background-color: #333;
    color: #fff;
    padding: 0 50px;
    min-height: 50px;
    line-height: 50px;
    width: 100%;
    box-shadow: inset 0 3px 0 rgba(255, 255, 255, 0.2), 0 3px 3px rgba(0, 0, 0, 0.05);
}

._checkout-btns #render-checkout-buttons {
    padding: 7px 0 0 0;
    box-sizing: border-box;
    width: 100%;
    min-width: 240px;
    float: none;
}

._checkout-btns .extensions-checkout-buttons {
    width: 100%;
}

.checkout-container .extensions-checkout-buttons-container {
    display: none !important;
}

._more-prds-btns {
    display: none;
}

._checkout-btns .hidden-phone {
    width: 256px;
    margin: auto;
}

@media (max-width:1024px) {
    ._checkout-btns>div {
        display: flex;
        flex-direction: column-reverse;
    }

    ._more-btn-wrp {
        display: none
    }

    ._checkout-btns .extensions-checkout-buttons-container {
        padding-top: 23px;
    }

    ._checkout-btns .extensions-checkout-buttons-container:before {
        content: "ou";
        display: block;
    }

    ._more-prds-btns {
        text-align: right;
        font-size: 14px;
        padding: 0 0 6px 0;
        margin-top: -26px;
        display: block;
    }
}

@media (min-width:1024px) {
    ._more-btn-wrp {
        flex-grow: 1;
        text-align: left;
    }

    ._checkout-btns ._checkout-btn {
        min-width: 280px;
    }

    ._checkout-btns .extensions-checkout-buttons-container {
        width: 100% !important;
    }

    ._checkout-btns ._visa-btn-wrp {
        text-align: center;
    }

    ._checkout-btns ._visa-btn-wrp .unstyled {
        display: flex;
        width: 100%;
    }

    ._checkout-btns ._visa-btn-wrp .unstyled .btn-visa-container img {
        max-width: 248px;
    }

    ._checkout-btns ._visa-btn-wrp .unstyled:after {
        content: "ou";
        padding: 14px 10px 0 4px;
    }

    ._checkout-btns ._visa-btn-wrp img {
        max-width: 248px;
    }
}

/*hide gifts on the right columns*/
.cart-more-options>.cart-select-gift-placeholder {
    display: none;
}

/*shipping/delivery box*/
.cart-more-options {
    font-size: 14px;
}

.cart-more-options h2 {
    background-color: #a89c9e;
    color: #fff !important;
    padding: 10px;
    text-align: left;
    font-size: 14px !important;
    line-height: 14px !important;
    margin: -4px -4px 4px -4px !important;
}

.cart-more-options h2:after {
    content: "/Retirar"
}

.cart-more-options .srp-container {
    border: 1px solid #e6e0df;
    padding: 4px 4px 10px 4px;
}

.cart-more-options .srp-description {
    max-width: initial;
    padding: 0 10px;
    color: #686162;
}

.cart-more-options button {
    background-color: #333;
    color: #fff;
}

.cart-more-options .srp-data,
.cart-more-options .vtex-shipping-preview-0-x-postalCodeForgotten {
    margin: 0;
}

#shipping-calculate-link:after {
    content: "Entrega/Retirar";
    margin-left: 6px;
}

.cart-more-options .srp-data,
.onda-v1 .br-pill {
    text-align: center;
    padding: 0 10px;
    border-radius: 5px !important;
}

.onda-v1 .br-pill {
    border: 1px solid #a89c9e;
}

.cart-more-options .srp-items {
    font-size: 13px !important;
}

.cart-more-options .srp-postal-code {
    text-align: left;
}

.cart-more-options .srp-address-title {
    display: inline-block;
}

.cart-more-options .srp-toggle {
    margin: 12px 0 10px 0;
    border-radius: 0;
}

.cart-more-options .b--blue {
    border: 1px solid #a89c9e;
    background-color: #686162;
    border-top: none;
    border-bottom: none;
    z-index: 1;
    color: #fff !important;
    border-radius: 0;
    box-shadow: none;
}

.cart-more-options .srp-toggle label {
    color: #333;
    font-size: 12px;
    z-index: 2;
    border-radius: 0 !important;
}

.cart-more-options .srp-pickup-info {
    margin: 0 !important;
}

.cart-more-options .srp-pickup-info:before {
    content: "Nesta opção, o frete é grátis, mas não é possível pagar com boleto.";
    display: block;
    font-size: 11px;
    padding: 5px 10px;
    max-width: 160px;
    margin: auto;
}

.cart-more-options #deliver-at-text {
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
}

.cart-more-options #deliver-at-text:before {
    content: "clique p/ alterar \2191";
    position: absolute;
    font-size: 9px;
    white-space: nowrap;
    right: 0;
    top: 19px;
}

.cart-more-options .srp-shipping-current-single {
    margin-top: 10px !important;
}

.termos:before {
    content: " ";
    display: block
}

.cart-totalizers {
    padding: 0;
    margin: 10px 0 0 0 !important;
}

.shp-method-option-active span,
.shp-method-option-active:after {
    color: #fff !important;
}

.vtex-omnishipping-1-x-deliveryChannelsWrapper {
    border-radius: 5px !important
}

@media (min-width:768px) and (max-width:1024px) {
    .cart-totalizers {
        margin: 0 !important;
    }
}

@media (max-width:768px) {
    .cart-active .srp-container {
        max-width: initial !important;
    }
}

body .summary-coupon {
    margin: 0 !important;
    width: 100%;
    text-align: center;
}

body .summary-coupon p {
    margin: 0;
    padding: 0;
    width: 100%;
}

.coupon-label label,
.coupon-data a {
    display: block;
    background-color: var(--bkgray);
    color: var(--txtinner);
    padding: 10px;
    text-align: left;
    font-size: 14px;
    margin: -4px -4px -4px -4px !important;
}

.coupon-data a {
    cursor: pointer !important;
    border: 0 !important;
}

.coupon-data a:after {
    content: ">";
    position: absolute;
    font-size: 18px;
    transform: scale(1.4, 1) rotate(90deg) !important;
    margin: 1px 0 0 5px;
}

.coupon-fieldset {
    border: 1px solid #e6e0df;
    padding: 4px;
}

.coupon-fields {
    padding: 14px 0px !important;
}

.summary .info,
.summary .monetary {
    width: 50%;
    /* text-align: left !important; */
    /* color: #686162; */
    padding: 10px;
}

.cart-totalizers .accordion-group:before {
    content: "Total";
    display: block;
    background-color: var(--bkgray);
    color: var(--txtinner);
    padding: 10px;
    text-align: left;
    font-size: 14px;
}

.cart-totalizers .accordion-group {
    border-radius: 0;
    border: 1px solid #e6e0df;
    margin-top: 10px;
    background-color: #fff;
}

.summary-template-holder button {
    background: #686162 !important;
    border: 0 !important;
    color: #fff !important;
    text-shadow: none !important;
    /* text-transform:uppercase; */
    font-size: 11px !important;
    letter-spacing: 0.08em;
    /* display: inline-block; */
}

.summary-template-holder button:hover {
    background: #000 !important;
}

@media (min-width:1024px) {
    ._checkout-btns>div {
        display: flex;
    }

    .cart-totalizers {}
}

/*visa*/
#render-checkout-buttons {
    border: 0 !important;
}

/*checkout - popup*/
.default-modal {
    background: var(--bktq) !important;
    color: #333;
    font-size: 16px;
}

/*checkout*/
.orderform-template-holder>div>div {
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
}

.orderform-template-holder .step {
    border: 1px solid #e6e0df;
    padding: 0;
}

.accordion-toggle,
.mini-cart h2 {
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    background-color: #a89c9e;
    padding: 8px 10px !important;
    min-height: 28px;
    line-height: 28px;
}

.accordion-toggle-active {
    background-color: #a89c9e;
    color: #fff !important;
}

.accordion-toggle .link-box-edit {
    top: 0px;
    right: 0px;
    background-color: #fff;
    border: 0 !important;
    border-radius: 0 !important;
    font-size: 10px;
    letter-spacing: 0.025em;
    color: #333;
    opacity: 0.8;
}

.accordion-toggle .link-box-edit:before {
    content: "Editar";
    margin-right: 5px;
}

.btn-link {
    color: #1FAD93;
}

.vtex-omnishipping-1-x-pickupPointChange {
    border: 0 !important;
    background-color: #45DABF;
    color: #333;
    text-shadow: none;
}

.vtex-omnishipping-1-x-pickupPointChange:hover {
    background-color: #333;
    color: #fff
}

.vtex-omnishipping-1-x-deliveryOptionActive,
.vtex-omnishipping-1-x-deliveryOptionInactive,
#postalCode-finished-loading button {
    color: #333 !important;
    text-transform: uppercase !important;
    font-size: 13px !important;
}

.vtex-omnishipping-1-x-deliveryChannelsToggle {
    background: #686162 !important;
    border: 0 !important;
    padding: 1px;
    border-radius: 5px !important;
}

/*payment*/
.payment-body .gift-card-section {
    padding: 10px 20px;
    margin: 10px 0 0 0 !important;
    min-width: 100%;
}

.payment-body .gift-card-provider {
    font-size: 0;
}

.payment-body .gift-card-provider:before {
    content: "Clube das berês - Desconto por pontos";
    font-size: 14px;
}

.payment-body .code {
    display: none;
}

.payment-group-item {
    box-sizing: border-box;
}

.payment-body .accordion-inner {
    padding: 0 !important;
}

.payment-group-list-btn {
    display: flex;
    flex-wrap: wrap;
}

.payment-data .payment-group {
    margin-bottom: 0px;
}

.payment-data .payment-group a {
    width: 100%;
}

@media(min-width:414px) {
    .payment-data .payment-group a {
        width: 50%;
    }
}

@media(min-width:670px) {
    .payment-data .payment-group a {
        width: 33%;
    }
}

@media(min-width:768px) {

    .payment-data .gift-card-section,
    .payment-data .payment-discounts-alert {
        margin-left: 26%;
        width: 69% !important;
        box-sizing: border-box;
        break-after: always;
    }

    .payment-body .box-new {
        display: flex;
        flex-wrap: wrap;
    }

    .steps-view,
    .gift-card-section,
    .payment-discounts-alert {
        box-sizing: border-box;
        flex-grow: 1;
        width: 74% !important;
    }

    .payment-data .steps-view {
        /* margin-top:10px; */
    }

    .payment-group {
        width: 26%;
    }

    .payment-group-list-btn {
        width: 100%;
    }

    .payment-data .payment-group a {
        width: 100%;
    }
}

/*total checkout*/
.cart-fixed {
    min-width: 100% !important;
    min-width: 320px;
}

.cart-fixed .accordion-group:before {
    background-color: #a89c9e !important;
    text-transform: uppercase;
}

.cart-fixed .accordion-body {
    padding: 0 10px 10px 10px;
}

.cart-fixed .accordion-body td {
    font-size: 16px !important;
    padding: 10px 0 4px 0;
}

.cart-fixed tfoot .monetary {
    color: #5CA795 !important;
    font-size: 17px !important;
}

.mini-cart {
    margin: 0;
}

.mini-cart .cart {
    margin: 0;
    position: relative;
    overflow: hidden;
}

.mini-cart .item {
    border: 0;
    box-sizing: border-box;
    padding: 0;
}

.mini-cart .cart-items {
    border: 0;
    padding: 6px 6px 6px 6px;
    overflow-y: scroll;
    max-height: 156px;
}

.cart-fixed h2 {
    display: none;
}

.summary-cart-template-holder {
    border: 1px solid #e6e0df;
    height: auto !important;
    background: #fff;
}

.summary-cart-template-holder .cart:before {
    content: "Resumo do pedido";
    text-transform: uppercase;
    display: block;
    background-color: var(--bktq);
    color: #fff;
    padding: 10px;
    text-align: left;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.mini-cart .summary-template-holder,
.summary-template-holder,
.payment-confirmation-wrap {
    border: 0
}

._buy-btn {
    text-align: center;
    display: block;
    background: #5ca795;
    padding: 15px 0;
    margin: 10px 0;
    color: #fff !important;
    border-radius: 5px;
    font-size: 16px !important;
    font-weight: 700;
}

.body-order-form ._buy-btn {
    display: none;
}

.orderform-template-holder .box-step,
.orderform-template-holder .accordion-body {
    /* padding:0 10px 4px 10px; */
}

@media(min-width:980px) {
    .cart-fixed {
        min-width: 310px !important;
        max-width: 320px;
    }
}

.ChangeNumberOfPayments {
    display: none !important;
}

/*cart table products*/
.product-image {
    background: none;
}

.old-product-price-label,
.new-product-price-label,
.full-cart .cart-items thead {
    display: none !important;
}

.icon.icon-plus-sign,
.icon.icon-minus-sign {
    min-width: 30px !important;
    display: inline-block;
    color: #fff;
}

.icon.icon-plus-sign {
    line-height: 30px;
}

.icon.icon-minus-sign {
    line-height: 27px;
}

.icon.icon-plus-sign:before {
    content: '+';
}

.icon.icon-minus-sign:before {
    content: '-';
}

.icon.icon-plus-sign:hover:before,
.icon.icon-minus-sign:hover:before {
    /* background:#90eddb; */
    color: #fff !important;
    transition: .3s;
    /* border:1px solid #90eddb; */
    display: inline-block;
}

.cart .list-price {
    font-size: 14px;
}

._cart-tbl {
    position: relative;
}

._cart-tbl .brand-name {
    text-transform: uppercase;
}

._cart-tbl-container td {
    margin: 0 !important;
    padding: 6px 0 0 !important;
    line-height: initial;
    color: #686162;
}

._cart-tbl-container {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

._cart-tbl {
    margin: 0 !important;
    display: flex;
}

._cart-tbl>div {
    display: flex;
    flex-direction: column;
}

._cart-tbl>div>div {
    display: flex;
}

._cart-tbl ._cart-body {
    padding-bottom: 10px;
}

._cart-tbl ._cart-body,
._cart-tbl ._cart-body>div {
    flex-grow: 1;
}

._cart-tbl {
    width: 100%;
}

.field-help,
html .help-message span,
html .help-message {
    background-color: #a89c9e;
    color: #fff !important;
    border: none;
}

._cart-tbl ._cart-title {
    text-transform: uppercase;
    background: #a89c9e;
    color: #fff;
    font-size: 14px !important;
    font-weight: 500 !important;
    font-family: 'CentraleSans-Regular', sans-serif;
    letter-spacing: .08em;
    line-height: 40px;
}

._cart-tbl ._cart-left {
    width: 40% !important;
}

._cart-tbl ._cart-right {
    width: 60% !important;
}

._cart-tbl ._cart-col2>* {
    text-align: right !important;
}

._cart-right ._cart-body>* {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

._cart-product {
    max-width: 434px;
}

._cart-tbl .product-image {
    flex-grow: 0;
}

._cart-tbl .product-name {
    width: 100% !important;
    padding: 15px 10px 0 12px !important;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

._cart-tbl ._cart-product {
    display: flex;
}

._cart-tbl .product-name .brand .brand-name {
    position: relative !important;
    top: 0 !important;
}

._cart-tbl .product-name a {
    display: block;
    width: 100%;
}

._cart-tbl .product-name>div {
    display: block;
    position: relative;
    color: #686126;
}

._cart-title>* {
    white-space: nowrap;
}

._cart-title>*,
._cart-body>* {
    padding: 0 20px;
}

._cart-right ._cart-title>div,
._cart-right ._cart-body>div {
    text-align: center;
    width: 33%;
    box-sizing: border-box;
    padding: 0 !important;
    font-weight: 500;
}

._cart-right ._cart-title ._cart-col3,
._cart-right ._cart-body ._cart-col3 {
    width: 3%;
    min-width: 30px;
    padding: 0 !important;
    text-align: center;
}

._cart-qty .quantity {
    min-width: 150px;
    flex-direction: row;
}

.full-cart ._cart-qty .quantity>* {
    display: inline-block;
    vertical-align: bottom;
    margin: 0 !important;
    position: initial;
}

._cart-qty .quantity a {
    width: 30px;
    height: 30px;
    /* font-size: 29px; */
}

._cart-qty .icon.icon-plus-sign::before,
._cart-qty .icon.icon-minus-sign::before {
    border: 0 none !important;
    margin: 0 !important;
    font-weight: 500 !important;
    text-decoration: none;
    font-family: sans-serif !important;
    line-height: 26px !important;
    vertical-align: top;
    font-size: 16px;
}

._cart-qty .icon.icon-plus-sign::before {
    line-height: 30px !important;
}

._cart-tbl .product-price span {
    white-space: nowrap !important;
    color: #686162;
}

._cart-body>div {
    background: #fff;
}

._cart-qty {
    display: flex;
    justify-content: center;
}

@media (min-width:820px) {
    ._cart-tbl-container div ._cart-title {
        display: none;
    }

    ._cart-tbl-container0 div ._cart-title {
        display: flex;
    }

    ._cart-tbl ._cart-product {
        padding-bottom: 10px;
    }
}

@media (max-width:820px) {
    .full-cart .cart table tbody tr {
        margin-top: 10px !important;
        ;
        display: block;
    }

    .full-cart .cart table tbody td._cart-tbl-container {
        display: block;
    }

    .full-cart .cart table tbody tr td.product-image {
        padding: 10px 0 0 10px !important;
    }

    .full-cart .cart table tbody tr td.product-name a {}

    .cart .cart-items .product-item {
        border-bottom: 0 !important;
    }

    ._cart-tbl {
        flex-wrap: wrap;
    }

    ._cart-tbl ._cart-left,
    ._cart-tbl ._cart-right {
        width: 100% !important;
    }

    ._cart-tbl ._cart-product {
        min-width: 100% !important;
    }

    ._cart-tbl .product-name {
        padding-right: 20%;
    }

    ._cart-tbl-container ._cart-left ._cart-title {
        display: none;
    }

    .full-cart table.cart-items .product-item .quantity-price .total-selling-price {
        font-size: 14px !important;
    }

    ._cart-body>._cart-product {
        padding: 0;
    }

    ._cart-tbl ._cart-title {
        background-color: #fff;
    }
}

.full-cart table.cart-items {
    max-width: 100% !important;
}

.cart .cart-items .product-item {
    background: none !important;
}

.full-cart .cart-items {
    width: 100% !important;
}

.cart .item-quantity-change {
    background-color: #686162;
}

.cart .item-quantity-change:hover {
    background-color: #000;
}

@media (max-width:490px) {

    .full-cart .cart table tbody tr,
    .full-cart .cart table tbody tr+tr {
        padding: 0 !important;
    }

    .full-cart .cart table tbody tr td {
        display: initial;
    }

    .full-cart .cart table tbody tr td.product-image {
        display: flex;
    }

    .full-cart .cart table tbody tr td.product-image {
        position: relative !important;
    }

    .full-cart .cart table tbody tr td.product-name a,
    .product-item .product-name .brand .brand-name {
        top: 0 !important;
        position: relative;
        left: 0 !important;
    }

    .full-cart .cart table tbody tr td.product-name a {
        display: flex;
    }

    .full-cart .cart table tbody tr td.product-price {
        float: none !important;
        box-sizing: border-box;
        max-width: 100%;
        text-align: center !important;
    }

    .table.cart-items .product-item .quantity-price .total-selling-price {
        font-size: 14px !important;
    }

    .full-cart .cart table tbody tr td.quantity input {
        float: none !important;
        left: auto !important;
    }

    .full-cart .cart table tbody tr td.quantity-price {
        display: block !important;
        width: 100%;
        text-align: center !important;
    }

    .full-cart .cart table tbody tr td.quantity-price>span {
        font-weight: 500 !important;
        font-size: 20px !important;
    }

    .full-cart .cart table tbody tr td.quantity {
        width: auto !important;
        vertical-align: bottom;
        padding: 10px 0 !important;
        justify-content: center !important;
    }

    .full-cart .table.cart-items .product-item .product-price .best-price .new-product-price {
        right: auto !important;
    }

    .full-cart .table.cart-items .product-item .product-price .best-price .new-product-price {
        font-size: 14px !important;
    }

    .full-cart .cart table tbody tr td.product-name {
        margin-top: 0px !important;
        padding: 0 10px 0 12px !important;
    }

    .full-cart .cart table tbody tr td.item-remove {
        top: 17px !important;
        right: 4px !important;
    }

    ._cart-tbl ._cart-title {
        line-height: 20px;
        padding-top: 10px;
    }

    ._cart-tbl ._cart-title ._cart-col1,
    ._cart-tbl ._cart-body ._cart-col1 {
        flex-grow: 1;
    }

    ._cart-tbl ._cart-title ._cart-col2,
    ._cart-tbl ._cart-body ._cart-col2 {
        width: auto !important;
        flex-grow: 1;
    }

    ._cart-right ._cart-title ._cart-col3,
    ._cart-right ._cart-body ._cart-col3 {
        width: 0 !important;
        min-width: auto;
        max-width: 0;
    }

    ._cart-tbl ._cart-title * {
        font-size: 10px !important;
    }

    ._cart-tbl .quantity a,
    ._cart-tbl .quantity input {
        width: 33px !important;
        height: 36px !important;
        border: 0 !important;
    }

    ._cart-tbl .item-quantity-change-decrement,
    ._cart-tbl .item-quantity-change-increment {
        float: none !important;
    }

    ._cart-tbl .icon.icon-minus-sign {
        float: none !important;
        left: auto !important;
    }

    ._cart-tbl .icon.icon-minus-sign::before,
    ._cart-tbl .icon.icon-plus-sign::before {
        top: auto;
        left: auto;
        color: #000;
    }

    ._cart-qty .quantity {
        min-width: 90px !important;
        display: flex !important;
        vertical-align: bottom;
    }

    ._cart-tbl .product-name {
        margin-top: 20px !important;
        display: flex !important;
    }

    ._cart-tbl .product-image {
        display: flex;
    }

    ._cart-tbl ._cart-body>div *:not(.item-remove) {
        position: relative !important;
        top: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    ._cart-tbl .product-price br {
        display: none !important;
    }

    ._cart-tbl ._cart-body .list-price,
    ._cart-tbl ._cart-body .list-price .old-product-price,
    ._cart-tbl ._cart-body .best-price {
        display: inline !important;
        text-align: center;
        width: 100% !important;
    }

    ._cart-tbl ._cart-body .list-price {
        font-size: 12px;
    }

    ._cart-right ._cart-title>div,
    ._cart-right ._cart-body>div {
        width: 33%;
    }

    ._cart-tbl ._cart-left ._cart-col0,
    ._cart-tbl ._cart-right ._cart-col0 {
        max-width: 100px;
        width: 100px;
    }
}

/*gifts*/
.can-select-gifts:after {
    content: " (nenhum selecionado)";
    color: red;
}

.available-gift {
    width: 100%;
}

.available-gift h2 {
    background-color: #a89c9e;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 0;
    max-width: 100%;
    line-height: 12px;
    color: #fff;
    text-align: center;
}

.available-gift .cart-gift-items {
    max-width: 100%;
}

.available-gift .cart-gift-items tr {
    background: #fff !important;
    border-radius: 0 !important;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #e6e0df;
}

.available-gift .cart-gift-items tr:last-child {
    border: 0;
}

.available-gift-items {
    display: flex;
    flex-wrap: wrap;
}

.available-gift-items tr {
    flex: 1;
    padding: 10px 0;
    min-width: 100% !important;
}

.available-gift-items i {
    display: none;
}

.available-gift-items td {
    vertical-align: middle;
    position: relative;
}

.available-gift-items td:first-child {
    padding: 0px 10px 0px 70px;
}

.available-gift-items td:first-child:before {
    content: "";
    position: absolute;
    top: 20px;
    left: 26px;
    height: 14px;
    width: 14px;
    border: 2px solid #000;
}

.available-gift-items .active td:first-child:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    position: absolute;
    color: #54e3c9;
    border: none;
    font-size: 22px;
}

.available-gift-items .inactive td:first-child:before {
    opacity: 0.1;
}

.available-gift-items .label-vertical-group.active {
    color: #333;
}

@media(min-width:670px) {
    .available-gift-items tr {
        min-width: 50% !important;
    }
}

/*shipping bar*/
body .mr-shipping-container {
    display: none;
}

.body-cart .mr-shipping-container {
    display: block;
    background-color: #333;
}

.mr-shipping-container {
    text-align: left;
    width: 100%;
}

.mr-shipping {
    font-size: 11px;
    color: #fff;
    display: flex;
    padding: 0 20px;
    max-width: 1220px;
    margin: auto;
    box-sizing: border-box;
}

.mr-shipping>* {
    display: block;
    white-space: nowrap;
}

.mr-shipping-lbl {
    padding: 2px 14px;
    color: #fff !important;
}

.mr-shipping-lbl-container {
    line-height: 24px;
}

.mr-shipping-pb-container {
    width: 100%;
    padding: 3px 18px 0 0;
}

.mr-progress-bar {
    background: #FAF6F5;
    min-width: 100%;
    display: inline-block;
    height: 10px;
    border-radius: 5px;
    margin-top: 3px;
    overflow: hidden;
}

.mr-progress-bar small {
    display: block;
    height: 10px;
    width: 10%;
    background: #90EDDB;
}

.mr-shipping.__free-shipping {
    justify-content: center;
}

.__free-shipping .mr-shipping-pb-container {
    display: none;
}

@media (max-width:600px) {
    .mr-shipping {
        flex-wrap: wrap;
    }

    .mr-shipping-pb-container {
        padding: 0;
    }

    .mr-shipping-lbl {
        padding: 0;
        white-space: normal;
        font-size: 11px;
        letter-spacing: 0.025rem;
    }

    .mr-shipping-lbl-container {
        line-height: 16px;
        padding: 4px 0 0;
    }

    .mr-progress-bar {
        margin: 0
    }
}

/*Texto boleto*/
.bankInvoicePaymentGroup .payment-description {
    font-size: 0;
}

.bankInvoicePaymentGroup .payment-description:before {
    content: "\2022\ O boleto bancário será exibido após a finalização da compra e também será enviado para o seu e-mail.\A\A \2022\ Fique atento a data de vencimento do seu boleto, ele pode ser pago em qualquer agência bancária, lotéricas, correios e internet banking.\A\A\2022\ Caso não seja pago durante esse perí­odo, o pedido será automaticamente cancelado. o prazo de entrega do pedido começa a contar após a confirmação do pagamento do boleto.\A\A\2022\ O pagamento será efetivado em até 72 horas após o pagamento do boleto.\A";
    white-space: pre-line;
    font-size: 15px;
    line-height: 14px;
}

.bankInvoicePaymentGroup .payment-description>br,
.notice-pickup {
    display: none !important;
}

/* Mensagem caso cliente possua mais de 2 endereÃ§os */
.multiple-address .address-list {
    position: relative;
}

.multiple-address .address-list label:first-child {
    margin-top: 135px;
}

.multiple-address .address-list label:nth-child(3):before {
    content: "Atenção";
    display: block;
    background-color: #eeebec;
    color: #333;
    position: absolute;
    height: 42px;
    line-height: 42px;
    top: -10px;
    padding: 0 15px;
    max-width: 100%;
    letter-spacing: 0.04em;
    font-size: 15px;
    text-align: center;
    width: calc(100% - 20px);
    box-sizing: border-box;
}

.multiple-address .address-list label:nth-child(3):after {
    content: "Você tem mais de um endereço cadastrado, confirme sua opção de entrega.";
    display: block;
    background-color: #fff;
    color: #333;
    position: absolute;
    top: 32px;
    padding: 15px;
    max-width: 100%;
    letter-spacing: 0.04em;
    font-size: 15px;
    text-align: center;
    width: calc(100% - 20px);
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid #eeebec;
}

@media (min-width:385px) {
    .multiple-address .address-list label:first-child {
        margin-top: 105px;
    }
}

@media (min-width:670px) {
    .multiple-address .address-list label:first-child {
        margin-top: 90px;
    }
}

/*mensagem pickup*/
.delivery-group-content:before {
    content: "Atenção";
    display: block;
    text-align: center;
    background-color: #fcf7de;
    padding: 10px 5px;
    border: 1px solid #fdeea8;
}

.vtex-omnishipping-1-x-findPickup:before {
    content: "Nesta opção o frete é grátis, mas não é possível pagar com o boleto.";
    display: block;
    text-align: center;
    background-color: #fff;
    padding: 10px 5px;
    border: 1px solid #fdeea8;
    border-top: none;
    margin-bottom: 20px;
}

.srp-toggle__pickup.blue,
.srp-toggle__delivery.blue {
    color: #fff !important;
}

.pickup-notfind {
    width: 85%;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #fdeea8;
    background: #fcf7de;
    color: #686162;
}

/*map popup*/
.vtex-pickup-points-modal-2-x-modalDetails {
    overflow: auto;
}

/*hide boleto se pickup*/
#payment-group-bankInvoicePaymentGroup {
    display: none !important;
}

._show-boleto #payment-group-bankInvoicePaymentGroup {
    display: block !important;
}

/*email*/
.client-pre-email .emailInfo h3 {
    color: var(--txt);
}

.client-pre-email .emailInfo .icon-ok {
    color: var(--bktq);
}

.client-pre-email .btn-success {
    margin-top: 0 !important;
}

.client-pre-email .emailInfo .icon-lock {
    color: var(--bktq);
}

/*hide map*/
@media(min-width:1024px) {
    .cart-more-options .vtex-pickup-points-modal-2-x-pkpmodal.pkpmodal {
        width: 340px;
        margin-left: auto;
        transform: translateX(-50%);
    }
}

.cart-more-options .vtex-pickup-points-modal-2-x-tabsContainer {
    display: none;
}

.cart-more-options #map-canvas {
    display: none !important;
}

/*clube + gift card links*/
#payment-data .payment-discounts-alert-wrap {
    width: 100%;
    margin: 0;
    padding: 10px 0 0 0;
}

#payment-data .payment-discounts-alert-wrap>a {
    width: 100% !important;
    padding: 10px 20px;
    background-color: #fcf8e3;
    border-radius: 0;
    box-sizing: border-box;
    margin: 0 !important;
}

#payment-data .link-gift-card {
    width: 100%;
    left: 0;
    padding: 0px;
    position: relative;
    display: none !important;
}

#payment-data .link-gift-card>a {
    display: inline-block;
    padding: 10px 20px;
    background: red;
    text-decoration: underline;
    width: 100%;
    box-sizing: border-box;
    background-color: #fcf8e3;
}


/*SELECTORS*/
/* ._selector-unavailable .__lnk-buy-btn { margin: 30px 0 0 0; } */
._p-sku-selection {
    /* display: none; */
    margin: 15px 0;
}

._p-sku-selection._on {
    display: block;
    min-height: 30px;
}

._p-sku-selection span {
    cursor: pointer;
    position: relative;
    display: inline-block;
    /* border: 1px solid #dfdfdf; */
    padding: 0px 4px;
    margin: 0 2px 4px 0;
    font-size: 10px;
    letter-spacing: 0.12em;
}

._p-sku-color span {
    /* min-width: 20px; */
    /* min-height: 20px; */
    /* width: 20px; */
    /* height: 20px; */
    /* border: 1px solid #cfcfcf; */
    /* overflow: hidden; */
    padding: 0;
    /* border-radius: 100%; */
}

._p-sku-color span:before {
    content: "";
    width: 20px;
    display: inline-block;
    /* border-radius: 100%; */
    height: 20px;
    margin: 1px 2px;
    background-size: contain;
}

._p-sku-selection span._on {
    border: 1px solid var(--lead);
}

._p-sku-selection span._on:before {
    border: 2px solid #5ca795;
}

._p-promo-labels {
    position: absolute;
    min-width: 80px;
    bottom: 0;
}

._p-promo-labels>* {
    display: block;
    margin: -1px 0 0 0;
    background-color: #fff;
    border: 1px solid var(--light-lead);
    padding: 0px 8px;
    font-size: 10px;
    text-transform: uppercase;
}

.__flag-frete-gratis,
.__flag-ganhe-brinde {
    background-color: var(--turquoise);
    background-color: #4edac0;
}

._p-selectors {
    display: flex;
    justify-content: center;
    /* overflow-y: scroll; */
    height: 30px;
    overflow: hidden;
    width: 120px;
    margin: 0 auto;
}

._p-selectors .__btn-highlight {
    order: -500;
}

._p-selectors .__hasflags {
    order: -100;
}

.ofertaDeCaixa {
    margin: 20px 0;
    display: inline-block;
    width: 100%;
    clear: both;
}

.ofertaDeCaixa a,
.ofertaDeCaixa h3,
.ofertaDeCaixa span {
    color: #67605F;
    font-family: "CentraleSans-Regular";
}

.ofertaDeCaixa h3 {
    font-size: 14px !important;
}

.ofertaDeCaixa a:hover,
.ofertaDeCaixa h3:hover,
.ofertaDeCaixa span:hover {
    text-decoration: none;
}

.ofertaDeCaixa ul {
    list-style-type: none;
    margin: 0;
}

.ofertaDeCaixa ul>li {
    width: 215px;
    height: 340px;
    text-align: center;
    background: #fff;
    padding: 20px;
    position: relative;
}

.__p_pricing_>span {
    display: block;
}

.ofertaDeCaixa ._showcase {
    display: flex;
    justify-content: space-between;
}

.__p_brand {
    display: none
}

.__p_details_btn {
    background: #5CA795;
    color: #fff !important;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 14px !important;
}

.__p_img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

._p_price_,
._p_price_:hover {
    text-decoration: line-through !important;
    font-size: 12px !important;
}

._p_priceoffer_ span {
    font-size: 18px !important;
    font-weight: 700;
}

.__hide {
    height: 0 !important;
    overflow: hidden;
}

.cart-template.full-cart.span12.active {
    @include d('768px') {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.banner-frete-gratis-cart {
    @include d('768px') {
        width: 100% !important;
        margin-bottom: 10px;
    }
}