.lp-ba img {
    max-width: 100%;
    margin: auto;
}

//MAIN
.ba-main {
    position: relative;
    display: inline-block;
    h1 {
        position: absolute;
        top: 35vw;
        right: 0;
        width: 190px;
        font-size: 4.8vw;
        color: #686162;
        span {
            display: block;
            &:nth-child(2) {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 6vw;
                letter-spacing: 1.5px;
                line-height: 6.5vw;
            }
        }
    }
}
.ba-advantages {
    background-color: #4fb5db;
    .item {
        text-align: center;
        padding: 20px 0;
        &:first-child {
            position: relative;
            margin-top: -75px;
        }
    }
    img {
        display: block;
    }
    h2 {
        background-color: #fff;
        color: #4fb5db;
        padding: 8px 25px;
        display: inline-block;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 15px;
        margin: 10px 0;
    }
    p {
        color: #fff;
        font-size: 16px;
    }
    svg {
        position: relative;
        display: block;
        margin: auto;
        margin-bottom: -30px;
    }
}
.ba-features {
    background-color: #dcebf0;
    padding: 50px 0;
}