.containerInit {
    .initiativesContainer {
        display: flex;
        max-width: 100%;
        overflow: auto;

        .initiative {
            min-height: 240px;
            min-width: 220px;
            width: 50%;
            display: grid;
            grid-template: "img title"70% "img link"1fr/50% 50%;
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.20);
            border-radius: .2em;
            overflow: hidden;
            margin: 0 10px 20px 0;
            background: $white;

            &__img {
                grid-area: img;
                height: 100%;
                object-fit: cover;
                object-position: center;

            }

            &__title {
                grid-area: title;
                @include sans(1.75em, $secundary, 400, initial);
                margin: 10px 10px 10px 30px;

            }

            &__link {
                grid-area: link;
                @include sans(1em, $secundary, 400, initial);
                border: 1px solid $black;
                border-radius: .2em;
                text-align: center;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 10px 10px 10px 30px;
                transition: all .2s;

                &:hover {
                    background: $black;
                    color: $white;
                }
            }

            @include d("768px") {
                grid-template:
                    "img"50% "title"30% "link"20% / 100%;
                min-height: 360px;

                &__title {
                    font-size: 1.25em;
                    margin: 10px;
                }

                &__img {
                    width: 100%;
                }

                &__link {
                    margin: 10px;
                }
            }
        }
    }
}