.bannerCollection{
	margin-bottom: 20px;
    &.__left{
        .bannerCollection__info{
            padding: 0 5% 0 0;
        }
        @include d("768px"){
            padding: 0;
        }
    }
    &.__right{
        margin-bottom: 40px;
        .bannerCollection__info{
            padding: 0 0 0 5%;
        }
        @include d("768px"){
            .shell{
                flex-flow: column-reverse;
                .bannerCollection__info{
                    padding: 0;
                }
            }
        }
    }
    .shell{
        display: flex;
		justify-content: space-between;
		align-items: center;
        @include d("768px"){
            flex-flow: column;
        }
    }
    .bannerCollection__info{
        .bannerCollection__info__title{
            @include sans(1.875rem, $g-primary, 900, initial);
            margin-bottom: 10px;
        }
    }
    .bannerCollection__render-collection{
        width: 55%;
        position: relative;
        @include d("768px"){
            width: 100%;
        }
        // &::before, &::after{
        //     content: '';
        //     height: 100%;
        //     width: 3em;
        //     position: absolute;
        //     z-index: 1;
        //     top: 0;
        // }
        // &::before{
        //     left: 0;
        //     /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
        //     background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
        //     background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
        //     background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        //     // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 *
        // }
        // &::after{
        //     right: 0;
        //     /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+99 */
        //     background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        //     background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        //     background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        // }
    }
}