/* 09-11-2018 9:38 */

/* ------------------------------------------------------------ *\
	#Helpers
\* ------------------------------------------------------------ */
[class^="list-"] {
	list-style: none outside none;
}

@media (max-width:480px) {
	.section-feeds {
		display: none !important;
		opacity: 0 !important;
		visibility: hidden !important;
	}
}

@media (max-width:320px) {
	.owl-item .product-disabled .slide-tooltip .product-disabled-thumb, .product .product-image > .background, .section-feeds .section-background, .product-body .slider-colors .slider-actions, .section-tabs .tabs .tabs-body #tab4 {
		display: none !important;
		opacity: 0 !important;
		visibility: hidden !important;
	}
}

.slider-products .slider-clip .pratileira .owl-carousel .owl-wrapper-outer .owl-wrapper {
    transition: cubic-bezier(0.40, 0, 0.17, 1) 1.40s !important;
}

/* ------------------------------------------------------------ *\
	#Ajustes divs chaordic
\* ----------------------------------------------------------- */
.section-chaordic-middle .shell div .chaordic:first-child{
    margin-bottom: 60px;
    margin-top: 20px;
}
.section-chaordic-middle .shell div .chaordic:last-child{
	margin-bottom: 60px;
}
.section-chaordic-top .shell div .chaordic{
	margin-bottom: 50px;
}
@media (min-width: 321px){
	.main .section-chaordic .chaordic, .main .section-products { margin-bottom: 0; }
}
/* FONTES CENTRALE */
@font-face {
    font-family: 'CentraleSans-Regular';
    src: url("/arquivos/CentraleSansRegular.eot.css");
    src: url("/arquivos/CentraleSansRegular.eot.css?#iefix") format("embedded-opentype"), url("/arquivos/CentraleSansRegular.woff.css") format("woff"), url("/arquivos/CentraleSansRegular.ttf.css") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'CentraleSans-Bold';
    src: url("/arquivos/CentraleSans-Bold.eot.css");
    src: url("/arquivos/CentraleSans-Bold.eot.css?#iefix") format("embedded-opentype"), url("/arquivos/CentraleSans-Bold.woff.css") format("woff"), url("/arquivos/CentraleSans-Bold.ttf.css") format("truetype");
    font-weight: 900;
}

/* ------------------------------------------------------------ *\
	#Slider princial
\* ------------------------------------------------------------ */
.slider {
	position: relative;
	z-index: 2;
}
.home .slider .slide {
	min-height: 664px;
}
.slider .slider-clip .slides.owl-carousel.owl-theme .owl-controls {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 4px 0 6px;
	text-align: center;
	background: rgba(27, 27, 27, .5);
	z-index: 3;
}
.slider .slider-clip .slides .owl-wrapper-outer {
	position: relative;
	overflow: hidden;
	-webkit-transform: translate3d(0, 0, 0);
}
.slider .slider-clip .slides .owl-wrapper-outer .owl-wrapper {
	transition: cubic-bezier(0.77, 0, 0.175, 1) 1.25s !important;
}
.slider .slider-clip .slides.owl-carousel.owl-theme .owl-controls .owl-pagination .owl-page {
	display: inline-block;
	width: 17px;
	height: 19px;
	cursor: pointer;
	vertical-align: middle;
	background: url(../arquivos/new_qdb_slider-paging.png) no-repeat 0 0;
	background-size: 100% 100%;
	transition: .3s;
}
.slider .slider-clip .slides.owl-carousel.owl-theme .owl-controls .owl-pagination .owl-page + .owl-page {
	margin-left: 10px;
}
.slider .slider-clip .slides.owl-carousel.owl-theme .owl-controls .owl-pagination .owl-page.active {
	background: url(../arquivos/new_qdb_slider-paging_active.png) no-repeat 0 0;
	background-size: 100% 100%;
}
.slider .slider-actions {
	position: absolute;
	width: 100%;
	bottom: 255px;
	left: 0;
	z-index: 3;
	opacity: 0;
	transition: opacity .2s;
	-webkit-transition: opacity .2s;
	-ms-transition: opacity .2s;
	-moz-transition: opacity .4s;
}
.slider:hover .slider-actions {
	opacity: 1;
	transition: opacity .2s;
	-webkit-transition: opacity .2s;
	-ms-transition: opacity .2s;
	-moz-transition: opacity .2s;
}
.slider .slider-actions .slider-prev, .slider .slider-actions .slider-next {
	display: inline-block;
	vertical-align: middle;
	width: 17px;
	height: 30px;
	opacity: 1;
	background-size: 100% 100%;
	transition: .3s;
}
.slider .slider-actions .slider-prev span, .slider .slider-actions .slider-next span { font-size: 0px; }
.slider .slider-actions .slider-next {
	float: right;
	background-image: url(../arquivos/new_qdb_slider-next.png);
}
.slider .slider-actions .slider-prev {
	background-image: url(../arquivos/new_qdb_slider-prev.png);
}
.slides .owl-controls .owl-buttons {
	display: none;
}
.slider .owl-item .box-banner a .banner-desktop, .slider .owl-item .box-banner a .banner-mobile{
	display: none;
}

@media (max-width:1300px) {
	.slider .slider-prev {
		left: 20px;
	}
	.slider .slider-next {
		right: 20px;
	}
}

@media (max-width:1024px) {
	.home .slider .slide {
		min-height: 450px;
	}
	.slider .slider-actions {
		opacity: 1;
    	top: 55%;
	}
	.slider .owl-dots {
		padding-bottom: 4px;
	}
	.slider .owl-dot {
		width: 15px;
		height: 17px;
	}
}

@media (max-width:768px) {
	.slider {
		padding-top: 55px;
	}
	.slider .owl-dots {
		padding: 0 0 3px;
	}
	.slider .owl-dot {
		width: 9px;
		height: 10px;
	}
	.slider .owl-dot + .owl-dot {
		margin-left: 5px;
	}
	.slider .slide img:not(.background) {
		display: block;
	}

	.product .product-image img {
		display: none !important;
	}
}

/* ------------------------------------------------------------ *\
	#Pit Bar
\* ------------------------------------------------------------ */
.section-pit-bar {
    padding: 50px 0;
}

@media (min-width: 768px){
	width: 980px !important;
    margin: 0 auto !important;
}

.section-products .section-inner {
	padding-top: 25px;
	padding-bottom: 30px;
}
.feature-secondary {
	position: relative;
	padding-left: 48px;
	font-family: "CentraleSans-Regular";
	font-size: 16px;
	/* letter-spacing: -0.03em; */
	color: #474643;
	text-align: left;
}
.feature-secondary span {
	position: absolute;
	/* width: 44px; */
	top: 2px;
	left: 0;
	text-align: center;
}
.feature-quaternary {
	position: relative;
	font-size: 16px;
	line-height: 1.13;
	font-weight: 500;
	color: #fff;
	text-align: right;
}
.feature-quaternary a {
	display: block;
	text-decoration: none;
	transition: .3s;
}
.feature-quaternary a:hover {
	opacity: .7;
}
.feature-quaternary span {
	position: absolute;
	bottom: 6px;
	right: 10px;
}
.feature-quaternary strong {
	display: block;
}

/* paineis beauty */
.panels-carousel {
    display: flex;
    justify-content: space-between;
}
@media (max-width:1024px){
	.panels-carousel {
    display: flex;
		overflow-x: scroll;
  }
	.panels-carousel .box-banner {
		min-width: 230px;
		margin: 0 10px 20px 10px;
	}
}
/** paineis beauty - end */

@media (max-width:767px) {
	.feature {
		position: relative;
		min-height: 212px;
	}
	.feature p {
		display: none;
	}
	.feature .feature-title {
		font-size: 17px;
	}
	.feature .feature-tag {
		font-size: 12px;
	}
	.feature .feature-content {
		position: relative;
		min-height: 100px;
		padding: 10px 4px 8px;
	}
	.feature .feature-meta {
		position: absolute;
		bottom: 9px;
		left: 4px;
		font-size: 14px;
	}
	.feature .feature-meta:first-letter {
		text-decoration: underline;
	}
	.feature .feature-meta:after {
		display: none;
	}
	.feature-purple {
		padding-top: 111px;
	}
	.feature-purple .feature-image {
		display: none;
	}
	.feature-white {
		padding-top: 2px;
	}
	.feature-white .feature-title {
		margin-bottom: 32px;
	}
	.feature-white .feature-content {
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
	}
	.feature-teritary {
		padding-top: 160px;
	}
	.feature-teritary .feature-title {
		font-size: 20px;
		margin: 0 0 18px -5px;
	}
	.feature-quaternary {
		width: 116px;
		font-size: 10px;
		line-height: 1.1;
	}
	.feature-quaternary span {
		bottom: 3px;
		right: 6px;
	}
}

@media (max-width:1024px) {
	.feature-quaternary {
		width: 231px;
		font-size: 14px;
	}
}

@media (max-width:1024px) {
	.feature-secondary {
		padding: 0;
		font-size: 14px;
		line-height: 1.25;
		text-align: center;
	}
	.feature-secondary span {
		display: block;
		position: static;
		width: 100%;
		min-height: 26px;
		margin-bottom: 15px;
		text-align: center;
	}
}

/* ------------------------------------------------------------ *\
	#Liquida bere home
\* ------------------------------------------------------------ */
body.home .liquida-bere-home { float: left; width: 100%; margin-bottom: 30px; }
body.home .liquida-bere-home .shell { position: relative; }
body.home .liquida-bere-home .shell h2 { color: #6f3293; font-weight: 900; text-align: center; }
body.home .liquida-bere-home .shell .bloco-filtros p { float:left; color:#5f2d7a; font-size: 11px; font-weight: 700; margin-top: 5px; }
body.home .liquida-bere-home .shell .filtro { list-style-type: none; margin-bottom: 0; }
body.home .liquida-bere-home .shell .filtro h4 { text-align: center; position: relative; }
body.home .liquida-bere-home .shell .filtro li { position: relative; }
body.home .liquida-bere-home .shell .filtro li a { display: block; color: #fff; font-weight: 900; text-align: center; text-decoration: none; }

@media (min-width: 1025px) {
	body.home .liquida-bere-home { margin-top: -45px; height: 300px; background: url('/arquivos/liquida-bere-home-bg.png') top center no-repeat #d9007f; }
	body.home .liquida-bere-home .shell { width: 1150px; }
	body.home .liquida-bere-home .shell h2 { display: block; font-size: 30px; padding-top: 15px; }
	body.home .liquida-bere-home .shell img.img-left { float: left; margin-left: 60px; }
	body.home .liquida-bere-home .shell img.estrela { position: absolute; right: -78px; top: 0px; }
	body.home .liquida-bere-home .shell img.boca { position: absolute; left: -94px; top: 45px; }

	body.home .liquida-bere-home .shell .bloco-filtros { float: right; width: 670px; }
	body.home .liquida-bere-home .shell .filtro { width: 315px; }
	body.home .liquida-bere-home .shell .filtro h4 { font-size: 20px; }
	body.home .liquida-bere-home .shell .filtro h4 span { display: block; font-size: 36px; }
	body.home .liquida-bere-home .shell .filtro li { height: 38px; padding: 5px 0; margin-bottom: 10px; background: #6600cd; border-radius: 25px; }
	body.home .liquida-bere-home .shell .filtro li:hover { background: #d9007f; }
	body.home .liquida-bere-home .shell .filtro li a { font-size: 18px; }
	body.home .liquida-bere-home .shell .filtro li a span { font-size: 30px; }

	/* ------------------------------------------------------------ *\
		#Header liquida filtro desconto
	\* ------------------------------------------------------------ */
	body.home .liquida-bere-home .shell .filtro-desconto { float: left; }
	body.home .liquida-bere-home .shell .filtro-desconto li { width: 100%; }
	body.home .liquida-bere-home .shell .filtro-desconto li a { position: absolute; top: 2px; right: 0; left: 0; margin: 0 auto; }

	/* ------------------------------------------------------------ *\
		#Header liquida filtro categoria
	\* ------------------------------------------------------------ */
	body.home .liquida-bere-home .shell .filtro-categoria { float: right; }
	body.home .liquida-bere-home .shell .filtro-categoria li { display: inline-block; width: 47%; padding: 9px 0 10px; }
	body.home .liquida-bere-home .shell .filtro-categoria li:nth-child(2), body.home .liquida-bere-home .shell .filtro-categoria li:nth-child(4) { float: right; }
}
@media (max-width: 1024px) and (min-width: 768px) {
	body.home .liquida-bere-home { background: #ffef00; padding-bottom: 20px; }
	body.home .liquida-bere-home .shell h2 { display: block; font-size: 30px; padding-top: 15px; }
	body.home .liquida-bere-home .shell img.img-left { display: block; margin: 0 auto; }
	body.home .liquida-bere-home .shell img.estrela { position: absolute; right: 0; top: 0px; }
	body.home .liquida-bere-home .shell img.boca { position: absolute; left: 0; top: 45%; }

	body.home .liquida-bere-home .shell .bloco-filtros { width: 670px; margin: 50px auto; }
	body.home .liquida-bere-home .shell .filtro { width: 315px; }
	body.home .liquida-bere-home .shell .filtro h4 { font-size: 20px; }
	body.home .liquida-bere-home .shell .filtro h4 span { display: block; font-size: 36px; }
	body.home .liquida-bere-home .shell .filtro li { height: 38px; padding: 5px 0; margin-bottom: 10px; background: #6600cd; border-radius: 25px; }
	body.home .liquida-bere-home .shell .filtro li:hover { background: #d9007f; }
	body.home .liquida-bere-home .shell .filtro li a { font-size: 18px; }
	body.home .liquida-bere-home .shell .filtro li a span { font-size: 30px; }

	/* ------------------------------------------------------------ *\
		#Header liquida filtro desconto
	\* ------------------------------------------------------------ */
	body.home .liquida-bere-home .shell .filtro-desconto { float: left; }
	body.home .liquida-bere-home .shell .filtro-desconto li { width: 100%; }
	body.home .liquida-bere-home .shell .filtro-desconto li a { position: absolute; top: 2px; right: 0; left: 0; margin: 0 auto; }

	/* ------------------------------------------------------------ *\
		#Header liquida filtro categoria
	\* ------------------------------------------------------------ */
	body.home .liquida-bere-home .shell .filtro-categoria { float: right; }
	body.home .liquida-bere-home .shell .filtro-categoria li { display: inline-block; width: 47%; padding: 9px 0 10px; }
	body.home .liquida-bere-home .shell .filtro-categoria li:nth-child(2), body.home .liquida-bere-home .shell .filtro-categoria li:nth-child(4) { float: right; }
}
@media (max-width: 767px) {
	body.home .liquida-bere-home { background: #ffef00; }
	body.home .liquida-bere-home .shell h2 { display: block; font-size: 25px; padding-top: 15px; }
	body.home .liquida-bere-home .shell img.img-left { display: block; margin: 0 auto; }
	body.home .liquida-bere-home .shell img.estrela { position: absolute; right: -79px; top: 0px; }
	body.home .liquida-bere-home .shell img.boca { position: absolute; left: 0; top: 45%; }

	body.home .liquida-bere-home .shell .bloco-filtros { margin: 15px auto; }
	body.home .liquida-bere-home .shell ul.filtro { width: 96%; min-height: 50px; margin: 22px auto; padding-bottom: 10px !important; background: #d9007f; border: 1px solid #fff; }
	body.home .liquida-bere-home .shell ul.filtro h4 { color: #ffef00; font-size: 16px; text-align: left; font-weight: 300 !important; padding-top: 15px; margin-left: 10px; }
	body.home .liquida-bere-home .shell ul.filtro h4:before, body.home .liquida-bere-home .shell ul.filtro h4:after { content: ''; position: absolute; top: 20px; width: 2px; height: 10px; background: #ffef00; border-radius: 1px; transition: all 0.2s ease-in; }
	body.home .liquida-bere-home .shell ul.filtro h4:before { right: 19px; transform: rotate(-45deg); }
	body.home .liquida-bere-home .shell ul.filtro h4:after { right: 13px; transform: rotate(45deg); }
	body.home .liquida-bere-home .shell ul.filtro h4.filtro-ativo:after { display: none; }
	body.home .liquida-bere-home .shell ul.filtro h4.filtro-ativo:before { transform: rotate(90deg); transition: all 0.2s ease-in; }
	body.home .liquida-bere-home .shell ul.filtro li { display:none; width: 100%; padding: 13px 0; }
	body.home .liquida-bere-home .shell ul.filtro li a { font-size: 16px; }
	body.home .liquida-bere-home .shell img.boca { position: absolute; left: 0; top: 27px; width: 80px; }
}

/* ------------------------------------------------------------ *\
	#Section Feeds
\* ------------------------------------------------------------ */
.section-feeds {
	position: relative;
	height: 472px;
	margin: 80px 0 20px;
}
.section-feeds .section-background {
	position: absolute;
	width: 100%;
	height: 472px;
	top: 0;
	left: 0;
}
.section-feeds .feeds {
	position: relative;
	top: -31px;
}
.section-feeds .shell {
	position: relative;
	z-index: 2;
}
.section-feeds .shell > .feed-primary {
	display: none;
}

@media (max-width:767px) {
	.section-feeds {
		position: relative;
		padding-top: 30px;
		margin: 53px 0 30px;
		background-size: cover;
	}
	.section-feeds .feed-primary h3 {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		text-align: center;
	}
	.section-feeds .shell {
		position: static;
	}
	.section-feeds .shell > .feed-primary {
		display: block;
		padding: 0 10px;
		background: #fff;
	}
	.section-feeds .shell > .feed-primary p {
		font-size: 12px;
		line-height: 1.08;
	}
	.section-feeds .feed-tag {
		display: none;
	}
}

/* ------------------------------------------------------------ *\
	#Section Club
\* ------------------------------------------------------------ */
.section-club {
	position: relative;
	margin: 92px 0 76px;
	border-top: 5px solid #2fa5de;
	border-bottom: 5px solid #2fa5de;
}
.section-club h3 {
	font-size: 48px;
	line-height: 0.85;
	font-weight: 500;
	color: #2fa5de;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding-left: 103px;
	margin-bottom: 28px;
}
.section-club h3 span {
	font-size: 44px;
	font-weight: 300;
}
.section-club h3 strong {
	font-size: 40px;
	font-weight: 300;
}
.section-club h3 i {
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.section-club .section-image {
	position: absolute;
	width: 70%;
	min-width: 960px;
	height: 100%;
	top: 0;
	left: 38%;
	right: 0;
    background-size: cover;
    background-position: center center;
}
.section-club .shell a {
	text-decoration: none;
}
.section-club .section-content {
	position: relative;
	max-width: 316px;
	padding: 75px 0 90px;
	margin-left: 95px;
	font-size: 16px;
	line-height: 1.25;
	font-weight: 700;
	color: #2fa5de;
	text-align: center;
	background: #fff;
	z-index: 2;
}
.section-club .section-content:before {
	content: '';
	position: absolute;
	width: 200%;
	height: 100%;
	top: 0;
	right: 100%;
	background: #fff;
	z-index: 5;
}
.section-club .section-content:after {
	content: '';
	position: absolute;
	width: 391px;
	height: calc(100% + 10px);
	top: -5px;
	left: 100%;
	background: url(../arquivos/new_qdb_section-mask.png) no-repeat 0 0;
	background-size: 100% 100%;
}

@media (max-width:1024px) {
	.section-club {
		margin: 36px 0 41px;
	}
	.section-club:before {
		top: -5px;
	}
	.section-club:after {
		bottom: -5px;
	}
	.section-club h3 {
	    font-size: 30px;
	    padding-left: 50px;
	    margin-bottom: 15px;
	}
	.section-club h3 span {
		font-size: 33px;
	}
	.section-club h3 strong {
		font-size: 31px;
	}
	.section-club p {
		font-size: 14px;
	}
	.section-club .section-image {
		width: 100%;
		min-width: 0;
	}
	.section-club .section-image.animated {
		right: 0;
	}
	.section-club .section-image:before {
		content: '';
		position: absolute;
		width: 275px;
		height: 100%;
		top: 0;
		left: 0;
		background: #fff;
	}
	.section-club .section-content {
		padding: 23px 0 75px;
		margin-left: 0;
		background: none;
	}
	.section-club .section-content > * {
		position: relative;
		z-index: 3;
	}
	.section-club .section-content:after {
		width: 250px;
		left: 80%;
	}
	.section-club:before, .section-club:after {
		content: '';
		opacity: 0;
	}
}

@media (max-width:767px) {
	.section-club:after {
		content: '';
		position: absolute;
		width: 132px;
		height: 46px;
		bottom: -5px;
		left: 50%;
		margin-left: -66px;
		background: url(../arquivos/new_qdb_triangle.png) no-repeat 0 0;
	}
	.section-club h3 {
		font-size: 32px;
		color: #fff;
	}
	.section-club h3 strong {
		font-size: 28px;
		color: #2fa5de;
	}
	.section-club p {
		font-size: 12px;
	}
	.section-club .shell:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		bottom: 0;
		left: 0;
		background: url(../arquivos/new_qdb_section-mobile-shadow.png) repeat-x 0 bottom;
		z-index: 2;
	}
	.section-club .shell:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: .3;
		background: #094968;
	}
	.section-club .section-content {
		max-width: 100%;
		padding: 39px 0 55px;
		color: #fff;
		text-align: center;
	}
	.section-club .section-image:before, .section-club .section-content:before, .section-club .section-content:after {
		display: none;
	}
}

/* ------------------------------------------------------------ *\
	#Section Banner
\* ------------------------------------------------------------ */
.section-banner {
	position: relative;
	min-height: 161px;
	margin: 120px 0 50px;
}
.section-banner a {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: .3s;
}
.section-banner a:hover {
	opacity: .3;
	background: #fff;
}

@media (max-width:1024px) {
	.section-banner {
		height: 242px;
    	margin: 0px 0 31px;
		background: url(../arquivos/new_qdb_section-banner-tablet.jpg) no-repeat center 0 !important;
		background-size: cover;
	}
}

@media (max-width:767px) {
	.section-banner {
		height: 233px;
		margin: 20px 0;
		background: url(../arquivos/new_qdb_banner-mobile.jpg) no-repeat 0 !important;
		width: 100%;
		background-size: 100% !important;
	}
}

.section-club .section-content .btn.btn-clube-bebes {
	font-size: 22px;
	font-weight: bold;
	background: transparent;
	color: #2fa5de;
	border: none;
	position: relative;
}
.section-club .section-content .btn.btn-clube-bebes:after {
	content: '';
    display: block;
    width: 61px;
    height: 5px;
    margin: -6px auto;
    background: #2fa5de;
}
.section-banner.fix-bg .btn-saber-mais {
	position: relative;
	display: block;
	width: 160px;
	font-size: 16px;
	font-weight: 900;
	color: #fff;
	text-decoration: none;
	top: 2px;
	left: 55%;
}
.section-banner.fix-bg .btn-saber-mais:after {
	content: '';
	position: absolute;
	height: 5px;
	width: 33%;
	background-color: #fff;
	bottom: -8px;
	left: 0px;
	transition: width .5s;
	-webkit-transition: width .5s;
	-ms-transition: width .5s;
	-moz-transition: width .5s;
}
.section-banner.fix-bg .btn-saber-mais:hover {
	background: transparent !important;
	opacity: 1 !important;
}
.section-banner.fix-bg .btn-saber-mais:hover:after {
	transition: width .5s;
	-webkit-transition: width .5s;
	-ms-transition: width .5s;
	-moz-transition: width .5s;
	width: 85%
}
.section-banner .shell p {
	color: #fff;
	font-size: 15px;
	font-weight: 100;
	padding-left: 55%;
	padding-top: 3.5%;
	font-family: 'CentraleSans-Bold';
}
.section-head .list-colors li span {
	opacity: 0;
	transition: opacity .3s;
}
.section-head .list-colors li span.active {
	opacity: 1;
	transition: opacity .3s;
}
.section-head .list-colors li.current {
	transition: .3s;
	-webkit-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
	transform: scale(1.3);
}
.feeds .feed a img:hover {
	transition: .5s;
	-webkit-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
	transform: scale(1.3);
}
.feeds .feed a img {
	transition: .5s;
	-webkit-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
}
.feeds .feed a:hover {
	opacity: 1;
}
.feed.feed-primary:hover {
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-ms-transform: scale(1.0);
	-o-transform: scale(1.0);
	transform: scale(1.0);
}
.feeds .feed {
	overflow: hidden;
	transition: .5s;
	-webkit-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
}

/* NEW BANNER HERO */
/* ._hero-desktop{max-width:1440px;margin:auto}
._hero-carousel>.box-banner{display:none}
._hero-carousel .box-banner a{display:block;text-align:center;margin:0}
._hero-carousel .box-banner a img{width:100%}
._hero-carousel>.box-banner:first-child{display:initial}
._hero-nav{position:static}
._next-hero,._prev-hero{background-image:url(https://tbb.vteximg.com.br/arquivos/new-tbb-banner-seta-maior.png);background-size:100%!important;opacity:1;width:46px;height:86px;display:inline-block;vertical-align:middle;font-size:0;margin:-38px 0;position:absolute;z-index:2;top:50%;transform:translate(0,-40%)}
._prev-hero{transform:translate(0,-40%) rotate(180deg)}
._next-hero{right:0;background-position:100% 0!important}
@media(max-width:1024px){
._hero-carousel-desktop{display:none!important}
}
@media(min-width:1024px){
._hero-carousel-mobile{display:none!important}
} */


/* ------------------------------------------------------------ *\
	#List Colors
\* ------------------------------------------------------------ */
.list-colors li {
	position: relative;
	float: left;
	transition: .5s;
	-webkit-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
}
.list-colors li + li {
	margin-left: 37px;
}
.list-colors img {
	display: block;
	border-radius: 50%;
}
.list-colors a {
	display: block;
	text-decoration: none;
	transition: .3s;
}
.list-colors span {
	display: block;
	margin-top: -18px;
	font-size: 14px;
	font-weight: 500;
	color: #e0004c;
	text-align: center;
}
.list-colors .color-primary img {
	border-radius: 0;
}
.list-colors .current:after {
	content: '';
	position: absolute;
	width: 48px;
	height: 5px;
	left: 50%;
	margin-left: -24px;
	bottom: -10px;
	background: #e0004c;
	opacity: 1;
	transition: opacity .3s;
}

/* ------------------------------------------------------------ *\
	#Feed (instagram)
\* ------------------------------------------------------------ */
.feeds {
	padding-top: 103px;
	margin: 0 -20px;
	list-style-type: none;
}
.feeds:after {
}
.feeds .feed {
	float: left;
}
.feeds .feed + .feed {
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 6px;
}
.feeds .feed-primary {
	padding-left: 60px;
	margin: -16px 96px 0 4px;
}
.feeds .feed-secondary {
	padding-top: 0;
	margin-top: -103px;
}
.feeds .feed:nth-child(5) {
	padding-left: 20px;
}
.feeds .feed:nth-child(5), .feeds .feed:nth-child(1) {
	clear: both;
}
.feed {
	background: #fff;
}
.feed a {
	display: block;
	transition: .3s;
}
.feed a:hover {
	opacity: .7;
}
.feed p {
	font-family: 'CentraleSans-Bold';
	font-size: 16px;
	line-height: 1.13;
	color: #000;
}
.feed .feed-title {
	font-size: 30px;
	color: #000;
	text-align: left;
	margin-bottom: 28px;
}
.feed .feed-title span {
	color: #e0004c;
}
.feed .feed-tag {
	display: block;
	margin-bottom: 30px;
	font-family: 'CentraleSans-Bold';
	font-size: 16px;
	color: #b1b1b1;
	text-decoration: none;
	transition: .3s;
}
.feed .feed-tag:hover {
	color: #000;
}

.feed-primary {
	padding: 12px 40px;
	background: none;
}
.slider .owl-item .box-banner a {
	width: 100%;
	height: 664px;
	display: block;
}
.slider .owl-item .box-banner a {
	width: 100%;
}
.home .box-banner.slide.fix-bg img {
	visibility: hidden;
	display: block;
}
.home .box-banner.slide.fix-bg img {
	display: none;
}
.section-products.category-colletion-produtos-top .shell .section-content > h3 {
	margin-bottom: 40px;
}
.section-products-secondary .shell .slider-secondary .slider-clip .owl-wrapper-outer .owl-wrapper .owl-item .collection-vitrine .slider-secondary .slider-clip .pratileira ul li {
	width: 25%;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 50px;
	position: relative;
}
.section-products-secondary .shell .slider-secondary .slider-clip .owl-wrapper-outer .owl-wrapper .owl-item .collection-vitrine .slider-secondary .slider-clip .pratileira ul li:first-child {
	width: 24%;
	margin-right: 10px;
}

@media(max-width:1259px) {
	.feeds {
		padding-top: 28px;
		text-align: center;
	}
	.feeds .feed {
		float: none;
		display: inline-block;
		vertical-align: middle;
	}
	.feeds .feed-secondary {
		margin-top: 0;
	}
	.feed-primary {
		text-align: left;
	}
}

@media (max-width:1024px) {
	.feed:not(.feed-primary) {
		max-width: 200px;
	}
	.feed p {
		font-size: 14px;
	}
	.feed .feed-title {
		font-size: 20px;
		margin-bottom: 14px;
	}
	.feed .feed-tag {
		margin-bottom: 10px;
		font-size: 14px;
	}
}

@media (max-width:767px) {
	.feeds {
		margin: 0;
	}
	.feeds .feed-primary {
		display: none;
	}
	.feeds .owl-item {
		-webkit-backface-visibility: visible;
		backface-visibility: visible;
	}
}

@media(max-width:1024px) {
	.slider .owl-item .box-banner a {
		width: 100%;
		height: auto;
		display: block;
	}
}

@media(max-width:767px) {
	.slider .owl-item .box-banner a {
		width: 100%;
		height: auto;
		display: block;
	}
}

@media (max-width: 320px){
	.slider .owl-item .box-banner a {
	    width: 100%;
	    height: 320px;
	    display: block;
	    position: relative;
	    top: 38px;
	}
}


/* ------------------------------------------------------------ *\
	#Section Colors
\* ------------------------------------------------------------ */
.section-colors {
	position: relative;
	margin: 110px 0 87px;
}
.section-colors h3 {
	font-size: 30px;
	text-align: left;
	padding-left: 47px;
	margin: 0 0 -30px;
}
.section-colors h3 em {
	font-family: 'Wolf in the City', serif;
	font-size: 100px;
	font-weight: 400;
}
.section-colors p {
	margin-bottom: 37px;
}
.section-colors .section-head {
	margin-bottom: 90px;
}
.section-colors .section-body span:not(.section-meta) {
	display: block;
	padding-left: 47px;
	margin-bottom: -34px;
	font-family: 'CentraleSans-Bold';
	font-size: 16px;
	color: #e0004c;
}
.section-colors .list-colors {
	position: relative;
	z-index: 5;
}
.section-colors .list-colors:last-child {
	position: relative;
	top: 0;
	right: 0px;
}
.section-colors .section-background {
	position: absolute;
	height: 137px;
	right: 0;
	left: 350px;
	bottom: -10px;
}
.section-colors .section-content {
	position: relative;
	z-index: 2;
}
.section-colors .section-inner {
	position: relative;
	max-width: 994px;
	padding: 15px 20px 24px 62px;
	margin-left: -24px;
	font-family: 'CentraleSans-Bold';
	font-size: 16px;
	line-height: 1.13;
	color: #fff;
	background: url(../arquivos/new_qdb_section-content-bg.jpg) no-repeat center center;
	background-size: cover;
}
.section-colors .section-inner img {
	position: absolute;
	bottom: -10px;
	left: 413px;
	z-index: 4;
}
.section-colors .section-inner .section-image {
	left: 460px;
	bottom: 100%;
	z-index: 2;
}
.section-colors .section-meta {
	position: relative;
	display: inline-block;
	font-family: 'CentraleSans-Bold';
	font-size: 16px;
	font-weight: 900;
	text-decoration: none;
}
.slider .slider-clip .slides .owl-wrapper-outer .owl-wrapper .owl-item.background-fix-bg{
	background-size: cover !important;
    background-position: center center !important;
}
.section-image.animate .box-banner > a > img{
	display: none !important;
}
/* ------------------------------------------------------------ *\
	#Midia query correÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â§ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â£o
\* ------------------------------------------------------------ */
@media(max-width:1900px) {
	.section-colors h3 {
		margin-bottom: -15px;
	}
	.section-colors .section-head {
		margin-bottom: 100px;
		text-align: center;
	}
	.section-colors .section-head:after {
		content: '';
		display: table;
		line-height: 0;
		clear: both;
	}
	.section-colors .list-colors {
		display: inline-block;
	}
	.section-colors .list-colors:last-child {
		position: static;
	}
	.section-colors .list-colors + .list-colors, .section-colors .list-colors li + li {
		margin-left: 22px;
	}
}

@media(max-width:1259px) {
	.section-colors .list-colors + .list-colors {
		margin: 10px 0 0;
	}
}

@media (max-width:1024px) {
	.section-colors {
		margin: 74px 0 33px;
		border-bottom: 5px solid #e0004c;
	}
	.section-colors h3 {
		font-size: 25px;
		padding-left: 12px;
		margin-bottom: -17px;
	}
	.section-colors h3 em {
		font-size: 80px;
	}
	.section-colors p {
		margin-bottom: 15px;
		font-size: 14px;
	}
	.section-colors .section-body span:not(.section-meta) {
		padding-left: 12px;
		margin-bottom: -6px;
		font-size: 15px;
		font-weight: bold;
	}
	.section-colors .section-meta {
		font-size: 14px;
	}
	.section-colors .section-background {
		display: none;
	}
	.section-colors .section-inner {
		max-width: 200%;
		padding: 10px 57% 20px 32px;
		margin: 0 -20px;
	}
	.section-colors .section-inner img {
		left: 292px;
		bottom: -5px;
	}
	.section-colors .section-inner br {
		display: none;
	}
	.section-colors .section-inner .section-image {
		left: 282px;
	}
}

@media (max-width:767px) {
	.section-colors {
		margin: 0 0 35px;
	}
	.section-colors p {
		font-size: 12px;
	}
	.section-colors h3 {
		font-size: 17px;
		margin-bottom: -10px;
	}
	.section-colors h3 em {
		font-size: 50px;
	}
	.section-colors .section-meta {
		color: #e0004c;
	}
	.section-colors .section-meta:after {
		display: none;
	}
	.section-colors .section-inner {
		padding-bottom: 30px;
	}
	.section-colors .section-inner img {
		bottom: -5px;
		left: 50%;
	}
	.section-colors .section-inner .section-image {
		left: 50%;
	}
	.section-c.home .slider .slideolors .section-head {
		display: none;
	}
	.section-colors .section-body span:not(.section-meta) {
		margin-bottom: 15px;
		font-size: 12px;
	}
}

@media (max-width:768px) {
	.slider-products .slider-actions{
		display: block;
	}
	.slider-products.collection.collection-products-dar-uma-olhadinha .slider-actions .slider-prev, .slider-products.collection-produtos-top .slider-actions .slider-prev, .slider-products.collection.collection-products-nas-redes-sociais .slider-actions .slider-prev{
    	left: 0;
	}
	.slider-products.collection.collection-products-dar-uma-olhadinha .slider-actions .slider-next, .slider-products.collection-produtos-top .slider-actions .slider-next, .slider-products.collection.collection-products-nas-redes-sociais .slider-actions .slider-next{
		right: 0;
	}
	.section-club .section-image{
	    left: 5%;
	}
	.section-club .section-content:after{
	    top: -4px;
	    background-size: 99% 99.5%;
	}
	.section-club{
		border-top: 4px solid #2fa5de;
		border-bottom: 4px solid #2fa5de;
	}
	.section-club .section-content:after{
	    left: 85%;
	}
	.section-club p{
		font-weight: 500;
	}
	.section-club .section-content .btn.btn-clube-bebes{
	    font-size: 16px;
	    font-weight: 900;
	}
	.section-club .section-content .btn.btn-clube-bebes:after{
	    width: 40px;
	    margin: -12px auto;
	}
	.section-club .shell a {
	    left: -15px;
	    top: 20px;
	}
	.section-club h3{
	    font-size: 30px;
	    margin-bottom: 15px;
	}
	.section-club h3 i{
    	left: -20px;
	}
	.product{
	    padding: 0px 10px 0;
	    height: auto;
	}
	.product:hover{
	    border-color: #fff;
	}
	.section-banner.fix-bg .btn-saber-mais{
	    top: 8px;
	    left: 52%;
	    font-size: 14px;
	}
	.section-banner .shell p{
    	font-size: 14px;
		padding-left: 52%;
		padding-top: 12.5%;
	}
	.section-banner.fix-bg .btn-saber-mais:after{
    	height: 4px;
	}
	.slider .slider-actions{
	    top: 62% !important;
	}
}

@media (min-width:421px) {
	.home .slider.only-desktop { display: block; }
	.home .slider.only-mobile { display: none; }
}

@media (max-width:420px) {
	.home .slider.only-desktop { display: none; }
	.home .slider.only-mobile { display: block; }

	.section-pit-bar{ display: none; }
	.slider .slider-clip .slides .owl-wrapper-outer .owl-wrapper .owl-item.background-fix-bg{
	    height: 180px !important;
	}
	.slider .slider-actions .shell{
	    padding-left: 10px;
	    padding-right: 10px;
	}
	.slider .slider-clip {
	    margin-top: 50px;
	}
	.section-club .section-image{
	    left: 0;
	    background-size: cover;
    	background-position: center center;
	}
	.section-club p{
		font-size: 14px !important;
	}
	.section-club .shell a{
		left: 0;
		top: 15px !important;
	}
	.btn-clube-bebes{
	    left: 14.5% !important;
	}
	.section-club:after {
	    content: '' !important;
	    position: absolute !important;
	    width: 132px !important;
	    height: 46px !important;
	    bottom: -4px !important;
	    left: 50% !important;
	    margin-left: -66px !important;
	    background: url(../arquivos/new_qdb_triangle.png) no-repeat 0 0 !important;
	    opacity: 1;
	    z-index: 8;
	}
	.section-club .section-content .btn.btn-clube-bebes{
 		top: 78px !important;
	}
	.section-club .section-content .btn.btn-clube-bebes:after {
	    width: 8px;
	    margin: -19px 1px 0;
	    opacity: 1;
	    background: #2fa5de !important;
	    height: 1px;
	}
	.slider-products.collection-produtos-top .slider-actions .slider-next, .slider-products.collection.collection-products-nas-redes-sociais .slider-actions .slider-next, .slider-products.collection.collection-products-dar-uma-olhadinha .slider-actions .slider-next{
	    right: 10px !important;
	}
	.slider-products.collection-produtos-top .slider-actions .slider-prev, .slider-products.collection.collection-products-nas-redes-sociais .slider-actions .slider-prev, .slider-products.collection.collection-products-dar-uma-olhadinha .slider-actions .slider-prev{
		left: 10px !important;
	}
	.section-chaordic-middle .shell div .chaordic:last-child{
	    margin-bottom: 0px;
	}
	.section-chaordic-middle .shell div .chaordic:first-child{
		margin-top: 0;
		margin-bottom: 0;
	}
	.section-chaordic-top {
	    margin-top: 30px;
	}
	.section-chaordic-top .shell div .chaordic {
	    margin-bottom: 20px;
	}
	.section-products.collection-products-produtos-top{
	    padding-top: 0 !important;
	}
	.section-banner .shell p{
	    font-weight: 400 !important;
	    font-family: 'CentraleSans-Bold' !important;
	    padding-top: 165px !important;
	    margin-left: 6% !important;
	}
	.section-banner{
	    background-position-y: 10px !important;
	}
	.section-banner.fix-bg .btn-saber-mais {
	    left: 10% !important;
	    top: 0 !important;
	}
	.section-banner.fix-bg .btn-saber-mais:after {
	    height: 4px !important;
	    bottom: -7px !important;
	    width: 30% !important;
	}
	.section-club .shell a img{
		display: none;
	}
}

@media (max-width:320px) {
	.home .slider .slide {
		min-height: 180px !important;
	}
	.section-pit-bar {
		display: none;
	}
	.section-banner.fix-bg .btn-saber-mais {
		left: 30px !important;
	}
	.nav-teritary li + li {
		margin-left: 25px;
	}
	.openCart.link-cart .link-cart .ico-cart {
		background-size: 78% 78% !important;
	}
	.openCart.link-cart .link-cart span {
		right: -4px;
		top: 0;
	}
	.nav-teritary ul .search-mobile {
		display: none !important;
	}
	.nav-teritary ul .login-overlay {
		margin-right: -3px;
	}
	.header-content .logo img {
		position: relative;
		width: 100%;
		left: 15px;
		top: -2px;
	}
	.header .nav-btn {
		margin: 7px 6px 0 0 !important;
	}
	.sta-cart-container {
		width: 100%;
	}
	.content-cart-bottom {
		bottom: 0;
	}
	.wrapper.active .header {
		right: 0px !important;
		left: 0px !important;
	}
	.header-content .search.active {
		opacity: 1;
		visibility: visible;
	}
	.search .search-btn {
		display: block;
	}
	.product {
		padding-top: 13px;
	}
	.slider-secondary {
		margin-bottom: 10px;
	}
	.section-banner {
		margin-top: -30px !important;
	}
	.slider .slide {
		min-height: 175px;
	}
	.product .product-image > img {
		width: 100% !important;
		height: 100% !important;
	}
	.slider {
		padding-top: 10px;
	}
	.slider .slider-clip .slides.owl-carousel.owl-theme .owl-controls .owl-pagination .owl-page {
		width: 13px;
		height: 14px;
	}
	.section-products.collection-products-produtos-top {
		padding-top: 38px;
	}
	.container-group .header {
		position: relative;
	}
	.slider-products .slider-clip ul .owl-wrapper-outer .owl-wrapper .owl-item li .product, .section-products-secondary .shell .slider-secondary .slider-clip .owl-wrapper-outer .owl-wrapper .owl-item li .product {
		height: 250px;
		padding: 0;
	}
	.product .product-tag {
		top: 0;
		left: 0;
	}
	.product-tag .flag.tudo {
		line-height: 25px;
		width: 55px;
		height: 25px;
		text-transform: lowercase;
		padding: 0;
	}
	.slider-products .slider-clip ul .owl-wrapper-outer .owl-wrapper .owl-item li .product .product-content, .section-products-secondary .shell .slider-secondary .slider-clip .owl-wrapper-outer .owl-wrapper .owl-item li .product .product-content {
		padding: 10px 10px 10px;
	}
	.slider-products .slider-clip ul .owl-wrapper-outer .owl-wrapper .owl-item li .product .product-image, .section-products-secondary .shell .slider-secondary .slider-clip .owl-wrapper-outer .owl-wrapper .owl-item li .product .product-image {
		background-size: 100%;
		background-repeat: no-repeat;
	}
	.section-products-secondary .shell .slider-secondary .slider-clip .owl-wrapper-outer .owl-wrapper .owl-item {
		float: left;
		width: 142px !important;
	}
	.section-products-secondary .shell .slider-secondary .slider-clip .owl-wrapper-outer .owl-wrapper .owl-item li.slide .feature.fix-bg.feature-teritary {
		min-height: 235px;
		top: -15px;
	}
	.section-products-secondary .shell .slider-secondary .slider-clip .owl-wrapper-outer .owl-wrapper .owl-item li.slide .feature.fix-bg.feature-teritary .feature-meta {
		top: 20%;
		font-size: 16px;
		left: 6%;
	}
	.slider-clip.collection-products-pra-se-inspirar .collection-vitrine {
		margin-bottom: 40px;
	}
	.slider-clip.collection-products-pra-se-inspirar .collection-vitrine h3 {
		margin-bottom: 15px;
	}
	.accordion .accordion-head a:after {
		transition: transform .3s ease-out;
		transition: transform .3s;
		transition: transform .3s;
	}
	.accordion .accordion-head a.active:after {
		content: '';
		-ms-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		transition: transform .3s ease-out;
		transition: transform .3s;
		transition: transform .3s;
	}
	.subscribe .subscribe-field {
		font-weight: 500;
		font-size: 14px;
		border-radius: 0;
	}
	.subscribe .subscribe-field {
		margin: 0;
	}
	.accordion-body .list-links > li {
		padding-bottom: 5px;
	}
	.section-feeds {
		background-image: url(../arquivos/new_qdb_bg_insta_mobile.png);
		min-height: 285px;
		background-size: 100%;
		background-repeat: no-repeat;
	}
	.section-club .section-content .btn.btn-clube-bebes {
		left: 55px !important;
   	 	top: 80px !important;
	}
}