.infoBar__render{
    .__contentMobile{
        display: none;
    }

    a{
        @include d("768px"){
        text-align: center;
            &:last-child{
            margin-top: 18px;    
            }
        }
    } 

    display: flex;
    color: #FFF;
    background: #2D2A2A;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0 40px;
    font-size: 1rem;
    @include d("768px"){
        .__contentMobile{
            display: block;         
            text-decoration: underline;   
        }
        // display: flex;
        // overflow-y: hidden;
        // overflow-x: auto;
        // justify-content: space-between;
    }
    .__container{
        display: flex;
        align-items: center;
        margin-left: 10px;
        max-width: 300px;
        padding: 15px;
        @include d("768px"){
            .__contentMobile{
                font-size: .875em;
            }
            padding: 0px;
            flex-direction: column;
            // min-width: 70%;
            &:nth-child(3){
                // min-width: 85%;
            }

            .__content{
                display: none;
            }
            
        }
        &:nth-last-child(1){
            margin-right: 10px;
        }
        
        .__icon{
            margin-right: 5px;
            .star{
                display: flex;
                height: 40px;
                width: 40px;
                path{
                    fill: #67605f;
                }
            }
        }
        .__content{
            a{
                text-decoration: underline;
            }
        }
    }
}

.__container:hover{    
    border-radius: 5px;
    border: solid 1px;
}

.bar2{
    .infoBar__render{
        background: #FFF;
    }
    .__container{
        display: flex;
        align-items: center;
        margin-left: 15px;
        max-width: 300px;                
        padding: 15px;
    }
    .__container:hover{
        border: solid 1px #000;
        border-radius: 5px;
    }
    .__content, .__contentMobile{
            color: #000;
    }
    .__icon g{
        stroke: #000;
    }

    @include d("768px"){
        flex-direction: column;
        // min-width: 70%;
        &:nth-child(3){
            // min-width: 85%;
        }

        .__content{
            display: none;
        }
        .__container{
            padding: 0px;
        }
    }
} 
    