.w-regua--container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    padding: 25px;
    @include d('768px'){
        justify-content: initial;
        overflow-x: scroll;
    }
    &--item{
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        span{
            margin-right: 5px;
        }
    }
}