.infoBar__render{
    display: flex;
    justify-content: center;
    align-items: center;
    .__container{
        display: flex;
        align-items: center;
        .__icon{
            margin-right: 5px;
            .truck{
                // path{
                //     ::nth-child(1),
                //     ::nth-child(2),
                //     ::nth-child(4)
                //     {
                //         stroke: $g-primary;
                //         fill: transparent;
                //     }
                // }
                // circle{
                //     stroke: $g-primary;
                // }
            }
            .star{
                display: flex;
                height: 40px;
                width: 40px;
                path{
                    fill: #67605f;
                }
            }
        }
    }
}