.topProducts{
    margin: 40px 0 60px;
    .topProducts__title{
        @include sans(2rem, $g-primary, 900, initial);
        margin-bottom: 10px;
        text-align: center;
    }
    .topProducts__render-collection{
        position: relative;
    }
}