//AUXILIAR CLASSES
.clearfix {
    &:before,
    &:after {
        content: ' ';
        display: table;
    }
    &:after {
        clear: both;
    }
}
  
.lp-st img {
    max-width: 100%;
    margin: auto;
}

//VISIBILITY
.st-mobile {
    display: block;
}
.st-desktop {
    display: none;
}
@media (min-width: 768px) {
    .st-mobile {
        display: none;
    }
    .st-desktop {
        display: block;
    }
}

//MAIN 
.st-main {
    background-color: #121112;
    .st-mobile {
        background-image: url('/arquivos/m-banner-topo-batom-super-tint-quem-disse-berenice.png');
        background-position: center;
        background-repeat: no-repeat;
        height: 670px;
    }
    .shell {
        position: relative;
    }
    &__title,
    &__claims {
        position: absolute;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__title{
        left: 20px;
        color: #fff;
        font-size: 2.5rem;
        font-weight: bold;
        position: absolute;
        span {
            background-color: #fff;
            color: #29292B;
            text-transform: uppercase;
            padding: 12px 0;
            display: block;
            margin-top: 5px;
            font-size: 40px;
            width: 250px;
            text-align: center;
        }
    }
    h1 {
        font-size: 30px;
        margin-bottom: 10px;
        display: inline-block;
    }
    h2 {
        font-size: 23px;
        font-weight: normal;
    }
    &__claims {
        right: 50px;
        img {
            margin: 20px 0;
        }
    }
    @media (max-width: 767px) {
        &__claims {
            position: initial;
        }
        &__title {
            bottom: initial;
            top: 45px;
        }
        &__claims img {
            margin: 30px auto;
        }
    }
    @media (min-width: 768px) and (max-width: 992px) {
        &__claims img {
            width: 145px;
        }
    }
}

.st-colors {
    background-color: #18181A;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 50px;
    &__inner {
        display: flex;
    }
    &__item {
        h4 {
            color: #fff;
            text-transform: uppercase;
            font-size: 14px;
        }
    }
    p {
        color: #fff;
        font-size: 16px;
        width: 800px;
        margin: auto;
        max-width: 80%;
    }
    &__button {
        display: inline-block;
        background-color: #fff;
        padding: 10px 40px;
        border-radius: 8px;
        color: #000;
        font-weight: bold;
        font-size: 14px;
        margin: 50px 0;
    }
    @media(max-width: 767px) {
        &__inner {
            overflow: auto;
            padding-bottom: 30px;
        }
        &__item {
            min-width: 165px;
        }
    }
}

.st-polaroids {
    background-color: #2A2A2F;
    img {
        max-width: 56%;
        display: block;
        margin: initial;
    }
    @media(min-width: 768px) {
        .shell {
            height: 36vw;
            text-align: center;
            max-height: 420px;
        }
        img {
            margin-top: -5vw;
            position: relative;
            max-width: 33.33%;
            float: left;
        }
    }
    @media(max-width: 767px) {
        .shell {
            position: relative;
        }
        img:nth-child(2) {
            position: absolute;
            top: 25%;
            right: 0;
        }
        img:nth-child(3) {
            position: relative;
            z-index: 2;
        }
    }
}